footer
  .container
    .col-10.middle
      .col-7
        h3 Tel. 01 55 5293  8400
      .col-3
         //-img.price(src=local_images.images.chatbox alt="chatbox")
footer.section-footer
  .container
    .row
      .col-10.middle
        .row
          .col-6
            ul
              li
                a(href=urlBase +'aviso.html') #[strong Aviso de Privacidad] 
              //-li
                a(href=urlBase +'terminos-condiciones.html') | Terminos y condiciones
              li
                a(href=urlBase +'ayudanos.html') | #[strong Ayúdanos a mejorar] 
          .col-4
            p  #[strong Contáctanos tel. 01 55 5293 8400] 
          .col-2
            a(href="https://www.linkedin.com/company/sellcomsolutions")
              span.icon-linkedin
if section_scripts
  - var total_scripts = section_scripts[current_profile].length
  - for (var i = 0; i < total_scripts; i++)
    script(src=section_scripts[current_profile][i])
