- var local_header = {}
- local_header['images'] = {}
- local_header.images['Verde'] = global_path + images.global + 'Logo-Sellcom_Verde.png'
- local_header.images['logo_svg'] = global_path + images.global + 'sellcom_logo.svg'
if home
  -var urlBase= 'sections/'
else
  -var urlBase= ''
header
  //-.header-top
  .header-main-vr
    .container
      .row
        .col-2
          a(href='../index.html')
            img(src= local_header.images.Verde alt='Logotipo Sellcom')
        .col-10
        input(type='checkbox' id='btn-menu')
        label(for='btn-menu') Menú
        .nav.menu-main
          ul
            li
              a(href=urlBase + 'conocenos.html') Sobre Sellcom
            li
              a(href=urlBase + '#') Verticales
              ul.submenu
                li
                  a(href=urlBase + 'business.html') Business Process
                li
                  a(href=urlBase + 'cloud.html') Cloud & Hybrid Platforms
                li
                  a(href=urlBase + 'datacenter.html') Datacenter Solutions
                li
                  a(href=urlBase + 'framework.html') Data and Anatytics Framework
                li
                  a(href=urlBase + 'hci.html') HCI + SDDC
                li
                  a(href=urlBase + 'mobility.html') Mobility & En User Computing
                li
                  a(href=urlBase + 'networking.html') Networking Solutions
                li
                  a(href=urlBase + 'security.html') Cyber Security & Recillence
            li
              a(href=urlBase + 'reconocimientos.html') Reconocimientos
            li
              a(href=urlBase + 'contactanos.html') Contáctanos
            li.linkedin
              a(href='https://www.linkedin.com/company/sellcomsolutions')
                span.icon-linkedin
