head
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135253484-1"></script>
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-135253484-1');
  title #{metadata.title}
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
  meta(name="description" content=metadata.description)
  meta(name="keywords" content= metadata.keywords)
  link(rel="shortcut icon" href=global_path + images.global + 'favicon.ico'  type="image/x-icon")
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/sweetalert2@7.32.4/dist/sweetalert2.all.min.js'></script>
  if fonts
    link(href=fonts rel="stylesheet")
  link(rel="stylesheet" href=global_path + styles.global[current_profile] type="text/css")
  if section_style
    link(rel="stylesheet" href=global_path + styles.base + section_style[current_profile] type="text/css")
