.col-12
    .social
        h3 Compartir
        .a2a_kit.a2a_kit_size_32.a2a_default_style(data-a2a-icon-color="@eucalyptus")
            a.social_blog.a2a_button_facebook
            a.social_blog.a2a_button_twitter
            a.social_blog.a2a_button_linkedin

<script async src="https://static.addtoany.com/menu/page.js"></script>