footer
  .container
    .col-10.middle
      ul.menu-footer
        li
          a(href=urlBase + 'sellcom-about.html') Sobre Sellcom
        li
          a(href=urlBase +'sellcom-solutions.html') Soluciones Integrales
        //-li
          a(href='#') Eventos
        //-li
          a(href='#') Responsabilidad Social
        //-li
          a(href='#') Blog
        li
          a(href=urlBase +'products-services.html') Productos y Servicios
      ul.menuProductsServices
        li
          a(href=urlBase +'apple.html') Apple
        li
          a(href=urlBase +'blackberry.html') Blackberry
        li
          a(href=urlBase +'veeam.html') Veeam
        li
          a(href=urlBase +'servicenow.html') Servicenow
        li
          a(href=urlBase +'jamf.html') Jamf
        li
          a(href=urlBase +'owncloud.html') Owncloud
        li
          a(href=urlBase +'getac.html') Getac
        li
          a(href=urlBase +'blancco.html') Blancco
        li
          a(href=urlBase +'redhat.html') Redhat
        li
          a(href=urlBase +'huawei.html') Huawei
        li
          a(href=urlBase +'azure.html') Azure
        li
          a(href=urlBase +'microsoft.html') Microsoft
        li
          a(href=urlBase +'mfseguridad.html') Microfocus Seguridad
        li
          a(href=urlBase +'mfitom.html') Microfocus ITOM
        li
          a(href=urlBase +'mfvertica.html') Microfocus Vertica
        li
          a(href=urlBase +'mfdevops.html') Microfocus DevOps
        li
          a(href=urlBase +'aruba.html') Aruba
        li
          a(href=urlBase +'cyberc.html') CyberC
        li
          a(href=urlBase +'opentext.html') OpenText
        li
          a(href=urlBase +'hp.html') HP
        li
          a(href=urlBase +'hpe.html') HP Enterprise
        li
          a(href=urlBase +'ethical-hacking.html') Pentest/EthicalHaking
        li
          a(href=urlBase +'digitalizacion.html') Digitalización
        li
          a(href=urlBase +'desarrollo.html') Desarrollo de SW
        li
          a(href=urlBase +'tiempos-materiales.html') Tiempos y Materiales
        li
          a(href=urlBase +'qlik.html') Qlik
        li
          a(href=urlBase +'portal-proveedores.html') Portal de proveedores
        li
          a(href=urlBase +'plataforma-lealtad.html') Plataforma de Lealtad
        li
          a(href=urlBase +'mesa-servicio.html') Mesa de Servicio
        li
          a(href=urlBase +'daas.html') Daas
        li
          a(href=urlBase +'mps.html') MPS
        li
          a(href=urlBase +'monitoreo.html') Monitoreo
        li
          a(href=urlBase +'wifi-saas.html') Wifi Saas
        li
          a(href=urlBase +'analitica-negocio.html') Anallítica de Negocio
        li
          a(href=urlBase +'suse.html') Suse
        li
          a(href=urlBase +'naudit.html') Naudit
        li
          a(href=urlBase +'ivanti.html') Ivanti
        li
          a(href=urlBase +'nutanix.html') Nutanix
        li
          a(href=urlBase +'vmware.html') VMware
        li
          a(href=urlBase +'netapp.html') NetApp
        li
          a(href=urlBase +'zoox.html') Zoox
footer.section-footer
  .container
    .row
      .col-10.middle
        .row
          .col-6
            ul
              li
                a(href=urlBase +'aviso-privacidad.html') Aviso de Privacidad
              li
                a(href=urlBase +'terminos-condiciones.html') | Terminos y condiciones
              li
                a(href=urlBase +'ayudanos-a-mejorar.html') | Ayúdanos a mejorar 
          .col-4
            p Contáctanos tel. 01 55 5293 8400
          .col-2
            a(href="https://www.linkedin.com/company/sellcomsolutions")
              span.icon-linkedin
if section_scripts
  - var total_scripts = section_scripts[current_profile].length
  - for (var i = 0; i < total_scripts; i++)
    script(src=section_scripts[current_profile][i])
