button {
    &.trigger {
    }
}
/* .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
} */
div {
    &.modal {
      &.quitar {
        visibility: visible;
      }
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        visibility: hidden;
        z-index: 999;
        transform: none;
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 1rem 1.5rem;
            width: 60%;
            border-radius: 0;
            span {
                &.close-button {
                    float: right;
                    width: auto;
                    line-height: inherit;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 0.25rem;
                    background-color: white;
                    &:hover {
                        background-color: darkgray;
                    }
                }
            }
            .section-form{
                padding: 0;
                text-align: left;
                a {
                  font-size: 14px;
                  display: block;
                  cursor: pointer;
                  background-color: initial;
                  width: inherit;
                  height: inherit;
                  border-radius: 0;
                  margin: 0;
                }
                .col-12{
                  h2{
                    font-size: 27px;
                  }
                  p{
                    display: inline-block;
                    font-size: 20px;
                    line-height: 1.2;
                  }
                  ul{
                    li{
                      box-sizing: border-box;
                      float: left;
                      padding: 0 10px 0 0;
                      position: relative;
                      width: 100%;
                        .btn-checkbox {
                          font-size: 14px;
                          a {
                            font-size: 14px;
                            display: block;
                            cursor: pointer;
                            background-color: initial;
                            width: inherit;
                            height: inherit;
                            border-radius: 0;
                            margin: 0;
                          }
                        }
                      p {
                        &.right {
                            float: right;
                            text-align: right;
                            font-size: 14px;
                        }
                      }
                      span{
                        display: none;
                        font-size: 0;
                        position: absolute;
                        top: 17px;
                        right: 13px;
                      }
                      input[type="text"],[type="checkbox"],[type="email"],[type="tel"]{
                          font-size: 14px;
                        &.error{
                          + span{
                            display: block;
                            &::before{
                              color: red;
                              content: @icon-close-2;
                              display: inline-block;
                              font-family: @icon-typography;
                              font-size: 28px;
                              line-height: 28px;
                            }
                          }
                        }
                        &.valid{
                          + span{
                            display: block;
                            &::before{
                              color: @accent-first-color;
                              content: @icon-check2;
                              display: inline-block;
                              font-family: @icon-typography;
                              font-size: 34px;
                              line-height: 28px;
                            }
                          }
                        }
                      }
                      &:nth-child(1){
                        width: 40%;
                      }
                      &:nth-child(2){
                        width: 60%;
                      }
                      &:nth-child(3){
                        width: 50%;
                      }
              
                      &:nth-child(4){
                        display: inline-block;
                        width: 50%;
                        ul{
                          li{
                            &:nth-child(1){
                              width: 30%;
                            }
                            &:nth-child(2){
                              width: 70%;
                              padding-right: 0;
                              span{
                                right: 8px;
                              }
                            }
                          }
                        }
                      }
                      &:nth-child(8){
                        text-align: center;
                        margin-top: 0px;
                        display: inline-block;
                        label,p{
                          font-size: 16px;
                          font-weight: @regular;
                        }
                      }
                      &:last-child{
                        p{
                          font-size: 16px;
                        }
                      }
                      .btn-default{
                        border: 0;
                        font-size: 18px;
                        font-weight: 500;
                        padding: 15px 60px;
                        display: block;
                        margin: 0 auto;
                      }
                    }
                  }
                }
              }
              @media(max-width:@tablet-landscape) {
                .section-dowloands{
                  .col-10{
                    .col-8 {
                      padding-top: 55px;
                     }
                  }
                }
              }
              @media(max-width:880px) {
                .section-dowloands{
                  .col-10{
                    .col-4{
                      width: 50%;
                    }
                    .col-8 {
                      width: 50%;
                      padding-top: 80px;
                     }
                  }
                }
              }
              @media(max-width:@tablet) {
                .section-dowloands{
                  padding-bottom: 10px;
                  .col-10{
                    .col-4{
                      width: 50%;
                    }
                    .col-8{
                      padding-top: 80px;
                      width: 50%;
                      h5 {
                        font-size: 22px;
                      }
                    }
                  }
                }
              }
              @media(max-width:@phablet) {
                .section-dowloands{
                  padding-bottom: 30px;
              
                  .col-10{
                    .col-4{
                      width: 100%;
                    }
                    .col-8{
                      padding-top: 15px;
                      text-align: center;
                      width: 100%;
                      h5 {
                        font-size: 20px;
                      }
                    }
                  }
                }
              }
              @media(max-width:@mobile) {
                .section-form{
                  .col-10{
                    ul{
                      li{
                        &:nth-child(1){
                          width: 100%;
                        }
                        &:nth-child(2){
                          width: 100%;
                        }
                        &:nth-child(3){
                          width: 100%;
                        }
                        &:nth-child(4){
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
              @media(max-width:@mobile-landscape) {
                .section-form{
                  .col-10{
                    width: 100%;
                  }
                }
              }
              @media(max-width:@mobile-portrait){
                [type="search"],
                [type="password"],
                [type="tel"],
                [type="email"],
                [type="text"], textarea{
                  font-size: 14px;
                }
                .section-dowloands{
                  .col-10{
                    .col-8{
                      a{
                        padding: 20px 80px;
                      }
                    }
                  }
                }
                .section-form{
                  .col-10 h2 {
                    font-size: 26px;
                  }
                }
              }
              
        }
    }
}