/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  color: @text-color;
  font-family: @main-typography;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
}
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
footer,
header,
main, /* 2 */
nav,
section{
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1{
  font-size: 40px;
  font-weight: @light;
  margin: 30px 0;
}
h2{
  font-size: 20px;
  font-weight: @medium;
  margin: 20px 0;
}
h3{
  font-size: 18px;
  font-weight: @bold;
  margin: 20px 0;
}
h4{
  color: @brand-color;
  font-size: 16px;
  font-weight: @medium;
  margin: 15px 0;
}
