//- Container site
@max-width: 1200px;

//- Folders
@base: 'assets/';
@backgrounds: '@{base}backgrounds/';
@fonts: '@{base}fonts/';
@icons: '@{base}icons/';
@sellcom: '@{fonts}sellcom/';

//Animations
@animation-time: 0.6s;
@animation-transition: 1s;

//- Typography
  //- e.g.
@main-typography: 'Montserrat', sans-serif;
@icon-typography: 'sellcom';

//- Weight Tipografia
  //- e.g.
@light: 300;
@regular: 400;
@medium : 500;
@bold: 800;

//- Colours
//- Use http://www.color-blindness.com/color -name-hue/
//- Black
@black-color: #000000;
//- Blue
@chambray: #435B7F;
@cyprus: #061726;
@maya-blue: #85B5FF;
@port-gore: #3C5172;
@midnight: #222D40;
@Paua:#1B224A;
@astronaut: #3C5270;
@gradient1: #043065;
@gradient2: #071728;
@card-blue: #0f2947;
@nuevo-footer: #003680;

//- Gray
@nobel: #999999;
@shuttleGrey:#5B6167;
@whiteSmoke:#F6F6F6;
@vertical-hover: #043065;
@verticales-hover:#f9f9f9;
@reconocimiento-slider: #f2f2f2;
@nuevo-texto: #606060;

//- Green
@jungle-green: #2bb25e;
@surf-crest: #B9D2B1;
@eucalyptus: #26A155;
@neptune:#79aca1;
//- white
@white: #FFFFFF;


//- Color by functionality
//- Borders
//- Fills
//- Text
//- Shadows
  //- e.g. (Keywords: color | fill | bg)
@brand-color: @cyprus;
@accent-first-color: @jungle-green;
@accent-second-color: @maya-blue;
@accent-third-color: @surf-crest;

@base-color: @white;
@text-color: @port-gore;
@section-color: @chambray;
@bg-footer: @midnight;
@text-title-color: @port-gore;
@subtitle-color: @nobel;
@hover-button: @eucalyptus;
@icon-color:@neptune;
@text-icon-color:@Paua;
@border-color:@nobel;
@color-breadcrumb:@nobel;
@color-text-prod:@shuttleGrey;
@bg-gray:@whiteSmoke;
@color-sub-dass:@astronaut;
  //- @header-color: @comet;
  //- @border-color: @comet;
  //- El prefijo bg reservemoslo para imágenes de fondo.

//- Breakpoint
@desktop: @max-width;
@tablet-landscape: 1024px;
@tablet-portrait: 992px;
@tablet: 768px;
@phablet: 740px;
@mobile: 576px;
@mobile-landscape: 480px;
@mobile-portrait: 320px;

@index-breadcrumb:3;

//-icons
@icon-sellcom-dowload-pdf: "\e929";
@icon-phone: "\e927";
@icon-close-2: "\e928";
@icon-after: "\e925";
@icon-next2: "\e926";
@icon-ADELANTE: "\e924";
@icon-mail: "\e91b";
@icon-twitter: "\e91c";
@icon-facebook: "\e91d";
@icon-formacion: "\e91e";
@icon-formato: "\e91f";
@icon-size_font: "\e920";
@icon-mail-01: "\e921";
@icon-print: "\e922";
@icon-share: "\e923";
@icon-check2: "\e91a";
@icon-cellphone: "\e910";
@icon-exchange: "\e911";
@icon-infraestructura: "\e912";
@icon-nube2: "\e913";
@icon-oficinas: "\e914";
@icon-plataforma_escalable: "\e915";
@icon-proteccion: "\e916";
@icon-server: "\e917";
@icon-sistema_unificado: "\e918";
@icon-soporte: "\e919";
@icon-network: "\e90c";
@icon-scroll: "\e906";
@icon-web: "\e900";
@icon-work: "\e901";
@icon-time: "\e902";
@icon-movil: "\e903";
@icon-menu: "\e904";
@icon-linkedin: "\e905";
@icon-money: "\e907";
@icon-arrow: "\e908";
@icon-check: "\e909";
@icon-chat: "\e90a";
@icon-search: "\e90b";
@icon-back: "\e90d";
@icon-animate: "\e90e";
@icon-next: "\e90f";
@icon-close: '\00D7';
