mixin banner(urlImage, alt, title, description)
	section.section-banner-interna
		img.banner(src=urlImage, alt=alt)
		.container
			.content
				.row
					.col-10.middle
						h1= title
						p= description
	
