//-Configuración y variables globales del proyecto
include config/_variables

//-
  Ajustes de la configuración global para esta sección
//- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la página
- var page = 'Inicio'
- var metadata = {}
- metadata['title'] = 'Sellcom - Soluciones que Transforman'
- metadata['description'] = 'En Sellcom integramos soluciones con tecnología para todas las industrias; por lo que innovamos de manera constante para ser el mejor aliado de las empresas.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
  - var section_scripts =  {}
  - section_scripts['prod'].push(global_path  + scripts.controllers + 'city.min.js')
  - section_scripts['dev'].push(global_path  + scripts.controllers + 'city.js')

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'home.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_about.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'home.min.js')


- var local_images = {}
- local_images['images'] = {}
- local_images.images['experto'] = global_path + images.home + 'sellcom-home-experto.jpg'
- local_images.images['exito'] = global_path + images.home + 'sellcom-home-casos-exito.png'
- local_images.images['tecnologia'] = global_path + images.home + 'sellcom-home-tecnologia-producto.jpg'
- local_images.images['futuro'] = global_path + images.home + 'sellcom-home-unete.jpg'
- local_images.images['redes'] = global_path + images.home + 'sellcom-home-redes-sociales.jpg'
- local_images.images['bannermobile'] = global_path + images.home + 'sellcom_home_bannermobile.jpg'
- local_images.images['banner_fondo'] = global_path + images.home + 'banner_fondo.jpg'
- local_images.images['banner_fondo_2'] = global_path + images.home + 'banner-fondo.jpg'
- local_images.images['banner_fondo_apple'] = global_path + images.home + 'banner_apple_home_fondo.jpg'
- local_images.images['banner_prize'] = global_path + images.home + 'banner_prize.png'
- local_images.images['banner_apple'] = global_path + images.home + 'banner_apple_home_logo.png'
- local_images.images['banner_awards'] = global_path + images.home + 'premiacion-schneider.png'
- local_images.images['banner_ind'] = global_path + images.home + 'sellcom-ind.png'

- local_images.images['imageLogo1'] = global_path + images.home + 'Sellcom-Home-Socios-HP-2.png'
- local_images.images['imageLogo2'] = global_path + images.home + 'Sellcom-Home-Socios-Veeam.png'
- local_images.images['imageLogo3'] = global_path + images.home + 'Sellcom-Home-Socios-Huawei-3.png'
- local_images.images['imageLogo4'] = global_path + images.home + 'Sellcom-Home-Socios-Ivanti.png'
- local_images.images['imageLogo5'] = global_path + images.home + 'Sellcom-Home-Socios-Apple-2.png'
- local_images.images['imageLogo6'] = global_path + images.home + 'Sellcom-Home-Socios-MicroFocus.png'
- local_images.images['imageLogo7'] = global_path + images.home + 'Sellcom-Home-Socios-Jamf.png'
- local_images.images['imageLogo8'] = global_path + images.home + 'Sellcom-Home-Socios-vmware.png'
- local_images.images['imageLogo9'] = global_path + images.home + 'Sellcom-Home-Socios-Cyberc.png'
- local_images.images['imageLogo10'] = global_path + images.home + 'Sellcom-Home-Socios-Qlik.png'
- local_images.images['imageLogo11'] = global_path + images.home + 'Sellcom-Home-Socios-apc.png'
- local_images.images['imageLogo12'] = global_path + images.home + 'Sellcom-Home-Socios-aruba.png'
- local_images.images['imageLogo13'] = global_path + images.home + 'Sellcom-Home-Socios-aws.png'
- local_images.images['imageLogo14'] = global_path + images.home + 'Sellcom-Home-Socios-azure.png'
- local_images.images['imageLogo15'] = global_path + images.home + 'Sellcom-Home-Socios-blackberry.png'
- local_images.images['imageLogo16'] = global_path + images.home + 'Sellcom-Home-Socios-blancco.png'
- local_images.images['imageLogo17'] = global_path + images.home + 'Sellcom-Home-Socios-cylance.png'
- local_images.images['imageLogo18'] = global_path + images.home + 'Sellcom-Home-Socios-domo.png'
- local_images.images['imageLogo19'] = global_path + images.home + 'Sellcom-Home-Socios-getac.png'
- local_images.images['imageLogo20'] = global_path + images.home + 'Sellcom-Home-Socios-gcloud.png'
- local_images.images['imageLogo21'] = global_path + images.home + 'Sellcom-Home-Socios-intel.png'
- local_images.images['imageLogo34'] = global_path + images.home + 'Sellcom-Home-Socios-hp-3.png'
- local_images.images['imageLogo22'] = global_path + images.home + 'Sellcom-Home-Socios-microsoft.png'
- local_images.images['imageLogo23'] = global_path + images.home + 'Sellcom-Home-Socios-naudit.png'
- local_images.images['imageLogo24'] = global_path + images.home + 'Sellcom-Home-Socios-opentext.png'
- local_images.images['imageLogo25'] = global_path + images.home + 'Sellcom-Home-Socios-owncloud.png'
- local_images.images['imageLogo26'] = global_path + images.home + 'Sellcom-Home-Socios-redhat.png'
- local_images.images['imageLogo27'] = global_path + images.home + 'Sellcom-Home-Socios-sap.png'
- local_images.images['imageLogo28'] = global_path + images.home + 'Sellcom-Home-Socios-scout.png'
- local_images.images['imageLogo29'] = global_path + images.home + 'Sellcom-Home-Socios-servicenow.png'
- local_images.images['imageLogo30'] = global_path + images.home + 'Sellcom-Home-Socios-suse.png'
- local_images.images['imageLogo31'] = global_path + images.home + 'Sellcom-Home-Socios-veritas.png'
- local_images.images['imageLogo32'] = global_path + images.home + 'Sellcom-Home-Socios-watson.png'
- local_images.images['imageLogo33'] = global_path + images.home + 'Sellcom-Home-Socios-zoox.png'

//- Imagenes Correctas
- local_images.images['logoSellcom'] = global_path + images.home + 'sellcom_home.png'
- local_images.images['logoIntel'] = global_path + images.home + 'sellcom_intel.png'
- local_images.images['logoIvanti'] = global_path + images.home + 'sellcom_ivanti.png'
- local_images.images['logoJamf'] = global_path + images.home + 'sellcom_jamf.png'
- local_images.images['logoMicrofocus'] = global_path + images.home + 'sellcom_microfocus.png'
- local_images.images['logoNetapp'] = global_path + images.home + 'sellcom_netapp.png'
- local_images.images['logoNutanix'] = global_path + images.home + 'sellcom_nutanix.png'
- local_images.images['logoQlik'] = global_path + images.home + 'sellcom_qlik.png'
- local_images.images['logoRedhat'] = global_path + images.home + 'sellcom_red_hat.png'
- local_images.images['logoSuse'] = global_path + images.home + 'sellcom_suse.png'
- local_images.images['logoVeeam'] = global_path + images.home + 'sellcom_veeam.png'
- local_images.images['logoVmware'] = global_path + images.home + 'sellcom_vmware.png'
- local_images.images['logoZoox'] = global_path + images.home + 'sellcom_zoox.png'
- local_images.images['logoHpBanner'] = global_path + images.home + 'sellcom_hp.png'
- local_images.images['logoHpeBanner'] = global_path + images.home + 'sellcom_hpe.png'
- local_images.images['logoAppleBaner'] = global_path + images.home + 'sellcom_apple.png'
- local_images.images['logoServicenowBanner'] = global_path + images.home + 'sellcom_servicenow.png'

- local_images.images['iconoServicios01'] = global_path + images.home + 'sellcom_trophy.png'

- local_images.images['logoExito1'] = global_path + images.home + 'sellcom-casos-exito-bbva.png'
- local_images.images['logoExito2'] = global_path + images.home + 'sellcom-casos-exito-sw.png'
- local_images.images['logoExito3'] = global_path + images.home + 'sellcom-casos-exito-telefonica.png'

- local_images.images['backServicios01'] = global_path + images.home + 'Sellcom-Home-Servicios-01.jpg'
- local_images.images['backServicios02'] = global_path + images.home + 'Sellcom-Home-Servicios-02.jpg'
- local_images.images['backServicios03'] = global_path + images.home + 'Sellcom-Home-Servicios-03.jpg'
- local_images.images['backServicios04'] = global_path + images.home + 'Sellcom-Home-Servicios-04.jpg'
- local_images.images['backServicios05'] = global_path + images.home + 'Sellcom-Home-Servicios-05.jpg'
- local_images.images['backServicios06'] = global_path + images.home + 'Sellcom-Home-Servicios-06.jpg'
- local_images.images['backServicios07'] = global_path + images.home + 'Sellcom-Home-Servicios-07.jpg'
- local_images.images['backServicios08'] = global_path + images.home + 'Sellcom-Home-Servicios-08.jpg'
- local_images.images['backServicios09'] = global_path + images.home + 'Sellcom-Home-Servicios-09.jpg'
- local_images.images['backServicios10'] = global_path + images.home + 'Sellcom-Home-Servicios-10.jpg'
- local_images.images['backServicios11'] = global_path + images.home + 'Sellcom-Home-Servicios-11.jpg'

doctype html
html(lang=site.lang)
  include template/_head
  body
    - var home = true;
    include template/_header
    section.section-video-dass.op-color
      img(src=local_images.images.bannermobile, alt="Sellcom banner")
      .boxVideo.op-video
        video#secondVideo(autoplay loop muted)
          source(src="images/video/headerWEB.mp4" type="video/mp4")
      .container
        .content.logo-new
          br
          .txt-slide
            .title-logo
              img(src=local_images.images.logoSellcom alt='Sellcom Solutions')
            .title-sections
              h1 Integramos #[span.green soluciones] con #[span.green tecnología] para todas las industrias 
    section.solutions-section
      .container
        .content
          .title
            h1 Bienvenido a Sellcom Solutions, <br> un nuevo tipo de #[span.green soluciones] en TI
            h2 Conoce nuestras soluciones integrales
          .section-cards
            .info-cards
              h2 Plataforma de Lealtad
              p Implemente una plataforma para su programa de lealtad donde sus clientes recibirán más que puntos, vivirán la experiencia de ser su cliente y, por ende, crecerá su negocio.
              a.link-card(href=urlBase +'plataforma-lealtad.html') Más Información
            .info-cards
              h2 Portal de proveedores
              p Mantenga el control de las facturas que le emiten sus proveedores, validándolas de inmediato y reduciendo costos mientras opera otras áreas de su empresa con libertad.
              a.link-card(href=urlBase +'portal-proveedores.html') Más Información
            .info-cards
              h2 MPS
              p Nos hacemos cargo de sus necesidades de impresión, vendemos o arrendamos equipo de punta y le damos atención a sus necesidades posteriores.
              a.link-card(href=urlBase +'mps.html') Más Información
            .info-cards
              h2 Monitoreo
              p Desde la infraestructura, el inmueble hasta la operación, redes y sistemas; tenemos la capacidad de implementar un sistema de monitoreo para que su negocio esté siempre en control.
              a.link-card(href=urlBase +'monitoreo.html') Más Información
            .info-cards
              h2 Mesa de Servicio
              p Una buena atención a cliente es fundamental para que el negocio crezca, implementamos y administramos eficientemente su mesa de servicio.
              a.link-card(href=urlBase +'mesa-servicio.html') Más Información
            .info-cards
              h2 Wifi Saas
              p Para que su negocio esté siempre conectado y al día, es imperativo tener una estructura Wifi que funcione y sea eficiente, somos especialistas en implementar el servicio WaaS.
              a.link-card(href=urlBase +'wifi-saas.html') Más Información
            .info-cards
              h2 Daas
              p  Proveemos todo el hardware y software para la administración y protección del mismo que su negocio necesita, amortizando costos e incrementando la eficiencia de su equipo.
              a.link-card(href=urlBase +'daas.html') Más Información
            .info-cards
              h2 Analítica de negocio
              p Tener una suma de datos en la mano no es suficiente, hacer un análisis minucioso y específico es lo que diferenciará a su negocio entre ser “uno más” y ser parte del Business Intelligence.
              a.link-card(href=urlBase +'analitica-negocio.html') Más Información
          .title
            h2 NUESTROS PARTNERS
          .section-partners 
            .row
              .col-12
                .slideshow-container
                  .mySlides.fade#slide1
                    .left-slide 
                      //- .numbertext
                      //-   h3 1/4
                      img(src=local_images.images.logoHpeBanner alt='Sellcom HP Enterprise')
                      .text 
                        p Al crecer las necesidades de su negocio el equipo que tiene crece a la par; somos distribuidores de HPE, soluciones especializadas de hardware.
                        a.btn-default(href=urlBase +'hpe.html') Más Información
                  .mySlides.fade#slide2
                    .left-slide
                      img(src=local_images.images.logoHpBanner alt='Sellcom HP Inc')
                      .text 
                        p El hardware de HP es el complemento ideal para su negocio, sea cual sea su industria, tenemos el equipo perfecto para usted.
                        a.btn-default(href=urlBase +'hp.html') Más Información
                  .mySlides.fade#slide3
                    .left-slide
                      img(src=local_images.images.logoAppleBaner alt='Sellcom Apple')
                      .text 
                        p su negocio crece y necesita la seguridad de contar con equipo de alta calidad y protección ante riesgos, somos partner de Apple en México y tenemos un extenso catálogo de productos Apple para su empresa.
                        a.btn-default(href=urlBase +'apple.html') Más Información
                  .mySlides.fade#slide4
                    .left-slide
                      img(src=local_images.images.logoServicenowBanner alt='Sellcom Service Now')
                      .text 
                        p Somos partners del portal de soluciones de Servicenow, podemos implementarlo de acuerdo a sus necesidades y al perfil de negocio que tenga.
                        a.btn-default(href=urlBase +'servicenow.html') Más Información
                  a.prev(onclick="plusSlides(-1)")
                  a.next(inclick="plusSlides(1)")
                  .dots-container
                    span.dot(onclick="currentSlide(1)")
                    span.dot(onclick="currentSlide(2)")
                    span.dot(onclick="currentSlide(3)")
                    span.dot(onclick="currentSlide(4)")
            .row
              .col-12.card-container
                .partner-card
                  .card-blue
                    .card-img
                      img(src=local_images.images.logoIntel alt='Sellcom Intel')
                      a.link-card(href=urlBase +'microsoft.html') Más Información
                .partner-card
                  .card-blue
                    .card-img
                      img(src=local_images.images.logoIvanti alt='Sellcom Ivanti')
                      a.link-card(href=urlBase +'ivanti.html') Más Información
                .partner-card
                  .card-blue
                    .card-img
                      img(src=local_images.images.logoJamf alt='Sellcom Jamf')
                      a.link-card(href=urlBase +'jamf.html') Más Información
                .partner-card
                  .card-blue
                    .card-img
                      img(src=local_images.images.logoMicrofocus alt='Sellcom Microfocus')
                      a.link-card(href=urlBase +'mfseguridad.html') Más Información
                .partner-card
                  .card-blue
                    .card-img
                      img(src=local_images.images.logoNetapp alt='Sellcom Netapp')
                      a.link-card(href=urlBase +'#') Más Información
                .partner-card
                  .card-blue
                    .card-img
                      img(src=local_images.images.logoNutanix alt='Sellcom Nutanix')
                      a.link-card(href=urlBase +'#') Más Información
                .partner-card
                  .card-blue
                    .card-img
                      img(src=local_images.images.logoQlik alt='Sellcom Qlik')
                      a.link-card(href=urlBase +'qlik.html') Más Información
                .partner-card
                  .card-blue
                    .card-img
                      img(src=local_images.images.logoRedhat alt='Sellcom Redhat')
                      a.link-card(href=urlBase +'redhat.html') Más Información
                .partner-card
                  .card-blue
                    .card-img
                      img(src=local_images.images.logoSuse alt='Sellcom Suse')
                      a.link-card(href=urlBase +'suse.html') Más Información
                .partner-card
                  .card-blue
                    .card-img
                      img(src=local_images.images.logoVeeam alt='Sellcom Veeam')
                      a.link-card(href=urlBase +'veeam.html') Más Información
                .partner-card
                  .card-blue
                    .card-img
                      img(src=local_images.images.logoVmware alt='Sellcom VMware')
                      a.link-card(href=urlBase +'#') Más Información
                .partner-card
                  .card-blue
                    .card-img
                      img(src=local_images.images.logoZoox alt='Sellcom Zoox')
                      a.link-card(href=urlBase +'#') Más Información
    section.expert-section
      .container
        h1 "Entendemos la tecnología como un medio, no como un fin"
        h2 Obtén rentabilidad, control, competitividad y seguridad para su empresa.
      a.btn-default(href=urlBase +'sellcom-about.html#contacto') ¡Contáctanos!
    section.services-animation-section
      .title
        h2 Nuestros premios
      .animation-slider#animation-slider
        //-1
        .animation-item
          .image
            img(src=local_images.images.backServicios01, alt="Monitoreo inteligente")
          .description
            .descriptiontext
              h2 HPE
              .icon-block
                span.ico #[img(src=local_images.images.iconoServicios01 alt="Sellcom HPE")]
                span.line
                span.circle
              p Partner of the Year 2019
        //-2
        .animation-item
          .image
            img(src=local_images.images.backServicios02, alt="Implementación y soporte multivendedor")
          .description
            .descriptiontext
              h2 HP
              .icon-block
                span.ico #[img(src=local_images.images.iconoServicios01 alt="Sellcom HP")]
                span.line
                span.circle
              p HP Inc. Partner First Platinum 2017
        //-3
        .animation-item
          .image
            img(src=local_images.images.backServicios03, alt="Business intelligence y optimización de procesos")
          .description
            .descriptiontext
              h2 Opentext
              .icon-block
                span.ico #[img(src=local_images.images.iconoServicios01 alt="Open Text")]
                span.line
                span.circle
              p Customer Experience Management 2019    
        //-4
        .animation-item
          .image
            img(src=local_images.images.backServicios04, alt="Servicios administrados")
          .description
            .descriptiontext
              h2 Servicenow
              .icon-block
                span.ico #[img(src=local_images.images.iconoServicios01 alt="Sellcom ServiceNow")]
                span.line
                span.circle
              p Partner if the year 2019
        //-5
        .animation-item
          .image
            img(src=local_images.images.backServicios05, alt="Sellcom Intel" )
          .description
            .descriptiontext
              h2 Intel 
              .icon-block
                span.ico #[img(src=local_images.images.iconoServicios01 alt="icono servicios")]
                span.line
                span.circle
              p Technology Provider Platinum Partner 2017
        //-6
        .animation-item
          .image
            img(src=local_images.images.backServicios06, alt="Sellcom Red Hat" )
          .description
            .descriptiontext
              h2 Red Hat
              .icon-block
                span.ico #[img(src=local_images.images.iconoServicios01 alt="icono servicios")]
                span.line
                span.circle
              p Quota achievement 2017
        //-7
        .animation-item
          .image
            img(src=local_images.images.backServicios07, alt="Sellcom APC" )
          .description
            .descriptiontext
              h2 APC
              .icon-block
                span.ico #[img(src=local_images.images.iconoServicios01 alt="icono servicios")]
                span.line
                span.circle
              p Partner of the Year 2019
    section.section-slider-customer#herramientas
      .container
        .row
          .col-12.middle
            .title-sections
              h2 Socios
            p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
            ul.slider-tabs
              li.active
                img(src=local_images.images.imageLogo1 alt='HP')
              li
                img(src=local_images.images.imageLogo2 alt='Veeam')
              li
                img(src=local_images.images.imageLogo3 alt='Huawei')
              li
                img(src=local_images.images.imageLogo4 alt='Aranda')
              li
                img(src=local_images.images.imageLogo5 alt='Apple')
              li
                img(src=local_images.images.imageLogo6 alt='MicroFocus')
              li
                img(src=local_images.images.imageLogo11 alt='APC')
              li
                img(src=local_images.images.imageLogo7 alt='Jamf')
              li
                img(src=local_images.images.imageLogo8 alt='Vmware')
              li
                img(src=local_images.images.imageLogo9 alt='Cyber c')
              li
                img(src=local_images.images.imageLogo10 alt='Qlik')
              li
                img(src=local_images.images.imageLogo12, alt='Aruba')
              li
                img(src=local_images.images.imageLogo13, alt='AWS')
              li
                img(src=local_images.images.imageLogo14, alt='Azure')
              li
                img(src=local_images.images.imageLogo15, alt='Blackberry')
              li
                img(src=local_images.images.imageLogo16, alt='Blancco')
              li
                img(src=local_images.images.imageLogo17, alt='Cylance')
              li
                img(src=local_images.images.imageLogo18, alt='Domo')
              li
                img(src=local_images.images.imageLogo19, alt='Getac')
              li
                img(src=local_images.images.imageLogo20, alt='Google-cloud')
              li
                img(src=local_images.images.imageLogo34, alt='HP')
              li
                img(src=local_images.images.imageLogo21, alt='Intel')
              li
                img(src=local_images.images.imageLogo22, alt='Microsoft')
              li
                img(src=local_images.images.imageLogo23, alt='Naudit')
              li
                img(src=local_images.images.imageLogo24, alt='Opentext')
              li
                img(src=local_images.images.imageLogo25, alt='Owncloud')
              li
                img(src=local_images.images.imageLogo26, alt='Redhat')
              li
                img(src=local_images.images.imageLogo27, alt='SAP')
              li
                img(src=local_images.images.imageLogo28, alt='Scout')
              li
                img(src=local_images.images.imageLogo29, alt='Servicenow')
              li
                img(src=local_images.images.imageLogo30, alt='Suse')
              li
                img(src=local_images.images.imageLogo31, alt='Veritas')
              li
                img(src=local_images.images.imageLogo32, alt='Watson')
              li
                img(src=local_images.images.imageLogo33, alt='Zoox')
    section.footer-up
      .container       
    include template/_footer
