.container {
    .row {
        .col-12 {
            &.vertical-col {
                .col-6 {
                    width: 50%;
                    float: left;
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                    &.vertical-hover {
                        cursor: pointer;
                        background: inherit;
                        min-height: 180px;
                        margin: 2em 0;
                        &:hover {
                            background: @verticales-hover;
                        }
                    }
                    .col-3 {
                        img {
                            display: block;
                            margin: 0 auto;
                        }
                        #imagen{
                            width: 60%;
                            margin: 50px auto;
                            display: block;
                        }
                    }
                    .col-9{
                       margin:0 px 10px;
                       p {
                        padding: 0 1em 0 0;
                       }
                    }
                }
            }
        }
    }
}
.section-presencia {
    .container-full {
        width: inherit;
        min-width: 100%;
        .row {
            .col-12 {
                .vertical_map {
                    width: 100%;
                }
            }
        }
    }
}
.section-premios {
    .container-full {
        width: inherit;
        min-width: 100%;
        .row {
            .col-12 {
                &.altura-vertical {
                    min-height: 330px;
                    .col-4 {
                        float: left;
                        width: 33.33333333%;
                        @media (max-width: 575.98px) {
                            width: 100%;
                        }
                        &.building {
                            background-image: url("@{backgrounds}building_sellcom.jpg");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            min-height: 330px;
                        }
                        img {
                            &.price{
                                display: block;
                                margin: 0 auto;
                                width: 50%;
                                margin-top: 2em;
                            }
                        }
                        &.fondo{
                            background-color: @gradient1;
                            text-align: center;
                            color:white;
                            min-height: 330px;
                        }
                    }
                }
            }
        }
    }
}
.section-banner-dass-vertical{
	height: 645px;
	overflow: hidden;
	position: relative;
	//text-align: center;
	.banner{
		display: block;
		left: 0%;
		//margin-left: -960px;
		position: absolute;
		top: 0;
		width: 100%;
		-webkit-filter: brightness(100%);
    	filter: brightness(100%);
	}
	.container{
		.content {
			position: relative;
			text-align: left;
            margin-top:100px;
            margin-left: 30px;
                .title-sections {
                    text-align: center;
                    margin: 20px 0;
                    width: 51%;
                    h1 {
                        color: @card-blue;
                        font-size: 30px;
                        font-weight: @medium;
                        margin: 0;
                        //letter-spacing: 2px;
                        padding: 0;
                        position: relative;
                        text-transform: uppercase;
                        @media (max-width: @tablet) {
                            padding: 0;
                        }
                        //&::after{
                            //background: @accent-first-color;
                            //bottom: -10px;
                            //content: '';
                            //height: 2px;
                            //left: 0;
                            //right: 0;
                            //margin: auto;
                            //position: absolute;
                            //width: 20%;
                        //}
				    }
                    p {
                        color: @base-color;
                        font-size: 20px;
                        line-height: 32px;
                        color: @card-blue;
                    }
                    a{
                        font-weight: inherit;
                        margin-top: 30px;
                        padding: 25px 60px;
                        font-size: 20px;
                    }
                }
            }
            .logo{
                position: relative;
			    //text-align: center;
                margin-top:15px;
                margin-left: 200px;
                width: 10%;
            }
	}

}