.solutions-section {
    background: rgba(4,48,101,1);
    background: -moz-linear-gradient(top, rgba(4,48,101,1) 0%, rgba(6,30,57,1) 72%, rgba(7,23,40,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(4,48,101,1)), color-stop(72%, rgba(6,30,57,1)), color-stop(100%, rgba(7,23,40,1)));
    background: -webkit-linear-gradient(top, rgba(4,48,101,1) 0%, rgba(6,30,57,1) 72%, rgba(7,23,40,1) 100%);
    background: -o-linear-gradient(top, rgba(4,48,101,1) 0%, rgba(6,30,57,1) 72%, rgba(7,23,40,1) 100%);
    background: -ms-linear-gradient(top, rgba(4,48,101,1) 0%, rgba(6,30,57,1) 72%, rgba(7,23,40,1) 100%);
    background: linear-gradient(to bottom, rgba(4,48,101,1) 0%, rgba(6,30,57,1) 72%, rgba(7,23,40,1) 100%);
    .container {
        .content {
           .title {
            color: @white;
            text-align: center;
            padding: 4em 0;
            h1,h2 {
                margin: 0;
            }
            h1 {
                text-transform: uppercase;
                font-size: 32px;
                margin-bottom: 1em;
            }
           }
           .section-cards {
             .info-cards {
                @media (max-width: 575.98px) {
                    width: 80%;
                    display: block;
                    margin: 2em .5em;
                    padding: 2em;
                }
                @media (min-width: 576px) and (max-width: 767.98px) {
                    width: 80%;
                    display: block;
                    margin: 2em .5em;
                    padding: 2em;
                }
                @media (min-width: 768px) and (max-width: 991.98px) {
                    width: 80%;
                }
                width: 35%;
                background: @card-blue;
                display: inline-block;
                margin: 1.5em;
                border-radius: 12px;
                padding: 3em;
                color: @white;
                cursor: pointer;
                box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
                -webkit-box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
                -moz-box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
                    &:hover {
                        background: @jungle-green;
                        a {
                            color: @white;
                            &:hover {
                                color: @card-blue;
                            }
                        }
                    }
                }
                
           }
           .section-partners {
               .row {
                   .col-12 {
                    .slideshow-container{
                        max-width: 1000px;
                        position: relative;
                        margin: auto;
                        #slide1 {
                            background: url("@{backgrounds}slide_hp.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                        }
                        .mySlides {
                            display: none;
                            height: auto;
                            min-height: 350px;
                            &#slide1 {
                                background: url("@{backgrounds}slide_hpe.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                            }
                            &#slide2 {
                                background: url("@{backgrounds}slide_hp.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                            }
                            &#slide3 {
                                background: url("@{backgrounds}slide_apple.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                            }
                            &#slide4 {
                                background: url("@{backgrounds}slide_servicenow.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                            }
                            &.fade {
                                -webkit-animation-name: fade;
                                -webkit-animation-duration: 1.5s;
                                animation-name: fade;
                                animation-duration: 1.5s;
                                .left-slide {
                                    width: 60%;
                                    position: relative;
                                    left: 10%;
                                    float: left;
                                    @media (max-width: 575.98px) {
                                        width: 90%;
                                        left: 5%;
                                    }
                                    @media (min-width: 576px) and (max-width: 767.98px) {
                                        width: 90%;
                                        left: 5%;
                                    }
                                    .numbertext {
                                        h3 {
                                            color: @white;
                                            font-size: 12px;
                                            padding: 8px 12px;
                                            position: absolute;
                                            top: 0;
                                        }
                                    }
                                }
                                img {
                                    margin-top: 2.25em;
                                    width: 40%;
                                    margin-left: 1em;
                                }
                                .text {
                                    color: @white;
                                    font-size: 15px;
                                    padding: 8px 12px;
                                    bottom: 8px;
                                    width: 100%;
                                    text-align: left;
                                    position: relative;
                                }
                            }
                        }
                    }
                        a {
                            &.prev,.next {
                                cursor: pointer;
                                position: absolute;
                                top: 50%;
                                width: auto;
                                padding: 16px;
                                margin-top: -22px;
                                color: white;
                                font-weight: bold;
                                font-size: 18px;
                                transition: 0.6s ease;
                                border-radius: 0 3px 3px 0;
                                user-select: none;
                                &:hover {
                                    background-color: rgba(0,0,0,0.8);
                                }
                            }
                            &.next {
                                right: 0;
                                border-radius: 3px 0 0 3px;
                            }
                        }
                        .dots-container {
                            text-align: center;
                            margin: 1.5em auto;
                            .dot {
                                cursor: pointer;
                                height: 15px;
                                width: 15px;
                                margin: 0 10px;
                                background-color: @white;
                                border-radius: 50%;
                                display: inline-block;
                                transition: background-color 0.6s ease;
                                &:hover {
                                    background-color: @jungle-green;
                                }
                                .active {
                                    background-color: @jungle-green;
                                }
                            }
                        }
                    }
                   }
                   .col-12 {
                       &.card-container {
                        width: 100%;
                        display: inline-table;
                        .partner-card {
                            width: 25%;
                            display: inline-block;
                            margin: 2em auto;
                            @media (max-width: 575.98px) {
                                width: 45%;
                                display: inline-block;
                                margin: 2em .5em;
                            }
                            @media (min-width: 576px) and (max-width: 767.98px) {
                                width: 45%;
                                display: inline-block;
                                margin: 2em .5em;
                            }
                            @media (min-width: 768px) and (max-width: 991.98px) {
                                width: 29%;
                                margin: 2em 1em;
                            }
                            .card-blue {
                                display: block;
                                margin: 0 auto;
                                width: 225px;
                                height: 225px;
                                background: @card-blue;
                                cursor: pointer;
                                &:hover {
                                    background: @jungle-green;
                                }
                                a {
                                    color: @card-blue;
                                    text-align: center;
                                    display: block;
                                    margin-top: 2em;
                                    &:hover {
                                        color: @white;
                                    }
                                    @media (min-width: 768px) and (max-width: 991.98px) {
                                        color: @jungle-green;
                                    }
                                }
                                .card-img {
                                    img {
                                        margin: 0 auto;
                                        display: block;
                                        position: relative;
                                        top: 2em;
                                        width: 65%;
                                    }
                                }
                                @media (max-width: 575.98px) {
                                    width: 180px;
                                    height: 180px;
                                }
                                @media (min-width: 576px) and (max-width: 767.98px) {
                                    width: 180px;
                                    height: 180px;
                                }
                                
                            }
                        }
                       }
                   }
               }
           }
        }
    }
.section-video {
    height: 645px;
    overflow: hidden;
    position: relative;
    img {
        display: none;
        height: 100%;
        //max-width: 768px;
        position: absolute;
        margin-left: -384px;
        left: 50%;
    }
    .boxVideo {
        display: block;
        left: 0;
        margin: auto;
        width: 1920px;
        position: absolute;
        margin-left: -960px;
        top: 0;
        left: 50%;
        z-index: 1;
        height: 100%;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.4);
            z-index: 2;
            position: absolute;
        }
    }
    video {
        // display: block;
        // left: 0;
        // margin: auto;
        width: 100%;
        // top: -20%;
        top: 0;
        position: absolute;
        margin-top: 0;
        // margin-top: -12px;
        // margin-left: -960px;
        // top: 0;
        // left: 50%;
        // z-index: 1;
    }

    .information-video {
        bottom: 100px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 3;
        h1 {
            display: none;
        }
        h2 {
            color: @base-color;
            font-size: 40px;
            font-weight: @light;
            margin: 10px 0;
            width: 70%;
            + p {
                color: @base-color;
                font-size: 18px;
                line-height: 25px;
                width: 50%;
            }
        }
    }
}
.description-services {
    margin-top: 50px;
    position: relative;
    h3 {
        color: @base-color;
        font-size: 12px;
        font-weight: @light;
        padding-left: 40px;
        position: relative;
        &:after {
            background: @base-color;
            bottom: 0;
            content: '';
            height: 2px;
            left: 0;
            margin: auto;
            position: absolute;
            top: 0;
            width: 25px;
        }
    }
    span.icon-scroll {
        color: @base-color;
        cursor: pointer;
        font-size: 50px;
        &:hover {
            color: @accent-first-color;
        }
    }
    > ul {
        position: absolute;
        right: 0;
        bottom: 0;
        > li {
            display: inline-block;
            padding: 0 10px;
            > a {
                color: @base-color;
                display: block;
                text-align: center;
                position: relative;
                span {
                    font-size: 90px;
                }
                small {
                    display: none;
                    background-color: @accent-first-color;
                    border-radius: 5px;
                    color: @base-color;
                    padding: 5px 10px;
                    position: absolute;
                    top: -35px;
                    left: -65px;
                    min-width: 130px;
                    max-width: 130px;
                    max-height: 17px;
                    &::after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-top: 13px solid @accent-first-color;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        position: absolute;
                        right: 30px;
                        top: 25px;
                    }
                }
                &:hover {
                    color: @accent-first-color;
                    small {
                        display: block;
                        transition: opacity 3s ease-in-out;
                    }
                }
            }
        }
    }
}
.partner-section {
    height: 380px;
    overflow: hidden;
    position: relative;
    text-align: center;
    .partner-section-banner {
        height: 380px;
        position: absolute;
        width: 30%;
        left: 0;
        top: 0;
        z-index: 1;
        @media (max-width: @mobile) {
          width: 100%;
          height: auto;
        }
        img {
          margin: auto;
          vertical-align: middle;
          width: 50%;
          position: absolute;
          top:0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 1;
          &.scale-in-center {
            -webkit-animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          }
          @media (max-width: @mobile) {
            width: 35%;
            max-width: 100%;
            margin: 0 auto;
          }
        }
    }
    .partner-section-info {
        height: 380px;
        position: absolute;
        width: 70%;
        right: 0;
        bottom: 0;
        z-index: 1;
        text-align: center;
        margin: auto;
        .line-green {
            border: 1px solid green;
            display: block;
            margin: 10px auto;
            width: 25%;
        }
        @media (max-width: @mobile) {
          width: 100%;
          height: 260px;
        }
        p {
          display: block;
          margin-top: 13%;
          text-align: center;
          color: black;
          max-width: 500px;
          padding: 10px 20px;
          opacity: 1;
          &.txt-1 {
            margin: 10% auto 0 auto;
            font-size: 1.75em;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 3px;
            opacity: 0;
            }
        &.txt-2 {
            margin: 0 auto;
            font-size: 1.1em;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 3px;
            opacity: 1;
            }
          &.fade-in {
            -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    animation-delay: 0.5s;
          }
          @media (max-width: @mobile) {
            font-size: 0.9em;
            padding-bottom: 2px;
            margin-top: -3%;
          }
        }
        h3 {
          text-align: center;
          font-size: 3.5em;
          text-transform: uppercase;
          max-width: 100%;
          font-weight: 300;
          margin: 0 auto;
          display: block;
          opacity: 1;
          letter-spacing:.25em;
          color: black;
          &.scale-in-bottom {
            -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation-delay: 1.5s;
          }
          @media (max-width: @mobile) {
            font-size: 1.4em;
          }
        }
    }
}
.prize-section-2 {
    height: 380px;
    overflow: hidden;
    position: relative;
    text-align: center;
    .prize-section-banner {
        height: 380px;
        position: absolute;
        width: 50%;
        left: 0;
        top: 0;
        z-index: 1;
        @media (max-width: @mobile) {
          width: 100%;
          height: 120px;
        }
        img {
          margin: auto;
          vertical-align: middle;
          width: 100%;
          position: absolute;
          top:0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          &.scale-in-center {
            -webkit-animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          }
          @media (max-width: @mobile) {
            max-width: 320px;
            max-height: 120px;
          }
        }
    }
    .prize-section-info {
        height: 380px;
        position: absolute;
        width: 50%;
        right: 0;
        bottom: 0;
        z-index: 1;
        text-align: center;
        margin: auto;
        @media (max-width: @mobile) {
          width: 100%;
          height: 260px;
        }
        p {
          margin: 13% auto 0 auto;
          display: block;
          margin-top: 13%;
          text-align: center;
          color: black;
          max-width: 500px;
          padding: 10px 20px;
          opacity: 0;
          &.fade-in {
            -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    animation-delay: 0.5s;
          }
          @media (max-width: @mobile) {
            font-size: 0.9em;
            padding-bottom: 2px;
            margin-top: -3%;
          }
        }
        h3 {
          text-align: center;
          font-size: 2em;
          text-transform: uppercase;
          max-width: 500px;
          font-weight: 400;
          margin: 0 auto;
          display: block;
          opacity: 0;
          &.scale-in-bottom {
            -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation-delay: 1.5s;
          }
          @media (max-width: @mobile) {
            font-size: 1.4em;
          }
        }
    }
}
.prize-section-3 {
    height: 380px;
    overflow: hidden;
    position: relative;
    text-align: center;
    @media (max-width: 575.98px) {
        height: 280px; 
    }
    .prize-section-banner {
        height: 380px;
        position: absolute;
        width: 50%;
        left: 0;
        top: 0;
        z-index: 1;
        @media (max-width: @mobile) {
          width: 100%;
          height: 120px;
        }
        img {
            margin: auto;
            vertical-align: middle;
            width: 70%;
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1 !important;
            &.scale-in-center {
              -webkit-animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                      animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
            @media (max-width: @mobile) {
              max-width: 320px;
              max-height: 120px;
            }
            @media (max-width: 575.98px) {
                top:20px;
            }
        }
    }
    .prize-section-info {
        height: 380px;
        position: absolute;
        width: 50%;
        right: 0;
        bottom: 0;
        z-index: 1;
        text-align: center;
        margin: auto;
        @media (max-width: @mobile) {
          width: 100%;
          height: 260px;
        }
        img {
            margin: auto;
            vertical-align: middle;
            width: 90%;
            position: absolute;
            top: 25px;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            &.scale-in-center {
              -webkit-animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                      animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
            @media (max-width: 575.98px) {
                
            }
        }
    }
}
.expert-section {
    height: 380px;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: @whiteSmoke;
    img {
        display: block;
        left: 50%;
        margin-left: -960px;
        position: absolute;
        width: 1920px;
        z-index: -1;
    }
    .container {
        position: relative;
        text-align: center;
        z-index: 2;
        h1 {
            color: @jungle-green;
            margin: 2em auto .5em auto;
        }
        h2 {
            color: @shuttleGrey;
            margin: 0 auto 2em auto;
        }
    }
    .btn-default {
        display: inline-block;
        font-size: 28px;
        font-weight: @light;
        padding: 20px 80px;
    }
}
.success-cases-section {
    background: @section-color url('@{backgrounds}textura.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 35px;
    h3 {
        color: @base-color;
        margin-top: 0;
    }
    p {
        color: @base-color;
    }
    .col-7 {
        box-sizing: border-box;
        padding-right: 30px;
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }
    .col-5 {
        box-sizing: border-box;
        padding-right: 8.33333333%;
    }
    .btn-more {
        color: @accent-second-color;
        &:hover {
            color: @accent-first-color;
        }
    }
    .carousel-success {
        .row {
            padding-bottom: 50px;
        }
    }
    .slick-slider .slick-arrow.slick-next {
        left: 0;
        bottom: 30px;
    }
    .slick-slider .slick-arrow.slick-prev {
        left: 0;
    }
}
.blog-section {
    padding: 75px 0 100px;
    h3 {
        font-size: 34px;
        font-weight: @medium;
    }
    .container {
        > p {
            text-align: right;
            .btn-more {
                font-size: 20px;
                span {
                    font-size: 25px;
                    line-height: 25px;
                    margin-left: 10px;
                }
            }
        }
    }
    .col-4 {
        box-sizing: border-box;
        padding: 0 8px;
    }
}
.blog-note {
    .image {
        img {
            display: block;
            width: 100%;
        }
    }
    .resume {
        > ul {
            margin-top: 20px;
            &::after {
                clear: both;
                content: '';
                display: table;
            }
            > li {
                box-sizing: border-box;
                float: left;
                width: 50%;
                vertical-align: middle;
                &:last-child {
                    text-align: right;
                    padding-right: 20px;
                }
                p {
                    color: @subtitle-color;
                    margin: 5px 0 0 0;
                }
                a {
                    color: @subtitle-color;
                    display: inline-block;
                }
            }
        }
        h3 {
            font-size: 16px;
            font-weight: @medium;
            margin: 10px 0 5px 0;
            a {
                color: @text-color;
                &:hover {
                    color: @accent-first-color;
                }
            }
            + p {
                text-align: left;
            }
        }
        > p {
            margin-top: 0;
        }
        .btn-more {
            font-size: 14px;
            font-weight: @medium;
        }
    }
}
.services-animation-section {
    position: relative;
    .title {
        position: absolute;
        top: 10%;
        left: 25%;
        z-index: 2;
        h2 {
            color: #009d51;
            font-weight: normal;
        }
    }
}
//Animacion
.icon-block {
    position: relative;
    z-index: 2;
    height: 62px;
    .ico {
        opacity: 0;
        border-radius: 50%;
        border: 2px solid #009d51;
        color: #009d51;
        display: inline-block;
        position: relative;
        font-size: 60px;
        top: 0;
        left: 100%;
        vertical-align: middle;
        padding: 15px;
        img {
            display: block;
            width: 30px;
            height: 30px;
        }
    }
    .line {
        display: inline-block;
        width: 0;
        height: 1px;
        background: #009d51;
        vertical-align: middle;
        position: absolute;

        top: 50%;
        margin-top: -1px;
        right: 0;
        opacity: 0.8;
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            position: absolute;
            top: -1px;
            right: 0;
            opacity: 1;
            background: #009d51;
            transition: 6s all ease;
            transition-delay: 3s;
        }
    }
    .circle {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid #009d51;
        position: absolute;
        top: 50%;
        opacity: 0;
        margin-top: -20px;
        right: -34px;

        &::before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 2px solid #009d51;
            position: absolute;
            top: 50%;
            margin-top: -14px;
            right: 2px;
        }
        &::after {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 2px solid #009d51;
            position: absolute;
            top: 50%;
            margin-top: -11px;
            right: 5px;
        }
    }
}
.animation-slider {
    height: 420px;
    overflow: hidden;
    position: relative;
    background: #000000;
    .animation-item {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        height: 100%;
        .image {
            overflow: hidden;
            position: absolute;
            width: 0%;
            right: 0;
            top: 0;
            transition: 2s width ease;
            //transition-delay: 3s;
            height: 100%;
            img {
                display: block;
                left: 50%;
                margin-left: -960px;
                position: absolute;
                top: 0;
                width: 1920px;
            }
        }
        .description {
            color: @base-color;
            position: absolute;
            z-index: 2;
            top: 20%;
            width: 100%;
            .descriptiontext {
                width: 600px;
                margin: 0 auto;
                position: relative;
            }
        }
        h2 {
            font-size: 40px;
            opacity: 0;
            position: relative;
            right: -300px;
            transition: 1s all ease;
            transition-delay: 2s;
        }
        p {
            position: relative;
            bottom: -100px;
            opacity: 0;
            transition: 1s all ease;
            transition-delay: 2s;
            font-size: 1.5em;
        }
        &.actived {
            .image {
                width: 100%;
            }
            display: block;
        }
    }
}

.actived {
    .icon-block {
        .ico {
            opacity: 1;
            left: -62px;
            transition: 500ms all ease;
            transition-delay: 2s;
        }
        .line {
            width: 100%;
            transition: 500ms all ease;
            transition-delay: 2s;
            &::after {
                width: 100%;
            }
        }
        .circle {
            opacity: 1;
            transition: 1s all ease;
            transition-delay: 3s;
            &::before {
                right: -34px;
                transition: 1s all ease;
                transition-delay: 3s;
            }
            &::after {
                right: -60px;
                transition: 1s all ease;
                transition-delay: 3s;
            }
        }
    }
    &.animation-item h2 {
        right: 0;
        opacity: 1;
    }
    &.animation-item p {
        bottom: 0;
        opacity: 1;
    }
}

.services-section {
    background: @brand-color;
    padding: 55px 0 50px;
    .title-section {
        h2 {
            color: @base-color;
            &:after {
                background: @base-color;
            }
        }
    }
    h3 {
        color: @base-color;
        font-size: 30px;
        font-weight: @light;
        margin-bottom: 120px;
    }
    .col-4 {
        box-sizing: border-box;
        padding-right: 15%;
    }
    .col-8 {
        position: relative;
        .nav-services {
            position: absolute;
            right: 0;
            top: 90px;
            //z-index: 4;
            > li {
                margin-bottom: 10px;
                a {
                    background: @subtitle-color;
                    border-radius: 5px;
                    display: block;
                    height: 5px;
                    font-size: 0;
                    width: 23px;
                }
                &:hover,
                &.active {
                    a {
                        background: @base-color;
                    }
                }
            }
        }
    }
}
.our-services {
    position: relative;
    height: 350px;
    width: 600px;
    margin: auto;
    > div {
        position: absolute;
        text-align: center;
        span {
            color: @subtitle-color;
            font-size: 90px;
        }
        p {
            display: none;
            position: absolute;
            width: 200px;
            text-align: left;
        }
        &.active {
            span {
                color: @base-color;
            }
            p {
                color: @base-color;
                display: block;
            }
        }
        &:first-child {
            height: 300px;
            left: 0;
            margin: auto;
            right: 0;
            top: 15%;
            width: 300px;
            span {
                font-size: 300px;
            }
        }
        &:nth-child(2) {
            top: 40%;
            left: 20%;
        }
        &:nth-child(3) {
            top: 0px;
            right: 30%;
        }
        &:nth-child(4) {
            bottom: 15%;
            right: 22%;
        }
    }
}
.information-services {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
    > li {
        box-sizing: border-box;
        float: left;
        padding-right: 5%;
        width: 25%;
        > div {
            p {
                color: @subtitle-color;
            }
        }
        &.active {
            > div {
                p {
                    color: @base-color;
                }
            }
        }
    }
}
.section-mobile {
    display: none;
    .btn-default {
        border-radius: 0;
        display: block;
        bottom: 0;
        width: 100%;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }
    ul {
        background-color: @section-color;
        &::after {
            clear: both;
            content: '';
            display: table;
        }
        > li {
            box-sizing: border-box;
            float: left;
            width: 50%;
            border: 1px solid #5878a7;
            padding: 40px 0;
            a {
                display: block;
                text-align: center;
                span {
                    font-size: 90px;
                    color: @base-color;
                }
                small {
                    display: block;
                    color: @base-color;
                }
                &:hover {
                    span {
                        color: @accent-first-color;
                    }
                    small {
                        color: @accent-first-color;
                    }
                }
            }
        }
    }
}
@media (max-width: @tablet-portrait) {
    .header-main .col-10 {
        nav {
            &.active {
                > ul,
                .icon-close {
                    display: block;
                }
            }
            .icon-menu {
                color: @white;
                display: inline-block;
                font-size: 40px;
                cursor: pointer;
            }
            > ul {
                background: @bg-footer;
                position: fixed;
                padding: 60px 40px;
                box-sizing: border-box;
                right: 0;
                top: 0;
                width: 320px;
                text-align: left;
                z-index: 6;
                height: 100%;
                overflow: auto;
                display: none;
                > li {
                    display: block;
                    > a {
                        font-weight: @light;
                        border-top: 1px solid @white;
                        padding: 16px 0;
                        position: relative;
                        span.icon-arrow {
                            display: block;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            position: absolute;
                            margin: auto;
                        }
                        &.active {
                            + div {
                                display: block;
                            }
                        }
                    }
                    .submenu {
                        padding: 10px 9px;
                        display: none;
                        position: relative;
                        top: inherit;
                        &:before {
                            display: none;
                        }
                        .btn-more {
                            display: none;
                        }
                        ul li {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
            .icon-close {
                color: @white;
                display: none;
                font-size: 40px;
                width: 30px;
                height: 30px;
                position: fixed;
                text-align: center;
                line-height: 18px;
                z-index: 7;
                right: 40px;
                top: 13px;
                font-size: 30px;
                border-radius: 50%;
                border: 2px solid @white;
                &:hover {
                    color: @white;
                }
            }
        }
    }
    .blog-section {
        .blog-note {
            margin: 12px 0;
            width: 100%;
            > div {
                display: inline-block;
                float: right;
                &.resume {
                    box-sizing: border-box;
                    padding: 40px 40px 40px 0;
                    width: 50%;
                    a {
                        font-size: 20px;
                        font-weight: @light;
                        span {
                            font-size: 30px;
                        }
                    }
                }
                &.image {
                    width: 50%;
                }
            }
        }
    }
    .expert-section {
        img {
            left: -20%;
            margin-left: inherit;
        }
    }
    .services-section {
        .container {
            > .row {
                &:last-child {
                    display: none;
                }
            }
        }
        .col-4 {
            padding: 0;
        }
    }
}
@media (max-width: @tablet) {
    .section-video {
        img {
            display: block;
        }
        .boxVideo {
            display: none;
            // width: 768px;
            // margin-left: -384px;
            // video{
            //   top: 0;
            //   margin-top: 0;
            // }
        }
    }
    .success-cases-section {
        padding: 50px 0;
        .carousel-success .row {
            padding: 0;
        }
        .col-7,
        .col-5 {
            width: 100%;
            padding: 10px 50px;
        }
        .slick-slider {
            .slick-arrow.slick-next {
                bottom: 50%;
            }
            .slick-arrow.slick-prev {
                bottom: 43%;
            }
        }
    }
    .services-section {
        h3 {
            display: none;
        }
        .col-4,
        .col-8 {
            width: 100%;
        }
    }
    .icon-block {
        .line,
        .circle {
            display: none;
        }
    }
    .animation-slider {
        height: 400px;
    }
    .animation-slider .animation-item .description {
        top: 20%;
    }
    .animation-slider .animation-item .description .descriptiontext {
        height: 400px;
        width: 400px;
    }
    .actived {
        .icon-block {
            position: absolute;
            top: 0;
            left: -5%;
        }
    }
    .services-animation-section .title {
        top: 10%;
        left: 15%;
    }
    .animation-slider .animation-item h2 {
        font-size: 30px;
    }
    .animation-slider .animation-item p {
        font-size: 20px;
    }
}
@media (max-width: @phablet) {
    .blog-section {
        .blog-note > div {
            float: none;
            &.resume,
            &.image {
                width: 100%;
            }
        }
    }
    .expert-section {
        height: 360px;
        img {
            left: -40%;
            height: 85%;
            width: inherit;
        }
        .btn-default {
            border-radius: 0;
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            font-size: 20px;
            padding: 20px;
        }
        .container {
            h2 {
                margin: 120px auto 0;
                max-width: 320px;
                font-weight: @light;
            }
        }
    }
    .section-video .information-video {
        bottom: 30px;
        h2,
        h2 + p,
        .description-services {
            padding: 0 20px;
            box-sizing: border-box;
            width: 100%;
        }
        h2 {
            font-size: 30px;
        }
    }
    .our-services {
        width: 300px;
        > div {
            &:nth-child(2) {
                left: 0;
            }
            &:nth-child(3) {
                right: 30px;
            }
            &:nth-child(4) {
                right: 0;
            }
            p {
                width: 90px;
            }
        }
    }
}
@media (max-width: @mobile) {
    header {
        .header-main {
            .col-10 {
                nav > ul {
                    width: 100%;
                    &::before {
                        max-width: inherit;
                    }
                }
            }
        }
    }
    .section-video img {
        max-width: 768px;
    }
    //   header .header-main .col-10 nav > ul::before {
    //     background: #061726;
    //     content: '';
    //     display: block;
    //     height: 56px;
    //     max-width: 320px;
    //     position: fixed;
    //     right: 0;
    //     top: 0;
    //     width: 100%;
    //     z-index: 7;
    // }
    .description-services > ul {
        display: none;
    }
    .section-mobile {
        display: block;
    }
    .actived {
        .icon-block {
            display: none;
            position: absolute;
            top: 0;
            left: -3%;
            .ico {
                font-size: 40px;
            }
        }
    }
    .animation-slider .animation-item h2 {
        font-size: 25px;
    }
    .animation-slider .animation-item p {
        font-size: 18px;
    }
    .services-animation-section .title {
        left: 5%;
        top: 8%;
    }
    .animation-slider .animation-item .description .descriptiontext {
        width: 90%;
    }
}
@media (max-width: @mobile-landscape) {
    .animation-slider .animation-item h2 {
        font-size: 20px;
    }
    .animation-slider .animation-item p {
        font-size: 16px;
    }
    .actived {
        .icon-block {
            position: absolute;
            top: 0;
            left: 0%;
        }
    }
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-bottom {
  0% {
    margin-top: 50px;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    margin-top: 0px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}