.section-video-dass{
	height: 645px;
	overflow: hidden;
	position: relative;
	&.op-color {
		// height: 645px;
		height: auto;
		min-height: 645px;
		overflow: hidden;
		position: relative;
		background: rgb(14,76,161);
		background: linear-gradient(90deg, rgba(14,76,161,1) 0%, rgba(0,39,88,1) 66%);
		@media (min-width: 576px) and (max-width: 767.98px) {
			min-height: 400px;
		}
		@media (min-width: 768px) and (max-width: 991.98px) {
			min-height: 400px;
		}
		@media (min-width: 992px) and (max-width: 1199.98px) {
			min-height: 575px;
		}
	}
	img{
		display: none;
		left: 50%;
		margin-left: -960px;
		position: absolute;
		top: 0;
		width: 1920px;
		-webkit-filter: brightness(40%);
		filter: brightness(40%);
		@media (max-width: @tablet){
			display: none;
		}
		@media (max-width: @mobile){
			display: block;
		}
	}
	.title-logo {
		img {
			width: 20%;
			display: block;
			left: 0;
			margin: 0 auto;
			position: relative;
			filter: none;
		}
	}
	.title-sections {
		margin: 0;
		img.img-first {
			display: block;
			width: 150px;
			height: auto;
			position: relative;
			left: auto;
			right: auto;
			margin: 0 auto;
			top: -51px;
			filter: brightness(100%);
		}
	}
	.boxVideo{
		display: block;
		left: 0;
		margin: auto;
		// width: 1920px;
		width: 100%;
		position: absolute;
		// margin-left: -960px;
		top: 0;
		// left: 50%;
		z-index: 0;
		height: 100%;
		&.op-video {
			opacity: .35;
		}
		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0,0,0,0.4);
			z-index: 0;
			position: absolute;
		}
		@media (max-width: @mobile) {
			display: none;
		}
	}
	video{
		width: 100%;
		//top: 0;
		position: absolute;
		top: 0;
		margin-top: 0;
		//margin-top: -12px;
		@media (min-width: 576px) and (max-width: 767.98px) {
			width: 145%;
		}
		@media (min-width: 768px) and (max-width: 991.98px) {
			width: 125%;
		}
	}
	.information-video{
		bottom: 100px;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 3;
		h1{
			display: none;
		}
		h2{
			color: @base-color;
			font-size: 40px;
			font-weight: @light;
			margin: 10px 0;
			width: 70%;
			p{
				color: @base-color;
				font-size: 18px;
				line-height: 25px;
				width: 70%;
			}
		}
	}
	.container-video{
		z-index: 3;
		.content {
			position: relative;
			text-align: center;
			margin-top: 250px;
			h1{
				color: @base-color;
				font-size: 45px;
				font-weight: @medium;
				margin: 0;
				letter-spacing: 2px;
				padding: 0 200px;
				position: relative;
				text-transform: uppercase;
				&::after{
					background: @accent-first-color;
					bottom: -10px;
					content: '';
					height: 2px;
					left: 46%;
					position: absolute;
					width: 5%;
				}
			}
			p{
				color: @base-color;
				font-size: 20px;
			}
			a{
				font-weight: inherit;
				margin-top: 30px;
				padding: 25px 60px;
				font-size: 20px;
			}
		}
		&:after{
			content: '';
			z-index: 3;
		  }
	}
	.container{
		.content {
			position: relative;
			text-align: center;
			margin-top:250px;
			@media (max-width: @tablet) {
				margin-top: 120px;
			}
				.txt-slide {
					width: 60%;
					margin: 0 auto 5em auto;
					display: block;
					.title-sections {
						text-align: center;
						padding: 0 20px 0 0;
						h1 {
							padding: 0;
							font-size: 32px;
							display: block;
							margin: 40px 0;
							font-weight: 400;
							/* &::after {
								margin: 0;
								width: 30%;
								@media (max-width: @tablet){
									margin: auto;
    								width: 10%;
								}
							} */
							@media (max-width: @tablet){
								margin: 40px 0;
								font-size: 32px;
								text-align: center;
							}
							@media (max-width: @mobile) {
								font-size: 24px;
							}
						}
					}
					@media (max-width: @tablet) {
						width: 100%;
					}
				}
				.carrusel-slide {
					width: 40%;
					float: right;
					height: auto;
					&.success-cases-section {
						background: none;
						background-repeat: inherit;
						background-size: inherit;
						padding: 0;
					.title-slide-r {
						display: block;
						position: relative;
						height: 100%;
								img {
									display: block;
									margin: 2em auto;
									max-width: 100%;
									left: 25%;
									filter: inherit;
									width: 240px;
									margin-left: inherit;
									@media (max-width: @tablet){
										left: 33%;
									}
									@media (max-width: @mobile) {
										left: 22%;
									}
								}
								.btn-more {
										color: @accent-second-color;
										&:hover {
												color: @accent-first-color;
										}
								}
								.carousel-success {
									.slick-list {
										height: 330px;
								}
									.row {
										height: auto;
										background: none;
										.logo_head {
											height: auto;
											text-align: center;
											position: relative;
											min-height: 300px;
											p {
												font-size: 20px;
												display: block;
												text-align: center;
											}
											.btn-default {
												font-weight: inherit;
												padding: 16px 60px;
												font-size: 16px;
												position: relative;
												top: 7em;
											}
										}
									}
								}
								.slick-slider .slick-arrow.slick-next {
										left: 0;
										bottom: 30px;
										left: 50%;
								}
								.slick-slider .slick-arrow.slick-prev {
										left: 0;
										bottom: 30px;
										left: 42%;
								}
						
						}
					}
					@media (max-width: @tablet) {
						width: 100%;
					}
				}
				h1{
					color: @base-color;
					font-size: 45px;
					font-weight: @medium;
					margin: 0;
					letter-spacing: 2px;
					padding: 0 200px;
					position: relative;
					text-transform: uppercase;
					@media (max-width: @mobile) {
						padding: 0;
						font-size: 24px;
					}
					@media (min-width: @mobile) and (max-width: 767.98px) {
						padding: 20px 100px;
						font-size: 30px;
					}
					@media (min-width: @tablet) and (max-width: 991.98px) {
						padding: 20px 80px;
						font-size: 32px;
					}
					&::after{
						background: @accent-first-color;
						bottom: -10px;
						content: '';
						height: 2px;
						left: 0;
						right: 0;
						margin: auto;
						position: absolute;
						width: 10%;
					}
				}
				p{
					color: @base-color;
					font-size: 20px;
				}
				a{
					font-weight: inherit;
					margin-top: 30px;
					padding: 25px 60px;
					font-size: 20px;
				}
			}
	}
	@media (max-width: @tablet){
  		.section-video{
			img{
				display: none;
			}
			.boxVideo{
				display: block;
			}
		}
	}
	@media (max-width: @mobile){
		.section-video{
			img{
				display: block;
			}
			.boxVideo{
				display: none;
			}
		}
	}
}
.title-sections-text{
	text-align: center;
	padding-bottom: 60px;
	h3{
		color: @text-title-color;
		display: inline-block;
		font-size: 22px;
		font-weight: @bold;
		margin: 0;
		position: relative;
	}
	p{
		font-size: 19px;
		color: @color-sub-dass;
		padding: 0;
	}
	&::after{
		background: @accent-first-color;
		//bottom: -10px;
		//bottom: 0;
		content: '';
		height: 1px;
		left: 47%;
		position: absolute;
		width: 5%;
	}

}
.section-header-dass{
	top: 5%;
	position: absolute;
	width: 100%;
	z-index: 1;
	.row{
		.col-2{
			a{
				margin: 0;
				img{
					height: 65px;
					display: block;
				}
				span{
					color: @base-color;
					font-size: 16px;
					// display: inline-block;
					position: absolute;
					bottom: -20px;
				}
			}
		}
		.col-10{
			nav{
				padding: 5px 0 0 0;
				position: relative;
				text-align: right;
				.icon-menu{
					display: none;
				}
				.icon-burguer,
				.icon-close{
					cursor: pointer;
					display: none;
					font-size: 35px;
					line-height: 25px;
					&:hover{
						color: @brand-color;
					}
				}
				a{
					display: inline-block;
					color: @base-color;
					span{
						vertical-align: middle;
					}
					&:hover{
						color: @accent-first-color;
					}
				}
				>ul{
					display: inline-block;
					z-index: 8;
					>li{
						border-right: 1px solid #FFFFFF;
						display: inline-block;
						padding: 0;
						>a{
							font-weight: @light;
							font-size: 14px;
					    display: block;
					    padding: 0px 10px;
							line-height: 14px;
							z-index: 1;
							&:after{
								display: none;
								content: '';
								height: 60px;
								left: 0;
								position: absolute;
								top: 25px;
								width: 100%;
								z-index: 2;
							}
						}
						&:hover{
							a{
								color: @accent-first-color;
								+.submenu{
									display: block;
								}
								&:after{
									display: block;
								}
							}
						}
						&:last-child{
							margin-right: 0;
							border-right: none;
						}
					}
				}
			}
		}
	}
}
.section-banner-dass{
	height: 645px;
	overflow: hidden;
	position: relative;
	//text-align: center;
	.banner{
		display: block;
		left: 50%;
		margin-left: -960px;
		position: absolute;
		top: 0;
		width: 1920px;
		-webkit-filter: brightness(50%);
    	filter: brightness(50%);
	}
	.container{
		.content {
			position: relative;
			text-align: center;
			margin-top:250px;
				h1{
					color: @base-color;
					font-size: 45px;
					font-weight: @medium;
					margin: 0;
					letter-spacing: 2px;
					padding: 0 200px;
					position: relative;
					text-transform: uppercase;
					@media (max-width: @tablet) {
						padding: 0;
					}
					&::after{
						background: @accent-first-color;
						bottom: -10px;
						content: '';
						height: 2px;
						left: 0;
						right: 0;
						margin: auto;
						position: absolute;
						width: 10%;
					}
				}
				p{
					color: @base-color;
					font-size: 20px;
					line-height: 32px;
				}
				a{
					font-weight: inherit;
					margin-top: 30px;
					padding: 25px 60px;
					font-size: 20px;
				}
			}
	}

}
.section-about-dass{
	margin-top: 80px;
	margin-bottom: 40px;
	.col-12{
		ul{
			width: 80%;
			text-align: center;
			margin: auto;
			li{
				box-sizing: border-box;
				float: left;
				//padding: 0 15px;
				min-height: 390px;
				width: 25%;
				img{
					display: block;
					width: 80%;
					max-width: 238px;
					margin: 0 auto;
				}
				strong{
					color: @color-sub-dass;
					display: block;
					font-size: 19px;
					font-weight: 500;
					min-height: 50px;
				}
				p{
					color: @bg-footer;
					font-size: 16px;
					min-height: 80px;
					padding: 0 5%;
				}
			}
			&::after{
				content: '';
				clear: both;
				display: table;
			}
		}
	}
}
.section-about-dass-aw{
	background: @midnight;
	.col-12{
		padding-top: 10px;
		h1 {
			color: @white;
		}
		h3 {
			color: @white;
		}
		p {
			color: white;
		}
		ul{
			width: 80%;
			text-align: center;
			margin: auto;
			li{
				box-sizing: border-box;
				float: left;
				min-height: 225px;
				width: 50%;
				@media (max-width: 575.98px) {
					width: 100%;
				}
				&.w-100 {
					width: 100% !important;
				}
				img{
					display: block;
					width: 80%;
					max-width: 238px;
					margin: 0 auto;
				}
				strong{
					color: @white;
					display: block;
					font-size: 19px;
					font-weight: 500;
				}
				p{
					color: @white;
					font-size: 16px;
					padding: 0 5%;
				}
				h2 {
					color: @jungle-green;
					&.demo {
						&::after {
							background: #2ab05d;
							content: '';
							height: 1px;
							position: relative;
							width: 20%;
							display: block;
							margin: 0 auto;
							top: 5px;
						}
					}
				}
				h1 {
					color:@white;
					margin-block-start: 0em;
					margin-block-end: 0.15em;
					font-weight: 400;
				}
			}
			&::after{
				content: '';
				clear: both;
				display: table;
			}
		}
	}
}
.section-implementDass{
	background: @section-color url("@{backgrounds}bg-por-dass.png");
  background-repeat: no-repeat;
  background-size: cover;
	padding: 80px 0 40px;
	.container {
		.row {
			.col-12 {
				&.center{
					text-align: center;
					a{
						font-size: 20px;
						font-weight: inherit;
						padding: 15px 30px;
					}
				}
			}
		}
	}
	.col-10{
		.title-sections-text{
			h3, p{
				color:@base-color;
			}
		}
		ul{
			text-align: center;
			display: table-cell;
			li{
				box-sizing: border-box;
				float: left;
				min-height: 290px;
				width: 25%;
				display: inline-table;
				img{
					display: block;
					width: 100%;
					max-width: 143px;
					margin: 0 auto;
				}
				p {
					color:@base-color;
					font-size: 16px;
					padding: 0 7%;
				}

			}
		}
	}
}
.section-landig-page {
	.container {
		.row {
			.col-10 {
				&.landing-content {
				}
				&.landing-rows,&.info-card {
					width: -webkit-fill-available;
					background: @card-blue;
					display: inline-block;
					margin: .75em;
					border-radius: 12px;
					padding: 1em 3em;
					color: @white;
					box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
					-webkit-box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
					-moz-box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
					.icon-left {
						width: 20%;
						display: inline-block;
						float: left;
						@media (max-width: 575.98px) {
							width: 100%;
							display: block;
							float: none;
						}
						@media (min-width: 576px) and (max-width: 767.98px) {
							width: 100%;
							display: block;
							float: none;
						}
						@media (min-width: 768px) and (max-width: 991.98px) {
							width: 100%;
							display: block;
							float: none;
						}
						.number-icon {
							width: 70%;
							height: auto;
							display: block;
							margin: 0 auto;
							@media (max-width: 575.98px) {
								width: 40%;
							}
							@media (min-width: 576px) and (max-width: 767.98px) {
								width: 30%;
							}
							@media (min-width: 768px) and (max-width: 991.98px) {
								width: 20%;
							}
						}
					}
					.text-landing {
						width: 80%;
						display: inline-block;
						h2 {
							color: @jungle-green;
						}
						@media (max-width: 575.98px) {
							width: 100%;
						}
						@media (min-width: 576px) and (max-width: 767.98px) {
							width: 100%;
						}
						@media (min-width: 768px) and (max-width: 991.98px) {
							width: 100%;
							display: block;
							float: none;
						}
					}
				}
				.landing-img {
					width: 96%;
					height: auto;
					display: block;
					margin: 0 auto;
				}
				.landing-align {
					width: 44%;
					margin: 1em;
					display: table;
					float: left;
					padding: .75em;
					height: auto;
					min-height: 140px;
					background-color: @jungle-green;
					color: @white;
					border-radius: 12px;
					box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
					-webkit-box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
					-moz-box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
					p {
						display: table-cell;
						vertical-align: middle;
					}
					@media (max-width: 575.98px) {
						width: 100%;
						display: table;
						min-height: inherit;
						margin: 1em 0;
						padding: 1.25em.75em;
					}
					@media (min-width: 576px) and (max-width: 991.98px) {
						width: 100%;
						display: table;
						min-height: inherit;
						margin: 1em 0;
						padding: 1.25em.75em;
					}
				}
			}
		}
	}
	.btn_landing {
		margin: 0 auto;
    	float: none;
		a {
			&.btn-default {
				width: 60%;
				display: block;
				margin: 0 auto;
				text-align: center;
				padding: 20px 0;
				font-size: 1.2em;
				margin-top: 2em;
			}
		}
	}
}
.section-why-dass{
	background-color: @section-color;
	overflow: hidden;
	height: 423px;
	img{
		position: absolute;
		right: 50%;

	}
	.col-6{
		background-color: transparent;
		float: right;
		position: relative;
		z-index: 2;
		padding-top: 113px;
		&::after{
			position: absolute;
			top: 0;
			content: '';
			display: inline-block;
			width: 100%;
			height: 423px;
			border-left: 100px solid transparent;
    		border-top: 423px solid @section-color;
			left: -100px;
			z-index: -1;
		}
		p{
			color: white;
			font-size: 19px;
			width: 80%;
			margin-left: 100px;
			@media (max-width: 575.98px) {
				margin-left: 0;
			}
			@media (min-width: 576px) and (max-width: 767.98px) {
				margin-left: 0;
			}
			@media (min-width: 768px) and (max-width: 991.98px) {
				margin-left: 0;
			}
		}
	}
	// .col-6{
	// 	.img{
	// 		position: relative;
	// 		width: 100%;
	// 		display: block;
	// 		height: 423px;
	// 		overflow: hidden;
	// 		img{
	// 			position: absolute;
	// 			height: 100%;
	// 			// left: -100%;
	// 			right: 0;
	// 			// margin: auto;
	// 		}
	// 	}
	// }
	// .bgcircle{
	// 	position: relative;
	// }
	// .bgcircle::after{
	// 	position: absolute;
	// 	top: 0;
	// 	content: '';
	// 	display: inline-block;
	// 	width: 423px;
	// 	height: 423px;
	// 	-moz-border-radius: 50%;
	// 	-webkit-border-radius: 50%;
	// 	border-radius: 50%;
	// 	background-color: @section-color;
	// 	left: -210px;
	// }
	// .bgcircle::after{
	// 	content: " ";
	// 	// border-left: 300px solid @section-color;
	// 	// border-top: 428px solid transparent;
	// 	border-left: 150px solid #435B7F;
	// 	border-top: 430px solid transparent;
	// 	border-bottom: 0px solid transparent;
	// 	border-radius: 50%;
	// 	width: 0;
	// 	height: 0;
	// 	position: absolute;
	// 	bottom: 0;
	// }


}
.section-function{
	background-color: @bg-gray;
	padding: 30px 0 60px 0;
	.col-10{
		p{
			text-align: center;
		}
		ul{
			li{
				box-sizing: border-box;
				float: left;
				min-height: 420px;
				margin-bottom: 50px;
				padding-left: 15px;
				width: 50%;
				img{
					display: block;
					width: 100%;
					//max-width: 392px;
					margin:0 auto;
				}
				strong{
					color: @bg-footer;
					display: block;
					font-size: 19px;
					font-weight: 500;
					margin-top: 20px;
				}
				p{
					color: @bg-footer;
					font-size: 19px;
					text-align: left;
					margin: 0

				}
			}
		}
		.center{
			text-align: center;
			a{
				font-size: 20px;
				font-weight: inherit;
				padding: 15px 30px;
			}
		}
	}
}
.section-tab-dass{
	.slick-slider .slick-arrow.slick-prev::after {
		content: "\e925";
	}
	.slick-slider .slick-arrow::after {
		content: "\e926";
	}
	.slick-slider .slick-arrow.slick-prev {
		left: 10px;
		bottom: 30%;
	}

	.slick-slider .slick-arrow.slick-next {
		right: 10px;
		bottom: 30%;
	}
	.slick-slider .slick-arrow:hover::after {
    color: @accent-first-color;
	}
	margin-bottom: 40px;

	.col-10{
		.slider-tabs{
			// display: block;
			background-color: @bg-footer;
			padding: 30px 40px;
			position: relative;
			li{
				a{
					color: @base-color;
				}
			}
			.active{
				a{
					color: @accent-first-color;
				}
			}
		}

		.tab{
			display: none;
			background-color: @bg-gray;
			//background-color: red;
			padding: 0;
			margin: 0;
			.col-6{

				img{
					display: block;
					width: 100%;
				}
				ul{
					padding-top: 50px;
					list-style-type: disc;
					width: 80%;
					margin: 0 auto;
					li{
						color: @bg-footer;
						font-size: 18px;
						padding-bottom: 20px;


					}
				}
				.center{
					text-align: center;
					a{
						font-size: 18px;
						font-weight: @medium;
					}
				}
			}
		}
		.active{
			display: block;
		}


		// ul{
		// 	border-bottom: 1px solid @hover-button;
		// 	li{
		// 		display: inline-block;
		// 		padding: 0 10px;
		// 		a{
		// 			color: red;
		// 		}
		// 		h4{
		// 			//color: @text-color;
		// 			color: red;
		// 			font-size: 14px;
		// 		}
		// 		&.active h4{
		// 			color: @hover-button;
		// 			font-weight: @bold;
		// 		}
		// 	}
		// }

		// .tab-container{
		// 	.tab-content{
		// 		display: none;
		// &:first-child{
		//   display: block;
		// }
		// 		.col-6{
		// 			img{
		// 				width: 100%;
		// 			}
		// 		}
		// 		.col-6{
		// 			p{
		// 				color: @text-color;
		// 				font-size: 18px;
		// 				padding: 0px 40px;
		// 			}
		// 		}
    //
		// 	}
		// }
	}
}
.section-talk{
	background-color: @bg-footer;
	padding: 20px 0px;
	.col-1{
		img{
			max-width: 90px;
			margin-top: 15px;
		}
	}
	.col-7{
		p{
			color:@base-color;
			font-size: 15px;
			margin: 0;
			padding-left: 20px;
			padding-top: 15px;
			font-weight: @light;
		}
		b{
			color:@accent-first-color;
			font-size: 15px;
			font-weight: inherit;
		}

	}
	.col-4{
		text-align: center;
		p{
			color:@base-color;
			font-size: 18px;
			margin: 0;
			padding-bottom: 25px;
		}
		a{
			font-weight: inherit;
			padding: 15px 30px;
			//margin-bottom: 15px;
		}

	}
}
.secondText {
    color: #fff;
    margin-bottom: 20px;
    display: block;
}
.section-footer{
	background-color: @section-color;
	padding: 20px 0px;
	p {
		font-weight: 400;
		font-size: 12px;
		color: @base-color;
		line-height: 0.8;
	}
	a{
		color: @base-color;
		&:hover{
			color: @accent-first-color;
		}
	}
	ul{
		li{
			display: inline;
			a{
				font-size: 12px;
				line-height: 3;
			}
		}
	}
	.col-2{
		text-align: right;
	}


}
@media(max-width:@tablet-landscape){
	.section-function .col-10 ul li {
    min-height: 380px;
	}
	.section-tab-dass{
		.col-10{
			width: 100%;
		}
	}
	.section-why-dass .col-6 {
		padding-top: 103;
	}

}

@media (max-width: @tablet-portrait){
	// .section-header-dass .row .col-10 nav > ul > li:hover a {
  //   color: #2AB05D;
	// }
	.section-header-dass .row .col-10
    nav{
			a{
				span{
					vertical-align: inherit;
				}
			}
      &.active{
        >ul, .icon-close{
          display: block;
        }
      }
      .icon-menu{
        color: @white;
        display: inline-block;
        font-size: 40px;
        cursor: pointer;
      }
      >ul{
        background: @bg-footer;
        position: fixed;
        padding: 60px 40px;
        box-sizing: border-box;
        right: 0;
        top: 0;
        width: 320px;
        text-align: left;
        z-index: 6;
        height: 100%;
        overflow: auto;
        display: none;
        >li{
          display: block;
					border-right: none;
          > a{
            font-weight: @light;
            border-top: 1px solid @white;
            padding: 16px 0;
            position: relative;
            span.icon-arrow{
              display: block;
              top: 0;
              bottom: 0;
              right: 0;
              position: absolute;
              margin: auto;
            }
            &.active{
              + div{
                display: block;
              }
            }
          }

        }
      }
      .icon-close{
        color: @white;
        display: none;
        font-size: 40px;
        width: 30px;
        height: 30px;
        position: fixed;
        text-align: center;
        line-height: 18px;
        z-index: 7;
        right: 40px;
        top: 16px;
        font-size: 30px;
        border-radius: 50%;
        border: 2px solid @white;
        &:hover{
          color: @white;
        }
      }
    }
		.section-talk{
			.col-10{
				width: 100%;
			}
		}
		.section-footer{
			.col-6{
				width: 100%;
			}
			.col-4{
				width: 60%;
			}
		}
		.section-why-dass{
			overflow: inherit;
			height: auto;
			img{
				display: block;
				position: relative;
				width: 100%;
				right: 0;
				//min-height: 423px;
			}
			.col-6{
				display: block;
				position: relative;
				width: 60%;
				padding-top: 80px;
    		padding-bottom: 80px;
				float: none !important;
				margin: 0 auto;
				z-index: inherit;

				&::after {
					content: none;
				}
				p{
					width: 100%;
				}
			}

		}
}

@media(max-width:900px){
	.section-tab-dass .col-10 .tab .col-6 ul {
    padding-top: 10px;
	}
}
@media(max-width:855px){
	.section-tab-dass .col-10 .tab .col-6 ul li {
	    font-size: 16px;
	}
}
@media(max-width:820px){
	.section-banner-dass .container .content h2 {
    padding: 0;
	}
	.section-tab-dass .col-10 .tab .col-6 ul li {
    padding-bottom: 10px;
	}
}
@media(max-width:@tablet){
	.section-about-dass .col-12 ul li {
    min-height: 270px;
    width: 50%;
		strong{
			padding: 0px 10px;
		}
	}
	.section-implementDass{
		.col-10{
			width: 100%;
		}
		.container {
			.row {
				.col-12 {
					&.center{
						text-align: center;
						a{
							font-size: 20px;
							font-weight: inherit;
							padding: 15px 30px;
						}
					}
				}
			}
		}
	}
	.section-implementDass .col-10 ul li {
    width: 50%;
	}
}
@media (max-width: @phablet){
	.section-tab-dass{
		.col-6{
			width: 100%;
			padding-bottom: 40px;
		}
	}

}
@media (max-width: @mobile){
  .section-header-dass .row{
    .col-10{
      nav > ul {
        width: 100%;
        &::before{
          max-width: inherit;
        }
      }
    }
  }
	.section-function .col-10 ul li {
    width: 100%;
		min-height: 0;
	}
	.section-why-dass .col-6 {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
	}
}
@media (max-width: @mobile-landscape){
	.section-about-dass .col-12 ul li {
    width: 100%;
		strong{
			min-height: 0;
		}
	}
	.section-implementDass {
    padding: 60px 0 40px;
	}
	.section-implementDass .col-10 ul li {
		min-height: 0;
    width: 100%;
	}

}
@media(max-width:414px){
	.section-talk{
		.col-7{
			width: 100%;
			p{
				text-align: center;
			}
		}
		.col-4{
			width: 100%;
		}
	}

}
@media(max-width:420px){
	.section-banner-dass .container .content h2 {
    font-size: 40px;
	}
}
@media(max-width:379px){
	.section-banner-dass .container .content h2 {
    font-size: 30px;
	}
}
@media(max-width: @mobile-portrait){
	.section-banner-dass .container .content a {
    padding: 25px 40px;
	}
}
.section-banner-legal {
	margin-top: 0px;
	width: 100%;
	height: 400px;
	background-color: #3c5172;
	text-align: center;
	h2 {
		margin: auto;
		padding-top: 220px;
		color: @base-color;
		font-size: 40px;
		font-weight: @light;
	}
}
.flotante {
	position: fixed;
	bottom: 70px;
	right: 20px;
	width: 50px;
	z-index: 99;
	a {
		display: block;
		cursor: pointer;
		background-color: @jungle-green;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin: 10px;
		img {
			margin-left: 10px;
			margin-top: 10px;
			width: 30px;
			height: 30px;
		}
	}
}
.flotante2 {
	position: fixed;
	bottom: 10px;
	right: 20px;
	width: 50px;
	z-index: 99;
	a {
		display: block;
		cursor: pointer;
		background-color: @jungle-green;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin: 10px;
		img {
			margin-left: 10px;
			margin-top: 10px;
			width: 30px;
			height: 30px;
		}
	}
}
span {
	&.green {
		color: @jungle-green;
		font-weight: 600;
	}
}
.logo-new {
    margin-top: 140px !important;
}