.title-sections-text{
	text-align: center;
	padding-bottom: 60px;
	h3{
		color: @text-title-color;
		display: inline-block;
		font-size: 22px;
		font-weight: @bold;
		margin: 0;
		position: relative;
	}
	p{
		font-size: 19px;
		color: @color-sub-dass;
		padding: 0;
	}
	&::after{
		background: @accent-first-color;
		//bottom: -10px;
		//bottom: 0;
		content: '';
		height: 1px;
		left: 47%;
		position: absolute;
		width: 5%;
	}

}
.section-header-itsm{
	top: 5%;
	position: absolute;
	width: 100%;
	z-index: 1;
	.row{
		.col-2{
			a{
				margin: 0;
				img{
					height: 65px;
					display: block;
				}
				span{
					color: @base-color;
					font-size: 16px;
					position: absolute;
					bottom: -20px;
					&::after{
						background: @accent-first-color;
						content: '';
						height: 2px;
						left: 0;
						position: absolute;
						width: 10%;
						bottom: -3px;
					}
				}
			}
		}
		.col-10{
			a{
				color: @base-color;
				float: right;
				&:hover{
					color: @accent-first-color;
				}
			}
		}
	}
}
.section-banner-itsm{
	height: 645px;
	overflow: hidden;
	position: relative;
	//text-align: center;
	.banner{
		display: block;
		left: 50%;
		margin-left: -960px;
		position: absolute;
		top: 0;
		width: 1920px;
	}
	.container{
		.content {
			position: relative;
			text-align: center;
			margin-top:300px;
			h1{
				color: @base-color;
				font-size: 45px;
				font-weight: @medium;
				margin: 0;
				letter-spacing: 2px;
				position: relative;
				text-transform: uppercase;

				&::after{
					background: @accent-first-color;
					bottom: -10px;
					content: '';
					height: 2px;
					left: 46%;
					position: absolute;
					width: 5%;
				}
			}
			p{
				color: @base-color;
				font-size: 20px;
				line-height: 1.3;
				margin: 0 auto;
				width: 50%;
			}
			a{
				font-weight: inherit;
				margin-top: 30px;
				padding: 25px 60px;
				font-size: 20px;
			}
		}
	}
}
.section-about-itsm{
	background-color: @bg-gray;
	margin-bottom: 50px;
	padding-top: 40px;
	padding-bottom: 50px;
	.title-sections{
		h3{
			color: @brand-color;
			font-size: 22px;
		}
	}
	p{
		color: @color-sub-dass;
		font-size: 19px;
		font-weight: @medium;
		text-align: center;
	}
	.col-12{
		ul{
			text-align: center;
			li{
				box-sizing: border-box;
				float: left;
				margin-top: 20px;
				min-height: 250px;
				width: 25%;
				padding:0 10px;
				img{
					display: block;
					width: 100%;
					max-width: 108px;
					margin: 0 auto;
				}
				strong{
					color: @color-sub-dass;
					display: block;
					font-size: 19px;
					font-weight: 500;
					min-height: 92px;
				}
				p{
					color: @bg-footer;
					font-size: 19px;
					min-height: 80px;
					padding: 0;
				}
			}
			&::after{
				content: '';
				clear: both;
				display: table;
			}
		}
	}
}
.section-subtitle-about{
	padding-bottom: 40px;
	.title-sections{
		h3{
			color: @brand-color;
			font-size: 22px;
		}
	}
	p{
		color: @color-sub-dass;
		font-size: 19px;
		font-weight: @medium;
		text-align: center;
	}
}
.section-why-itsm{
	background-color: @section-color;
	overflow: hidden;
	height: 423px;
	img{
		position: absolute;
		right: 50%;

	}
	.col-6{
		background-color: @section-color;
		float: right;
		position: relative;
		z-index: 2;
		padding-top: 113px;
		&::after{
			position: absolute;
			top: 0;
			content: '';
			display: inline-block;
			width: 423px;
			height: 423px;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			background-color: @section-color;
			left: -210px;
			z-index: -1;
		}
		p{
			color: white;
			font-size: 19px;
			width: 70%;
		}
		ul{
			padding: 0px 30px 0px 30px;
			li{
				list-style-type: disc;
				color: @accent-first-color;
			}
		}
	}
}
.section-title-soluciones{
	padding: 40px 0 20px 0;
	.col-10{
		.image{
			display: inline-block;
			float: left;
			width: 20%;
			img{
				max-width: 108px;
				width: 100%;
			}
		}
		.title{
			display: inline-block;
			width: 80%;
			h3{
				color: @brand-color;
				font-size: 22px;
			}
			p{
				font-size: 19px;
				font-weight: @medium;
			}
		}
	}
}
.section-tab-itsm{
	background: url("@{backgrounds}bg-rectangulo.png");
	background-repeat: no-repeat;
	padding: 60px 0;
	position: relative;
	.image-triangle{
		position: absolute;
		top: -28px;
		left: 9%;
	}
	.col-10{
		ul{
			display: inline-block;
			float: left;
			margin-top: 20px;
			width: 20%;
			.active{
				img{
					filter: none;
					opacity: 1;
				}
			}
			li{
				img{
					filter: grayscale(100%);
					opacity: 0.5;
					max-width: 108px;
					width: 100%;
				}
			}
		}
		.tab-container{
			display: inline-block;
			width: 80%;
			.tab-content{
				display: none;
				.title-sections h3{
					color: @brand-color;
					font-size: 28px;
				}
				p{
					font-size: 20px;
    			margin: 100px 0px 50px 0;
				}
				ul{
					width: 100%;
					margin-left: 40px;
					li{
						position: relative;
						p{
							margin: 0 0 20px 20px;
							min-height: 40px;
						}
						&::after{
							content: @icon-check2;
							font-family: @icon-typography;
							font-size: 45px;
							color: @accent-first-color;
							position: absolute;
							left: -47px;
							top: 0;
						}
					}
				}
			}
			.active{
				display: block;
			}
		}
	}
}
.section-experts{
	background-color: @bg-gray;
	padding:40px 0 80px 0;
	.col-10{
		.title-sections h3{
			color: @brand-color;
		}
		p{
			font-size: 19px;
			text-align: center;
			strong{
				font-weight: @medium;
			}
		}
		ul{
			li{
				border-right: 1px solid @accent-first-color;
				width: 32%;
				.block{
					margin-top: 20px;
					padding: 10px;
					img{
						display: block;
						margin: 0 auto;
						max-width: 108px;
						width: 100%;
					}
					p{
						font-size: 18px;
						min-height: 60px;
					}
				}
				&:last-child{
					border-right: none;
				}
			}
		}
	}
}
.section-footer{
	//-background-color: @section-color;
	background-color: #a4e72b;
	padding: 20px 0px;
	a{
		color: @base-color;
		&:hover{
			color: @accent-first-color;
		}
	}
	ul{
		li{
			display: inline;
			a{
				font-size: 12px;
				line-height: 3;
			}
		}
	}
	.col-2{
		text-align: right;
	}


}

@media(max-width:@tablet-landscape){
	.section-function .col-10 ul li {
    min-height: 380px;
	}
	.section-tab-dass{
		.col-10{
			width: 100%;
		}
	}
	.section-why-itsm .col-6 {
		padding-top: 85px;
	}

}

@media (max-width: @tablet-portrait){
		.section-footer{
			>.col-10{
				width: 100%;
			}
		}
		.section-why-itsm{
			overflow: inherit;
			height: auto;
			img{
				display: block;
				position: relative;
				width: 100%;
				right: 0;
				//min-height: 423px;
			}
			.col-6{
				display: block;
				position: relative;
				width: 60%;
				padding-top: 80px;
    		padding-bottom: 80px;
				float: none !important;
				margin: 0 auto;
				z-index: inherit;

				&::after {
					content: none;
				}
				p{
					width: 100%;
				}
			}

		}
}

@media(max-width:900px){
	.section-tab-dass .col-10 .tab .col-6 ul {
    padding-top: 10px;
	}
}
@media(max-width:855px){
	.section-tab-dass .col-10 .tab .col-6 ul li {
	    font-size: 16px;
	}
}
@media(max-width:820px){
	.section-banner-itsm .container .content h2 {
    padding: 0;
	}
	.section-tab-dass .col-10 .tab .col-6 ul li {
    padding-bottom: 10px;
	}
}
@media(max-width:@tablet){
	.section-about-itsm .col-12 ul li {
    min-height: 270px;
    width: 50%;
		strong{
			padding: 0px 10px;
		}
	}
	.section-implementDass{
		.col-10{
			width: 100%;
		}
	}
	.section-implementDass .col-10 ul li {
    width: 50%;
	}
	.section-tab-itsm .col-10 .tab-container .tab-content p {
    margin: 10px 0px 50px 0;
	}
	.section-experts .col-10 ul li .block p {
    min-height: 80px;
	}
}
@media (max-width: @phablet){
	.section-tab-dass{
		.col-6{
			width: 100%;
			padding-bottom: 40px;
		}
	}

}
@media (max-width: 600px){
	.section-title-soluciones .col-10{
		.image {
	    display: block;
	    float: none;
	    width: 100%;
			img{
				display: block;
				margin: 0 auto;
			}
		}
		.title {
	    display: block;
			text-align: center;
	    width: 100%;
		}
	}
	.section-tab-itsm {
		.col-10{
			ul.tabs {
		    display: inline-block;
		    float: none;
		    width: 100%;
				li{
					display: inline-block;
					width: 32%;
					img{
						display: block;
						margin: 0 auto;
					}
				}
			}
			.tab-container {
		    display: block;
		    width: 100%;
				.tab-content ul {
				   margin-left: 25px;
					 li{
						 p{
							 margin: 0 0 20px 0px;
						 }
					 }
				}
			}

		}
	}
	.section-experts .col-10 ul li {
    border-right: none;
    width: 100%;
		.block p{
			min-height: 0;
		}
	}
}
@media (max-width: @mobile){
	.section-banner-itsm .container .content p {
    width: 100%;
	}
	.section-function .col-10 ul li {
    width: 100%;
		min-height: 0;
	}
	.section-why-itsm .col-6 {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
	}
}
@media (max-width: @mobile-landscape){
	.section-about-itsm .col-12 ul li {
    width: 100%;
		min-height: inherit;
		strong{
			min-height: 0;
		}
	}
	.section-implementDass {
    padding: 60px 0 40px;
	}
	.section-implementDass .col-10 ul li {
		min-height: 0;
    width: 100%;
	}

}
@media(max-width:414px){
	.section-talk{
		.col-7{
			width: 100%;
			p{
				text-align: center;
			}
		}
		.col-4{
			width: 100%;
		}
	}

}
@media(max-width:420px){
	.section-banner-itsm .container .content h2 {
    font-size: 40px;
	}
}
@media(max-width:379px){
	.section-banner-itsm .container .content h2 {
    font-size: 30px;
	}
}
@media(max-width: @mobile-portrait){
	.section-banner-itsm .container .content a {
    padding: 25px 40px;
	}
	.section-tab-itsm .col-10 ul.tabs li img {
    width: 100%;
	}
}
