.title-sections{
	text-align: center;
	margin: 40px 0px;
	h3{
		color: @text-title-color;
		display: inline-block;
		font-size: 24px;
		font-weight: @light;
		margin: 0;
		position: relative;

		&::after{
			background: @accent-first-color;
			bottom: -10px;
			content: '';
			height: 1px;
			left: 40%;
			position: absolute;
			width: 15%;
		}
	}
}
.section-header{
	top: 5%;
	position: absolute;
	width: 100%;
	z-index: 1;
	.row{
		.col-10{
			a{
				margin: 0;
				img{
					height: 65px;

				}
				span{
					color: @base-color;
					font-size: 14px;
					display: inline-block;
					position: absolute;
					top: 25px;
				}
			}
		}
		.col-2{
			text-align: right;
			a{
				color: @base-color;
				span{
					line-height: 2;
				}
				&:hover{
					color: @accent-first-color;
				}
			}
		}
	}
}
.section-banner{
	height: 645px;
	overflow: hidden;
	position: relative;
	//text-align: center;
	.banner{
		display: block;
		left: 50%;
		margin-left: -960px;
		position: absolute;
		top: 0;
		width: 1920px;
	}
	.container{
		.content {
			position: relative;
			text-align: center;
				margin-top:192px;
				h1{
					color: @base-color;
					font-size: 45px;
					font-weight: @medium;
					margin: 0;
					letter-spacing: 2px;
					padding: 0 200px;
					position: relative;
					text-transform: uppercase;

					&::after{
						background: @accent-first-color;
						bottom: -10px;
						content: '';
						height: 2px;
						left: 46%;
						position: absolute;
						width: 5%;
					}
				}
				p{
					color: @base-color;
					font-size: 20px;
				}
				a{
					font-size: 18px;
					font-weight: inherit;
					margin-top: 30px;
					padding: 20px;
				}
			}
	}
}
.section-about{
	margin-bottom: 40px;
	.col-10{
		p{
			font-size: 19px;
			text-align: center;
			padding: 0 60px;
			margin-bottom: 40px;
		}
		ul{
			text-align: center;
			li{
				box-sizing: border-box;
				float: left;
				padding: 0 15px;
				min-height: 270px;
				width: 25%;
				img{
					width: 150px;
				}
				p{
					font-size: 16px;
					min-height: 80px;
					padding: 0;
				}
			}
			&::after{
				content: '';
				clear: both;
				display: table;
			}
		}
	}
}
.section-why{
	background-color: @section-color;
	overflow: hidden;
	.col-6{
		.title-sections{
			margin: 100px 0 0 0px;
			text-align: left;
			h2{
				color: @base-color;
				display: inline-block;
				font-size: 30px;
				font-weight: @medium;
				margin: 0;
				position: relative;
				text-transform: uppercase;

				&::after{
					background: @accent-first-color;
					bottom: -10px;
					content: '';
					height: 2px;
					left: 0;
					position: absolute;
					width: 15%;
				}
			}
		}
		p{
			color: @base-color;
			font-size: 19px;
			font-weight: @light;
			line-height: 1.3;
		}


	}
	.col-6:last-child{
		position: relative;
		img{
			display: block;
			height: 428px;
		}
		&:after{
			content: " ";
			// border-left: 300px solid @section-color;
			// border-top: 428px solid transparent;
			border-left: 150px solid #435B7F;
			border-top: 430px solid transparent;
			border-bottom: 0px solid transparent;
			width: 0;
			height: 0;
			position: absolute;
			bottom: 0;
		}
	}
}
.section-solve{
	margin-bottom: 40px;
	.col-10{
		ul{
			li{
				box-sizing: border-box;
				float: left;
				text-align: center;
				//margin-bottom: 15px;
				min-height: 220px;
				padding: 0 10px;
				width: 33.3%;
				span{
					color: @icon-color;
					border: 2px solid @icon-color;
					border-radius: 50%;
					font-size: 90px;
				}
				p{
					color: @text-icon-color;
					font-family: 16px;
					min-height: 90px;
				}
			}
			&::after{
				content: '';
				clear: both;
				display: table;
			}
		}
		p{
			text-align: center;
			a{
				font-size: 18px;
				font-weight: inherit;
				padding: 20px;
			}
		}
	}
}
.section-slider{
  .slider{
	li.slick-slide{
	  height: 500px;
	  overflow: hidden;
	  position: relative;
	  >img{
		left: 50%;
		margin-left: -960px;
		position: absolute;
		width: 1920px;
			}
			.container{
				background: transparent;
		position: relative;
				top: 157px;
		z-index: 2;
				.col-6 {
					float: right;
					position: relative;
					span{
						color: @base-color;
						font-size: 60px;
						left: -60px;
						top: 10px;
						position: absolute;
					}
					h2{
						color: @base-color;
						font-size: 35px;
						font-weight: @bold;
						padding-right: 100px;
					}
					p{
					color: @base-color;
					font-size: 25px;
					line-height: 1;
					}
				}
			}
	}
	}
	.slick-dots li button{
		cursor: pointer;
	}
}
.section-tab{
	margin-bottom: 40px;
	.col-10{
		ul{
			border-bottom: 1px solid @hover-button;
			li{
				display: inline-block;
				padding: 0 10px;
				h4{
					color: @text-color;
					font-size: 14px;
				}
				&.active {
					h4{
						color: @hover-button;
						font-weight: @bold;
					}
				}

			}
		}
		.tab-container{
			>div{
				position: relative;
				display: none;
				&.active{
					display: block;
				}
			}
			.tab-content{
				.col-6{
					img{
						width: 100%;
					}
					p{
						color: @text-color;
						font-size: 18px;
						padding: 80px 40px;
					}
				}
			}
		}
	}
}
.section-talk{
	background-color: @bg-footer;
	padding: 20px 0px;
	.col-1{
		span{
			color:@base-color;
			font-size: 90px;
			margin-left: -30px;
		}
	}
	.col-3{
		p{
			color:@base-color;
			font-size: 15px;
			margin: 0
		}
		b{
			color:@accent-third-color;
			font-size: 15px;
			font-weight: inherit;
		}

	}
	.col-8{
		text-align: center;
		p{
			color:@base-color;
			font-size: 20px;
		}
		a{
			font-weight: inherit;
			margin-bottom: 15px;
		}

	}
}
.section-footer{
	background-color: @section-color;
	padding: 20px 0px;
	a{
		color: @base-color;
		&:hover{
			color: @accent-first-color;
		}
	}
	ul{
		li{
			display: inline;
			a{
				font-size: 12px;
				line-height: 3;
			}
		}
	}
	.col-2{
		text-align: right;
	}


}
@media(max-width: 993px){

}
@media(max-width: 950px){
	.section-about .col-10 {
	width: 100%;
	}
	.section-why .col-11{
		width: 100%;
	}
}
@media(max-width: 943px){
	.section-banner .container .content h2 {
		color: #FFFFFF;
		font-size: 41px;
		letter-spacing: 0;
	}
}
@media(max-width: 863px){
	.section-banner .container .content h2 {
		font-size: 34px;
		letter-spacing: 0;
	}
}
@media(max-width: 780px){
	.section-about .col-10 ul li {
	min-height: 267px;
	width: 50%;
	}

}
@media(max-width: 792px){
	.section-slider .slider li.slick-slide .container {
	top: 100px;
	}

}
@media(max-width: @tablet){
	.section-banner .container{
		.content {
			h2 {
				padding: 0;
			}
		}
	}
	.section-about{
		.col-10{
			width: 100%;
		}
	}
	.section-why{
		.col-6{
			width: 50%;
			.title-sections {
				margin: 70px 0 0 0px;
				h2{
					font-size: 28px;
				}
			}
		}
	}
	.section-slider{
		.slider{
			li.slick-slide{
				.container {
					top:100px;
				}
			}
		}
	}
	.section-tab .col-10 .tab-container .tab-content .col-6{
		p {
			padding: 0px 10px;
		}
	}
	.section-solve .col-10 {
		width: 100%;
	}
}

@media(max-width: 741px){
	.section-solve .col-10 ul li {
	min-height: 225px;
	}
}
@media(max-width: 612px){
	.section-solve .col-10 ul li {
	min-height: 243px;
	}
}
@media(max-width: @mobile){
	.section-banner .container .content h2 {
		font-size: 40px;
	}
	.section-about .col-10 ul li {
	float: left;
	width: 50%;
	}
	.section-why .col-5 {
		width: 100%;
		margin-bottom: 10px;
	}
	.section-why .col-6 {
	//display: none;
	}
	.section-why .col-5 .title-sections {
	margin: 25px 0 0 0px;
	}
	.section-solve .col-10 ul li {
		width: 50%;
		text-align: center;
	}
	.section-tab .col-10 ul li h4 {
	font-size: 14px;
	}
	.section-tab .col-10 .tab-container .tab-content .col-6 p {
		font-size: 14px;
	}
	.section-talk{
		.col-1{
			display: none;
		}
		.col-3{
			width: 50%;
			p{
				margin-top: 20px;
			}
		}
		.col-8{
			width: 50%;
		}
	}
	.section-slider .slider li.slick-slide .container .col-6 span {
	left: -40px;
	}
}
@media(max-width: 704px){
	.section-why {
		padding: 40px 0 40px 0;
		.col-6{
			width: 100%;
			.title-sections {
				margin: 0px;
			}

			&:last-child{
				//display: none;
				img{
					height: auto;
					margin: 15px 0 15px 0;
					width: 100%;
				}
				&::after{
					display: none;
					//content: inherit;
				}
			}
		}
	}
	.section-slider .slider li.slick-slide .container .col-6 h2 {
	padding-right: 0px;
	}
}
@media(max-width: 350px){
	.section-why .col-6 .title-sections h2 {
	font-size: 25px;
	}
}
@media(max-width: @mobile){
	.section-slider .slider li.slick-slide .container .col-6 {
	width: 90%;
	}
}
@media(max-width: 375px){
	.section-solve .col-10 ul li{
		min-height: auto;
	}
}
@media(max-width: @mobile-landscape){
	.section-banner .container .content h2 {
	font-size: 35px;
	}
	.section-about .col-10 p {
	padding: 0 10px;
	}
	.section-slider .slider li.slick-slide .container {
		top: 120px;
		> div h2 {
			font-size: 30px;
		}
	}
	.slick-dots {
	left: 44%;
	}
	.section-tab .col-10 ul {
	text-align: center;
	}
	.section-tab .col-6 {
	width: 100%;
	}
}
@media(max-width: 414px){
	.section-banner .container .content h2 {
	font-size: 25px;
	}
	.section-about .col-10 ul li {
	width: 100%;
	}
	.section-why .col-5 .title-sections h2 {
	font-size: 26px;
	}

	.section-solve .col-10 ul li {
	width: 100%;
	}
	.section-about .col-10 ul li p {
	min-height: 0px;
	}
	.section-solve .col-10 ul li p {
	min-height: 0px;
	}
	.section-talk .col-3 {
		width: 100%;
		p{
			text-align: center;
		}
		b{
			text-align: center;
		}
	}
	.section-talk .col-8 {
	width: 100%;
	}
	.section-tab{
		.col-10{
			width: 100%;
		}
	}
	.section-tab .col-10 .tab-container .tab-content .col-6 {
		width: 100%;
	}
	.section-slider .slider li.slick-slide .container > div h2 {
	font-size: 25px;
	}
	.section-slider .slider li.slick-slide .container p {
	font-size: 20px;
	}
	.section-solve .col-10 ul{
		margin-top: 50px;
	}
	.section-about .col-10 ul li {
	min-height: auto;
	}
	.section-solve .col-10 ul li {
		min-height: auto;
		margin-bottom: 30px;
	}

}
@media(max-width: 414px){
	.section-slider .slider li.slick-slide .container .col-6 h2 {
	font-size: 32px;
	}
	.section-slider .slider li.slick-slide .container .col-6 span {
		font-size: 45px;
		top: 15px;
	}
	.section-slider .slider li.slick-slide .container {
	top: 100px;
	}
}
@media(max-width: @mobile-portrait){
	.section-header .row .col-10 h1 span {
	font-size: 13px;
	}
	.section-banner .container .content{
		h2 {
			font-size: 22px;
		}
		p{
			font-size: 17px;
		}
	}

	.section-footer ul li a {
	font-size: 11px;
	}
	.section-why .col-5 .title-sections h2 {
	font-size: 22px;
	}
	.section-why .col-5 p {
	font-size: 17px;
	}
}
