.microsite-container {
    height: auto;
    background: @white;
    margin-bottom: 25px;
    .container {
        .row {
            .col-10 {  
                 .tabs {
                    position: relative;
                    margin: 50px auto;
                    .content {
                        background: @white;
                        position: relative;
                        width: 100%;
                        height: auto;
                        /*z-index: 5;*/
                        .dash {
                            position: absolute;
                            top: 0;
                            padding: 20px 20px;
                            width: 100%;
                            /*z-index: 1;*/
                            opacity: 0;
                            -webkit-transition: all linear 0.3s;
                            -moz-transition: all linear 0.3s;
                            -o-transition: all linear 0.3s;
                            -ms-transition: all linear 0.3s;
                            transition: all linear 0.3s;  
                        }
                    }
                    input {
                        position: absolute;
                        z-index: 1000;
                        height: 40px;
                        left: 0px;
                        top: 0px;
                        opacity: 0;
                        filter: alpha(opacity=0);
                        cursor: pointer;
                        &:hover {
                            &+label {
                                background: @nobel;
                            }
                        }
                        &:checked {
                            &+label {
                                background: @card-blue;
                                /*z-index: 6;*/
                                -webkit-animation: page 0.2s linear;
                                -moz-animation: page 0.2s linear;
                                -ms-animation: page 0.2s linear;
                                -o-animation: page 0.2s linear;
                                animation: page 0.2s linear;
                                color: @white;
                            }
                        }
                    }
                    label {
                        background: transparent;
                        font-size: initial;
                        line-height: 40px;
                        height: 40px;
                        position: relative;
                        padding: 0 10px;
                        float: left;
                        display: block;
                        width: 30%;
                        color: initial;
                        letter-spacing: 1px;
                        text-transform: initial;
                        font-weight: normal;
                        text-align: center;
                        text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
                        border-radius: 0;
                        box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
                        cursor: pointer;
                        &:first-of-type {
                            /*z-index: 0;*/
                            box-shadow: 2px 0 2px rgba(0,0,0,0.1);
                        }
                        @media (max-width: 575.98px) {
                            width: 100%;
                        }
                        @media (min-width: 576px) and (max-width: 767.98px) {
                            width: 100%;
                        }
                   
                      
                    }
                    input.tab-selector-1 {
                        &:checked {
                            &~.content {
                                .content-1 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                    input.tab-selector-2 {
                        &:checked {
                            &~.content {
                                .content-2 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                    input.tab-selector-3 {
                        &:checked {
                            &~.content {
                                .content-3 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                .vmware{
                    width: 40%;
                    input.tab-selector-4 {
                        &:checked {
                            &~.content {
                                .content-4 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }

                }
                    
                }
                .tab-label-2 {
                    z-index: 3;
                }
                .tab-label-3 {
                    z-index: 2;
                }
                .tab-label-4 {
                    z-index: 2;
                }
                
                .clear-shadow {
                    clear: both;
                }
                .col-6,.col-8,.col-4,.col-3,.col-10 {
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                    @media (min-width: 576px) and (max-width: 767.98px) {
                        width: 80%;
                        margin: 0 auto;
                    }
                }
                .col-6 {
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 100%;
                    }
                }
                .huawei-numbers {
                    text-align: center !important;
                    p {

                    }
                    h1 {
                        margin: 12px 0;
                        color: @jungle-green;
                    }
                }
                .img-ocean,.img-ocean-2,.img-huawei {
                    margin: 0 auto;
                    display: block;
                }  
                .img-ocean,.img-huawei {
                    width: 80%;
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 40%;
                    }
                } 
                .img-ocean-2 {
                    width: 60%;
                }      
            }
        }
    }
}
.txt-center {
    text-align: center;
}
.txt-justify {
    text-align: justify;
}


.microsite-container-nutanix {
    height: auto;
    background: @white;
    margin-bottom: 25px;
    .container {
        .row {
            .col-10 {              
                .tabs {
                    position: relative;
                    margin: 50px auto;
                    .content {
                        background: @white;
                        position: relative;
                        width: 100%;
                        height: auto;
                        /*z-index: 5;*/
                        .dash {
                            position: absolute;
                            top: 0;
                            padding: 20px 20px;
                            width: 100%;
                            /*z-index: 1;*/
                            opacity: 0;
                            -webkit-transition: all linear 0.3s;
                            -moz-transition: all linear 0.3s;
                            -o-transition: all linear 0.3s;
                            -ms-transition: all linear 0.3s;
                            transition: all linear 0.3s;  
                        }
                    }
                    input {
                        position: absolute;
                        z-index: 1000;
                        height: 40px;
                        left: 0px;
                        top: 0px;
                        opacity: 0;
                        filter: alpha(opacity=0);
                        cursor: pointer;
                        &:hover {
                            &+label {
                                background: @nobel;
                            }
                        }
                        &:checked {
                            &+label {
                                background: @card-blue;
                                /*z-index: 6;*/
                                -webkit-animation: page 0.2s linear;
                                -moz-animation: page 0.2s linear;
                                -ms-animation: page 0.2s linear;
                                -o-animation: page 0.2s linear;
                                animation: page 0.2s linear;
                                color: @white;
                            }
                        }
                    }
                    label {
                        background: transparent;
                        font-size: initial;
                        line-height: 40px;
                        height: 40px;
                        position: relative;
                        padding: 0 10px;
                        float: left;
                        display: block;
                        width: 18%;
                        color: initial;
                        letter-spacing: 1px;
                        text-transform: initial;
                        font-weight: normal;
                        text-align: center;
                        text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
                        border-radius: 0;
                        box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
                        cursor: pointer;
                        &:first-of-type {
                            /*z-index: 0;*/
                            box-shadow: 2px 0 2px rgba(0,0,0,0.1);
                        }
                        @media (max-width: 575.98px) {
                            width: 100%;
                        }
                        @media (min-width: 576px) and (max-width: 767.98px) {
                            width: 100%;
                        }
                      
                    }
                    input.tab-selector-1 {
                        &:checked {
                            &~.content {
                                .content-1 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                    input.tab-selector-2 {
                        &:checked {
                            &~.content {
                                .content-2 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                    input.tab-selector-3 {
                        &:checked {
                            &~.content {
                                .content-3 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                    input.tab-selector-4 {
                        &:checked {
                            &~.content {
                                .content-4 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                    input.tab-selector-5 {
                        &:checked {
                            &~.content {
                                .content-5 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                }
                .tab-label-2 {
                    z-index: 3;
                }
                .tab-label-3 {
                    z-index: 2;
                }
                
                .clear-shadow {
                    clear: both;
                }
                .col-6,.col-8,.col-4,.col-3,.col-10 {
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                    @media (min-width: 576px) and (max-width: 767.98px) {
                        width: 80%;
                        margin: 0 auto;
                    }
                }
                .col-6 {
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 100%;
                    }
                }
                .huawei-numbers {
                    text-align: center !important;
                    p {

                    }
                    h1 {
                        margin: 12px 0;
                        color: @jungle-green;
                    }
                }
                .img-ocean,.img-ocean-2,.img-huawei {
                    margin: 0 auto;
                    display: block;
                }  
                .img-ocean,.img-huawei {
                    width: 80%;
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 40%;
                    }
                } 
                .img-nutanix{
                    width: 60%;
                }      
            }
        }
    }
}
.txt-center {
    text-align: center;
}
.txt-justify {
    text-align: justify;
}

.section-implementDass.nutanix .col-10 ul li {
    width: 50%;
    }
.section-implementDass.nutanix {
    .col-10 {
        ul {
            li {
                &.li-column {
                    width: 50% !important;
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}




.section-about-dass .col-12 ul li {
    #imagen{
        width: 45%;
        @media (max-width: 575.98px) {
            width: 30%;
        }
   }
}
.section-implementDass.nutanix .col-10 ul li{
   
        max-width: 100%; 
        @media (max-width: 425px){
            width: 100%;
        }
}
.microsite-container-vmware {
    height: auto;
    background: @white;
    margin-bottom: 25px;
    .container {
        .row {
            .col-10 {              
                .tabs {
                    position: relative;
                    margin: 50px auto;
                    .content {
                        background: @white;
                        position: relative;
                        width: 100%;
                        height: auto;
                        /*z-index: 5;*/
                        .dash {
                            position: absolute;
                            top: 0;
                            padding: 20px 20px;
                            width: 100%;
                            /*z-index: 1;*/
                            opacity: 0;
                            -webkit-transition: all linear 0.3s;
                            -moz-transition: all linear 0.3s;
                            -o-transition: all linear 0.3s;
                            -ms-transition: all linear 0.3s;
                            transition: all linear 0.3s;  
                        }
                    }
                    input {
                        position: absolute;
                        z-index: 1000;
                        height: 40px;
                        left: 0px;
                        top: 0px;
                        opacity: 0;
                        filter: alpha(opacity=0);
                        cursor: pointer;
                        &:hover {
                            &+label {
                                background: @nobel;
                            }
                        }
                        &:checked {
                            &+label {
                                background: @card-blue;
                                /*z-index: 6;*/
                                -webkit-animation: page 0.2s linear;
                                -moz-animation: page 0.2s linear;
                                -ms-animation: page 0.2s linear;
                                -o-animation: page 0.2s linear;
                                animation: page 0.2s linear;
                                color: @white;
                            }
                        }
                    }
                    label {
                        background: transparent;
                        font-size: initial;
                        line-height: 40px;
                        height: 40px;
                        position: relative;
                        padding: 0 10px;
                        float: left;
                        display: block;
                        width: 23%;
                        color: initial;
                        letter-spacing: 1px;
                        text-transform: initial;
                        font-weight: normal;
                        text-align: center;
                        text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
                        border-radius: 0;
                        box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
                        cursor: pointer;
                        &:first-of-type {
                            /*z-index: 0;*/
                            box-shadow: 2px 0 2px rgba(0,0,0,0.1);
                        }
                        @media (max-width: 575.98px) {
                            width: 100%;
                        }
                        @media (min-width: 576px) and (max-width: 767.98px) {
                            width: 100%;
                        }
                      
                    }
                    input.tab-selector-1 {
                        &:checked {
                            &~.content {
                                .content-1 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                    input.tab-selector-2 {
                        &:checked {
                            &~.content {
                                .content-2 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                    input.tab-selector-3 {
                        &:checked {
                            &~.content {
                                .content-3 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                    input.tab-selector-4 {
                        &:checked {
                            &~.content {
                                .content-4 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                    input.tab-selector-5 {
                        &:checked {
                            &~.content {
                                .content-5 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                    
                    
                }
                .tab-label-2 {
                    z-index: 3;
                }
                .tab-label-3 {
                    z-index: 2;
                }
                
                .clear-shadow {
                    clear: both;
                }
                .col-6,.col-8,.col-4,.col-3,.col-10 {
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                    @media (min-width: 576px) and (max-width: 767.98px) {
                        width: 80%;
                        margin: 0 auto;
                    }
                }
                .col-6 {
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 100%;
                    }
                }
                .huawei-numbers {
                    text-align: center !important;
                    p {

                    }
                    h1 {
                        margin: 12px 0;
                        color: @jungle-green;
                    }
                }
                .img-ocean,.img-ocean-2,.img-huawei {
                    margin: 0 auto;
                    display: block;
                }  
                .img-ocean,.img-huawei {
                    width: 80%;
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 40%;
                    }
                } 
                .img-ocean-2 {
                    width: 60%;
                }   
                
                
            }
        }
    }
}
.txt-center {
    text-align: center;
}
.txt-justify {
    text-align: justify;
}
.section-implementDass.vmware .col-10 ul li {
    width: 50%;
    }
.section-implementDass.vmware {
    .col-10 {
        ul {
            li {
                &.li-column {
                    width: 50% !important;
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                    
                }
            }
        }
    }
}
.section-implementDass.vmware .col-10 ul li{
   
    max-width: 100%; 
    @media (max-width: 425px){
        width: 100%;
    }
}

.microsite-container-huawei {
    height: auto;
    background: @white;
    margin-bottom: 25px;
    .container {
        .row {
            .col-10 {              
                .tabs {
                    position: relative;
                    margin: 50px auto;
                    .content {
                        background: @white;
                        position: relative;
                        width: 100%;
                        height: auto;
                        /*z-index: 5;*/
                        .dash {
                            position: absolute;
                            top: 0;
                            padding: 20px 20px;
                            width: 100%;
                            /*z-index: 1;*/
                            opacity: 0;
                            -webkit-transition: all linear 0.3s;
                            -moz-transition: all linear 0.3s;
                            -o-transition: all linear 0.3s;
                            -ms-transition: all linear 0.3s;
                            transition: all linear 0.3s;  
                        }
                    }
                    input {
                        position: absolute;
                        z-index: 1000;
                        height: 40px;
                        left: 0px;
                        top: 0px;
                        opacity: 0;
                        filter: alpha(opacity=0);
                        cursor: pointer;
                        &:hover {
                            &+label {
                                background: @nobel;
                            }
                        }
                        &:checked {
                            &+label {
                                background: @card-blue;
                                /*z-index: 6;*/
                                -webkit-animation: page 0.2s linear;
                                -moz-animation: page 0.2s linear;
                                -ms-animation: page 0.2s linear;
                                -o-animation: page 0.2s linear;
                                animation: page 0.2s linear;
                                color: @white;
                            }
                        }
                    }
                    label {
                        background: transparent;
                        font-size: initial;
                        line-height: 40px;
                        height: 40px;
                        position: relative;
                        padding: 0 10px;
                        float: left;
                        display: block;
                        width: 30%;
                        color: initial;
                        letter-spacing: 1px;
                        text-transform: initial;
                        font-weight: normal;
                        text-align: center;
                        text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
                        border-radius: 0;
                        box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
                        cursor: pointer;
                        &:first-of-type {
                            /*z-index: 0;*/
                            box-shadow: 2px 0 2px rgba(0,0,0,0.1);
                        }
                        @media (max-width: 575.98px) {
                            width: 100%;
                        }
                        @media (min-width: 576px) and (max-width: 767.98px) {
                            width: 100%;
                        }
                      
                    }
                    input.tab-selector-1 {
                        &:checked {
                            &~.content {
                                .content-1 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                    input.tab-selector-2 {
                        &:checked {
                            &~.content {
                                .content-2 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                    input.tab-selector-3 {
                        &:checked {
                            &~.content {
                                .content-3 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;

                                    #overflowTest {
                                        
                                        color: #3c5172;
                                        padding: 15px;
                                        width: 100%;
                                        height: 200px;
                                        overflow: scroll;
                                        
                                    }
                                    
                                }
                            }
                        }
                    }
                    input.tab-selector-4 {
                        &:checked {
                            &~.content {
                                .content-4 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }
                    input.tab-selector-5 {
                        &:checked {
                            &~.content {
                                .content-5 {
                                    -webkit-transform: translateX(0px);
                                    -moz-transform: translateX(0px);
                                    -o-transform: translateX(0px);
                                    -ms-transform: translateX(0px);
                                    transform: translateX(0px);
                                    /*z-index: 100;*/
                                    filter: alpha(opacity=100);
                                    opacity: 1;
                                    -webkit-transition: all ease-out 0.2s 0.1s;
                                    -moz-transition: all ease-out 0.2s 0.1s;
                                    -o-transition: all ease-out 0.2s 0.1s;
                                    -ms-transition: all ease-out 0.2s 0.1s;
                                    transition: all ease-out 0.2s 0.1s;
                                    position: relative;
                                }
                            }
                        }
                    }

                    
                    
                }
                .tab-label-2 {
                    z-index: 3;
                }
                .tab-label-3 {
                    z-index: 2;
                }
                
                .clear-shadow {
                    clear: both;
                }
                .col-6,.col-8,.col-4,.col-3,.col-10 {
                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                    @media (min-width: 576px) and (max-width: 767.98px) {
                        width: 80%;
                        margin: 0 auto;
                    }
                }
                .col-6 {
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 100%;
                    }
                }
                .huawei-numbers {
                    text-align: center !important;
                    p {

                    }
                    h1 {
                        margin: 12px 0;
                        color: @jungle-green;
                    }
                }
                .img-ocean,.img-ocean-2,.img-huawei {
                    margin: 0 auto;
                    display: block;
                }  
                .img-ocean,.img-huawei {
                    width: 80%;
                    @media (min-width: 768px) and (max-width: 991.98px) {
                        width: 40%;
                    }
                } 
                .img-ocean-2 {
                    width: 60%;
                }      
            }
        }
    }
    
}
.txt-center {
    text-align: center;
}
.txt-justify {
    text-align: justify;
}




.dash.content-3.hcloud{
    margin-left: -25px;
      
    .warpper {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .taba {
        cursor: pointer;
        padding: 10px 20px;
        margin: 0px 2px;
        background: #000;
        display: inline-block;
        color: #fff;
        
      
    }
    .panels {
        background: #fffffff6;
        min-height: 200px;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
        padding: 20px;
    }
    .panel {
        display: none;
        animation: fadein .8s;
    }
    .panel-title {
        font-size: 1.5em;
        
        font-weight: bold;
    }
    .radio {
        display: none;
     
    }
    label#three-tab.taba,#one-tab.taba,#two-tab.taba,#cuatro-tab.taba,#cinco-tab.taba{
        width: 17%;
        @media (max-width: 768px)  {
            width: 100%;
        }
    }
    #one {
        &:checked {
            &~.panels {
                #one-panel {
                    display: block;  
                    
                }
            }
            &~.tablas {
                #one-tab {
                    background: #fffffff6;
                    color: #000;
                    border-top: 3px solid #000;
                    
                }
            }
        }
    }
    #two {
        &:checked {
            &~.panels {
                #two-panel {
                    display: block;
                }
            }
            &~.tablas {
                #two-tab {
                    background: #fffffff6;
                    color: #000;
                    border-top: 3px solid #000;
                }
            }
        }
    }
    #three {
        &:checked {
            &~.panels {
                #three-panel {
                    display: block;
                }
            }
            &~.tablas {
                #three-tab {
                    background: #fffffff6;
                    color: #000;
                    border-top: 3px solid #000;
                }
            }
        }
    }
    #cuatro {
        &:checked {
            &~.panels {
                #cuatro-panel {
                    display: block;
                }
            }
            &~.tablas {
                #cuatro-tab {
                    background: #fffffff6;
                    color: #000;
                    border-top: 3px solid #000;
                }
            }
        }
    }
    #cinco {
        &:checked {
            &~.panels {
                #cinco-panel {
                    display: block;
                }
            }
            &~.tablas {
                #cinco-tab {
                    background: #fffffff6;
                    color: #000;
                    border-top: 3px solid #000;
                }
            }
        }
    }
    

}
