.products-list li{
  display: none;
}
.services-list li{
  display: none;
}
.services .block .description h3{
  min-height: 52px;
}
.section-tabs{
  padding: 40px 0;
  .container{
    .col-10{
      .col-12{
        .tabs{
          //float: left;
          margin-bottom: 40px;
          width: 100%;
          li{
            display:inline-block;
            a{
              color: @subtitle-color;
              font-size: 40px;
              font-weight: @light;
            }
            &:first-child {
              padding-right: 20px;
              border-right: 2px solid #000;
            }
            &:last-child {
              padding-left: 20px;
            }
            &.active{
              a{
                color: @brand-color;
              }
            }
          }
        }
        select{
          margin-bottom: 40px;
          max-width: 400px;
        }
        .views{
          float: right;
          margin-bottom: 40px;
          li{
            display: inline-block;
            span{
              color: @color-breadcrumb;
            }
            &.active{
              span{
                color: @text-color;
              }
            }
            &:first-child{
              border-right: 1px solid @color-breadcrumb;
              //height: 10px;
            }
            &:hover{
              span{
                color:@accent-first-color;
              }
            }
          }
        }
        .tab-container{
          >div{
            position: relative;
            display: none;
            //.fade-out();
            &.active{
              display: block;
              //.fade-in();
            }
          }
          .tab-content{
            ul.menuProductsServices {
              li {
                float: left;
                display: inline-block;
                margin: 10px 0;
                width: 25%;
                @media (max-width:@tablet){
                  width: 50%;
                }
                @media (max-width:@mobile){
                  width: 100%;
                }
              }
            }
            ul{
              li{
                margin-bottom: 30px;
                .block{
                  margin: 10px;
                  min-height: 440px;
                  .image{
                    a{
                      display: block;
                      img{
                        width: 100%;
                        max-width: 313px;
                        &:hover{
                          opacity: 0.8;
                          filter: alpha(opacity=50); /* For IE8 and earlier */
                        }
                      }

                    }
                  }
                  .description{
                    h3{
                      a{
                        color: @brand-color;
                        font-size: 20px;
                        font-weight: @medium;
                        min-height: 52px;
                        max-height: 52px;
                        overflow: hidden;
                        &:hover{
                          color: @accent-first-color;
                        }
                      }
                    }
                    p{
                      font-size: 14px;
                      min-height: 60px;
                      max-height: 60px;
                      overflow: hidden;
                    }
                    b{
                      font-size: 14px;
                      font-weight: @medium;
                    }
                    .btn-more{
                      font-size: 14px;
                      font-weight: @medium;
                    }
                  }
                }
              }
            }
            .btn-center{
              margin-top: 20px;
              text-align: center;
              a{
                font-size: 20px;
                span{
                  font-size: 28px;
                  vertical-align: middle;
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }

    }
  }
}
.section-cases{
  background: @brand-color url("@{backgrounds}bg-casodeexito.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 20px 0 80px 0;
  .title-sections{
    h3{
      color: @base-color;
      font-size: 40px;
      font-weight: @light;
    }
  }
  ul{
    li{
      .boxSlide{
        padding: 0 50px;
        img{
          margin: 0 auto;
        }
        p{
          color: @base-color;
          font-size: 23px;
          font-weight: @light;
          line-height: 1;
          text-align: left;
          b{
            font-weight: 600;
          }
        }
      }
    }
  }
  .slick-dots {
    bottom: -50px;
    width: 100%;
    left: 0;
    right: 0;
  }

}
.section-hires{
  padding:40px 0;
  .col-10{
    .col-6{
      img{
        width: 100%;
      }
      p{
        color: @color-text-prod;
        font-size: 27px;
        //font-weight: @medium;
        line-height: 1;
        margin-top: 75px;
        padding-right: 50px;
      }
      .btn-default{
        font-size: 20px;
        font-weight: @medium;
        padding: 20px 60px;
      }
    }
  }
}
.section-socialnetworks{
  margin-bottom: 40px;
}
.templates{
  display: none;
}
@media (max-width:@tablet-landscape){
  .section-cases{
    ul{
      li{
        .boxSlide{
          padding: 0 50px;
        }
      }
    }
  }
}
@media (max-width:@tablet-portrait){
  .section-tabs{
    .container{
      .col-10{
        .col-12{
          .tabs{
            li{
              a{
                font-size: 30px;
              }
            }
          }
          .row{
            .col-4{
              width: 50%;
            }
            .col-8{
              .views{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width:@tablet){
  .section-tabs{
    .container{
      .col-10{
        .col-12{
          .tab-container{
            .tab-content{
              ul{
                li{
                  width:50%;
                }
              }
            }
          }
        }
      }
    }
  }
  .section-hires{
    .col-10{
      .col-6{
        p{
          font-size:22px;
          margin-top: 0;
        }
      }
    }

  }
  .section-cases{
    ul{
      li{
        .boxSlide{
          padding: 0 10px;
        }
      }
    }
  }
}
@media (max-width:@mobile){
  .breadcrumb{
    .col-10{
      width: 100%;
    }
  }
  .section-tabs{
    .container{
      .col-10{
        .col-12{
          .tabs{
            li{
              a{
                font-size: 30px;
              }
            }
          }
          .tab-container{
            .tab-content{
              ul{
                li{
                  .block{
                    min-height: 500px;
                    .description{
                      p{
                        min-height: inherit;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .section-hires{
    .col-10{
      .col-6{
        width: 100%;
        text-align: center;
        p{
          font-size: 22px;
          padding-right: 0;

        }
        a{
          margin-bottom: 30px;
        }
      }
    }

  }
  .services .block .description h3{
    min-height:0;
  }
}
@media (max-width:@mobile-landscape){
  .section-tabs{
    .container{
      .col-10{
        .col-12{
          .row{
            .col-4{
              width: 100%;
            }
          }
          .tab-container{
            .tab-content{
              ul{
                li{
                  width: 100%;
                  .block{
                    min-height: inherit;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .section-cases{
    ul{
      li{
        .boxSlide{
          p{
            text-align: center;
          }
        }
      }
    }
  }
}
@media (max-width:414px){
  .section-tabs{
    .container{
      .col-10{
        .col-12{
          .tabs{
            li{
              a{
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }

}
@media (max-width:@mobile-portrait){
  .section-tabs{
    .container{
      .col-10{
        .col-12{
          .tabs{
            li{
              a{
                font-size: 21px;
              }
            }
          }
        }
      }
    }
  }
  .section-cases{
    ul{
      li{
        .boxSlide{
          padding: 0 20px;
        }
      }
    }
  }
}
