.section-banner-interna{
  a{
    background: @text-title-color;
    bottom: 0;
    border-radius: 5px 5px 0 0;
    position: absolute;
    padding: 10px 25px 10px 15px;
    right: 24%;
    z-index: 5;
    p{
      color: @base-color;
      &:before{
        content:"\e927";
        display: inline-block;
        font-family:  @icon-typography;
        font-size: 40px;
        font-weight: @light;
        vertical-align: middle;
      }
    }
  }
}
.device-text-one{
  padding: 70px 0;
  .col-10{
    .row{
      .col-6{
        box-sizing: border-box;
        h2{
          font-size: 23px;
          margin-bottom: 30px;
        }
        p{
          margin-right: 20px;
          padding-right: 30px;
        }
        img{
          width: 100%;
          //padding-left: 92px;
        }
      }
    }
  }
}
.how-it-works{
  .img-blog {
    width: 100%;
  }
  background: @bg-gray;
  padding: 70px 0;
  .quote {
    p {
      font-size: 32px;
      padding: 0 190px 30px 190px;
      line-height: 34px;
      text-align: center;
      font-style: italic;
      color: @jungle-green;
      @media (max-width: 575.98px) {
        padding: 0 20px 30px 20px;
      }
      @media (min-width: @mobile) and (max-width: 767.98px) {
        padding: 0 70px 30px 70px;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        padding: 0 90px 30px 90px;
      }
    }
  }
  h2{
    font-size: 23px;
    margin-bottom: 5px;
  }
  p{
    margin: 5px 0;
  }
  ul{
    padding-top: 0px;
    padding-left: 50px;
    li{
      margin: 25px 0 25px 20px;
      position: relative;
      p{
        display: inline-block;
        font-weight: @light;
        margin-top: 0;
        margin-bottom: 0;
        strong{
          font-weight: @medium;
        }
        span{
          display: block;
          font-weight: @light;
          padding-left: 0px;
        }
      }
      &:before{
        color: @accent-first-color;
        content:"\e91a";
        display: inline-block;
        font-family: @icon-typography;
        font-size: 40px;
        line-height: 30px;
        position: absolute;
        left: -47px;
        vertical-align: middle;
      }
    }
  }
}
.why-daas{
  padding: 70px 0;
  .col-10{
    h2{
      font-size: 23px;
      margin-bottom: 5px;
    }
    p{
      margin: 5px 0;
    }
    a{
      font-weight: 300;
      padding: 17px 40px;
      margin-top: 30px;
    }
    ul{
      padding-top: 30px;
      li{
        padding: 20px 5px;
        box-sizing: border-box;
        float: left;
        width: 25%;
        img{
          display: block;
          //max-width: 146px;
          max-width: 110px;
          margin: 0 auto;
        }
        p{
          text-align: center;
          min-height: 50px;
        }
      }
      &:after{
        content: '';
        clear: both;
        display: table;
      }
    }
  }
  .center{
    text-align: center;
  }
}
.tools-daas{
  background-color: @bg-gray;
  padding: 70px 0;
  .col-10{
    h2{
      font-size: 23px;
      margin-bottom: 5px;
    }
    .col-3 {
      .img-tools{
        display: block;
        img {
          width: 90%;
        }
      }
    }
    .col-4{
      box-sizing: border-box;
      padding: 30px 8px;
      margin-bottom: 20px;
      min-height: 390px;
      /* &:last-child{
        h3{
          margin-bottom: 0;
        }
      } */
      .img-tools{
        display: block;
        img{
          max-width: 310px;
          margin: 0 auto;
        }
      }
      .description-tools{
        h3{
          color: @accent-first-color;
          font-size: 18px;
          font-weight: @light;
          span{
            display: block;
          }
        }
        p{
          display: block;
          text-align: left;
          font-size: 14px;
          padding-right: 30px;
        }
        .txt-justify {
          text-align: justify;
        }
      }
    }
    p{
      margin: 5px 0;
      &:last-child{
        text-align: center;
      }
      a{
        font-weight: @light;
        padding: 17px 70px;;
      }
    }
  }
}
.we-are-experts{
  padding: 70px 0;
  .col-10{
    h2{
      font-size: 23px;
      margin-bottom: 5px;
    }
    p{
      margin: 5px 0;
      &:last-child{
        text-align: center;
      }
      a{
        font-weight: @light;
        padding: 17px 40px;;
      }
    }
    .col-4{
      margin: 30px 0;
      box-sizing: border-box;
      a{
        display: block;
        border: 1px solid @base-color;
        transition: all 1s;
        img{
          display: block;
          width: 100%;
          max-width: 240px;
          margin: 0 auto;
        }
        &:hover{
          border: 1px solid @accent-first-color;
        }
      }
    }
  }

}
@media(max-width:@tablet-landscape){
  .section-banner-interna{
    a{
      right: 8%;
    }
  }
  .tools-daas{
    .col-10{
      .col-4{
        .img-tools{
          img{
            max-width: 250px;
          }
        }
        .description-tools{
          h3{
            font-size: 16px;
          }
          p{
            font-size: 13px;
          }
        }
      }
    }
  }
}
@media(max-width:@tablet){
  .device-text-one{
    padding: 50px 0;
    .col-10{
      .row{
        .col-6{
          width: 100%;
        }
      }
    }
  }
  .why-daas{
    padding: 60px 0;
    .col-10{
      ul{
        li{
          width: 50%;
        }
      }
    }
  }
  .tools-daas{
    padding: 60px 0;
    .col-10{
      .col-4{
        .img-tools{
          display: block;
          img{
            max-width: 192px;
          }
        }
      }
    }
  }
  .we-are-experts{
    padding: 60px 0;
    .col-10{
      .col-4{
        img{
          display: block;
          max-width: 200px;
        }
      }
    }
  }
}
@media(max-width:@mobile){
  .device-text-one{
    .col-10{
      .row{
        .col-6{
          p{
            margin-right: 0px;
            padding-right: 0px;
          }
        }
      }
    }
  }
  .how-it-works{
    ul{
      padding-top: 0px;
      padding-left: 20px;
    }
  }
  .tools-daas{
    .col-10{
      .col-4{
        width: 100%;
        .img-tools{
          img{
            max-width: 100%;
          }
        }
        .description-tools{
          h3{
            span{
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .we-are-experts{
    padding: 60px 0;
    .col-10{
      .col-4{
        width: 100%;
        img{
          max-width: 100%;
        }
      }
    }
  }
}
@media(max-width:@mobile-portrait){
  .section-banner-interna{
    a{
      right: 12%;
    }
  }
  .how-it-works{
    padding: 40px 0;
    ul{
      li{
        p{
          span{
            display: inline;
            padding-left: 0px;
          }
        }
      }
    }
  }
  .why-daas{
    padding: 40px 0;
    .col-10{
      p{
        margin: 5px 0;
      }
      ul{
        padding-top: 20px;
        li{
          padding: 10px 5px;
          width: 100%;
        }
      }
    }
  }
  .tools-daas{
    .col-10{
      .col-4{
        padding: 9px 8px;
        width: 100%;
        .img-tools{
          img{
            max-width: 100%;
          }
        }
        .description-tools{
          h3{
            font-size: 18px;
            min-height: 24px;
          }
          p{
            font-size: 14px;
          }
        }
      }
    }
  }
}
