.breadcrumb-gray{
  background-color: @bg-gray;
}
.section-solutions{
  background-color: @bg-gray;
  padding: 10px 0 80px 0px;
  .col-10{
    h2{
      color: @brand-color;
      font-size: 40px;
      font-weight:@light;
      padding-bottom: 5px;
    }
    >div{
      :first-child {
        border-left: 1px solid #999999;
      }
    }
    .col-4{
      box-sizing: border-box;
      padding: 0 8px;
      margin-bottom: 20px;
      height: 400px;
      //padding-right: 15px;
      .image{
        a{
          display: block;
          img{
            width: 100%;
            max-width: 320px;
          }
        }
      }
      .description{
        h3{
          min-height: 52px;
          a{
            color: @brand-color;
            font-size: 20px;
            font-weight:@medium;
            &:hover{
              color:@accent-first-color;
            }
          }

        }
        p{
          color: @subtitle-color;
          font-size: 18px;
          //min-height: 80px;
          margin: 0;
        }
        a{
          color: @accent-first-color;
          font-size: 14px;
          font-weight:@medium;
          &:hover {
              color: @brand-color;
          }
        }
      }
    }
  }
}
.section-slider-partners{
  padding: 40px 0;
  .col-10{
    h2{
      color: @brand-color;
      font-size: 40px;
      font-weight:@light;
      padding-bottom: 15px;
    }
    ul{
      padding: 40px 0;
      li{
        .col-5{
          box-sizing: border-box;
          border-right: 1px solid @brand-color;
          img{
            width: 100%;
            max-width: 289px;
          }
        }
        .col-7{
          h3{
            color: @brand-color;
            font-size: 20px;
            font-weight:@medium;
            padding-left: 50px;
          }
          p{
            font-size: 18px;
            padding-left: 50px;
          }
          a{
            font-size: 14px;
            font-weight:@medium;
            padding-left: 50px;
          }

        }
      }
    }

  }
  .slick-arrow {
    &::after{
      color: @subtitle-color;
    }
  }
  .slick-arrow.slick-next {
    left: 0;
    bottom: 0px;
  }
  .slick-arrow.slick-prev {
    left: 0;
    bottom: -30px;
  }
  .slick-slider .slick-arrow:hover::after {
    color: @accent-first-color;
  }
}

@media (max-width:@tablet){
  .section-solutions{
    .col-10{
      width: 100%;
    }
  }
  .section-slider-partners{
    .col-10{
      width: 100%;
    }
  }
  .section-socialnetworks{
    .col-10{
      width: 100%;
    }
  }

}
@media (max-width:600px){
  .section-solutions {
    .col-10{
      .col-4 {
       width: 50%;
       .description{
         h3{
          min-height:52px;
         }
         p{
           min-height: 100px;
         }
       }
      }
    }
  }
  .section-slider-partners{
    .col-10{
      ul li{
        .col-5{
          width: 100%;
          border-right: none;
          img{
            margin: 0 auto;
          }

        }
        .col-7{
          width: 100%;
          h3,p, a{
            padding-left: 0;
          }

        }
      }
    }
  }
}
@media (max-width:@mobile-landscape){
  .section-solutions {
    padding: 0;
    .col-10{
      .col-4 {
       width: 100%;
       padding-bottom:30px;
       .image{
         a img{
           max-width: none;
         }
       }
       .description{
         h3{
          min-height:auto;
         }
         p{
           min-height: auto;
         }
       }
      }
    }
  }
}
