.section-about-sellcom{
	h2{
		font-size: 40px;
		font-weight: @light;
		margin-bottom: 40px;
		//padding-right: 35px;
	}
	p{
		font-size: 18px;
		font-weight: @light;
		text-align: left;
		strong{
			font-weight: @medium;
		}
	}
	.title-sections{
		text-align: left;
		margin: 40px 0px;
		h3{
			color: @text-title-color;
			display: inline-block;
			font-size: 25px;
			font-weight: @medium;
			margin: 0;
			margin-bottom: 20px;
			text-align: left;
			position: relative;

			&::after{
				background: @accent-first-color;
				bottom: -10px;
				content: '';
				height: 2px;
				left: 0;
				position: absolute;
				width: 30px;
			}
		}
	}
}
.section-numbers{
	background-color: inherit;
	margin: 30px 0;
	.col-4{
		text-align: center;
		box-sizing: border-box;
		padding: 40px 20px;
		span{
			font-size: 40px;
			font-weight: 700;
			color: @accent-first-color;
		}
		p{
			margin: 0;
		}
	}
}
.section-slider-customer{
	background-color: @brand-color;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 0 !important;
	p{
		color: @base-color;
	}
	.col-12{
		.title-sections{
			text-align: left;
			margin: 40px 0px;
			h2{
				color: @base-color;
				font-size: 40px;
				font-weight: @light;
				text-align: left;
				margin: 0;
				position: relative;

				&::after{
					background: @accent-first-color;
					bottom: -10px;
					content: '';
					height: 2px;
					left: 0;
					position: absolute;
					width: 30px;
				}
			}
		}
		.logos{
			li{
				img{
					width: 100%;
					margin: 0 auto;
					max-width: 215px;
				}
			}
		}
		.list-logos{
			text-align: center;
			li{
				display: inline-block;
				float: none;
				margin: 1%;
				max-width: 140px;
				padding: 0;
				text-align: center;
				width: auto;
				box-sizing: border-box;
				img{
					width: auto;
					max-height: 56px;
					max-width: 140px;
					margin: 0 auto;
				}
			}
		}

	}
	.slick-dots {
			bottom: -60px;
			width: 100%;
			left: 0;
			right: 0;
	}
}
.section-slider-customer{
	background-color: @brand-color;
	padding-top: 40px;
	padding-bottom: 120px;
	.slick-slider .slick-arrow.slick-prev::after {
		content: "\e925";
	}
	.slick-slider .slick-arrow::after {
		content: "\e926";
	}
	.slick-slider .slick-arrow.slick-prev {
		left: 10px;
		bottom: 30%;
	}

	.slick-slider .slick-arrow.slick-next {
		right: 10px;
		bottom: 30%;
	}
	.slick-slider .slick-arrow:hover::after {
    color: @accent-first-color;
	}
	margin-bottom: 40px;

	.col-12{
		.slider-tabs{
			// display: block;
			background-color: @brand-color;
			padding: 30px 70px;
			position: relative;
			li{
				&.slick-slide {
					width: auto !important;
					padding: 0 20px;
					@media (max-width: @mobile) {
						width: 175px!important;
					}
					img {
						display: block;
						width: 80%;
						@media (max-width: @mobile) {
							width: 100%;
						}
					}
				}
				a{
					color: @base-color;
				}
			}
			.active{
				a{
					color: @accent-first-color;
				}
			}

		}

		.tab{
			display: none;
			background-color: @bg-gray;
			//background-color: red;
			padding: 0;
			margin: 0;
			.col-6{

				img{
					display: block;
					width: 100%;
				}
				ul{
					padding-top: 50px;
					list-style-type: disc;
					width: 80%;
					margin: 0 auto;
					li{
						color: @bg-footer;
						font-size: 18px;
						padding-bottom: 20px;


					}
				}
				.center{
					text-align: center;
					a{
						font-size: 18px;
						font-weight: @medium;
					}
				}
			}
		}
		.active{
			display: block;
		}


		// ul{
		// 	border-bottom: 1px solid @hover-button;
		// 	li{
		// 		display: inline-block;
		// 		padding: 0 10px;
		// 		a{
		// 			color: red;
		// 		}
		// 		h4{
		// 			//color: @text-color;
		// 			color: red;
		// 			font-size: 14px;
		// 		}
		// 		&.active h4{
		// 			color: @hover-button;
		// 			font-weight: @bold;
		// 		}
		// 	}
		// }

		// .tab-container{
		// 	.tab-content{
		// 		display: none;
		// &:first-child{
		//   display: block;
		// }
		// 		.col-6{
		// 			img{
		// 				width: 100%;
		// 			}
		// 		}
		// 		.col-6{
		// 			p{
		// 				color: @text-color;
		// 				font-size: 18px;
		// 				padding: 0px 40px;
		// 			}
		// 		}
    //
		// 	}
		// }
	}
}

.section-socialnetworks{
	margin-top: 20px;
}
@media(max-width: @tablet-portrait){
	.section-slider-customer{
		.col-10{
			width: 100%;
		}
	}
	.section-numbers{
		.col-4{
			width: 100%;
		}
	}
}

@media(max-width:@phablet){
	.section-slider-customer{
		.col-10{
			.logos{
				li{
					width: 50%;
				}
			}

			.list-logos{
				text-align: center;
				li{
					display: inline-block;
					float: none;
					max-width: 30%;
					width: 30%;
					&:nth-child(8), &:nth-child(9), &:nth-child(10){
						margin: 0;
						max-width: 30%;
						padding: 0;
						width: 30%;
					}

				}
			}


		}
	}
}
@media(max-width: @mobile){
	.section-slider-customer{
		.col-10{
			.logos{
				li{
					width: 100%;
				}
			}

			.list-logos{
				text-align: center;
				li{
					display: inline-block;
					float: none;
					max-width: 45%;
					width: 45%;
					&:nth-child(8), &:nth-child(9), &:nth-child(10){
						margin: 0;
						padding: 0;
						max-width: 45%;
						width: 45%;
					}

				}
			}

		}
	}
}
