.develope{
  padding: 50px 0;
  .col-10{
    .row{
      .col-6{
        box-sizing: border-box;
        h2{
          font-size: 23px;
          margin-bottom: 30px;
          margin-left: 20px;
          margin-top: 0;
          padding-left: 30px;
        }
        p{
          margin-left: 20px;
          padding-left: 30px;
        }
        img{
          width: 100%;
          //padding-left: 92px;
        }
      }
    }
  }
}
.services-portfolio{
  background: @whiteSmoke;
  padding: 20px 0;
  h2{
    text-align: center;
  }
  ul{
    text-align: center;
    li{
      display:inline-block;
      margin: 0 6px;
      vertical-align: top;
      width: 23%;
      p{
        text-align: center;
      }
      img{
        display: block;
        max-width: 110px;
        margin: 0 auto;
      }
    }
  }
}
.networking-red{
  padding: 50px 0;
  .col-10{
    h2{
      font-size: 23px;
      margin-bottom: 50px;
      margin-left: 20px;
      padding-left: 30px;
    }
    .row{
      .col-6{
        box-sizing: border-box;
        img{
          width: 100%;
          //padding-left: 92px;
        }
        .box{
          width: 80%;
          margin-left: 20%;
          border-bottom: 1px dotted @brand-color;
          padding: 20px;
          box-sizing: border-box;
          position: relative;
          &:last-child{
            border: none;
          }
          &:nth-child(1){
            &:before{
              content: '';
              background: @accent-first-color;
              left:-20px;
              height: 90%;
              position: absolute;
              width: 5px;
              top: 4px;
            }
            &:after{
              content: '';
              position: absolute;
              bottom: 15px;
              left: -35px;
              width: 30px;
              height: 30px;
              display: block;
              border: 5px solid @accent-first-color;
              border-top: none;
              border-left: none;
              transform: rotate(45deg);
            }
          }
          &:nth-child(2){
            &:before{
              content: '';
              background: @accent-first-color;
              left:-20px;
              height: 90%;
              position: absolute;
              width: 5px;
              top:10px;
            }
            &:after{
              content: '';
              position: absolute;
              top: 15px;
              left: -35px;
              width: 30px;
              height: 30px;
              display: block;
              border: 5px solid @accent-first-color;
              border-top: none;
              border-left: none;
              transform: rotate(224deg);
            }
          }

          // &:first-child{
          //   &:after{
          //     content: '';
          //     width:  288px;
          //     height: 2px;
          //     border-bottom: 1px dotted;
          //     margin-top: 20px;
          //     position: absolute;
          //     margin-left: 50px;
          //   }
          // }
          p{
            margin: 0;
            padding-left: 0;
          }
        }
      }
    }
  }
}
.monitoring{
  margin-top: 60px;
  position:relative;
  .section-socialnetworks{
    bottom: 0;
    position: absolute;
    width: 100%;
    ul.social{
      li{
        span{
          color: @base-color;
        }
      }
    }
  }
  .image-monitoring{
    height: 645px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
    img{
      position: absolute;
      max-width: 1920px;
      left: 50%;
      right: -100%;
      margin-left: -960px;
    }
    .container{
      position: relative;
      top:250px;
      text-align: center;
      h2{
        color: @base-color;
        font-size: 35px;
        margin-bottom: 10px;
        text-align: center;
      }
      p{
        a{
          font-weight: @light;
          text-align: center;
          margin-top: 25px;
          display: inline-block;
          padding: 20px 40px;
        }
      }
    }
  }
}
@media(max-width: @tablet){
  .develope{
    .col-10{
      .row{
        .col-6{
          width: 100%;
          margin-top: 20px;
          h2{
            padding-left: 0;
          }
          p{
            padding-left: 0;
          }
        }
      }
    }
  }
  .services-portfolio{
    ul{
      li{
        width: 45%;
      }
    }
  }
  .networking-red{
    .col-10{
      .row{
        .col-6{
          width: 100%;
          &:last-child{
            margin-top: 35px;
          }
          .box{
            margin-left: 10%;
          }
        }
      }
    }
  }
}
@media(max-width: @mobile){
  .image-monitoring{
    img{
      position: absolute;
      max-width: 1920px;
      left: 50%;
      right: -100%;
      margin-left: -1050px;
    }
  }
}
@media(max-width: @mobile-landscape){
  .services-portfolio{
    ul{
      li{
        width: 80%;
      }
    }
  }
}
@media(max-width: @mobile-portrait){
  .services-portfolio{
    ul{
      li{
        width: 100%;
      }
    }
  }
}
