.header-thankyou{
  top:5%;
  position: absolute;
  width: 100%;
  z-index: 1;
  .row{
    .col-10{
      h1{
        margin:0;
        img{
          height: 56px;
        }
        span{
          color: @brand-color;
          font-size: 15px;
          display: block;
          position: absolute;
          padding-left: 6px;
          top: 60px;
          &:after{
            content: '';
            display: block;
            width: 30px;
            background: @accent-first-color;
            height: 2px;
            margin-top: 5px;
            position: absolute;
          }
        }
      }
    }
    .col-2{
      text-align: right;
      a{
        color: @brand-color;
        span{
          line-height: 2;
        }
        &:hover{
          color: @accent-first-color;
        }
      }
    }
  }
}
.thankyou-text{
  margin-top: 120px;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  h2{
    color: @brand-color;
    font-size: 30px;
    font-weight: @bold;
    margin-bottom: 10px;
  }
  p{
    color: @brand-color;
    font-size: 18px;
    margin-top: 10px;
  }
  a{
    font-size: 21px;
    font-weight: @light;
    margin-top: 30px;
    padding: 20px 40px;
  }
}
.thanks-image{
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  min-height: 450px;
  width: 100%;
  img{
    display: block;
    left: -100%;
    right: -100%;
    margin: auto;
    position: absolute;
    max-width: 1200px;
    height: auto;
  }
}
@media(max-width: @tablet){
  .thankyou-text{
    h2{
      font-size: 26px;
    }
    p{
      font-size: 16px;
    }
  }
}
@media(max-width: @phablet){
  .thanks-image{
    min-height: 270px;
    img{
      max-width: @phablet;
    }
  }
}
