.row {
    .col-10 {
        &.vertical-col {
            display: flex;
            @media (max-width: 575.98px) {
                display: block;
            }
            .col-4 {
                &.icon-vertical {
                    display: flex;
                    align-items: center;
                    img {
                        display: block;
                        margin: 0 auto;
                        width: 40%;
                    }
                }
                @media (max-width: 575.98px) {
                    width: 100%;
                }
            }
            .col-6{
                @media (max-width: 575.98px) {
                    width: 100%;
                }
            }            
        }
    }
}
.section-banner-dass-vertical {
    // img.banner{
    //     height: 550px;
    // }
    .banner-vr {
        background-image: url("@{backgrounds}vertical_soluciones_banner.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 550px;
        width: 100%;
        height: auto;
        position: absolute;
        .container{
            .content.algo{
                position: relative;
                text-align: justify;
                margin-top: 100px;
                color:@white;
                margin:100px 150px;
                padding: 0 30px;
            }  
        }
    }
    .banner-vr-2 {
        background-image: url("@{backgrounds}vertical_soluciones_banneraviso.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 550px;
        width: 100%;
        height: auto;
        position: absolute;
        .container{
            .content.algo{
                position: relative;
                text-align: justify;
                margin-top: 100px;
                color:@white;
                margin:100px 150px;
                padding: 0 30px;
            }  
        }
    }
    .banner-vr-home {
        background-image: url("@{backgrounds}banner_new.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 550px;
        width: 100%;
        height: auto;
        position: absolute;
        .container{
            .content.algo{
                position: relative;
                text-align: justify;
                margin-top: 100px;
                color:@white;
                margin:100px 150px;
                padding: 0 30px;
            }  
        }
    }
}
.section-verticales{
    .col-10{
        .altura{
            width: 20%;
            margin:0px 50%;
            display:block;
        
        }
        .altura2{
            width: 40%;
            margin:0px 40%;
		    display:block; 
            z-index:3;  
        }
    }
    .col-6{
        width: 65%;
        .derecha{
            text-align: right;
        }
        
    }
    .title-sections{
        h3::after{
            background: @accent-first-color;
            bottom: -10px;
            content: '';
            height: 2px;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            width: 100%;
        }
    }
   
}
.section-about-dass#dass{
    .title-sections{
        h3::after{
            background: @accent-first-color;
            bottom: -10px;
            content: '';
            height: 2px;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            width: 100%;
        }
    }
}
.section-banner-dass-vertical.mundo {
    height: 528px;
    overflow: hidden;
    position: relative;
}
//ESTILOS EN CONÓCENOS
.section-about-sellcom{
    .banner{
        height: 100px;
    }
    .title-sections{
        h3::after{
            background: @accent-first-color;
            bottom: -10px;
            content: '';
            height: 2px;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            width: 100%;
        }
    }
}
//SLIDER RECONOCIMIENTO
.section-slider-customer#herramientas{
    background-color: @reconocimiento-slider;
    height: 230px;
    .slider-tabs{
        padding-top: 30px;
        background-color: @reconocimiento-slider;
        p{
            color: @nuevo-texto;
        }
        //-.slider-tabs button {
            //-color: red;
        //-}
    }
}
.section-slider-customer .col-12 .slider-tabs li.slick-slide {
    width: auto!important;
    padding: 0px 30px;
    text-align: center;
}
.section-slider-customer .col-12 .slider-tabs li.slick-slide#ancho {
    width: auto!important;
    padding: 0px 70px;
    text-align: center;
}
.section-slider-customer .col-12 .slider-tabs li.slick-slide#ancho2 {
    width: auto!important;
    padding: 0px 76px;
    text-align: center;
}
//SLIDER HOME
.section-slider-customer#herramientas2{
    background-color:@nuevo-footer;
    height: 230px;
    .slider-tabs{
        //-padding-top: 30px;
        background-color: @nuevo-footer;
        height: 150px;
        
    }
}
//-footer
//-.section-footer {
   //- background-color:red;
   //- padding: 20px 0;
//-}