//-
  Perfiles posibles para llamar dentro de las páginas los archivos
  JS y CSS
- var CONST_DEV_PROFILE = 'dev'
- var CONST_PROD_PROFILE = 'prod'
//-
  Nivel de carpeta, dependiendo donde se use
- var global_path = ''
//-
  Perfil activo por default para llamar los JS y CSS
- var current_profile = 'prod'
//-Incluir los script ya concatenados
//- var concatenate = true
//-
  Almacena atributos globales del sitio
  Ejemplo: Título
- var site = {}
- site['lang'] = 'es-mx'
- site['title'] = 'Sellcom - Soluciones que transforman'
- site['base'] = {}
- site['base']['dev'] = 'http://127.0.0.1/dist/dev/'
- site['base']['prod'] = 'http://127.0.0.1/dist/prod/'
//-
  En caso de que se requieran fuentes almacenadas en servidores externos
  Ejemplo: Google Fonts
- var fonts = 'https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800'
//-Styles
- var styles = {}
- styles['base'] = 'css/'
- styles['global'] = {}
- styles['global']['dev'] = styles.base + 'style.css' +"?v1.0.1"
- styles['global']['prod'] = styles.base + 'style.min.css' +"?v1.0.1"
//-Documents
- var documents = {}
- documents['base'] = 'documents/'
//-Images
- var images = {}
- images['base'] = 'images/'
- images['global'] = images.base + 'global/'
- images['home'] = images.base + 'home/'
- images['sellcom_hpe'] = images.base + 'sellcom_hpe/'
- images['products_services'] = images.base + 'products_services/'
- images['sellcom_about'] = images.base + 'sellcom_about/'
- images['sellcom_solutions'] = images.base + 'sellcom_solutions/'
- images['sellcom_dass'] = images.base + 'sellcom_dass/'

- images['products_apple'] = images.base + 'products_apple/'
- images['products_blackberry'] = images.base + 'products_blackberry/'
- images['products_veeam'] = images.base + 'products_veeam/'
- images['products_servicenow'] = images.base + 'products_servicenow/'
- images['products_aranda'] = images.base + 'products_aranda/'
- images['products_jamf'] = images.base + 'products_jamf/'
- images['products_owncloud'] = images.base + 'products_owncloud/'
- images['products_getac'] = images.base + 'products_getac/'
- images['products_blancco'] = images.base + 'products_blancco/'
- images['products_redhat'] = images.base + 'products_redhat/'
- images['products_cyberc'] = images.base + 'products_cyberc/'
- images['products_huawei'] = images.base + 'products_huawei/'
- images['products_nutanix'] = images.base + 'products_nutanix/'
- images['products_vmware'] = images.base + 'products_vmware/'
- images['products_zoox'] = images.base + 'products_zoox/'
- images['products_netapp'] = images.base + 'products_netapp/'
- images['products_azure'] = images.base + 'products_azure/'
- images['products_microsoft'] = images.base + 'products_microsoft/'
- images['products_mfseguridad'] = images.base + 'products_mfseguridad/'
- images['products_mfitom'] = images.base + 'products_mfitom/'
- images['products_mfvertica'] = images.base + 'products_mfvertica/'
- images['products_mfdevops'] = images.base + 'products_mfdevops/'
- images['products_aruba'] = images.base + 'products_aruba/'
- images['products_opentext'] = images.base + 'products_opentext/'
- images['products_hp'] = images.base + 'products_hp/'
- images['products_hpe'] = images.base + 'products_hpe/'
- images['products_qlik'] = images.base + 'products_qlik/'
- images['products_suse'] = images.base + 'products_suse/'
- images['products_naudit'] = images.base + 'products_naudit/'
- images['blog_blackberry'] = images.base + 'blog_blackberry/'
- images['blog_bbva'] = images.base + 'blog_bbva/'
- images['blog'] = images.base + 'blog/'

- images['services_desarrollo'] = images.base + 'services_desarrollo/'
- images['services_digitalizacion'] = images.base + 'services_digitalizacion/'
- images['services_pentest'] = images.base + 'services_pentest/'
- images['services_tiempos'] = images.base + 'services_tiempos/'

- images['solutions_proveedores'] = images.base + 'solutions_proveedores/'
- images['solutions_lealtad'] = images.base + 'solutions_lealtad/'
- images['solutions_mesa'] = images.base + 'solutions_mesa/'
- images['solutions_daas'] = images.base + 'solutions_daas/'
- images['solutions_mps'] = images.base + 'solutions_mps/'
- images['solutions_monitoreo'] = images.base + 'solutions_monitoreo/'
- images['solutions_wifi'] = images.base + 'solutions_wifi/'
- images['solutions_analitica'] = images.base + 'solutions_analitica/'
- images['thanks'] = images.base + 'thanks/'
- images['products_daas'] = images.base + 'products_daas/'
- images['sellcom_itsm'] = images.base + 'sellcom_itsm/'
- images['services_solutions'] = images.base + 'services_solutions/'
- images['landing_page'] = images.base + 'landing_page/'


//-
  Ejemplo de la distribución de carpetas de imágenes
  nombre-del-sitio-nombre-de-la-seccion-banner-1.jpg
  - images['logos'] = images.base + 'logos/'
  - images['banners'] = images.base + 'banners/'
  - images['carousel'] = images.base + 'carousel/'
//-Scripts
- var scripts = {}
- scripts['base'] = 'js/'
- scripts['global'] = scripts.base + 'global/'
- scripts['libs'] = scripts.base + 'libs/'
- scripts['plugins'] = scripts.base + 'plugins/'
- scripts['controllers'] = scripts.base + 'controllers/'
- scripts['ui'] = scripts.base + 'ui/'
- scripts['core'] = scripts.base + 'core/'

//-
  - Ejemplo para la estructura para el resto de módulos JS
  - scripts['utils'] = scripts.base + 'utils/'
  - scripts['core'] = scripts.base + 'core/'
  - scripts['models'] = scripts.base + 'models/'
  - scripts['ui'] = scripts.base + 'ui/'
  - scripts['network'] = scripts.base + 'network/'
  - scripts['view'] = scripts.base + 'view/'
//-Url's
- var url = {};
//-
  - Ejemplo para configurar las variables url del sitio
  - url['section'] = '/section/example.html';
