
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Veeam + Microsoft'
- var metadata = {}
- metadata['title'] = 'Sellcom - Veeam + Microsoft'
- metadata['description'] = 'Para nuestros dispositivos Apple contamos con el servicio de enrolamiento, el cual consta de la configuración automática a la imagen, políticas, restricciones y complementos que nos defina el cliente.'
- metadata['keywords'] = 'Apple, enrolamiento, DEP'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.landing_page + 'veeam_microsoft_sellcom_1.jpg'
- local_images.images['imgbase'] = global_path +  images.blog + 'Qlik_footer_2.jpg'
- local_images.images['hires'] = global_path + images.products_services + 'sellcom-products-contrata.png'
- local_images.images['img1'] = global_path +  images.landing_page + 'veeam_microsoft_sellcom_1.jpg'
- local_images.images['img2'] = global_path +  images.landing_page + 'veeam_microsoft_sellcom_2.jpg'
- local_images.images['banner'] = global_path +  images.landing_page + 'veeam_microsoft_sellcom_2.jpg'

//- numbers
- local_images.images['num1'] = global_path +  images.landing_page + 'numbers-01.png'
- local_images.images['num2'] = global_path +  images.landing_page + 'numbers-02.png'
- local_images.images['num3'] = global_path +  images.landing_page + 'numbers-03.png'
- local_images.images['num4'] = global_path +  images.landing_page + 'numbers-04.png'
- local_images.images['num5'] = global_path +  images.landing_page + 'numbers-05.png'
- local_images.images['num6'] = global_path +  images.landing_page + 'numbers-06.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    - var blog = true;
    include ../template/_header
    section.section-video-dass
        img.banner(src=local_images.images.banner, alt="banner")
        .boxVideo
            video#secondVideo(autoplay loop muted)
                source(src="../images/video/Veam_header.mp4" type="video/mp4")
        .container
            .content
                br
                .title-sections
                    h1 Veeam + Microsoft
                p Better Together
    section.section-landig-page
      .container
        .row
            .col-10.middle.landing-content
                h3.txt-center ¿Por qué las organizaciones deben proteger los datos de Office 365?
                h3.txt-center ¿Tiene usted el control de sus datos de Office 365?
                h3.txt-center ¿Tiene acceso a todos los elementos que necesita? 
                p.txt-justify Esta y otras preguntas surgen al adquirir los servicios de Office 365,  si bien Microsoft se ocupa administrar la infraestructura de Office 365 y mantener el tiempo de actividad para sus usuarios.
                p.txt-justify Ellos le otorgan a USTED la responsabilidad de sus datos, el concepto de que Microsoft realiza backups completos de todos sus datos por usted es bastante común y, sin embargo el no ocuparse de dicha actividad podría tener repercusiones para la continuidad de su negocio. 
                p.txt-justify Microsoft Office 365 ofrece redundancia geográfica, lo que generalmente se confunde con el backup. 
                p.txt-justify El backup se realiza cuando se crea una copia de los datos del historial y es almacenada en otra ubicación. Sin embargo, es aún más importante que usted tenga acceso directo a ese backup y control sobre él. De esta manera, si los datos se pierden, son eliminados por accidente o son atacados malintencionadamente, usted podrá recuperarlos rápidamente. En cambio, la redundancia geográfica brinda protección contra fallas del sitio o del hardware. Por lo tanto, si hay una interrupción o la infraestructura se cae, sus usuarios permanecerán activos y generalmente ajenos a estos problemas subyacentes.
                br
        .row
            .col-10.middle
                .col-6
                    img.landing-img(src=local_images.images.img1 alt='Veeam + Microsoft')
                .col-6
                    img.landing-img(src=local_images.images.img2 alt='Veeam + Microsoft')
        .row
            .col-8.middle
                h2.txt-center 6 razones por las que realizar backupde Office 365 es fundamental
                br
                p.txt-justify Como una plataforma de SaaS sólida y altamente capaz, Microsoft Office 365 se adapta perfectamente a las necesidades de muchas organizaciones. Office 365 proporciona disponibilidad de aplicaciones y tiempo de actividad para asegurar que sus usuarios nunca se vean afectados, pero un backup de Office 365 puede protegerlo contra muchas otras amenazas de seguridad.
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num1 alt='Veeam + Microsoft')
                .text-landing
                    h2 Eliminación Accidental 
                    p.txt-justify Si usted elimina a un usuario, ya sea de forma intencional o no, esa eliminación se replica en la red junto con la eliminación de su sitio personal de SharePoint y sus datos de OneDrive.
                    p.txt-justify La papelera de reciclaje nativa y las versiones de historiales incluidas en Office 365 solo pueden brindarle una protección contra la pérdida de datos de manera limitada, una vez que Office 365 haya eliminado los datos para siempre a través de redundancia geográfica o se agote el período de retención, será imposible realizar la recuperación. 
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num2 alt='Veeam + Microsoft')
                .text-landing
                    h2 Confusión y brechas en la política de retención
                    p.txt-justify Office 365 tiene políticas limitadas de backup y retención que solo pueden repeler ciertas situaciones de pérdida de datos, y no pretenden ser una solución de backup integral.
                    p.txt-justify Con una solución de backup de Office 365, no existen brechas en la política de retención o inflexibilidad en la restauración. Backups a corto plazo o archivos a largo plazo, restauraciones granulares o en un punto en el tiempo: todo está al alcance de su mano, lo que permite una recuperación de datos rápida, fácil y confiable.

            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num3 alt='Veeam + Microsoft')
                .text-landing
                    h2 Amenazas a la seguridad Interna 
                    p.txt-justify La idea de una amenaza de seguridad lleva a pensar en hackers y virus. Sin embargo, las empresas experimentan amenazas desde su interior, y suelen ocurrir más veces de lo que usted cree. Las organizaciones han sido víctimas de amenazas provocadas por sus propios empleados, tanto intencional como accidentalmente.
                    p.txt-justify Microsoft no tiene manera de saber la diferencia entre un usuario regular y un empleado despedido que intenta eliminar los datos críticos de la empresa antes de su partida. Además, algunos usuarios crean amenazas graves sin darse cuenta al descargar archivos infectados o filtrando accidentalmente nombres de usuarios y contraseñas a sitios que pensaban que eran confiables.
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num4 alt='Veeam + Microsoft')
                .text-landing
                    h2 Amenazas a la seguridad Externa
                    p.txt-justify El malware y los virus, como el ransomware, han provocado daños graves a organizaciones a nivel mundial. No solo se pone en riesgo la reputación de la empresa, sino también la privacidad y seguridad de los datos internos y del cliente.
                    p.txt-justify Las amenazas externas pueden introducirse sigilosamente a través de correos electrónicos o archivos adjuntos, y no siempre es suficiente con educar a los usuarios sobre el cuidado que se debe tener, especialmente cuando esos mensajes infectados parecen ser tan atractivos.
                    p.txt-justify Las funciones limitadas de backup/recuperación de Exchange Online no son adecuadas para manejar ataques graves.
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num5 alt='Veeam + Microsoft')
                .text-landing
                    h2 Requisitos legales y de cumplimiento
                    p.txt-justify La recuperación  de correos electrónicos, archivos u otros tipos de datos en medio de una acción legal de forma inesperada es  algo que usted puede pensar  que nunca va a suceder, hasta que ocurre. Microsoft ha creado un par de redes de seguridad (Retención por juicio) pero, nuevamente, no son una solución de backup sólida capaz de mantener a su empresa libre de problemas legales. Por ejemplo, si usted elimina accidentalmente a un usuario, su buzón en retención, sitio personal en SharePoint  y cuenta en OneDrive también se eliminarán.
                    p.txt-justify Los requisitos legales y de cumplimiento, así como las  regulaciones de acceso, varían en cada industria y país, pero las multas, penalidades y las disputas legales son tres cosas que no pueden estar en su lista de tareas pendientes.
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num6 alt='Veeam + Microsoft')
                .text-landing
                    h2 Manejo de implementaciones de correo híbrido y migraciones a Office 365
                    p.txt-justify Las organizaciones que adoptan Office 365 generalmente necesitan una ventana de tiempo para que sirva como una ventana de transición entre Exchange en las instalaciones y Office 365 Exchange Online. Algunos incluso dejan una pequeña porción de su sistema tradicional en funcionamiento para tener una mayor flexibilidad y control adicional. La implementación de estos correos híbridos es común, pero plantea desafíos adicionales de administración.
                    p.txt-justify La solución adecuada de backup para Office 365 debería ser capaz de manejar las implementaciones de correo híbrido  y también tratar los datos de intercambio, de forma  que la ubicación original se vuelva irrelevante.
            .col-8.middle.btn_landing
                h1.txt-center Conclusión
                p.txt-justify Las soluciones innovadoras de Veeam Backup brindan a las empresas el control para poder administrar y retener el acceso a su información de manera inteligente. Esto con el fin de gobernar de forma adecuada lo información,  contar con cumplimiento y recuperación eficiente. 
                p.txt-justify Más de 55,000 empresa usan ya Veeam Backup para Microsoft Office 365, restaurando de manera más rápida elementos individuales. Esto a través de las diversas opciones flexibles de recuperación y proporcionando la capacidad para automatizar y escalar de forma eficiente un flujo de ingresos basado en el respaldo de Office 365.
        .row
            .col-8.btn_landing
                a.btn-default(href='http://eepurl.com/gFpw79') Contácta a un representante
            include ../template/_social
    include ../template/_footer