
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'VMware + Azure'
- var metadata = {}
- metadata['title'] = 'Sellcom - VMware + Azure'
- metadata['description'] = 'Para nuestros dispositivos Apple contamos con el servicio de enrolamiento, el cual consta de la configuración automática a la imagen, políticas, restricciones y complementos que nos defina el cliente.'
- metadata['keywords'] = 'Apple, enrolamiento, DEP'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'banner_apple.jpg'
- local_images.images['imgbase'] = global_path +  images.blog + 'Qlik_footer_2.jpg'
- local_images.images['hires'] = global_path + images.products_services + 'sellcom-products-contrata.png'
- local_images.images['img1'] = global_path +  images.landing_page + 'vmware_azure_1.png'
- local_images.images['img2'] = global_path +  images.landing_page + 'vmware_azure_2.png'
- local_images.images['banner'] = global_path +  images.landing_page + 'veeam_microsoft_sellcom_2.jpg'

//- numbers
- local_images.images['num1'] = global_path +  images.landing_page + 'numbers-01.png'
- local_images.images['num2'] = global_path +  images.landing_page + 'numbers-02.png'
- local_images.images['num3'] = global_path +  images.landing_page + 'numbers-03.png'
- local_images.images['num4'] = global_path +  images.landing_page + 'numbers-04.png'
- local_images.images['num5'] = global_path +  images.landing_page + 'numbers-05.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    - var blog = true;
    include ../template/_header
    section.section-video-dass
        img.banner(src=local_images.images.banner, alt="banner")
        .boxVideo
            video#secondVideo(autoplay loop muted)
                source(src="../images/video/VMware_header.mp4" type="video/mp4")
        .container
            .content
                br
                .title-sections
                    h1 Soluciones de VMware en Azure
                p Ejecute las cargas de trabajo de VMware de forma nativa en Azure
    section.section-landig-page
      .container
        .row
            .col-10.middle.landing-content
                br
                h2.txt-center Mueva o amplíe los entornos locales de VMware a Azure
                p.txt-justify Aprovisione la infraestructura de VMware en la nube en cuestión de minutos y modernice sus aplicaciones a su propio ritmo. 
                p.txt-justify Mueva las cargas de trabajo basadas en WMware sin problemas desde el centro de datos  e integre el entorno con Azure;  administre los entornos existentes con las mismas herramientas de VMware que ya conoce. Las soluciones son entregadas por  Microsoft, verificadas por Vmware y  ejecutadas en la infraestructura de Azure
                p.txt-justify VMware Solution en Azure de CloudSimple es un servicio totalmente administrado que le permite ejecutar la plataforma VMware en Azure. Esta solución incluye vSphere, vCenter, vSAN, NSX-T y las herramientas correspondientes. Su entorno VMware se ejecuta de forma nativa en la infraestructura de Azure bare metal en ubicaciones en la nube de Azure. El servicio incluye todas las características necesarias para consumir las plataformas VMware de manera eficiente y segura.
                br
        .row
            .col-10.middle
                .col-5
                    img.landing-img(src=local_images.images.img1 alt='Veeam + Microsoft')
                .col-7
                    img.landing-img(src=local_images.images.img2 alt='Veeam + Microsoft')
        .row
            .col-10.middle
                br
                h2.txt-center Descubra por qué Azure es la mejor nube para sus cargas de trabajo de VMware
                br
                .landing-align
                    p.txt-center Aprovisionamiento de autoservicio y capacidad para agregar y eliminar capacidad bajo demanda.
                .landing-align
                    p.txt-center Implementación de plataforma Vmware: Actualización, respaldo del plano de administración, monitoreo de salud / capacidad, alertas, solución de problemas y remediación.
                .landing-align
                    p.txt-center Servicios de red subyacentes  para habilitar VMware, incluidos los servicios L2 / L3 y la gestión de reglas de firewall.
                .landing-align
                    p.txt-center Servicios de red de tipo borde, que incluyen VPN, IP pública y puertas de enlace de Internet. Estos servicios perimetrales se ejecutan en Azure y llevan la seguridad correspondiente y la protección DDoS de Azure.
                .landing-align
                    p.txt-center Reserva de capacidad para reducir costos.
                .landing-align
                    p.txt-center Conectividad de alta velocidad y baja latencia a Azure y local
                .landing-align
                    p.txt-center La infraestructura está totalmente dedicada a usted y está aislada físicamente de la infraestructura de otros clientes.
                .landing-align
                    p.txt-center Funciones de administración tales como:  Administración de actividades, uso, facturación / medición y administración de usuarios.
            .col-10.middle
                h2.txt-center Beneficios
                br
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num1 alt='VMware + Azure')
                .text-landing
                    h2 Continuidad operacional
                    p.txt-justify CloudSimple ofrece acceso nativo a las plataformas VMware. La arquitectura CloudSimple es compatible con su existente:
                    p.txt-justify Aplicaciones | Operaciones| Seguridad | Apoyo | Recuperación de desastres | Auditoría | Herramientas de cumplimiento | Procesos
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num2 alt='VMware + Azure')
                .text-landing
                    h2 Sin reentrenamiento
                    p.txt-justify La compatibilidad de la plataforma VMware le permite utilizar las habilidades y conocimientos existentes.
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num3 alt='VMware + Azure')
                .text-landing
                    h2 Infraestructura Ágil
                    p.txt-justify Ya no tiene que predecir todas sus necesidades de capacidad y luego terminar con una capacidad desperdiciada o escasez de infraestructura. CloudSimple se entrega como un servicio en la nube, y puede agregar o reducir la capacidad en cualquier momento.
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num4 alt='VMware + Azure')
                .text-landing
                    h2 Seguridad
                    p.txt-justify El acceso al entorno CloudSimple a través de Azure proporciona protección DDoS incorporada y monitoreo de seguridad.
            .col-10.middle.landing-rows
                .icon-left
                    img.number-icon(src=local_images.images.num5 alt='VMware + Azure')
                .text-landing
                    h2 Monitoreo de infraestructura
                    p.txt-justify Resolución de problemas y soporte . CloudSimple opera su infraestructura subyacente como un servicio. El hardware defectuoso se reemplaza automáticamente. Puede concentrarse en el consumo mientras CloudSimple asegura que el entorno funcione sin problemas.
            .col-10.middle
                br
                h2.txt-center El fácil aprovisionamiento de VMware en Azure abre escenarios cruciales para nuestros clientes  
                br
                .landing-align
                    p.txt-center Retiro o migración del centro de datos: Si necesita retirar su centro de datos y necesita una forma rápida y directa de mover sus cargas de trabajo de VMware existentes, Azure es un excelente lugar para alojar estas cargas de trabajo, esto le dará tiempo para modernizar sus aplicaciones a mediano y largo plazo.
                .landing-align
                    p.txt-center Expansión bajo demanda: Si está ejecutando su entorno VMware y necesita más capacidad bajo demanda, puede extenderlo a Azure.
                .landing-align
                    p.txt-center Recuperación ante desastres: Puede usar Azure como su sitio de recuperación para sus cargas de trabajo locales de VMware
                .landing-align
                    p.txt-center Escritorios virtuales: Si está ejecutando una solución VDI sobre VMware, también puede alojar la infraestructura en Azure.
                .landing-align
                    p.txt-center Hospedaje de aplicaciones de alto rendimiento: La solución CloudSimple proporciona una arquitectura hiperconvergente diseñada para ejecutar cargas de trabajo de alto rendimiento.
                .landing-align
                    p.txt-center Nube híbrida: Abre escenarios para que las empresas ejecuten escenarios de nube híbrida, sin la necesidad de cambiar todas sus herramientas y volver a diseñar sus cargas de trabajo
        .row
            .col-8.btn_landing
                a.btn-default(href='http://eepurl.com/gF4sEz') Contácta a un representante
            include ../template/_social
    include ../template/_footer
