.section-banner-blog{
	height: 420px;
	overflow: hidden;
	position: relative;
	//text-align: center;
	.banner{
		display: block;
		left: 50%;
		margin-left: -960px;
		position: absolute;
		top: 0;
		width: 1920px;
		-webkit-filter: brightness(50%);
    	filter: brightness(50%);
	}
	.container{
        margin: 0 auto;
        max-width: 1200px;
		.content {
			position: relative;
			text-align: center;
			margin-top:192px;
				.row {
                    .middle {
                        float: none!important;
                         margin: 0 auto;
                        .title-sections {
                            h1{
                                color: @base-color;
                                font-size: 45px;
                                font-weight: @medium;
                                margin: 0;
                                letter-spacing: 2px;
                                padding: 0 200px;
                                position: relative;
                                text-transform: uppercase;
                                @media (max-width: @tablet) {
                                    padding: 0;
                                }
                                &::after{
                                    background: @accent-first-color;
                                    bottom: -10px;
                                    content: '';
                                    height: 2px;
                                    left: 0;
                                    right: 0;
                                    margin: auto;
                                    position: absolute;
                                    width: 10%;
                                }
                            }
                            p{
                                color: @base-color;
                                font-size: 20px;
                                line-height: 32px;
                            }
                            a{
                                font-weight: inherit;
                                margin-top: 30px;
                                padding: 25px 60px;
                                font-size: 20px;
                            }
                        }
                    }
                }
			}
	}
}
.how-it-blog {
    background: #f6f6f6;
	padding: 0;
	height: 100%;
    display: -webkit-box;
	//min-height: 1760px;
    .container {
        margin: 0 auto;
		max-width: 1200px;
		#filters {
			margin: 0;
			padding: 30px 5px;
			list-style: none;
			width: auto;
			height: 50px;		
			li {
				float:left;
				span {
					display: block;
					padding:0 20px;		
					text-decoration:none;
					color:#666;
					cursor: pointer;
					background: @white;
					border-radius: 10px;
					margin-right: 20px;
					box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
					-webkit-box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
					-moz-box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
					&.active {
						background: @jungle-green;
						color:@white;
					}
					&:hover {
						background: @shuttleGrey;
						color: @white;
					}
					p {
						font-size: 14px;
					}
				}
			}
		}
		#portfoliolist {
			width: 100%;
			// justify-content: space-around;
			// display: flex;	
			.portfolio {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				-o-box-sizing: border-box;
				width:30%;
				margin:1%;
				display:none;
				float:left;
				overflow:hidden;
				display: block;
				border-top-left-radius: 25px;
				border-top-right-radius: 25px;
				box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
				-webkit-box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
				-moz-box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.4);
				@media (min-width: @mobile) and (max-width: 767.98px) {
					width: 45%;
					margin: 2%;
				}
				@media (max-width: 575.98px) {
					width: 95%;
					margin:20px 1%;
				}
				.portfolio-wrapper {
					overflow:hidden;
					position: relative !important;
					height: auto;
					background: @white;
					img {
						max-width:100%;
						position: relative;
						top:0;
						min-width: 100%;
					}
					.label {
						position: relative;
						width: 90%;
						height: auto;
						min-height: 212px;
						bottom: 5px;
						padding: 0 18px;
						.label-text {
							color:#000;
							position: relative;
							padding:5px 8px;
							.line-green {
								border: 2px solid @eucalyptus;
								display: block;
								margin: 0;
								width: 50%;
							}
								.text-title, h3 {
									text-transform: uppercase;
									font-weight: 600;
									height: auto;
									display: inline-block;
									width: 85%;
									font-size: 20px;
									margin: 5px 0;
									min-height: 50px;
									color: @jungle-green;
								}
								.icon-title {
									display: inline-block;
									width: 15%;
									float: right;
								}
							span {
								&.text-category {
									display:block;
									p {
										font-size: 14px;
										color: @Paua;
									}
								}
							}
							.blog_base {
								p.date {
									width: 50%;
									float: left;
									text-align: left;
									font-style: italic;
									font-size: 13px;
									color: @Paua;
								}
								a.read-more {
									width: 50%;
									float: right;
									text-align: right;
									font-size: 16px;
									margin-block-start: .75em;
    								margin-block-end: 1em;
								}
							}
						}
					}
				}
			}
		}
        .row {
            .middle {
                float: none!important;
                margin: 0 auto;
            }
            h3 {
                margin: 0;
            }
        }
    }
}
.section-video-blog{
	height: 645px;
	overflow: hidden;
	position: relative;
	img{
		display: none;
		left: 50%;
		margin-left: -960px;
		position: absolute;
		top: 0;
		width: 1920px;
		-webkit-filter: brightness(40%);
		filter: brightness(40%);
		@media (max-width: @tablet){
			display: block;
		}
	}
	.title-sections {
		margin: 0;
		img.img-first {
			display: block;
			width: 150px;
			height: auto;
			position: relative;
			left: auto;
			right: auto;
			margin: 0 auto;
			top: -51px;
			filter: brightness(100%);
		}
	}
	.boxVideo{
		display: block;
		left: 0;
		margin: auto;
		width: 100%;
		position: absolute;
		margin-left: -960px;
		top: 0;
		left: 50%;
		z-index: 0;
		height: 100%;
		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0,0,0,0.4);
			z-index: 0;
			position: absolute;
		}
		@media (max-width: @tablet){
			display: none;
		}
	}
	video{
		width: 100%;
		top: -20%;
		position: absolute;
		margin-top: -12px;
	}
	.information-video{
		bottom: 100px;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 3;
		h1{
			display: none;
		}
		h2{
			color: @base-color;
			font-size: 40px;
			font-weight: @light;
			margin: 10px 0;
			width: 70%;
			+p{
				color: @base-color;
				font-size: 18px;
				line-height: 25px;
				width: 70%;
			}
		}
	}
	.container-video{
		z-index: 3;
		.content {
			position: relative;
			text-align: center;
			margin-top:192px;
			h1{
				color: @base-color;
				font-size: 45px;
				font-weight: @medium;
				margin: 0;
				letter-spacing: 2px;
				padding: 0 200px;
				position: relative;
				text-transform: uppercase;


				&::after{
					background: @accent-first-color;
					bottom: -10px;
					content: '';
					height: 2px;
					left: 46%;
					position: absolute;
					width: 5%;
				}
			}
			p{
				color: @base-color;
				font-size: 20px;
			}
			a{
				font-weight: inherit;
				margin-top: 30px;
				padding: 25px 60px;
				font-size: 20px;
			}
		}
		&:after{
			content: '';
			z-index: 3;
		  }
	}
	.container{
		.content {
			position: relative;
			text-align: center;
				margin-top:192px;
				h1{
					color: @base-color;
					font-size: 45px;
					font-weight: @medium;
					margin: 0;
					letter-spacing: 2px;
					padding: 0 200px;
					position: relative;
					text-transform: uppercase;
					@media (max-width: @mobile) {
						padding: 0;
					}
					&::after{
						background: @accent-first-color;
						bottom: -10px;
						content: '';
						height: 2px;
						left: 0;
						right: 0;
						margin: auto;
						position: absolute;
						width: 10%;
					}
				}
				p{
					color: @base-color;
					font-size: 20px;
				}
				a{
					font-weight: inherit;
					margin-top: 30px;
					padding: 25px 60px;
					font-size: 20px;
				}
			}
	}
	@media (max-width: @tablet){
  		.section-video{
			img{
				display: block;
			}
			.boxVideo{
				display: none;
			}
		}
	}
}
.section-columns {
    padding:40px 0;
    .container {
        .row {
            .col-10 {
                &.boxVideo {
                    width: 100%;
                    height: auto;
                }
                video {
					width: 70%;
					margin: 0 auto;
					display: block;
                }
            }
        }
    }
}