.social {
    margin-top: 30px;
    h3 {
        display: inline-block;
        position: relative;
        top: -10px;
        font-weight: 600;
    }
    .a2a_kit {
        display: inline-block;
        a {
            &.social_blog {
                padding: 0 10px;
            }
        }
    }
}