footer{
  background: @nuevo-footer;
  padding: 80px 0;
  .container{
    .col-10{
      .col-7{
        margin: -30px auto;
        display: block;
        color: @whiteSmoke;
      .price{
        width: 20%;
        border-style: none;
        margin: -24px auto;
      
      .menu-footer{
        border-bottom: 1px solid @base-color;
        padding: 20px 0 0 0;
        position: relative;
        >li{
          display: inline-block;
          margin: 0 48px 20px 0;
          >a{
            color: @accent-third-color;
            position: relative;
            z-index: 4;
            >span{
              display: inline-block;
              font-size: 25px;
              height: 20px;
              line-height: 20px;
              text-align: center;
              width: 30px;
              vertical-align: middle;
              &:hover{
                color: @accent-first-color;
              }
            }
            &:hover{
              color: @base-color;
            }
            &.active{
              color: @base-color;
              + .submenu-footer{
                display: block;
              }
            }
          }
          .submenu-footer{
            display: none;
            left: 0;
            position: absolute;
            top: 160px;
            width: 100%;
            // z-index: 5;
            >ul{
              &:after{
                clear: both;
                content: '';
                display: table;
              }
              >li{
                float: left;
                margin-bottom: 10px;
                width: 25%;
                a{
                  display: block;
                  color: @accent-third-color;
                  font-weight: @light;
                  height: 22px;
                  line-height: 22px;
                  overflow: hidden;
                  padding-right: 25px;
                  &:hover{
                    color: @base-color;
                  }
                }
              }
            }
            &.active{
              display:block;
            }
          }
        }
      }
      .menuProductsServices{
        margin:10px 0 30px 0;
        &:after{
          clear: both;
          content: '';
          display: table;
        }
        li{
          float: left;
          display: inline-block;
          margin: 5px 0;
          width: 25%;
          a{
            display: block;
            color: @accent-third-color;
            font-weight: @light;
            height: 22px;
            line-height: 22px;
            overflow: hidden;
            padding-right: 25px;
            &:hover{
              color: @base-color;
            }
          }
        }

      }
    }
  }
}
}

  .section-legal{
    //padding: 350px 0 25px 0;
    padding-top: 10px;
    position: relative;
    >p{
      a{
        color: @base-color;
        font-size: 12px;
      }
    }
    p{
      color: @accent-third-color;
      font-size: 10px;
      margin: 0;
    }
    >a{
      display: inline-block;
      bottom: 25px;
      height: 40px;
      margin: auto;
      position: absolute;
      right: 0;
      span{
        color: @base-color;
        font-size: 40px;
        line-height: 40px;
      }
      &:hover{
        span{
          color: @accent-first-color;
        }
      }
    }
  }
}
.memu-footer-options{
  padding: 20px 0;
  >div{
    display: none;
    >ul{
      &:after{
        clear: both;
        content: '';
        display: table;
      }
      >li{
        float: left;
        margin-bottom: 10px;
        width: 25%;
        >a{
          color: @accent-third-color;
          display: block;
          font-weight: @light;
          height: 18px;
          line-height: 18px;
          overflow: hidden;
          padding-right: 20px;
        }
      }
    }
  }
}

@media(max-width: @tablet){
  footer{
    .container{
      .col-10{
        .menu-footer{
          >li{
            >a{
              padding: 0;
            }
            .submenu-footer{
              top: 130px;
              >ul{
                >li{
                  width: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media(max-width: @mobile){
  footer{
    padding: 20px 0;
    .container{
      .col-10{
        .menu-footer{
          >li{
            .submenu-footer{
              top: 180px;
              >ul{
                >li{
                  width: 100%;
                }
              }
            }
            a.active{
              color: @accent-third-color;
            }
          }
        }
        .menuProductsServices {
          display: none;
        }
      }
    }
  }
}
@media(max-width: @mobile-landscape){
  footer{
    .container{
      .col-10{
        .menu-footer{
          >li{
            display: block;
            .submenu-footer{
              top: 300px;
              >ul{
                >li{
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
