header{
  //position: absolute;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: transparent;
  transition: background-color 0.5s ease;
  -webkit-box-shadow: -1px 3px 30px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 30px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 30px -5px rgba(0,0,0,0.75);
  .header-top{
    border-bottom: 1px solid @base-color;
    padding: 10px 0;
    .container{
      .title{
        display: inline-block;
        width: 39%;
        h2{
          color: @base-color;
          font-size: 14px;
        }
      }
      ul{
        text-align: right;
        display: inline-block;
        width: 60%;
        >li{
          display: inline-block;
          select{
            appearance: none;
            background:  transparent url("@{backgrounds}arrow-select.svg") 80% center no-repeat;
            background-size: 20px;
            border: none;
            cursor: pointer;
            outline: none;
            color: @base-color;
            font-size: 14px;
            min-width: 65px;
            vertical-align:middle;
            margin-right: 10px;

          }
          .form-search{
            display: inline-block;
            vertical-align: top;
            input[type="text"],
            input[type="search"]{
              color: @base-color;
              border: 1px solid @base-color;
              box-sizing: content-box;
              display: none;
              float: left;
              font-size: 12px;
              margin-right: 6px;
              opacity: 0;
              padding: 2px 12px;
              width: 0;
              min-width: 0;
              max-width: none;
              margin: 0;
              &:focus{
                color: @base-color;
              }
              &.open{
                .resize();
                display: block;
              }
              &.close{
                display: block;
                width: 120px;
                .resize(contract);
              }
            }
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: @base-color;
            }
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: @base-color;
            }
            ::-ms-input-placeholder { /* Microsoft Edge */
              color: @base-color;
            }
            .icon-search{
              color: @base-color;
              display: inline-block;
              cursor: pointer;
              font-size: 30px;
              line-height: 25px;
              vertical-align: middle;
              &:hover{
                color: @accent-first-color;
              }
            }
          }
          >a{
            display: inline-block;
            margin: 0 5px;
            vertical-align: middle;
            .icon-linkedin{
              color: @base-color;
            
            }
            .linkedin{
              margin-top: 20px;
            }
            &:hover{
              span{
                color: @accent-first-color;
              }
            }
          }
        }
      }
    }
  }
  &.active{
    background: @bg-footer;
    .menu-main{
      .submenu{
        background: @white;
      }
    }
  }
}

.header-main{
  background: @white;
  height: auto;
  padding-bottom: 1em;
  .col-1{
    h1,a{
      display: block;
      margin: 0;
      img{
        margin-top: 10px;
        max-width: 60px;
      }
    }
    h1{
      position: relative;
      min-width: 200px;
      line-height: 0;
      img{
        display: block;
      }
      span{
        display: inline-block;
        font-size: 11px;
        line-height: 11px;
        padding: 4px;
        color: @white;
        background: @accent-first-color;
        position: relative;
        z-index: 1;
        margin-left: 8px;
      }
    }
  }
  .col-11{
    nav{
      padding: 18px 0 0 0;
      position: relative;
      text-align: right;
      margin-top: 8px;
      .icon-menu{
        display: none;
      }
      .icon-burguer,
      .icon-close{
        cursor: pointer;
        display: none;
        font-size: 35px;
        line-height: 25px;
        &:hover{
          color: @brand-color;
        }
      }
      >ul{
        >li{
          display: inline-block;
          margin: 0 0 0 -6px;
          >a{
            color: @shuttleGrey;
            display: block;
            font-size: 14px;
            line-height: 14px;
            padding: 10px 9px;
            z-index: 1;
            >span.icon-arrow{
              display: none;
              height: 25px;
              line-height: 25px;
              vertical-align: middle;
            }
            &:after{
              display: none;
              content: '';
              height: 60px;
              left: 0;
              position: absolute;
              top: 25px;
              width: 100%;
              z-index: 2;
            }
          }
          &:hover{
            a{
              color: initial;
              border-radius: 0;
              +.submenu{
                display: block;
                color: @whiteSmoke;
              }
              &:after{
                display: block;
               
              }
            }
          }
          .submenu{
            display: none;
            box-sizing: border-box;
            left: 0;
            padding: 30px 0 40px 0;
            position: absolute;;
            top: 60px;
            width: 100%;
            //-background-color: #212d40;
            background: #ffffff;
            &:after{
              //-background: @bg-footer;
              background: #ffffff;
              content: '';
              height: 100%;
              position: absolute;
              right: -100%;
              top: 0;
              width: 100%;
            }
            &:before{
              //-background: @bg-footer;
              background: #ffffff;
              content: '';
              height: 100%;
              left: -100%;
              position: absolute;
              top: 0;
              width: 100%;
            }
            >ul{
              &:after{
                clear: both;
                content: '';
                display: table;
              }
              >li{
                display: inline-block;
                float: left;
                margin-bottom: 15px;
                text-align: left;
                width: 25%;
                >a{
                  color: initial;
                  display: block;
                  font-weight: @light;
                  font-size: 14px;
                  padding-right: 20px;
                  &:hover{
                    color: @accent-first-color;
                  }
                }
              }
            }
            .btn-more{
              bottom: 25px;
              position: absolute;
              right: 0;
              &:hover{
                color: @accent-second-color;
              }
            }
          }
          &:last-child{
            margin-right: 0;
          }
          // &.children{}
        }
      }
    }
  }
}
.scrolled{
  background-color:@bg-footer;
}
@media (max-width: @tablet-portrait){
  header{
    .header-top .container > ul > li .form-search{
      //display: none;
    }
    &.hide{
      .container > ul > li .form-search{
        display: block;
        position: fixed;
        right: 100px;
        top: 15px;
        z-index: 10;
        input[type="text"]{
          display: block;
          font-size: 16px;
          float: right;
          margin-top: 2px;
          opacity: 1;
          width: 120px;
        }
      }
    }
    &.active{
      background: none;
    }
    .header-main .col-11 nav {
      padding: 14px 0 0 0;
    }
    .header-main .col-11 nav > ul{
      overflow-x: hidden;
      overflow-y: scroll;
      position: fixed;
      z-index: 6;
      li:first-child{
        a{
          border-top: none;
        }
      }
      >li:hover a + .submenu{
        display: block;
      }
      &:before{
        background: @brand-color;
        content: '';
        display: block;
        height: 56px;
        max-width: 320px;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 7;
      }
    }
  }
}
@media (max-width: @mobile){
  header .header-top .container{
    .title{
      display: none;
    }
    ul{
      width: 100%;
    }
  }
}
.hide {
  display: none!important;
}

//- alfonso

header {
  width: 100%;
  background: @base-color;
  .header-main-vr {
    .container {
      .row {
        img{
          width: 50px;
          margin: 20px auto;
        }
        #btn-menu {
          display: none;
          float: right;
          @media (max-width: 991.98px) {
            &:checked {
              &~.menu-main {
                margin: 0;
              }
            }
          }
        }
        input {
          float: right;
        }
        label {
          display: none;
          color: red;
          cursor: pointer;
          @media (max-width: 991.98px) {
            display: block;
            float: right;
          }
          &:hover {
            color: yellowgreen;
          }
        }
        .nav {
          &.menu-main {
            @media (max-width: 991.98px) {
              position: absolute;
              background-color: @base-color;
              width: 70%;
              margin-left: -70%;
              transition: all 0.5s;
            }
            ul {
              margin: 0;
              list-style: none;
              padding: 0;
              display: flex;
              justify-content: flex-end;
              @media (max-width: 991.98px) {
                flex-direction: column;
              }
              li {
                &:hover {
                  color: @base-color;
                  background: @jungle-green;
                  ul {
                    &.submenu {
                      display: flex;
                    }
                  }
                }
                a {
                  display: block;
                  padding: 2em 1em;
                  color: @nuevo-texto;
                }
                ul {
                  &.submenu{
                    position: absolute;
                    display: none;
                    background: #ffffff;
                    left: 0;
                    width: 100%;
                    justify-content: center;
                    @media (max-width: 991.98px) {
                      display: block;
                    }
                    li {
                      a {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

