
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Apple Enrolamiento'
- var metadata = {}
- metadata['title'] = 'Sellcom - Apple'
- metadata['description'] = 'Para nuestros dispositivos Apple contamos con el servicio de enrolamiento, el cual consta de la configuración automática a la imagen, políticas, restricciones y complementos que nos defina el cliente.'
- metadata['keywords'] = 'Apple, enrolamiento, DEP'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'banner_apple.jpg'
- local_images.images['imgbase'] = global_path +  images.blog + 'Qlik_footer_2.jpg'
- local_images.images['hires'] = global_path + images.products_services + 'sellcom-products-contrata.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    - var blog = true;
    include ../template/_header
    section.section-banner-blog
      img.banner(src=local_images.images.banner alt='Apple')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 Apple
                    p Device Enrollment Program
    section.section-columns
      .container
        .row
          .col-10.middle.boxVideo
            video#secondVideo(autoplay loop muted)
              source(src= global_path + "images/video/AppleDEP_SellcomSolutions.mp4" type="video/mp4")
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h1 Generalidades
            h2 ¿Qué es DEP?
            p.txt-justify El Programa de inscripción de dispositivos (DEP Device Enrollment Program) ayuda a las empresas a desplegar y configurar los dispositivos de Apple con facilidad. DEP proporciona una forma rápida y optimizada para desplegar dispositivos Mac, iPad y Apple TV propiedad de la organización,  y de igual forma poder comprar con revendedores corporativos participantes.
            br
            //.quote
                p "Nuestros servicios de enrolamiento y administración son tendencia en el mercado."
            h2 Características del programa 
            p.txt-justify DEP simplifica la configuración inicial mediante la gestión de dispositivos móviles de inscripción (MDM) y supervisión durante la instalación, lo que le permite configurar dispositivos de la organización. Para facilitar aún más el proceso, puede omitir ciertas pantallas o asistentes de configuración para que los usuarios puedan empezar a utilizar sus dispositivos con tan solo encenderlos y conectarlos a la red WiFi de su empresa.
            br
            h2 Inscribirse en los programas de implementación de Apple 
            p.txt-justify Para comenzar a utilizar el DEP,  tendrá que inscribirse en programas de despliegue de Apple (ADP), Debe tener la autoridad para inscribir el nombre de su empresa o institucion educativa, ya que será responsable de aceptar los términos y condiciones de cada programa de acceso dentro de ADP. También será capaz de crear administradores adicionales. DEP está disponible para las empresas y centros de estudios que compran iPad, Mac o Apple TV.
            br
            h2 Crear una cuenta administrador.
            p Vaya a #[a(href='https://idmsac.apple.com/IDMSWebAuth/login.html?disable2SV=true&rv=2&appIdKey=09273cfd6b56a8ce5af52a0153d1d796d364e03a36c6e87ef21e92c77a83ef3f&path=/qforms/web/index/avs&language=US-EN&country=MX' target='_blank') deploy.apple.com] y crear
            ol
              li Tus datos: Será el usuario administrador inicial de acceso al portal. En el proceso se creará un ID de Apple con la cuenta de correo que debe de ser corporativa (es decir, no debe ser un ID existente). Por ello te recomendamos que sea un correo genérico o departamental que no sea nominal, por ejemplo: "dep@empresa.es"
              li Número D-U-N-S (solo para empresas): es un identificador numérico que proporciona identidad única a cada empresa. Puedes consultar el tuyo aquí o llamando al número 902 176 076.
              li Contacto de verificación: debe de ser el contacto de alguien con la gerarquia necesaria en la organización que pueda verificar los datos aportados y aceptar los términos y condiciones.
              li Un Reseller ID, Sellcom te proporcona el suyo C537920
            h2 Activar la verificación de dos pasos. 
            p.txt-justify Antes de continuar el proceso de inscripción, tendrá que comprobar su correo electrónico y permitir la verificación de dos pasos a través del sitio web #[a(href='https://appleid.apple.com/#!&page=signin' target='_blank') ID de Apple]
            h2 ¿Qué beneficios conseguimos con DEP?
            p.txt-justify Un enrolamiento Zero-Touch. Esto quiere decir que los usuarios no tienen que hacer prácticamente nada, facilitando la tarea de despliegue de los dispositivos. Además, se evita que los usuarios puedan salirse del MDM.
            p.txt-justify También se consigue la activación del estado de “Supervisión” en los dispositivos iOS de manera inalámbrica.
            br
            h2 Enlazar la solución MDM
            p.txt-justify Desde el sitio web de DEP, se establecerá un servidor virtual para el servidor MDM o servidores. Los servidores virtuales en DEP están vinculados a los servidores físicos MDM. Puede agregar servidores en cualquier momento o crear un nuevo servidor virtual, dándole un nombre y pueda ser autorizado. Cada servidor debe ser reconocido por Apple y autorizado para gestionar los dispositivos. Un proceso de verificación de dos pasos se utiliza para autorizar de forma segura un servidor MDM. Su proveedor de MDM puede proporcionar la documentación de las características específicas para su aplicación en particular.
            br
            h2 ¿Qué es #[a(href='https://vpp.itunes.apple.com/es/?l=es' target='_blank') VPP] (Volume Purchase Program)?
            p.txt-justify Además de poder adquirir apps de pago por volumen, con VPP podemos adquirir los derechos de uso de apps gratuitas para su posterior despliegue a través de MDM sin necesidad de IDs de Apple.
            br
            h2 ¿Qué dispositivos puedo inscribir en DEP?
            p.txt-justify Todos los dispositivos de Apple comprados a partir de Marzo de 2011, los cuales han de haber sido adquiridos a través de un Reseller oficial de Apple como nosotros.
            p.txt-justify #[a(href='https://help.apple.com/deployment/ios/#/ior5761b421e' target='_blank') Aprende más]  acerca de cómo inscribir manualmente dispositivos.
            include ../template/_social
    include ../template/_footer
