
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Aranda Financiera Sellcom'
- var metadata = {}
- metadata['title'] = 'Sellcom - Aranda Financiera'
- metadata['description'] = 'Aranda cuenta con software de respaldo de dispositivos y encriptación de información lo cual es un valor necesario para la industria bancaria.'
- metadata['keywords'] = 'Back up & Recovery, Cifrado de datos, Borrado Remoto, Prevención ante Pérdida, Configuración de reglas de seguridad'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'blog_aranda_banner.png'
- local_images.images['imgbase'] = global_path +  images.blog + 'blog_aranda_footer.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    - var blog = true;
    include ../template/_header
    section.section-banner-blog
      img.banner(src=local_images.images.banner alt='Aranda Financiera')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 Aranda Financiera
                    p 
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h1 Aranda Financiera
            p.txt-justify En la industria financiera se requiere el respaldo de información constante dado que en caso de incidente se pueda recuperar en un corto tiempo la información. Aranda cuenta con software de respaldo de dispositivos y encriptación de información lo cual es un valor necesario para la industria bancaria.
            br
            .quote
                p "Gestión y operación de seguridad de TI que conviene a tu negocio."
            h2 Desafíos
            p.txt-justify La configuración de dispositivos remotos presentaba un desafío que fue resuelto con las herramientas de Aranda, adicionalmente la adopción de prácticas de respaldo por los colaboradores no era la mejor, pero al automatizar el proceso se solventó.
            br
            .quote
                p "Hacemos tu gestión de IT mucho más fácil."
            h2 Soluciones
            p.txt-justify Sellcom Solutions tiene una alianza como Gold Partner con Aranda Software la cual se caracteriza por ser una empresa líder en Latinoamérica en herramientas de gestión y administración. Su software se centra en la restauración de la operación normal de tu compañía cuando se vea interrumpida y conoce la causa real de los problemas mientras ofreces una solución definitiva a los mismos. Establece un catálogo de servicios conforme a tus necesidades específicas y ofrece soluciones a procesos como incidentes, problemas y cambios. Te apoya a conocer con exactitud cuánto hardware y software tiene tu organización y garantiza el uso adecuado de los equipos, utiliza la administración remota para llevar a cabo acciones correctivas evitando desplazamientos Innecesarios, optimiza gastos y comprométete con el impacto ambiental reduciendo la huella de carbono de tu empresa. Controla tu operación en campo y garantiza el cumplimiento de compromisos, ofrece puntualidad en todos tus servicios escogiendo la ruta ó ptima para cumplir un servicio gracias a la información de Google Maps, además, brinda la posibilidad a nuestros clientes de saber en tiempo real dónde está la persona que solucionará su caso. Restaura la información de tus usuarios en su punto original en caso de pérdida o daño de esta, recupérala rápidamente cuando lo necesites y mejora la satisfacción de los usuarios ofreciendo tiempos de soporte realmente cortos.
            br
            .col-12
                img.img-blog(src=local_images.images.imgbase alt='Aranda Financiera Sellcom')
            include ../template/_social
    include ../template/_footer
