include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Blog'
- var metadata = {}
- metadata['title'] = 'Sellcom - Blog'
- metadata['description'] = 'Qlik Sense, con su elemento central, el motor asociativo le permite descubrir conocimientos que las herramientas de BI basadas en consultas simplemente no captan.'
- metadata['keywords'] = 'Teradata, Omniture (Adobe Analytics), Excel, CSV, Bancomer, Qlik, Sense'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'qlik_banner_2.jpg'
- local_images.images['imgbase'] = global_path +  images.blog + 'Qlik_footer_2.jpg'
- local_images.images['blog1'] = global_path +  images.blog + 'data-blog.jpg'
- local_images.images['veeam'] = global_path +  images.blog + 'thumb_veeam.jpg'
- local_images.images['aranda'] = global_path +  images.blog + 'thumb_aranda.png'
- local_images.images['qlikSense'] = global_path + images.blog + 'thumb_qlik.jpg'
- local_images.images['jamf'] = global_path + images.blog + 'thumb_jamf.png'
- local_images.images['nextcloud'] = global_path + images.blog + 'thumb_nextcloud.jpg'
- local_images.images['qlikSenseSolution'] = global_path + images.blog + 'thumb_qlik_solution.jpg'
- local_images.images['bannerBlog'] = global_path + images.blog + 'slide_blog.jpg'
- local_images.images['appleEnrolamiento'] = global_path + images.blog + 'thumb_apple_enrolamiento.jpg'
- local_images.images['serviceNow'] = global_path + images.blog + 'thumb_servicenow.jpg'
- local_images.images['qlikNew'] = global_path + images.blog + 'thumb_qlik_new.jpg'



doctype html
html(lang=site.lang)
  include ../template/_head
  body
    - var blog = true;
    include ../template/_header
    section.section-banner-blog
      img.banner(src=local_images.images.bannerBlog alt='Next Cloud, Sellcom Solutions')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 Blog
                    p Analítica de datos para cada necesidad de BI
    section.how-it-blog#howitblog
      .container
        //ul#filters.clearfix
          li
            span.filter.active(data-filter=".data, .tech, .dev, .ti") #[p Todos]
          li
            span.filter(data-filter=".data") #[p Big Data]
          li
            span.filter(data-filter=".tech") #[p Tecnología]
          li
            span.filter(data-filter=".dev") #[p Desarrollo]
          li
            span.filter(data-filter=".ti") #[p TI]
        div#portfoliolist
          //- Blog 04
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.qlikNew alt='ServiceNow Sellcom')
              .label
                .label-text
                  .text-title #[h3 Lo nuevo de Qlik]
                  .line-green
                  span.text-category
                    p Ahora, Qlik cuenta con una plataforma completa de Integración de Datos ...
                  div.blog_base
                    p.date 25 Junio 2019
                    a.read-more(href=global_path +'blog/qlik.html') Leer Más
                .label-bg
          //- Blog 05
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.serviceNow alt='ServiceNow Sellcom')
              .label
                .label-text
                  .text-title #[h3 ServiceNow]
                  .line-green
                  span.text-category
                    p Somos tu mejor opción para transformar tus flujos de trabajo convencionales...
                  div.blog_base
                    p.date 03 Junio 2019
                    a.read-more(href=global_path +'blog/servicenow.html') Leer Más
                .label-bg
          //- Blog 06
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.appleEnrolamiento alt='Apple Enrolamiento Sellcom')
              .label
                .label-text
                  .text-title #[h3 Apple]
                  .line-green
                  span.text-category
                    p Device Enrollment Program ...
                  div.blog_base
                    p.date 30 Ene 2019
                    a.read-more(href=global_path +'blog/apple-enrolamiento.html') Leer Más
                .label-bg
          //- Blog 07
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.qlikSenseSolution alt='Qlik Sense Solution Sellcom')
              .label
                .label-text
                  .text-title #[h3 Qlik Sense Solution]
                  .line-green
                  span.text-category
                    p Analítica de datos para cada necesidad de BI ...
                  div.blog_base
                    p.date 25 Ene 2019
                    a.read-more(href=global_path +'blog/qlik-sense-solution.html') Leer Más
                .label-bg
          //- Blog 08
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.nextcloud alt='Nextcloud Sellcom')
              .label
                .label-text
                  .text-title #[h3 Nextcloud]
                  .line-green
                  span.text-category
                    p La mejor opción de nube autogestionada ...
                  div.blog_base
                    p.date 20 Ene 2019
                    a.read-more(href=global_path +'blog/nextcloud.html') Leer Más
                .label-bg
          //- Blog 09
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.jamf alt='Jamf Sellcom')
              .label
                .label-text
                  .text-title #[h3 Jamf]
                  .line-green
                  span.text-category
                    p Administrador de Dispositivos Móviles ...
                  div.blog_base
                    p.date 15 Ene 2019
                    a.read-more(href=global_path +'blog/jamf.html') Leer Más
                .label-bg
          //- Blog 10
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.qlikSense alt='Qlik Sense Sellcom')
              .label
                .label-text
                  .text-title #[h3 Qlik Sense]
                  .line-green
                  span.text-category
                    p Integración de información de servicios y campañas digitales ...
                  div.blog_base
                    p.date 10 Ene 2019
                    a.read-more(href=global_path +'blog/qlik-sense.html') Leer Más
                .label-bg
          //- Blog 11
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.aranda alt='Aranda Sellcom')
              .label
                .label-text
                  .text-title #[h3 Aranda Financiera]
                  .line-green
                  span.text-category
                    p Aranda cuenta con software de respaldo de dispositivos y encriptación de ...
                  div.blog_base
                    p.date 30 Dic 2018
                    a.read-more(href=global_path +'blog/aranda.html') Leer Más
                .label-bg
          //- Blog 12
          .portfolio.dev(data-cat="dev")
            .portfolio-wrapper
              img(src=local_images.images.veeam alt='Veeam Sellcom')
              .label
                .label-text
                  .text-title #[h3 Veeam PB for Microsoft Azure]
                  .line-green
                  span.text-category
                    p Presentamos la siguiente generación de recuperación bajo demanda en la nube ...
                  div.blog_base
                    p.date 27 Dic 2018
                    a.read-more(href=global_path +'blog/veeam.html') Leer Más
                .label-bg
    include ../template/_footer
