
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Qlik Sense Sellcom'
- var metadata = {}
- metadata['title'] = 'Sellcom - Qlik Sense'
- metadata['description'] = 'El objetivo de la app Qlik Sense es reducir el tiempo invertido en preparar un reporte debido al alto volumen de datos requeridos y la necesidad de resumirlos; de igual modo, se libera al usuario de la carga de tener que ser un “experto” en Excel y, a cambio, que el mismo pueda usar ese tiempo en analizar, descubrir y actuar más efectivamente de acuerdo a los resultados de su trabajo.'
- metadata['keywords'] = 'Teradata, Omniture (Adobe Analytics), Excel, CSV, Bancomer, Qlik, Sense'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'qlik_banner.jpg'
- local_images.images['imgbase'] = global_path +  images.blog + 'Qlik_footer.jpg'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    - var blog = true;
    include ../template/_header
    section.section-banner-blog
      img.banner(src=local_images.images.banner alt='Next Cloud, Sellcom Solutions')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 Qlik Sense
                    p Integración de información de servicios y campañas digitales

    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h1 Qlik Sense
            ul
                li Nombre del cliente: BBVA Bancomer 
                li Solución: Seguimiento de Campañas 
                li Descripción de la solución: Creación de una app “Qlik Sense” que integre información de servicios y campañas digitales desde distintos canales para mejorar la visualización de información y optimizar el tiempo de reporteo. 
                li Industria: Bancaria 
                li Función: Operaciones. 
                li Alcance: Nacional 
                li Sistemas de ingesta de datos: Teradata, Omniture (Adobe Analytics), Excel, CSV
            br
            h2 Problemas y objetivos del negocio.
            br
            p.txt-justify Generar una integración de diferentes fuentes de data/información para remplazar el uso de Excel para análisis de información y proveer in punto de vista completo y actualizado de la información registrada en sus diferentes sistemas de modo que el usuario sea capaz de ejecutar la acciones pertinentes al generar campañas para los productos y servicios digitales del banco al ser capaz de poder visualizar información precisa desde diferentes puntos de vista sin tener que procesar la información manualmente.
            br
            p.txt-justify El objetivo de la app es reducir el tiempo invertido en preparar un reporte debido al alto volumen de datos requeridos y la necesidad de resumirlos; de igual modo, se libera al usuario de la carga de tener que ser un “experto” en Excel y, a cambio, que el mismo pueda usar ese tiempo en analizar, descubrir y actuar más efectivamente de acuerdo a los resultados de su trabajo.
            br
            h2 Soluciones para el negocio. 
            ul
                li Reducción en un 100% de hojas de cálculo generadas manualmente. 
                li Reducción en un 100% en la necesidad de adquirir conocimientos especializados en Excel para los analistas de negocios. 
                li Incremento en un 80% de tiempo disponible para análisis de datos y, con ello, optimizar su flujo de trabajo, hacer descubrimientos importantes y encontrar soluciones creativas y justificadas de los resultados de su trabajo. 
                li Unificación completa de las métricas del negocio y habilidad para comparar números en campañas generadas. 
                li También permite hacer un análisis de datos de campañas anteriores para predecir el funcionamiento de una campaña futura. 
                li Reducción en un 90% de tiempo al procesar los reportes. 
                li Incremento drástico en visualización de datos al usar un tú el de información y esquemas. 
            br
            p.txt-justify Al ser capaces de analizar tendencias y cambios en patrones como nunca antes, el equipo de CRM puede ir más allá de una simple especulación, identificar problemas potenciales y diseñar soluciones para los mismos. 
            p.txt-justify Los usuarios de negocio tienen ahora acceso a datos detallados para avalar sus resultados a interrogantes del trabajo. 
            br
            h2 Problemas y objetivos de IT 
            br
            p.txt-justify Consolidar los datos de Teradata, Omniture y Excel para el análisis de las campañas digitales. 
            p.txt-justify Responder a la necesidad del cliente de reportes. 
            p.txt-justify Pelear con cantidades inmensas de información y con la necesidad de tener reportes semanales para proveer a los usuarios de gigantescos volúmenes de información que apenas se puede manejar en Excel. 
            p.txt-justify Cada análisis nuevo requiere de una hoja de cálculo personalizada, hecha por IT para el usuario. 
            br
            h2 Beneficios para IT 
            ul
                li Reducción en un 100% en la necesidad de hacer reportes semanales ahora que no se está obligado a usar Excel para ello. 
                li Reducción en un 100% de tiempo al crear hojas de cálculo desde cero 
                li Transición completa a usuarios en auto servicio: Ahora los usuarios pueden diseñar una visualización personalizada de la información. 
                li Ya no hay necesidad de que el usuario se ralentice al usar fórmulas, copiar datos, buscar entre hojas de cálculo, etc. 
                li Reducción en un 80% en investigación y requisición de datos ahora que se tiene toda la información disponible en Qlik Sense.
                li Se ha descubierto información incorrecta e incompleta aún en los reportes finales, lo que ha dado lugar a diseñar un programa para eliminación de estos datos. 
            .col-12 
                img.img-blog(src=local_images.images.imgbase alt='JAMF Sellcom')
            include ../template/_social
    include ../template/_footer
