
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Qlik Sense Sellcom'
- var metadata = {}
- metadata['title'] = 'Sellcom - Lo nuevo de Clik'
- metadata['description'] = 'Qlik cuenta ahora con una plataforma completa de Integración de Datos, gracias a la adquisición de Podium Data (llamado ahora Qlik Data Catalyst) y Attunity, con la que se puede acelerar la obtención de datos listos para analizarse, automatizando elstreaming en tiempo real, la refinación, clasificación y publicación de datos '
- metadata['keywords'] = 'Teradata, Omniture (Adobe Analytics), Excel, CSV, Bancomer, Qlik, Sense'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'slide_qlik_new.jpg'
- local_images.images['imgbase'] = global_path +  images.blog + 'slide_up_qlik_new.jpg'
- local_images.images['figura'] = global_path +  images.blog + 'qlik_figura.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    - var blog = true;
    include ../template/_header
    section.section-banner-blog
      img.banner(src=local_images.images.banner alt='Lo nuevo de Clik, Sellcom Solutions')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 Qlik
                    p Ahora, Qlik cuenta con una plataforma completa de Integración de Datos

    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h1 Lo nuevo de Qlik
            p.txt-justify Qlik cuenta ahora con una plataforma completa de Integración de Datos, gracias a la adquisición de Podium Data (llamado ahora Qlik Data Catalyst) y Attunity, con la que se puede acelerar la obtención de datos listos para analizarse, automatizando el streaming en tiempo real, la refinación, clasificación y publicación de datos.
            .col-12 
                img.img-blog(src=local_images.images.figura alt='Clik Sellcom')
            br
            br
            h2 Data Literacy para todos
            p.txt-justify Se han propuesto la misión de proveer la educación, tecnología y estrategias para crear un mundo que se comunique con datos, en el que todos hablen el lenguaje de datos y lo usen con confianza para hacer desctubrimientos que cambien drásticamente los resultados. Para soportar esa misión, introdujeron la primera certificación con reconocimiento global que permitirá a cualquiera documentar y demostrar las habilidades de comunicación con datos.
            br
            h2 Analítica embebida dónde sea 
            p.txt-justify Con la introducción de Qlik Core, Qlik soporta necesidades de integración de analítica que van de lo simple a lo complejo, integrando el corazón de la plataforma con dispositivos, lo que permite llevar la analítica a ambientes IoT y mejorar el proceso de decisión a todos los niveles: Directivo, en portales de empleados o clientes, o en el punto de generación de datos.
            br
            h2 Descubrimiento mediante Analítica Aumentada
            p.txt-justify Indexación Asociativa + Inteligencia Aumentada = AI2. Qlik va a la cabeza de la tercera generación de BI ayudando a la gente a comunicarse mejor con datos mediante la generación de conocimiento, automatización e interaccion con lenguaje natural.
            br
            h2 Plataforma y Tecnología de Clase Empresarial 
            p.txt-justify La oferta de Qlik Sense Enterprise en modalidad SaaS elimina todos los costos de infraestructura. La estrategia multi-cloud de Qlik da flexibilidad total y permite procesar los analíticos en mútiples infraestructuras, ya sea en la nube u on premise, administradas como un solo sistema integrado y de forma transparente para los usuarios. 
            p.txt-justify Con Qlik, podemos montar una capa analítica sobre cualquier plataforma que genere datos, o combinación de ellas, ya sea que formaen parte de nuestro portafolio o no, haciendo posible una visión consolidada de los datos relevantes a un proceso o área de solución.
            br
            .col-12 
                img.img-blog(src=local_images.images.imgbase alt='Qlik Sellcom')
            include ../template/_social
    include ../template/_footer
