
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'ServiceNow Sellcom'
- var metadata = {}
- metadata['title'] = 'Sellcom - ServiceNow'
- metadata['description'] = 'ServiceNow hace el trabajo más fácil para las personas. Transforma las formas manuales antiguas de trabajar en modernos flujos de trabajo digitales para que los empleados y los clientes tengan lo que necesitan, cuando lo necesitan, de manera rápida, sencilla y fácil.'
- metadata['keywords'] = 'Sellcom, ServiceNow, flujos de trabajo, agil, empleados, cliente'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'slide_servicenow.jpg'
- local_images.images['imgbase'] = global_path +  images.blog + 'slide_up_servicenow.jpg'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    - var blog = true;
    include ../template/_header
    section.section-banner-blog
      img.banner(src=local_images.images.banner alt='Next Cloud, Sellcom Solutions')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 ServiceNow
                    p Transforma tus flujos de trabajo convencionales

    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h1 ServiceNow
            p.txt-justify ServiceNow hace el trabajo más fácil para las personas. Transforma las formas manuales antiguas de trabajar en modernos flujos de trabajo digitales para que los empleados y los clientes tengan lo que necesitan, cuando lo necesitan, de manera rápida, sencilla y fácil.
            br
            p.txt-justify Sellcom Solutions como parte de su gran abanico de soluciones en TI cuenta con una alianza con un líder en la automatización de procesos como lo es Servicenow ubicado en la parte más alta del cuadrante mágico de Gartner para herramientas ITSM en el 2018; año en el cual fuimos galardonados como su partner número 1 en ventas en México y el resto de América Latina.
            br
            h2 Beneficios de tener a Sellcom como socio tecnológico:
            ul
                li Riesgo y resoluciones de riesgos compartidos con el cliente.
                li Empresa enfocada en la transformación digital con apoyo de hardware, software y servicios de nuestro portafolio.
                li Adopción de niveles de servicio según cada cliente.
                li Siempre a la vanguardia tecnológica al ser partner certificado de líderes tecnológicos.
                li Metodologías Agiles en cada proyecto a implementar.
                li Flexibilidad e inversión financiera en conjunto con los clientes.
                li Alta disponibilidad 7*24*365.
                li Automatización de procesos.
                li Respuesta al cambio inminente en cada negocio.
            br
            h2 Servicios de Sellcom:
            ul
                li Análisis de procesos previo a la implementación de la herramienta.
                li Metodología de implementación ágil, tradicional o hibrida.
                li Gestión del cambio: capacitación a los usuarios finales y administradores.
                li Soporte de plataforma, implementación o atención de evoluciones al servicio.
                li Integración con herramientas necesarias para nuestro cliente.
            h2 Dentro de los clientes de Sellcom con el producto de Servicenow destacamos los sectores:
            ul
                li Sector Financiero: Sellcom migración de servicios de gestión en el banco líder en México.
                li Sector Portuario: Sellcom implementación de primera plataforma de gestión en el líder de administración portuaria de México.
                li Sector telecomunicaciones: Sellcom automatización y digitalización de procesos financieros en uno de los líderes en telecomunicaciones en México.
            .col-12 
                img.img-blog(src=local_images.images.imgbase alt='ServiceNow Sellcom')
            include ../template/_social
    include ../template/_footer