.anchors{
  background: @bg-gray;
  padding: 20px 0;
  ul{
    &:after{
      clear: both;
      content: '';
      display: table;
    }
    li{
      box-sizing: border-box;
      float: left;
      margin: 0 10px;
      position: relative;
      &:first-child{
        margin-left: 0;
      }
      a{
        display: block;
        cursor: pointer;
        text-decoration: none;
        p{
          color: @text-title-color;
          font-size: 14px;
          line-height: 18px;
        }
        &:hover{
          p{
            color: @accent-first-color;
          }
        }
      }
    }
  }
}
@media(max-width:@mobile){
  .anchors{
    ul{
      li{
        float: left;
        margin: 0 0px;
        width: 50%;
        &:first-child{
          margin-left: 0px;
        }
      }
    }
  }
}
@media(max-width:@mobile-portrait){
  .anchors{
    ul{
      li{
        float: left;
        margin: 0 0px;
        width: 100%;
        &:first-child{
          margin-left: 0px;
        }
      }
    }
  }
}
