.resize(@direction: expand, @time: @animation-time, @width: 120px){
  animation: @direction @time linear both;
  @keyframes expand{
    from{
      opacity: 0;
      width: 0;
    }
    to{
      opacity: 1;
      width: @width;
    }
  }
  @keyframes contract{
    from{
      opacity: 1;
      width: @width;
    }
    to{
      display: none;
      opacity: 0;
      width: 0;
    }
  }
}


.move-left-element(@start: -300px, @end: 0, @time: @animation-time){
  animation: @time move-left linear both;
  @keyframes move-left{
    from{
      right: @start;
    }
    to{
      right: @end;
    }
  }
}
.move-right-element(@start: 0, @end: -300px, @time: @animation-time){
  animation: @time move-right linear both;
  @keyframes move-right{
    from{
      right: @start;
    }
    to{
      right: @end;
    }
  }
}
