.section-banner-interna{
  height: 645px;
  overflow: hidden;
  position: relative;
  img{
    display: block;
    left: 50%;
    margin-left: -960px;
    position: absolute;
    top: 0;
    width: 1920px;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
  }
  .container{
    margin: 0 auto;
    max-width: 1200px;
    .content{
      position: relative;
      text-align: left;
      margin-top: 300px;
      h1{
        color: @base-color;
        font-size: 40px;
        font-weight: @light;
        span{
          display: block;
        }
      }
      p{
        color: @base-color;
        font-size: 18px;
        line-height: 1.3;
        padding-right: 60px;
        width: 70%;
      }
    }
  }
  .btnPhone{
    position: absolute;
    width: 100%;
    bottom: 0;
    a{
      position: static;
      display: block;
      max-width: 280px;
      text-align: center;
      color:white;
      margin-left: auto;
      margin-right: 0;
      box-sizing: border-box;
      padding: 25px 0 25px 28px;
      transition: 0.6s all ease;
      span{
        position: relative;
        &:before{
          content: "\e927";
          display: inline-block;
          font-family: 'sellcom';
          font-size: 40px;
          font-weight: 300;
          vertical-align: middle;
          position: absolute;
          top:-10px;
          left: -34px;
        }
      }
      &:hover{
        padding-bottom: 35px;
      }
    }
  }
}
@media (max-width:520px){
  .section-banner-interna {
    .container{
      .content{
        margin-top: 230px;
        p{
          padding-right: 0;
          width: 100%;
        }
      }
    }
  }
}
@media (max-width:414px){
  .section-banner-interna {
    height: 500px;
    .container{
      .content{
        margin-top: 150px;
        p{
          padding-right: 0;
          width: 100%;
        }
      }
    }
  }
}
@media (max-width:@mobile-portrait){
  .section-banner-interna {
    .container{
      .content{
        margin-top: 160px;
        h1{
          font-size: 35px;
        }
        p{
          font-size: 17px;
        }
      }
    }
  }
}
