.section-breadcrumb{
    padding-top: 30px;
    position: relative;
    z-index: @index-breadcrumb;
    .col-9{
      ul{
        list-style: none;
        text-align: left;
        padding: 19px 0;
        li{
          color: @text-color;
          display: inline-block;
          font-size: 12px;
          font-weight: @medium;
          margin-right: 20px;
          margin-bottom: 0;
          position: relative;
          a{
            color: @color-breadcrumb;
            font-size: 12px;
            font-weight: @light;
            text-decoration: none;
            &:hover{
              color: @accent-first-color;
            }
          }
          &:before{
            content: "│";
            color: @text-color;
            position: absolute;
            right: -15px;
            top: 0;
          }
        }
        li:first-child{
         border-bottom: 1px solid @hover-button;
         padding-bottom: 10px;
        }
        li:last-child{
          &:before{
            content: none;
          }
        }
      }
    }
  }

  @media (max-width:@tablet-portrait){
    .section-breadcrumb{
      .col-9{
        width: 70%;
      }
      .col-3{
        width: 30%;
      }
    }
  }

  @media (max-width:@tablet){
    .section-breadcrumb{
      &.no-banner{
        padding: 0px 0 0px 0;
      }
      &.internal-breadcrumb{
        padding: 0;
        .col-9{
          width: 100%;
        }
        .col-3{
          width: 100%;
        }
      }
    }
  }
  @media (max-width:@mobile){
    .section-breadcrumb{
      .col-9{
        width: 100%;
        ul{
          padding: 10px 0;
        }
      }
      .col-3{
        width: 100%;
        .site-tools{
          padding: 0;
        }
      }
      &.internal-breadcrumb{
        margin: 34px 0 0 0;
        padding: 50px 0 0 0;
      }
    }
  }
