.btn-default{
  background: @accent-first-color;
  border-radius: 10px;
  box-sizing: border-box;
  color: @base-color;
  cursor: pointer;
  display: inline-block;
  font-weight: @bold;
  font-size: 14px;
  // line-height: 14px;
  padding: 10px 15px;
  transition-duration: 0.5s;
  text-decoration: none;
  &:hover{
    background: @hover-button;
    color: @base-color;
  }
  &.blue{
    background: @base-color;
    color: @text-color;
    &:hover{
      background: @brand-color;
      color: @base-color;
    }
  }
  /*&.search{
    background-image: url('@{backgrounds}icon-search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border-radius: 5px;
    padding: 10px 18px;
    text-indent: -999px;
  }*/
}
