.section-dowloands{
  background-color: @bg-footer;
  .col-10{
    .col-4{
      img{
        display: block;
        margin: 0 auto;
        max-width: 253px;
        width: 100%;
        padding: 40px 0;
      }
    }
    .col-8{
      padding-top: 75px;
      text-align: left;
      h5{
        color: @base-color;
        font-size: 25px;
        font-weight: @light;
        margin: 0;
      }
      p{
        color: @base-color;
        font-size: 18px;
        font-weight: @light;
      }
      a{
        font-size: 18px;
        font-weight: inherit;
        padding: 20px 100px;
      }
    }
  }
}
.section-form{
  padding: 40px 0;
  text-align: center;
  .col-10{
    h2{
      font-size: 27px;
    }
    p{
      font-size: 20px;
      line-height: 1.2;
    }
    ul{
      li{
        box-sizing: border-box;
        float: left;
        padding: 0 5px;
        position: relative;
        width: 100%;
        span{
          display: none;
          font-size: 0;
          position: absolute;
          top: 17px;
          right: 13px;
        }
        input[type="text"],[type="checkbox"],[type="email"],[type="tel"]{
          &.error{
            + span{
              display: block;
              &::before{
                color: red;
                content: @icon-close-2;
                display: inline-block;
                font-family: @icon-typography;
                font-size: 28px;
                line-height: 28px;
              }
            }
          }
          &.valid{
            + span{
              display: block;
              &::before{
                color: @accent-first-color;
                content: @icon-check2;
                display: inline-block;
                font-family: @icon-typography;
                font-size: 34px;
                line-height: 28px;
              }
            }
          }
        }
        &:nth-child(1){
          width: 40%;
        }
        &:nth-child(2){
          width: 60%;
        }
        &:nth-child(3){
          width: 50%;
        }

        &:nth-child(4){
          display: inline-block;
          width: 50%;
          ul{
            li{
              &:nth-child(1){
                width: 30%;
              }
              &:nth-child(2){
                width: 70%;
                padding-right: 0;
                span{
                  right: 8px;
                }
              }
            }
          }
        }
        &:nth-child(8){
          text-align: left;
          margin-top: 10px;
          label,p{
            display: inline-block;
            font-size: 16px;
            font-weight: @regular;
          }
        }
        &:last-child{
          p{
            font-size: 18px;
          }
        }
        .btn-default{
          border: 0;
          font-size: 18px;
          font-weight: 500;
          padding: 20px 80px;
        }
      }
    }
  }
}
@media(max-width:@tablet-landscape) {
  .section-dowloands{
    .col-10{
      .col-8 {
        padding-top: 55px;
       }
    }
  }
}
@media(max-width:880px) {
  .section-dowloands{
    .col-10{
      .col-4{
        width: 50%;
      }
      .col-8 {
        width: 50%;
        padding-top: 80px;
       }
    }
  }
}
@media(max-width:@tablet) {
  .section-dowloands{
    padding-bottom: 10px;
    .col-10{
      .col-4{
        width: 50%;
      }
      .col-8{
        padding-top: 80px;
        width: 50%;
        h5 {
          font-size: 22px;
        }
      }
    }
  }
}
@media(max-width:@phablet) {
  .section-dowloands{
    padding-bottom: 30px;

    .col-10{
      .col-4{
        width: 100%;
      }
      .col-8{
        padding-top: 15px;
        text-align: center;
        width: 100%;
        h5 {
          font-size: 20px;
        }
      }
    }
  }
}
@media(max-width:@mobile) {
  .section-form{
    .col-10{
      ul{
        li{
          &:nth-child(1){
            width: 100%;
          }
          &:nth-child(2){
            width: 100%;
          }
          &:nth-child(3){
            width: 100%;
          }
          &:nth-child(4){
            width: 100%;
          }
        }
      }
    }
  }
}
@media(max-width:@mobile-landscape) {
  .section-form{
    .col-10{
      width: 100%;
    }
  }
}
@media(max-width:@mobile-portrait){
  [type="search"],
  [type="password"],
  [type="tel"],
  [type="email"],
  [type="text"], textarea{
    font-size: 14px;
  }
  .section-dowloands{
    .col-10{
      .col-8{
        a{
          padding: 20px 80px;
        }
      }
    }
  }
  .section-form{
    .col-10 h2 {
      font-size: 26px;
    }
  }
}
