.section-dowloands-globe{
  bottom: 0;
  right: 10px;
  position: fixed;
  z-index: 3;
  .globe{
    display: block;
  	border-radius: 5px;
  	background-color: @base-color;
  	color: @brand-color;
  	padding: 10px;
  	width: 250px;
    position: absolute;
    right: 0;
    bottom: 150px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    a{
      display: block;
      position: absolute;
      top: -5px;
      right: 5px;
    }
    &::before{
      content:"";
    	position: absolute;
    	width: 0;
    	height: 0;
    	border: 30px outset transparent ;
    	border-top: 30px solid rgba(0, 0, 0, 0.2);
      right: 25px;
      bottom: -60px;
    }
    &::after{
      content:"";
    	position: absolute;
    	width: 0;
    	height: 0;
    	border: 30px outset transparent ;
    	border-top: 25px solid @base-color;
      right: 25px;
      bottom: -54px;
    }
  }
  .btn-dowloand{
    background: @accent-first-color;
    bottom: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    height: 114px;
    right: 90px;
    text-align: center;
    width: 114px;
    z-index: 3;
    span{
      color: @base-color;
      font-size: 100px;
      line-height: 115px;
    }
    &:hover{
      background: @brand-color;
    }
  }
  .close{
    display: none;
  }

}
