@font-face {
  font-family: @icon-typography;
  src:
    url('@{sellcom}sellcom.ttf?3ijpgm') format('truetype'),
    url('@{sellcom}sellcom.woff?3ijpgm') format('woff'),
    url('@{sellcom}sellcom.svg?3ijpgm#sellcom') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: @icon-typography !important;
  speak: none;
  font-style: normal;
  font-size: 30px;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-sellcom-dowload-pdf {
  &:before {
    content: @icon-sellcom-dowload-pdf;
  }
}
.icon-phone {
  &:before {
    content: @icon-phone;
  }
}
.icon-close-2 {
  &:before {
    content: @icon-close-2;
  }
}
.icon-after {
  &:before {
    content: @icon-after;
  }
}
.icon-next2 {
  &:before {
    content: @icon-next2;
  }
}
.icon-ADELANTE:before {
  content: "\e924";
}
.icon-mail {
  &:before {
    content: @icon-mail;
  }
}
.icon-twitter {
  &:before {
    content: @icon-twitter;
  }
}
.icon-facebook {
  &:before {
    content: @icon-facebook;
  }
}
.icon-formacion {
  &:before {
    content: @icon-formacion;
  }
}
.icon-formato {
  &:before {
    content: @icon-formato;
  }
}
.icon-size_font {
  &:before {
    content: @icon-size_font;
  }
}
.icon-mail-01 {
  &:before {
    content: @icon-mail-01;
  }
}
.icon-print {
  &:before {
    content: @icon-print;
  }
}
.icon-share {
  &:before {
    content: @icon-share;
  }
}
.icon-check2 {
  &:before {
    content: @icon-check2;
  }
}
.icon-cellphone {
  &:before {
    content: @icon-cellphone;
  }
}
.icon-exchange {
  &:before {
    content: @icon-exchange;
  }
}
.icon-infraestructura {
  &:before {
    content: @icon-infraestructura;
  }
}
.icon-nube2 {
  &:before {
    content: @icon-nube2;
  }
}
.icon-oficinas {
  &:before {
    content: @icon-oficinas;
  }
}
.icon-plataforma_escalable {
  &:before {
    content: @icon-plataforma_escalable;
  }
}
.icon-proteccion {
  &:before {
    content: @icon-proteccion;
  }
}
.icon-server {
  &:before {
    content: @icon-server;
  }
}
.icon-sistema_unificado {
  &:before {
    content: @icon-sistema_unificado;
  }
}
.icon-soporte {
  &:before {
    content: @icon-soporte;
  }
}

.icon-network {
  &:before {
    content: @icon-network;
  }
}
.icon-scroll {
  &:before {
    content: @icon-scroll;
  }
}
.icon-web {
  &:before {
    content: @icon-web;
  }
}
.icon-work {
  &:before {
    content: @icon-work;
  }
}
.icon-time {
  &:before {
    content: @icon-time;
  }
}
.icon-movil {
  &:before {
    content: @icon-movil;
  }
}
.icon-menu {
  &:before {
    content: @icon-menu;
  }
}
.icon-linkedin {
  &:before {
    content: @icon-linkedin;
  }
}
.icon-money {
  &:before {
    content: @icon-money;
  }
}
.icon-arrow {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  &:before {
    color: @white;
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -6px;
    bottom: 0;
    right: 10px;
    margin: auto;
    border-left: 1px solid @white;
    border-bottom: 1px solid @white;
    transform: rotate(-45deg);
  }
}
.icon-check {
  &:before {
    content: @icon-check;
  }
}
.icon-chat {
  &:before {
    content: @icon-chat;
  }
}
.icon-search {
  &:before {
    content: @icon-search;
  }
}
.icon-back {
  &:before {
    content: @icon-back;
  }
}
.icon-animate {
  &:before {
    content: @icon-animate;
  }
}
.icon-next {
  &:before {
    content: @icon-next;
  }
}
.icon-close {
  &:before {
    content: @icon-close;
  }
}
