/*
  Estilos checkbox
 */
.btn-checkbox{
  display: block;
  position: relative;
  input[type="checkbox"]{
    visibility: hidden;
    position: absolute;
    ~ label{
      color: @text-color;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      line-height: 6px;
      margin: 0;
      padding:0 0 0 40px;
      position: relative;
      &:after{
        background-color: transparent;
        border: 1px solid @border-color;
        border-radius: 5px;
        box-sizing: border-box;
        content: '';
        cursor:pointer;
        display:inline-block;
        height:26px;
        left: 0;
        margin:-1px 0 0 0;
        position: absolute;
        top: -10px;
        width:26px;
      }
      &:before{
        background: transparent;
        border: 2px solid @accent-first-color;
        border-right: none;
        border-top: none;
        box-sizing: border-box;
        content: '';
        height: 6px;
        left: 7px;
        opacity: 0;
        position: absolute;
        transform: rotate(-45deg);
        transition: opacity .15s ease-in-out;
        top: -3px;
        width: 12px;
        z-index: 2;
      }
    }
    &:hover{
      ~ label{
        &:before{
          opacity: 0.3;
        }
      }
    }
    &:checked ~ label{
      &:after{
        background-color: @accent-first-color;
        border: 2px solid @accent-first-color;
        box-shadow: inset 0 0 0 2px @base-color;
      }
      &:before{
        border: 2px solid @base-color;
        border-right: none;
        border-top: none;
        opacity: 1;
      }
    }
  }
  // Terminos y condiciones
  a{
    color: @text-color;
    text-decoration: underline;
    &:hover{
      color: @accent-first-color;
    }
  }
}
/*
  Estilos Radio buttons
 */
.btn-radio{
  display: block;
  position: relative;
  input[type="radio"]{
    visibility: hidden;
    position: absolute;
    ~ label{
      color: @text-color;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      //font-weight: @regular;
      line-height: 14px;
      margin: 0;
      padding:0 0 0 40px;
      position: relative;
      &:after{
        background: @accent-first-color;
        border-radius: 50%;
        box-sizing: border-box;
        content: '';
        height: 18px;
        left: 5px;
        opacity: 0;
        position: absolute;
        transition: opacity .15s ease-in-out;
        top: -3px;
        width: 18px;
      }
      &:before{
        background-color: @base-color;
        border: 2px solid @accent-first-color;
        border-radius: 50%;
        box-sizing: border-box;
        content: '';
        cursor:pointer;
        display:inline-block;
        height:28px;
        left: 0;
        position: absolute;
        transition: opacity .15s ease-in-out;
        top: -8px;
        width:28px;
      }
    }
    &:hover{
      ~ label{
        &:after{
          opacity: 0.3;
        }
      }
    }
    &:checked ~ label{
      &:before{
        opacity: 1;
      }
      &:after{
        opacity: 1;
      }
    }
  }
}
