.btn-more{
  font-size: 10px;
  font-weight: @light;
  span{
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    margin-left: 5px;
    vertical-align: middle;
  }
}
.title-section{
  h2,
  h1{
    color: @section-color;
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    position: relative;
    &:after{
      background: @accent-first-color;
      bottom: 0;
      content: '';
      height: 2px;
      position: absolute;
      left: 0;
      width: 30px;
    }
  }
}
.btn-chat{
  background: @accent-first-color;
  bottom: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  height: 114px;
  position: fixed;
  right: 90px;
  text-align: center;
  width: 114px;
  z-index: 4;
  span{
    color: @base-color;
    font-size: 100px;
    line-height: 115px;
  }
  &:hover{
    background: @brand-color;
  }
}
@media(max-width: @mobile){
  .btn-chat {
    right: 20px;
  }
}
