/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
        width: 60%;
        margin: 0 auto;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots{
  bottom: 5%;
  text-align: center;
  left: 50%;
  position: absolute;

  li{
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: top;
    button{
      background: transparent;
      border-radius: 50%;
      border: 1px solid @base-color;
      display: inline-block;
      height: 15px;
      padding: 0;
      text-indent: -9999px;
      width: 15px;
    }
    &:hover{
      button{
        background: @hover-button;
      }
    }
    &.slick-active{
      button{
        background-color: @hover-button;
        border: 1px solid @hover-button;
      }
    }
  }
}
.slick-slider{
  .slick-arrow{
    appearance:none;
    background: transparent;
    border: none;
    box-sizing: border-box;
    bottom: 0;
    cursor: pointer;
    height: 34px;
    font-size: 0;
    padding: 0;
    position: absolute;
    width: 34px;
    z-index: 3;
    &:after{
      bottom: 0;
      color: @base-color;
      content: @icon-next;
      font-family: @icon-typography;
      font-size: 32px;
      height: 32px;
      line-height: 32px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 32px;
    }
    &:hover{
      &:after{
        color: @accent-second-color;
      }
    }
    &.slick-next{
      //left: 0;
      //bottom: 30px;
    }
    &.slick-prev{
      //left: 0;
      &:after{
        content: @icon-back;
      }
    }
  }
}
