ul.social{
	// &::before{
	// 	content: "│";
	// 	padding-right: 8px;
  //   color: blue; 
	// }
	li{
		display: inline-block;
		span{
			color: @color-breadcrumb;
			font-size: 24px;
		}
		&:first-child{
			border-left: 1px solid @color-breadcrumb;
		}
		&:hover{
			span{
				color: @accent-first-color;
			}
		}	
	}
}