.site-tools{
  text-align: right;
  padding: 10px 0;
  li{
    display: inline-block;
    vertical-align: middle;
    a{
      text-decoration: none;
      span{
        color: @text-color;
        font-size: 32px;
      }
      &:hover{
        span{
          color:@accent-first-color;
        }
      }
    }
  }
  li:last-child{
    a{
      margin-left: -13px;
      span{
        font-size: 18px;
        vertical-align: bottom;
        line-height: 38px;
      }
    }
  }
}

.sections-tools{
  margin: 0;
  padding: 20px 0;
  .site-tools{
    margin-top: 0;
    li{
      a{
        color: @brand-color;
        &:hover{
          color: @accent-first-color;
        }
      }
    }
  }
}
@media (max-width:@tablet-portrait){
  .site-tools {
    display: none;
  }
}