section.section-breadcrumb
  .container
    .row
      .col-9
        ul 
          if nodes
            - for ( var i = 0; i < nodes.length; i++ )
              - var name = nodes[i].name
              - var link = nodes[i].link
              if link
                li
                  a(href=link) #{name}
              else
                li #{name}
          else
            li
              a(href="/index.html") Inicio
      .col-3
        include ../components/_tools
