mixin data-section(section, type, file, icon)
    a(title='Descargar white paper' class=`${type}-btn`)
            img(src=icon alt="big data" )
    include ./_modal
    +data-section(section, type, file)