mixin dowloands-form(urlImage,title, description, titleForm, descriptionForm, document)
  //-section.section-dowloands
    .container
      .row
        .col-10.middle
          .row
            .col-4
              img(src=urlImage, alt=title)
            .col-8
              h5= title
              p= description
              
              - if ( landing == 'landing_sellcom_itsm' )
                a.btn-default#btnShowForm(href='#') ¡Contrata esta solución!
              - else if ( landing == 'landing_sellcom_dass' )
                a.btn-default#btnShowForm(href='#') ¡Conoce esta solución!
              - else    
                a.btn-default#btnShowForm(href='#') Descargar
  section.section-form
    .container
      .row
        .col-10.middle
          h2= titleForm
          p= descriptionForm
          form( action="../form.php" id="downloadForm" name="downloadForm" method="post")
            ul
              li
                label(for='txtName') Nombre*
                input(type='text' id='txtName' name='name' placeholder='Nombre (s)*')
                span validate
              li
                label(for='txtSurName') Apellidos*
                input(type='text' id='txtSurName' name='surname' placeholder='Apellidos*')
                span validate
              li
                label(for='txtMail') Correo electrónico*
                input(type='email' id='txtMail' name='email' placeholder='Correo electrónico*')
                span validate
              li
                ul
                  li 
                    label(for='txtLada') Lada
                    input(type='tel' id='txtLada' name='lada' placeholder='+52')
                  li
                    label(for='txtPhone') Telefono*
                    input(type='tel' id='txtPhone' name='phone' placeholder='Teléfono*')
                    span validate
              li
                label(for='txtCompany') Nombre de tu compañía*
                input(type='text' id='txtCompany' name='company' placeholder='Nombre de tu compañía*')
                span validate
              li
                label(for='txtJob') Puesto que ocupas en tu empresa*
                input(type='text' id='txtJob' name='job' placeholder='Puesto que ocupas en tu empresa*')
                span validate
              li
                label(for='txtComment') Duda o comentario
                textarea(id='txtComment' name='comment' placeholder='Duda o comentario' row='4' cols='10')
              li
                .btn-checkbox
                  input(id="terms" name="terms" type="checkbox" value="")
                  span validate
                  label(for="terms") Acepto 
                  p #[a(href=urlBase +'aviso-privacidad.html') Aviso de Privacidad]
              input(type="hidden", name="file" id="file" value=document)   
              li
                .g-recaptcha(data-sitekey="6LcEAIMUAAAAANQ9OMN1VEtkzzzL4F_yGpMqMuzU")
              li
                p * Los campos son obligatorios

                input.btn-default(type='submit' value='Enviar' name='send' id="enviarbtn")
            

      
