mixin dowloands-form2(urlImage,title, description, titleForm, descriptionForm, document)
  section.section-form
    .container
      .row
        .col-10.middle
          h2= titleForm
          p= descriptionForm
          form( action="../form2.php" id="downloadFormH" name="downloadFormH" method="post")
            ul
              li
                label(for='txtName') Nombre*
                input(type='text' id='txtName' name='name' placeholder='Nombre (s)*')
                span validate
              li
                label(for='txtSurName') Apellidos*
                input(type='text' id='txtSurName' name='surname' placeholder='Apellidos*')
                span validate
              li
                label(for='txtMail') Correo electrónico*
                input(type='email' id='txtMail' name='email' placeholder='Correo electrónico*')
                span validate
              li
                ul
                  li 
                    label(for='txtLada') Lada
                    input(type='tel' id='txtLada' name='lada' placeholder='+52')
                  li
                    label(for='txtPhone') Telefono*
                    input(type='tel' id='txtPhone' name='phone' placeholder='Teléfono*')
                    span validate
              li
                label(for='txtCompany') Nombre de tu compañía*
                input(type='text' id='txtCompany' name='company' placeholder='Nombre de tu compañía*')
                span validate
              li
              li
                label(for='txtComment') Queja o sugerencia
                textarea(id='txtComment' name='comment' placeholder='Escribe tu sugerencia' row='8' cols='10')
              li
                .btn-checkbox
                  input(id="terms" name="terms" type="checkbox" value="")
                  span validate
                  label(for="terms") Acepto 
                  p #[a(href=urlBase +'aviso-privacidad.html') Aviso de Privacidad]
              input(type="hidden", name="file" id="file" value=document)   
              li
               .g-recaptcha(data-sitekey="6LcEAIMUAAAAANQ9OMN1VEtkzzzL4F_yGpMqMuzU")
              li
                p * Los campos son obligatorios
                input.btn-default(type='submit' value='Enviar' name='send' id="enviarbtn2")
            

      
