section.section-dowloands-globe
  .globe
    a#btnClose(href="")
      span.icon-close
    p Conoce más beneficios. 
    p ¡Descarga nuestro white paper! 
  .btn-dowloand
    a#btnDownload(href="")
      span.icon-sellcom-dowload-pdf
  
