mixin data-section(file)
  section.section-form
    .container
      .row
        .col-12.middle
          ul
            li
              label(for='txtName') Nombre y apellidos*
              input(type='text' id='txtName' name='name' placeholder='Nombre y apellido*')
              span validate
            li
              label(for='txtMail') Correo electrónico*
              input(type='email' id='txtMail' name='email' placeholder='Correo electrónico*')
              span validate
            li
              ul
                li 
                  label(for='txtLada') Lada
                  input(type='tel' id='txtLada' name='lada' placeholder='+52')
                li
                  label(for='txtPhone') Telefono*
                  input(type='tel' id='txtPhone' name='phone' placeholder='Teléfono*')
                  span validate
            li
              label(for='txtCompany') Nombre de tu compañía*
              input(type='text' id='txtCompany' name='company' placeholder='Nombre de tu compañía*')
              span validate
            li
              label(for='txtJob') Web de tu empresa*
              input(type='text' id='txtJob' name='job' placeholder='Web de tu empresa*')
              span validate
            li
              .btn-checkbox
                input(id="terms" name="terms" type="checkbox" value="")
                span validate
                label(for="terms") Acepto 
                p #[a(href=urlBase +'aviso-privacidad.html') Aviso de Privacidad]
                p.right * Los campos son obligatorios
            input(type="hidden", name="file" id="file" value=document)   
            li
              .g-recaptcha(data-sitekey="6LcEAIMUAAAAANQ9OMN1VEtkzzzL4F_yGpMqMuzU")
            li
              a(href=file dowloand target='_blank') Descargar Archivo
              input.btn-default(type='submit' value='Enviar' name='send' id="enviarbtn")