mixin data-section(section, type, file)
    //- button.triggger 
    //-     p
    div.modal(id=`${type}-form`)
        div.modal-content 
            span.close-button(id=`${type}-close`)
                p cerrar
            h2 Conoce más de los beneficios de 
                span= section
            p Rellena el formulario, descarga el white paper y caso de uso para conocer los beneficios que tenemos para tu empresa
            include ../components/_form_modal
            +data-section(file)