ul.site-tools
  li
    a.addthis_button(href="http://www.addthis.com/bookmark.php")
      span.icon-share
  li
    a#printer(href="")
      span.icon-print
  li
    a(href="mailto:example@gmail.com")
      span.icon-mail-01
  li
    a#fontBig(href="")
      span.icon-size_font
  li
    a#fontSmall(href="")
      span.icon-size_font
