
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Alianza BlackBerry Sellcoms'
- var metadata = {}
- metadata['title'] = 'Sellcom - Alianza con BlackBerry'
- metadata['description'] = 'Sellcom Solutions y Black Berry se unen para ofrecer a nuestros clients soluciones de serguridad que den valor y ayuden a sobreponerse a los retos de movilidad en sus empresas'
- metadata['keywords'] = 'BlackBerry, Seguridad,  MDM, Movilidad, Endpoint, Partnership, Anuncio, Ventas, Sellcom, TI'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog_blackberry + 'bannerprincipal.jpg'
- local_images.images['imgbase'] = global_path +  images.blog_blackberry + 'alianza_blackberry.jpg'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Portal de proveedores')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 BlackBerry
                    p 

    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h1 Alianza BlackBerry Sellcom
            p.txt-justify Sellcom Solutions y Black Berry se unen para ofrecer a nuestros clients soluciones de serguridad que den valor y ayuden a sobreponerse a los retos de  movilidad en sus empresas, no importa en donde esté ubicado en la curva de adopcion de movilidad.
            br
            .quote
                p "La solución de  movilidad  correcta  puede cambiarlo todo."
            p.txt-justify Esta semana se realizó en conjunto el plan de habilitación de Sellcom para convertirse en partner estrategico, acceder a las herramientas y mejores prácticas que nos permitirán hacer crecer los negocios y ampliar nuestras ofertas creciendo nuestro portafolio de seguridad y la capacidad para crear soluciones integrales.
            br
            p.txt-justify La suite de productos de seguridad de BlackBerry permitirá a los usuarios acceder de forma segura a todas las aplicaciones que el negocio de nuestros clientes necesitan, donde y cuando las necesitan, mientras que habilita a su area de TI para adoptar innovaciones en tecnologia movil dando a usuarios la libertad de trabajar con los dispositivos y aplicaciones que desean, manteniendo todas las conexiones y datos seguros y bajo el control de la empresa.
            br
            .col-12
                img.img-blog(src=local_images.images.imgbase alt='Alianza BlackBerry Sellcom')
    include ../template/_footer
