
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Sellcom Analítica de Negocio'
- var metadata = {}
- metadata['title'] = 'Sellcom - Analítica de Negocio'
- metadata['description'] = 'Llegó la era de la Analítica de Negocio; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Analítica de Negocio, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.solutions_analitica + 'bannerprincipal.jpg'
- local_images.images['quees'] = global_path +  images.solutions_analitica + 'quees.jpg'

- local_images.images['herramienta1'] = global_path + images.solutions_analitica + 'herramienta1.jpg'
- local_images.images['herramienta2'] = global_path + images.solutions_analitica + 'herramienta2.jpg'
- local_images.images['herramienta3'] = global_path + images.solutions_analitica + 'herramienta3.jpg'

- local_images.images['icon_nivelesdeservicio'] = global_path + images.solutions_analitica + 'icon_controldenivelesdeservicio.png'
- local_images.images['icon_distribuciondeactividades'] = global_path + images.solutions_analitica + 'icon_controlenladistribuciondeactividades.png'
- local_images.images['icon_disponibilidad'] = global_path + images.solutions_analitica + 'icon_disponibilidad.png'
- local_images.images['icon_homologacion'] = global_path + images.solutions_analitica + 'icon_homologaciondeejecuciondeprocesos.png'

- local_images.images['logo_apple'] = global_path + images.solutions_analitica + 'Sellcom_Icon_Imac.png'
- local_images.images['logo_aranda'] = global_path + images.solutions_analitica + 'Sellcom_Icon_instalacion.png'
- local_images.images['logo_ivr'] = global_path + images.solutions_analitica + 'Sellcom_Icon_performance.png'
- local_images.images['logo_qlik'] = global_path + images.solutions_analitica + 'logo_qlik.png'
- local_images.images['logo_servicenow'] = global_path + images.solutions_analitica + 'logo_servicenow.png'


doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Analítica de Negocio')
      .container
        .content
          .title-sections
              h1 Analítica de Negocio
              p Hacemos realidad la promesa del Business Intelligence.        
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
                li
                  a(href='#device') #[p Conoce nuestra soluci&oacute;n]
                li
                  a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
                li
                  a(href='#whydaas') #[p ¿Por qu&eacute; implementar Analítica de Negocio?]
                li
                  a(href='#toolsdaas') #[p Herramientas]
                li
                 a(href='#weareexperts') #[p Socios]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6
                h2 ¿Qué es Analítica de Negocio?
                p Para competir y triunfar, todas las empresas necesitan inteligencia: Acerca de sus clientes, proveedores, productos, aliados, mercados, etc. La búsqueda de ésta inteligencia ha tenido múltiples nombres, pero el reto sigue vigente: ¿Cómo analizar datos para hacer descubrimientos que resulten en una ventaja competitiva?
                p Hoy, la 3ª generación de la Inteligencia de Negocios hace posible finalmente aprovechar todo el valor latente de los datos dándole el poder de la analítica a todos los usuarios del negocio.
              .col-6
                img(src=local_images.images.quees alt='Analítica de Negocio')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p La Democratización de los Datos.
            ul
              li 
                p #[strong Todos los datos en cualquier combinación, disponibles para todos los usuarios usando catálogos corporativos gobernados y listos para el análisis] 
                  span
              li
                p #[strong Los problemas de negocio necesitan datos analizables de múltiples fuentes, examinados desde distintos puntos de vista] 
                  span 
              li
                p #[strong Nuestra estrategia es construir esquemas de datos corporativos completos que van más allá de un data warehouse o un data lake tradicional] 
                  span 
            p Inteligencia Aumentada (IA2).
            ul
              li 
                p #[strong La conjunción de la intuición del usuario y patrones identificados automáticamente por nuestra tecnología asociativa de datos]
                  span 
              li
                p #[strong Aumenta las habilidades de análisis, la capacidad de hacer descubrimientos y la confiabilidad de los mismos] 
                  span 
              li
                p #[strong Las aplicaciones analíticas sugieren nuevas formas de ver los datos sobre la marcha gracias a un motor cognitivo con capacidades de aprendizaje] 
                  span 
              li
                p #[strong Lenguaje natural y búsquedas rápidas estilo Google; el usuario no tiene que saber cómo crear visualizaciones]
                  span
            p Analíticos Integrados
            ul
              li
                p #[strong La analítica ya no es un fin, sino un apoyo necesario e integral de las operaciones diarias]
                  span
              li
                p #[strong Mucho más allá de la visualización sencilla, la plataforma analítica debe poder montarse en cualquier ambiente, desde servidores hasta nubes públicas, e integrarse con cualquier tecnología mediante APIs abiertas]
                  span
              li
                p #[strong De ésta forma, las herramientas analíticas pueden usarse en el punto de decisión como parte natural del proceso]
                  span
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Analítica de Negocio?
            p La visualización de datos por sí sola no es suficiente; los datos deben ser confiables y estar listos para ser analizados. El autoservicio tampoco es la respuesta; Excel nos ha mostrado lo que es vivir con una herramienta fácil de usar sin orden ni disciplina. Mientras tanto, la necesidad de tomar decisiones bien soportadas por grandes volúmenes de datos es cada vez mayor.
            ul
              li
                img(src=local_images.images.logo_apple alt='Soporte global ')
                p Para el 2025 cada persona tomará 4,785 decisiones basadas en datos diariamente (en 2017 eran 300).
              li
                img(src=local_images.images.logo_aranda alt='Protección contra daños')
                p Los datos son la materia prima; el análisis los convierte en conocimiento.
              li
                img(src=local_images.images.logo_ivr alt='Servicios de reparación')
                p El conocimiento respalda las acciones que transforman al negocio.
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p 
            ul.row
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta1 alt='Asset Management')
                .description-tools
                  h3 Plataforma de Inteligencia de Negocios de 3ª generación.
                  p Democratización de datos ordenada para toma de decisiones bien respaldadas.
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta2 alt='Software Delivery')
                .description-tools
                  h3 Servicios Expertos Sellcom Certificados.
                  p Nuestros consultores cuentan con certificación en la plataforma utilizada.
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta3 alt='Software Metrix')
                .description-tools
                  h3 Especialistas por industria.
                  p Conocemos los retos frecuentes y cómo enfrentarlos.
    include ../template/_footer    
