//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Apple'
- metadata['description'] = 'Ahora costos con las soluciones de Apple; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Apple, bajo demanda, on demand, soluciones Apple'
- var landing = 'apple'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_apple + 'bannerprincipal.jpg'
//- Servicios
- local.images['imac'] = global_path + images.products_apple + 'Sellcom_Icon_Imac.png'
- local.images['ipad'] = global_path + images.products_apple + 'Sellcom_Icon_Ipad.png'
- local.images['watch'] = global_path + images.products_apple + 'Sellcom_Icon_watch.png'
- local.images['licenciamiento'] = global_path + images.products_apple + 'Sellcom_Icon_Licenciamiento.png'
- local.images['mac'] = global_path + images.products_apple + 'Sellcom_Icon_Mac.png'
- local.images['enrolamiento'] = global_path + images.products_apple + 'Sellcom_Icon_ServiciodeEnrolamiento.png'
- local.images['desarrollo'] = global_path + images.products_apple + 'Sellcom_Icon_Sistemaoperativo.png'
- local.images['soporte'] = global_path + images.products_apple + 'Sellcom_Icon_SoporteAutorizado.png'
//- Beneficios
- local.images['cosas'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_Internetdelascosas.png'
- local.images['learning'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_MachingLearning.png'
- local.images['seguridad'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_Segurity.png'
- local.images['inteligencia'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_InteligenciadeNegocios.png'
- local.images['accesibilidad'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_Accesabilidad.png'
- local.images['nube'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_Accesoalanube.png'
- local.images['realidad'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_RealidadAumentada.png'
- local.images['bigdata'] = global_path + images.products_apple + 'Sellcom_Icon_Apple_AccesoaBigData.png'

- local.images['solucion'] = global_path + images.products_apple + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Apple_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Apple_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		//-section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Dispositivos Apple
					p Sellcom distribuidor corporativo de Apple en México
		section.section-video-dass
			img.banner(src=local.images.banner, alt="banner")
			.boxVideo
				video#secondVideo(autoplay loop muted)
					source(src="../images/video/apple.mp4" type="video/mp4")
			.container
				.content
					br
					.title-sections
						h1 Dispositivos Apple
					p Sellcom, Distribuidor de Valor Agregado de Apple en México
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Apple?
							p Acceso a la distribución empresarial de dispositivos Apple con las ventajas de los programas internacionales de la marca y precios preferenciales por ser distribuidor reconocido de Apple en México.
						ul
							li
								strong IMAC
								img(src=local.images.imac, alt="imac")
								p Dispositivos de Escritorio.
							li
								strong IPAD
								img(src=local.images.ipad, alt="ipad")
								p Tabletas.
							li
								strong MAC
								img(src=local.images.mac, alt="mac")
								p Laptops apple
							li
								strong APPLE WATCH
								img(src=local.images.watch, alt="watch")
								p Mantente más activo, saludable y conectado.
							li
								strong SERVICIO DE ENROLAMIENTO
								img(src=local.images.enrolamiento, alt="enrolamiento")
								p Desarrolla un landing propio para DEP.

							li
								strong SOPORTE AUTORIZADO
								img(src=local.images.soporte, alt="soporte")
								p Gestionamos tus garantías y damos soporte a tus dispositivos.
							li
								strong DESARROLLO EN IOS
								img(src=local.images.desarrollo, alt="desarrollo")
								p Desarrollo en el sistema operativo de Apple.
							li
								strong LICENCIAMIENTO DE APPS EXCLUSIVO
								img(src=local.images.licenciamiento, alt="licenciamiento")
								p Accesibilidad e integración de aplicaciones a la tienda de Apple.
		
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Apple?
							p Beneficios:
						ul
							li
								img(src=local.images.cosas, alt="cosas")
								p Acceso al internet de las cosas
							li
								img(src=local.images.learning, alt="learning")
								p Machine learning
							li
								img(src=local.images.seguridad, alt="seguridad")
								p Seguridad
							li
								img(src=local.images.inteligencia, alt="inteligencia")
								p Inteligencia de negocios
							li
								img(src=local.images.accesibilidad, alt="accesibilidad")
								p Accesibilidad
							li
								img(src=local.images.nube, alt="nube")
								p Acceso a la nube
							li
								img(src=local.images.realidad, alt="realidad")
								p Realidad aumentada
							li
								img(src=local.images.bigdata, alt="big data")
								p Acceso a big data
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p iMac, iPad, Mac, iPod, iPhone en sus últimas versiones forman parte del catálogo de dispositivos de Sellcom y Apple.
						p Adicionalmente contamos con el identificador de partner DEP el servicio de enrolamiento para empresas que facilita el control de los dispositivos organizacionales.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
