//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Aranda'
- metadata['description'] = 'Ahora costos con las soluciones de Aranda; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aranda, bajo demanda, on demand, soluciones Aranda'
- var landing = 'aranda'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_aranda + 'bannerprincipal.jpg'
//- Servicios
- local.images['desk'] = global_path + images.products_aranda + 'servicio_servicedesk.png'
- local.images['cmdb'] = global_path + images.products_aranda + 'servicio_CMDB.png'
- local.images['virtual'] = global_path + images.products_aranda + 'servicio_virtualsupport.png'
- local.images['device'] = global_path + images.products_aranda + 'servicio_devicemanagment.png'
- local.images['field'] = global_path + images.products_aranda + 'servicio_fieldservice.png'
- local.images['enterprise'] = global_path + images.products_aranda + 'servicio_mobilitymagement.png'
- local.images['data'] = global_path + images.products_aranda + 'servicio_datasafe.png'
- local.images['desarrollo'] = global_path + images.products_aranda + 'servicio_modulosalamedida.png'
//- Beneficios
- local.images['licenciamiento'] = global_path + images.products_aranda + 'beneficio_ventaorentadelicenciamiento.png'
- local.images['acceso'] = global_path + images.products_aranda + 'beneficio_accesomovil.png'
- local.images['nube'] = global_path + images.products_aranda + 'beneficio_configuracionnube.png'
- local.images['pink'] = global_path + images.products_aranda + 'beneficio_pinkverify.png'
- local.images['customizable'] = global_path + images.products_aranda + 'beneficio_customazible.png'
- local.images['facil'] = global_path + images.products_aranda + 'beneficio_facilyrapidodeconfigurar.png'
- local.images['integracion'] = global_path + images.products_aranda + 'beneficio_integracionconherramientas.png'
- local.images['actualizaciones'] = global_path + images.products_aranda + 'beneficio_actualizacionesenlinea.png'
- local.images['solucion'] = global_path + images.products_aranda + 'solucion.jpg'
- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'ARANDA_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'ARANDA_Caso de Uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Herramienta de Gestión Aranda
					p Sellcom socio tecnológico de Aranda en México
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Aranda?
							p Herramienta tecnológica que facilita y vuelve eficiente la gestión de tu área de TI.
						ul
							li
								strong Aranda Service Desk
								img(src=local.images.desk, alt="desk")
								p Gestión de mesas de ayuda con nuestro portal de servicios.
							li
								strong Aranda CMDB
								img(src=local.images.cmdb, alt="cmdb")
								p Gestión de tu infraestructura con nuestro portal.
							li
								strong Aranda Virtual Support
								img(src=local.images.virtual, alt="virtual")
								p Conexión remota para la atención de requerimientos e incidencias.
							li
								strong Aranda Device Management
								img(src=local.images.device, alt="device")
								p Gestiona tus dispositivos móviles de forma remota.
							li
								strong Aranda Field Service
								img(src=local.images.field, alt="field")
								p Seguimiento geo localizado y tracking de tus agentes de campo.
							li
								strong Aranda Enterprise Mobility Management
								img(src=local.images.enterprise, alt="enterprise")
								p Administración de las aplicaciones de tus dispositivos móviles.
							li
								strong Aranda Data Safe
								img(src=local.images.data, alt="data")
								p Respaldo de tu información y gestión de la misma.
							li
								strong Desarrollo de módulos a la medida
								img(src=local.images.desarrollo, alt="desarrollo")
								p Podemos desarrollar soluciones a medida por negocio.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Aranda?
							p Beneficios:
						ul
							li
								img(src=local.images.licenciamiento, alt="licenciamiento")
								p VENTA O RENTA DE LICENCIAMIENTO
							li
								img(src=local.images.acceso, alt="acceso")
								p ACCESO MÓVIL
							li
								img(src=local.images.nube, alt="nube")
								p CONFIGURACIÓN NUBE Y/O ON-PREMISE
							li
								img(src=local.images.pink, alt="pink")
								p PROCESOS CERTIFICADOS EN PINK VERIFY
							li
								img(src=local.images.customizable, alt="customizable")
								p CUSTOMIZABLE
							li
								img(src=local.images.facil, alt="facil")
								p FÁCIL Y RÁPIDO DE CONFIGURAR
							li
								img(src=local.images.integracion, alt="integracion")
								p INTEGRACIÓN CON HERRAMIENTAS
							li
								img(src=local.images.actualizaciones, alt="actualizaciones")
								p ACTUALIZACIONES EN LÍNEA INCLUIDAS
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Aranda es un software que impulsa la transformación digital dentro de las empresas, líder en la gestión de TI en Latinoamérica y cuenta con productos que reforzarán la atención de tus usuarios.
						p Asegurar la eficiencia operativa de tu empresa, monitorear toda tu operación móvil y proteger la información de tu compañía.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
