//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Aruba'
- metadata['description'] = 'Ahora costos con las soluciones de Aruba; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba'
- var landing = 'aruba'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_aruba + 'bannerprincipal.jpg'
//- Servicios
- local.images['acces'] = global_path + images.products_aruba + 'servicio_AccessPoint.png'
- local.images['switch'] = global_path + images.products_aruba + 'servicio_Switch.png'
- local.images['admon'] = global_path + images.products_aruba + 'servicio_Admimistracionderedes.png'
- local.images['analisis'] = global_path + images.products_aruba + 'servicio_AnalisisdeRedes.png'
- local.images['monitoreo'] = global_path + images.products_aruba + 'servicio_virtualsupport.png'
- local.images['config'] = global_path + images.products_aruba + 'servicio_CMDB.png'
- local.images['controladores'] = global_path + images.products_aruba + 'servicio_servicedesk.png'
//- Beneficios
- local.images['acceso'] = global_path + images.products_aruba + 'beneficio_Acceso.png'
- local.images['conectividad'] = global_path + images.products_aruba + 'beneficio_Conectividad.png'
- local.images['velocidad'] = global_path + images.products_aruba + 'beneficio_Velocidad.png'
- local.images['segudidad'] = global_path + images.products_aruba + 'beneficio_Seguridad.png'

- local.images['solucion'] = global_path + images.products_aruba + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Aruba_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Aruba_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass
            img.banner(src=local.images.banner, alt="banner")
            .container
                .content
                    br
                    .title-sections
                        h1 Productos enfocados a Red Aruba
                    p Aruba es líder tecnológico en la distribución de productos enfocados a Red en México y Sellcom es un distribuidor oficial de su catálogo
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es Aruba?
                            p Sellcom y Aruba es una amalgama enfocada en brindar servicios de red y conectividad que den valor a nuestros clientes.
                        ul
                            li
                                strong ACCESS POINT
                                img(src=local.images.acces, alt="acces")
                                p PUNTOS DE ACCESO PARA CONEXIÓN INALAMBRICA.
                            li
                                strong SWITCH
                                img(src=local.images.switch, alt="switch")
                                p INFRAESTRUCTURA PODEROSA PARA LA DEFINICIÓN DE SU RED.
                            li
                                strong ADMINISTRACIÓN DE REDES
                                img(src=local.images.admon, alt="admon")
                                p DAMOS SERVICIO Y MANTENIMIENTO A SU RED.
                            li
                                strong ANÁLISIS DE REDES
                                img(src=local.images.analisis, alt="analisis")
                                p INVESTIGACIÓN Y DIAGNÓSTICO DE LA MEJOR RED PARA SU EMPRESA.
                            li
                                strong MONITOREO DE REDES
                                img(src=local.images.monitoreo, alt="monitoreo")
                                p MEDIANTE SOFTWARE HACEMOS MONITOREO DE ALERTAS Y CONSUMO DE SU RED.
                            li
                                strong CONFIGURACIÓN DE REDES
                                img(src=local.images.config, alt="config")
                                p UNA VEZ DEFINIDA SU RED LA CONFIGURAMOS EN TODA SU EMPRESA.
                            li
                                strong CONTROLADORES
                                img(src=local.images.controladores, alt="controladores")
                                p CENTRALIZACIÓN DE REDES EN TODA LA EMPRESA MEDIANTE SEGMENTACIÓN IP.
        //- .flotante
        //- 	include ../components/_btn-downloads
        //- 	+data-section("Aruba", "whitepage", local.documents.white,local.images.whitepaper)
        //- .flotante2
        //- 	include ../components/_btn-downloads
        //- 	+data-section("Aruba", "casouso", local.documents.caseofuse,local.images.casodeuso)
        .flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar Aruba?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.acceso, alt="acceso")
                                p ACCESO
                            li
                                img(src=local.images.conectividad, alt="conectividad")
                                p CONECTIVIDAD
                            li
                                img(src=local.images.velocidad, alt="velocidad")
                                p VELOCIDAD
                            li
                                img(src=local.images.segudidad, alt="segudidad")
                                p SEGURIDAD
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        section.section-why-dass
            img(src=local.images.solucion, alt="solución conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Iniciando desde el análisis de requerimientos de red de nuestros clientes, pasando por el aprovisionamiento de dispositivos como switches, Access point y su configuración hasta llegar al mantenimiento de las redes, los dispositivos de Aruba garantizan la satisfacción de tus necesidades enfocadas a redes.
                        p 
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
