//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Aviso legal'
- metadata['description'] = 'Ahora costos con las soluciones de Sellcom; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba'
- var landing = 'aviso-legal'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-legal
			h2 Aviso Legal
		section.device-text-one
			.container
				.row
					.col-10.middle
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia itaque labore voluptatem incidunt dolorum dicta pariatur, consequuntur unde tempora rem quas nihil reiciendis praesentium at fuga quisquam saepe ex?
		include ../template/_footer
		if section_scripts
//- - var total_scripts = section_scripts[current_profile].length
//- - for (var i = 0; i < total_scripts; i++)
//- 	script(type="text/javascript" src=section_scripts[current_profile][i])				