//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Premios'
- metadata['description'] = 'Ahora costos con las soluciones de Apple; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Apple, bajo demanda, on demand, soluciones Apple'
- var landing = 'apple'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_apple + 'bannerprincipal.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Apple_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Apple_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/evento.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Nuestros Premios
                    p La persistencia en equipo es el secreto de nuestros logros
        section.section-about-dass-aw#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h1 HP
                        ul
                            li
                                h2.demo HP México 
                                p Cross Portfolio Growth Award
                                p Partner in excellence Award APC
                                h1 2011
                            li
                                h2.demo HP México 
                                p Best Performance Award 
                                p Partner in Excellence Award GPC
                                h1 2012
                            li
                                h2.demo HP Grafend 
                                p Mejor socio de ventas de equipo en dolares
                                h1 2012
                            li
                                h2.demo HP Grafend 
                                p Partner con mayores ventas de productos High PPS FY12
                                h1 2013
                            li
                                h2.demo HP Intel 
                                p Sales Award GPC
                                h1 2013
                            li
                                h2.demo HP Intel 
                                p Mayor volumen de ventas EG zona centro
                                h1 2013
                            li
                                h2.demo HP Inc. 
                                p Mayor crecimiento en ventas de productos especializados de computo
                                h1 2016
                            li
                                h2.demo HP Inc. 
                                p Partner First Platinum
                                h1 2016
                            li
                                h2.demo HP Inc. 
                                p Partner First Platinum
                                h1 2017
                    .col-12
                        .title-sections-text
                            h1 Ingram Micro
                        ul
                            li
                                h2.demo Soles 9
                                p 1er. Lugar ventas movilidad
                                p HP PSG
                                h1 2004
                            li
                                h2.demo Soles 9
                                p 1er. Lugar ventas 
                                p TRIPPLITE
                                h1 2004
                            li
                                h2.demo Soles 9
                                p 1er. Lugar ventas
                                p VIENSONIC
                                h1 2004
                            li
                                h2.demo Soles 12
                                p Mejor canal proyectos
                                p HP PSG
                                h1 2007
                            li
                                h2.demo Soles 13
                                p Mayores ventas de proyectos de volumen
                                p HP IPG 
                                h1 2008
                            li
                                h2.demo Soles 14
                                p Reconocimiento especial mayores ventas 
                                p CDMX
                                h1 2009
                            li
                                h2.demo Soles 16
                                p Mayor venta proyectos de valor a nivel nacional
                                h1 2011
                            li
                                h2.demo Soles 16
                                p Mayor crecimiento hardware
                                h1 2011
                            li
                                h2.demo Soles 18
                                p Mayor venta
                                p HP PSG
                                h1 2013
                            li
                                h2.demo Soles 19
                                p Mayor venta zona metropolitana
                                h1 2014
                            li
                                h2.demo Soles 19
                                p Mayor venta comercial
                                p HP
                                h1 2014
                            li
                                h2.demo Soles 19
                                p Mayor crecimiento de proyectos
                                p HP EG
                                h1 2014
                            li
                                h2.demo Soles 20
                                p Mayor venta
                                p CDMX
                                h1 2015
                    .col-12
                        .title-sections-text
                            h1 Monarca
                        ul
                            li
                                h2.demo Monarca
                                p Clientes con mayores ventas
                                p HP
                                h1 2006
                            li
                                h2.demo Monarca
                                p Distribuidor con mejor desempeño
                                p HP
                                h1 2007
                            li
                                h2.demo Monarca
                                p Distribuidor con mayor volumen de ventas 
                                p PSG
                                h1 2008
                            li
                                h2.demo Monarca
                                p Distribuidor del año zona centro
                                p PSG
                                h1 2010
                            li
                                h2.demo Monarca
                                p Distribuidor del año porcentaje de crecimiento
                                p EB
                                h1 2010
                            li
                                h2.demo Monarca
                                p Mejor canal distribución
                                p HP
                                h1 2010
                            li
                                h2.demo Monarca
                                p Canal con mayor volumen de ventas zona centro
                                p PPS
                                h1 2013
                            li
                                h2.demo Monarca
                                p Canal con mayor volumen de ventas por zona geográfica centro
                                p EG
                                h1 2014
                            li
                                h2.demo Monarca
                                p Canal con mejor desempeño cómputo personal comercial
                                p EG
                                h1 2014
                    .col-12
                        .title-sections-text
                            h1 Intel
                        ul
                            li
                                h2.demo Intel
                                p Technology Provider Platinum  
                                h1 2016
                            li
                                h2.demo Intel
                                p Technology Provider Platinum  
                                h1 2017
                                        .col-12
                        .title-sections-text
                            h1 CompuSoluciones
                        ul
                            li
                                h2.demo CompuSoluciones 
                                p Mayor volumen de ventas TEAM
                                p HP
                                h1 2013
                            li
                                h2.demo CompuSoluciones 
                                p 1er. Lugar de Ventas TEAM
                                p HP
                                h1 2014
                    .col-12
                        .title-sections-text
                            h1 Team
                        ul
                            li
                                h2.demo Team 
                                p Mayor volumen de ventas TEAM México HP 
                                h1 2005
                            li
                                h2.demo Team 
                                p 1er. Lugar de Ventas TEAM Valle
                                h1 2010
                    .col-12
                        .title-sections-text
                            h1 Redhat
                        ul
                            li.w-100
                                h2.demo ReadHat
                                p Quota Achievement
                                p FY16
                    .col-12
                        .title-sections-text
                            h1 TechData
                        ul
                            li.w-100
                                h2.demo TechData
                                p Clientes con mayores ventas 
                                h1 2010
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
