//-Configuración y variables globales del proyecto
include ../config/_variables

//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Ayudanos a mejorar'
- var metadata = {}
- metadata['title'] = 'Sellcom - Ayúdanos a mejorar'
- metadata['description'] = 'Estamos comprometidos a mejorar todos los días'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Quién es, Qué es, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Infraestructura, Virtualización.'
//-
	- Ejemplo de como incluir CSS por pagina
	- var section_style = {}
	- section_style['dev'] = 'home.css'
	- section_style['prod'] = 'home.min.css'
//-
	- Ejemplo como incluir los JS por pagina
	- var section_scripts =  {}
	- section_scripts['dev'] = [global_path  + scripts.base + 'script_1.js', global_path  + scripts.base + 'script_2.js']
	- section_scripts['prod'] = [global_path  + scripts.base + 'main.min.js']
	
- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_about.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_about.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path + images.sellcom_about + 'sellcom_about_banner.png'
- local_images.images['imageLogo1'] = global_path + images.sellcom_about + 'sellcom_about_logo_salinas.png'
- local_images.images['imageLogo2'] = global_path + images.sellcom_about + 'sellcom_about_logo_att.png'
- local_images.images['imageLogo3'] = global_path + images.sellcom_about + 'sellcom_about_logo_santander.png'
- local_images.images['imageLogo4'] = global_path + images.sellcom_about + 'sellcom_about_logo_telefonica.png'
- local_images.images['imageLogo5'] = global_path + images.sellcom_about + 'sellcom_about_logo_banorte.png'
- local_images.images['imageLogo6'] = global_path + images.sellcom_about + 'sellcom_about_logo_bbva.png'
- local_images.images['imageLogo7'] = global_path + images.sellcom_about + 'sellcom_about_logo_liverpool.png'
- local_images.images['imageLogo8'] = global_path + images.sellcom_about + 'sellcom_about_logo_izzi.png'
- local_images.images['imageLogo9'] = global_path + images.sellcom_about + 'sellcom_about_logo_femsa.png'
- local_images.images['imageLogo10'] = global_path + images.sellcom_about + 'sellcom_about_logo_sw.png'
- local_images.images['imageLogo11'] = global_path + images.sellcom_about + 'sellcom_about_logo_actinver.png'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		include ../mixins/_banner.pug
		+banner(local_images.images.banner,'Sellcom banner','Ayúdanos a mejorar','Entendemos la tecnología como un medio, no como un fin.')
		section.section-about-sellcom
			.container
				.row
					.col-10.middle
						h2 Ayúdanos a mejorar
						//-p Somos una compañía experta en hardware y soluciones de TI. Nuestro grupo está conformado por profesionales que unen su experiencia y conocimiento para impulsar tu negocio.
						p Tu satisfacción es nuestra prioridad, es por ello que contamos con un canal de comunicación directa para que nos hagas llegar tus quejas y sugerencias las cuales serán atendidas por nuestro equipo especializado.				
		a(name='contacto')
		include ../components/_downloads_help
		+dowloands-form2('','Nuestro enfoque es darte un servicio integral, con el mejor equipo de hardware a un excelente precio.','¡Acércate a Sellcom!','Danos tu opinión o sugerencia para mejorar','¡Ponte en contacto con nosotros! tel. 01 55 5293 8400')
		section.section-slider-customer
			.container
				.row
					.col-10.middle
						.title-sections
							h2 Ellos confían en nosotros
						ul.carousel-customer
							li
								ul.row.logos
									li.col-4
										.image
											img(src=local_images.images.imageLogo1 alt='Grupo Salinas')
									li.col-4
										.image
											img(src=local_images.images.imageLogo2 alt='AT&T')
									li.col-4
										.image
											img(src=local_images.images.imageLogo3 alt='Santander')
									li.col-4
										.image
											img(src=local_images.images.imageLogo4 alt='Teléfonica')
									li.col-4
										.image
											img(src=local_images.images.imageLogo5 alt='Banorte')
									li.col-4
										.image
											img(src=local_images.images.imageLogo6 alt='BBVA')
							li
								ul.row.logos
									li.col-4
										.image
											img(src=local_images.images.imageLogo7 alt='Liverpool')
									li.col-4
										.image
											img(src=local_images.images.imageLogo8 alt='Izzi')
									li.col-4
										.image
											img(src=local_images.images.imageLogo9 alt='Femsa')
									li.col-4
										.image
											img(src=local_images.images.imageLogo11 alt='Actinver')
									//- li.col-4
										.image
											img(src=local_images.images.imageLogo12 alt='GNP')							
		include ../template/_footer
