//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Ayúdanos a Mejorar'
- metadata['description'] = 'Ahora costos con las soluciones de Apple; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba'
- var landing = 'ayúdanos a mejorar'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

//- Imagenes del nuevo sitio
- local.images['news'] = global_path + images.products_netapp + 'verticales_soluciones_news.png'
- local.images['seguridad'] = global_path + images.products_netapp + 'verticales_soluciones_seguridad.png'
- local.images['auditoria'] = global_path + images.products_netapp + 'verticales_soluciones_auditoria.png'
- local.images['operacion'] = global_path + images.products_netapp + 'verticales_soluciones_operacion.png'
- local.images['control'] = global_path + images.products_netapp + 'vertical_soluciones_control.png'
- local.images['dispositivo'] = global_path + images.products_netapp + 'vertical_soluciones_dispositivo.png'
- local.images['banneraviso'] = global_path + images.products_netapp + 'vertical_soluciones_banneraviso.png'
- local.images['medio'] = global_path + images.products_netapp + 'vertical_soluciones_medio.png'
- local.images['fondo'] = global_path + images.products_netapp + 'vertical_soluciones_fondo.png'
- local.images['hp'] = global_path + images.products_netapp + 'verticales_premio_hp.png'
- local.images['ingram'] = global_path + images.products_netapp + 'verticales_premio_ingram.png'
- local.images['monarca'] = global_path + images.products_netapp + 'verticales_premio_monarca.png'
- local.images['intel'] = global_path + images.products_netapp + 'verticales_premio_intel.png'
- local.images['compusoluciones'] = global_path + images.products_netapp + 'verticales_premio_compusoluciones.png'
- local.images['team'] = global_path + images.products_netapp + 'verticales_premio_team.png'
- local.images['redhat'] = global_path + images.products_netapp + 'verticales_premio_redhat.png'
- local.images['techdata'] = global_path + images.products_netapp + 'verticales_premio_techdata.png'


doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
       
        section.section-banner-dass-vertical.mundo
            img.banner(src=local.images.banneraviso, alt="banneraviso")
            //-.boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/NetApp.mp4" type="video/mp4")
            .container
                .content.algo
                    br
                    .title-sections
                    h1 AYÚDANOS A #[span.green MEJORAR]
        section.section-verticales
             section.section-verticales
                .container.gris
                    .row
                        .col-10
                            h1 AYÚDANOS A #[span.green MEJORAR]
                            p Tu satisfacción es nuestra prioridad, es por ello que contamos con un canal de comunicación directa para que nos hagas llegar tus quejas y sugerencias las cuales serán atendidas por nuestro equipo especializado.
        a(name='contacto')
        include ../components/_downloads_help
        +dowloands-form2('','Nuestro enfoque es darte un servicio integral, con el mejor equipo de hardware a un excelente precio.','¡Acércate a Sellcom!','Danos tu opinión o sugerencia para mejorar','¡Ponte en contacto con nosotros! tel. 01 55 5293 8400')   
        
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])