//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Azure'
- metadata['description'] = 'Ahora costos con las soluciones de Azure; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Azure, bajo demanda, on demand, soluciones Azure'
- var landing = 'azure'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_azure + 'bannerprincipal.jpg'
//- Servicios
- local.images['productivo'] = global_path + images.products_azure + 'beneficio_productivo.png'
- local.images['hibrido'] = global_path + images.products_azure + 'beneficio_computoennubeshibridas.png'
- local.images['inteligente'] = global_path + images.products_azure + 'beneficio_inteligente.png'
- local.images['confianza'] = global_path + images.products_azure + 'beneficio_deconfianza.png'
- local.images['seguro'] = global_path + images.products_azure + 'beneficio_seguridad.png'
- local.images['global'] = global_path + images.products_azure + 'beneficio_infraestructuraglobal.png'
- local.images['administrable'] = global_path + images.products_azure + 'beneficio_administrable.png'
- local.images['red'] = global_path + images.products_azure + 'beneficio_redprivada.png'
//- Beneficios
- local.images['cosas'] = global_path + images.products_azure + 'servicio_internetdelascosas.png'
- local.images['ia'] = global_path + images.products_azure + 'beneficio_IAMACHINELEARNING.png'
- local.images['office'] = global_path + images.products_azure + 'servicio_office365.png'
- local.images['almacenamiento'] = global_path + images.products_azure + 'servicio_almacenamientoybasededatos.png'
- local.images['analisis'] = global_path + images.products_azure + 'servicio_dataanalisis.png'
- local.images['devops'] = global_path + images.products_azure + 'servicio_devOpsycontenedores.png'
- local.images['movilidad'] = global_path + images.products_azure + 'servicio_movilidad.png'
- local.images['soporte'] = global_path + images.products_azure + 'servicio_soporteyoptimizacion.png'

- local.images['solucion'] = global_path + images.products_azure + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Azure_casos_de_uso.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'HPE_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Azure. Su visión. Su nube.
					p Convierta sus ideas en soluciones más rápidamente gracias a una nube de confianza diseñada para usted.
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Azure?
							p La Hiperdisponibilidad es crítica para las empresas de hoy.
						ul
							li
								strong Productivo
								img(src=local.images.productivo, alt="productivo")
								p Reduzca el tiempo de comercialización con más de 100 servicios integrales.
							li
								strong Híbrido
								img(src=local.images.hibrido, alt="hibrido")
								p Desarrolle soluciones e impleméntelas donde desee.
							li
								strong Inteligente
								img(src=local.images.inteligente, alt="inteligente")
								p Cree aplicaciones inteligentes con servicios de Inteligencia Artificial.
							li
								strong De confianza
								img(src=local.images.confianza, alt="confianza")
								p Únase a las empresas de nueva creación, a los gobiernos y al 95 por ciento de las empresas de Fortune 500.
							li
								strong Seguro
								img(src=local.images.seguro, alt="seguro")
								p Utilice los controles de seguridad multinivel integrados y la inteligencia frente a amenazas.
							li
								strong Infraestructura global
								img(src=local.images.global, alt="global")
								p Transforme su negocio y reduzca los costos con una infraestructura de bajo consumo.
							li
								strong Administrable
								img(src=local.images.administrable, alt="administrable")
								p Convierta sus ideas en soluciones más rápido y genere una productividad sin precedentes.
							li
								strong Red privada inalámbrica
								img(src=local.images.red, alt="red")
								p Soluciones de redes inalámbricas integrales para aplicaciones que requieren mucho ancho de banda.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Azure?
							p Beneficios:
						ul
							li
								img(src=local.images.cosas, alt="cosas")
								p Internet de las cosas
							li
								img(src=local.images.ia, alt="ia")
								p lA y Machine Learning
							li
								img(src=local.images.office, alt="office")
								p Office 365 e Identidad empresarial
							li
								img(src=local.images.almacenamiento, alt="almacenamiento")
								p Almacenamiento y Bases de datos
							li
								img(src=local.images.analisis, alt="analisis")
								p Data Analisis
							li
								img(src=local.images.devops, alt="devops")
								p DevOps y Contenedores
							li
								img(src=local.images.movilidad, alt="movilidad")
								p Movilidad
							li
								img(src=local.images.soporte, alt="soporte")
								p Soporte y optimización
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Microsoft Azure es conjunto en constante expansión de servicios en la nube para ayudar a su organización a satisfacer sus necesidades comerciales. Le otorga la libertad de crear, administrar e implementar aplicaciones.
						p Sellcom Solutions ofrece todos los servicios de Azure de forma administrada para que nuestros clientes puedan dejar de preocuparse por el mantenimiento y administración de su nube sin inversiones iniciales y pagando de forma mensual por la disponibilidad del mismo.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
