//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Blackberry'
- metadata['description'] = 'Ahora costos con las soluciones de Blackberry; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Blackberry, bajo demanda, on demand, soluciones Blackberry'
- var landing = 'blackberry'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_blackberry + 'bannerprincipal.jpg'
//- Servicios
- local.images['movilidad'] = global_path + images.products_blackberry + 'servicio_aplicacionesdemovilidad.png'
- local.images['bbm'] = global_path + images.products_blackberry + 'servicio_BBMenterprise.png'
- local.images['adhoc'] = global_path + images.products_blackberry + 'servicio_blackberryadhoc.png'
- local.images['dynamics'] = global_path + images.products_blackberry + 'servicio_blackberrydynamics.png'
- local.images['workspaces'] = global_path + images.products_blackberry + 'servicio_blackberryworkspaces.png'
- local.images['uem'] = global_path + images.products_blackberry +'servicio_blakcberryUEm.png'
//- Beneficios
- local.images['visualizacion'] = global_path + images.products_blackberry + 'beneficio_controlesdeaccesosvisualizacion.png'
- local.images['correo'] = global_path + images.products_blackberry + 'beneficio_correoelectronicocontactos.png'
- local.images['gestion'] = global_path + images.products_blackberry + 'beneficio_gestiomeelusoylaspoliticas.png'
- local.images['eficas'] = global_path + images.products_blackberry + 'beneficio_gestioneefizcamenteelnuemerocreciente.png'
- local.images['nube'] = global_path + images.products_blackberry + 'beneficio_implementacionlocaloenlanube.png'
- local.images['proteja'] = global_path + images.products_blackberry + 'beneficio_protejaelcontenido.png'
- local.images['seguimiento'] = global_path + images.products_blackberry + 'beneficio_seguimientodedocuentosconfines.png'
- local.images['contenerizacion'] = global_path + images.products_blackberry + 'beneficio_tecnologiadecontenerizacion.png'

- local.images['solucion'] = global_path + images.products_blackberry + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Blackberry_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Blackberry_Caso_de _Uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Blackberry Enterprise Mobility Suite
					p Habilitando la 5ta ola de productividad empresarial
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Blackberry?
							p Protección para la Empresa de las Cosas.
						ul
							li
								strong Aplicaciones de movilidad
								img(src=local.images.movilidad, alt="movilidad")
								p Impulse la productividad en todos los dispositivos.

							li
								strong BBM Enterprise
								img(src=local.images.bbm, alt="bbm")
								p Mensajería segura de extremo a extremo.
							li
								strong Blackberry AdHoc
								img(src=local.images.adhoc, alt="adhoc")
								p Coordine la comunicación de crisis entre organizaciones y dentro de ellas.
							li
								strong Blackberry Dynamics
								img(src=local.images.dynamics, alt="dynamics")
								p Transforme su negocio con aplicaciones móviles.
							li
								strong Blackberry Workspaces
								img(src=local.images.workspaces, alt="workspaces")
								p Proteja sus archivos y activos de propiedad intelectual.
							li
								strong Blackberry UEM
								img(src=local.images.uem, alt="uem")
								p Gestione y controle los dispositivos conectados de forma segura.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Blackberry?
							p Beneficios:
						ul
							li
								img(src=local.images.visualizacion, alt="visualizacion")
								p Controles de acceso, visualización, edición, copia, impresión o reenvío de archivos
							li
								img(src=local.images.correo, alt="correo")
								p Correo electrónico, contactos, calendario, acceso a la intranet corporativa y navegación web, de forma segura
							li
								img(src=local.images.gestion, alt="gestion")
								p Gestione el uso y las políticas de aplicaciones
							li
								img(src=local.images.eficas, alt="eficas")
								p Gestione eficazmente el número creciente de dispositivos móviles
							li
								img(src=local.images.nube, alt="nube")
								p Implementación local o en la nube
							li
								img(src=local.images.proteja, alt="proteja")
								p Proteja el contenido en donde sea y garantice la seguridad de los documentos
							li
								img(src=local.images.seguimiento, alt="seguimiento")
								p Seguimiento de documentos con fines de auditoría, conformidad e inteligencia empresarial
							li
								img(src=local.images.contenerizacion, alt="contenerizacion")
								p Tecnología de contenerización de aplicaciones móviles
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución

		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p El internet de las cosas (IoT) es uno de los avances tecnológicos más significativos de nuestro tiempo.Los dispositivos IoT que se conectan a la empresa deben ser protegidos, gestionados y habilitados por el departamento de TI.
						p Todos estos dispositivos conectados conforman la Empresa de las Cosas y están llevando más allá la transformación de las organizaciones.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
