//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Blancco'
- metadata['description'] = 'Ahora costos con las soluciones de Blancco; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Blancco, bajo demanda, on demand, soluciones Blancco'
- var landing = 'blancco'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_blancco + 'bannerprincipal.jpg'
//- Servicios
- local.images['datos'] = global_path + images.products_blancco + 'servicio_gestiondeborradodedatos.png'
- local.images['entornos'] = global_path + images.products_blancco + 'servicio_borradodeentornosenactivo.png'
- local.images['volumen'] = global_path + images.products_blancco + 'servicio_borradodegranvolumen.png'
- local.images['desconectados'] = global_path + images.products_blancco + 'servicio_borradodeequiposdesconectados.png'
//- Beneficios
- local.images['gestion'] = global_path + images.products_blancco + 'beneficio_4.png'
- local.images['cumplimiento'] = global_path + images.products_blancco + 'beneficio_3.png'
- local.images['prevencion'] = global_path + images.products_blancco + 'beneficio_2.png'
- local.images['documentacion'] = global_path + images.products_blancco + 'beneficio_1.png'

- local.images['solucion'] = global_path + images.products_blancco + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Blancco_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Blancco_Caso de Uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Blancco Borrado Seguro de Datos 
					p Toda empresa debe contar con  una política de borrado seguro de  la información de los dispositivos de almacenamiento con los que trabaja
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Blancco?
							p Garantiza el saneamiento absoluto de los datos de todos los activos de TI.
						ul
							li
								strong Gestión de borrado de datos
								img(src=local.images.datos, alt="datos")
								p Monitorea las actividades de borrado de información con una estrategia integral.
							li
								strong Borrado de entornos en activo
								img(src=local.images.entornos, alt="entornos")
								p Implemente rutinas automáticas que permiten el borrado selectivo de datos en sistemas activos sin tiempo de inactividad.
							li
								strong Borrado de gran volumen
								img(src=local.images.volumen, alt="volumen")
								p Capacidad y eficacia para borrar volúmenes de datos.
							li
								strong Borrado de Equipos desconectados
								img(src=local.images.desconectados, alt="desconectados")
								p Soluciones de borrado in sitio para unidades sueltas, grandes volúmenes internos.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Blancco?
							p Beneficios:
						ul
							li
								img(src=local.images.gestion, alt="gestion")
								p Gestiona del ciclo de vida de la información.
							li
								img(src=local.images.cumplimiento, alt="cumplimiento")
								p Cumplimiento legal de protección de datos.
							li
								img(src=local.images.prevencion, alt="prevencion")
								p Prevención de fuga de información.
							li
								img(src=local.images.documentacion, alt="documentacion")
								p Documentación de las operaciones de borrado realizadas.
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Sellcom Solutions ofrece software personalizado y soluciones basadas en la nube.
						p Así como servicios profesionales para el borrado de datos seguro y eficiente para ayudar a mejorar la eficiencia operativa de nuestros clientes y obtener ahorros con la gestión optimizada del ciclo de vida de activos de TI. 
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
