
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'JAMF Sellcom'
- var metadata = {}
- metadata['title'] = 'Sellcom - JAMF'
- metadata['description'] = 'Sellcom Solutions siendo uno de los principales partners de Jamf, ha impulsado su herramienta MDM para los usuarios Apple.'
- metadata['keywords'] = 'Back up & Recovery, Cifrado de datos, Borrado Remoto, Prevención ante Pérdida, Configuración de reglas de seguridad'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'blog_jamf_banner.png'
- local_images.images['imgbase'] = global_path +  images.blog + 'blog_jamf_footer.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='JAMF, Sellcom Solutions')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 JAMF
                    p Administrador de Dispositivos Móviles

    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h1 JAMF, Administrador de Dispositivos Móviles
            p.txt-justify Sellcom Solutions siendo uno de los principales partners de Jamf, ha impulsado su herramienta MDM para los usuarios Apple. Un claro ejemplo es una empresa del sector bancario que decidió cambiar el rumbo de los dispositivos Apple que manejaba dentro de sus oficinas y que opto por implementar Jamf Pro de una forma completa a todos sus dispositivos de uso, para mantener el orden y seguridad de la información empresarial en ellos. Al mismo tiempo que mejoran la experiencia con los usuarios logrando desplegar las configuraciones que ellos requieran, aplicaciones y perfiles de configuración además de encriptación remota rastreo de equipos y bloqueo remoto.
            br
            .quote
                p "Agilidad y seguridad en la configuración de los dispositivos."
            h2 Desafíos
            p.txt-justify La multinacional bancaria detecto un detalle al poder asignar dispositivos a su equipo de trabajo, que hacía uso de diferentes tipos de aplicaciones y sistema, por lo que decidieron iniciar la búsqueda de un sistema que les apoyara en las tareas de configuración de equipos. La configuración represento un reto ante la gran cantidad de equipos que se desplegaron en sus instalaciones ya que fueron cantidades realmente grandes y el equipo de TI no podría ser capaz de poder asignar aplicaciones para cada departamento y configuraciones para cada usuario en corto tiempo.
            br
            .quote
                p "Jamf la herramienta de gestión para las grandes empresas."
            h2 Soluciones
            p.txt-justify Sellcom Solutions además de ser un distribuidor autorizado en México para la venta de Jamf es un partner de Apple. Esto facilito en su totalidad el poder gestionar de manera ordenada todos los equipos a los cuales se estaba haciendo algún tipo de configuración, utilizando las ventajas de un MDM y el servicio de enrolamiento de Apple, que permitió configurar todas las maquinas en un tiempo record. Con la plataforma de Jamf Pro el despliegue de aplicaciones fue más simple con tan solo unos clicks, el departamento de auditorías, RH, sistemas, etc. tenían las aplicaciones listas para su funcionamiento y las configuraciones que eran necesarias. Se dejo de pasar al departamento de TI para que puedan cargar una imagen al disco duro de los equipos, eso quedo en el pasado ya que con las herramientas de gestión de Jamf todo eso era cuestión de minutos y no de horas. Esto brindo una mejor experiencia a los usuarios al poder trabajar sin problema alguno y tener disponibles sus equipos en menor tiempo.
            br
            .col-12
                img.img-blog(src=local_images.images.imgbase alt='JAMF Sellcom')
    include ../template/_footer
