
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Veeam PN for Microsoft Azure'
- var metadata = {}
- metadata['title'] = 'Sellcom - Veeam PN for Microsoft Azure'
- metadata['description'] = 'Veeam PN® for Microsoft Azure (Veeam Powered Network) es una solución gratuita que simplifica y automatiza este proceso de instalación haciendo realidad el recuperación bajo demanda en la nube para cualquier negocio.'
- metadata['keywords'] = 'Veeam'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'azure_veeam.jpg'
- local_images.images['img1'] = global_path +  images.blog + 'azure_veeam_d1.png'
- local_images.images['img2'] = global_path +  images.blog + 'azure_veeam_d2.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Next Cloud, Sellcom Solutions')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 Veeam PN for Microsoft Azure
                    p Presentamos la siguiente generación de recuperación bajo demanda en la nube.

    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            p.txt-justify Cuando se produce un desastre, todas las empresas, independientemente de su tamaño, necesitan una solución fiable para recuperar los sistemas bajo demanda en la nube. Aunque la nube ha permitido facilitar el acceso al recuperación de datos para empresas de cualquier tamaño, muchas tienen problemas todavía para gestionar las complicadas tareas de instalación y configuración de red asociadas a la implementación de este tipo de solución. Veeam PN® for Microsoft Azure (Veeam Powered Network) es una solución gratuita que simplifica y automatiza este proceso de instalación haciendo realidad el recuperación bajo demanda en la nube para cualquier negocio. Veeam PN for Microsoft Azure opera estrechamente con Restore to Microsoft Azure (parte integrante de Veeam Availability Suite™) para ofrecer Veeam Recovery a Microsoft Azure. La solución combinada ayuda a empresas de todos los tamaños a mantener la continuidad del negocio y la disponibilidad de sus cargas de trabajo críticas con la siguiente generación de recuperación bajo demanda en la nube. 
            br
            .col-12
                img.img-blog(src=local_images.images.img1 alt='Veeam Sellcom')
            h3 Veeam PN for Microsoft Azure.
            p.txt-justify Veeam PN for Microsoft Azure es una solución GRATUITA diseñada para simplificar y automatizar la instalación de un sitio de recuperación en Microsoft Azure usando networking definido por software (SDN) ligero. Ayuda a mantener la continuidad del negocio y la disponibilidad reduciendo la complejidad de los despliegues VPN y está diseñado para empresas de TODOS los tamaños, incluidos los proveedores de servicios. Veeam PN:
            ul
                li Funciona con Veeam Restore to Microsoft Azure para ofrecer la siguiente generación de recuperación bajo demanda en la nube sin complejos despliegues VPN, y asegura la continuidad y disponibilidad del negocio.
                li Proporciona conexión segura y sin problemas entre los recursos de TI locales y basados en Azure.
                li Ofrece conectividad de red site-to-site totalmente automatizada y fácil uso entre diversos sitios.
            p.txt-justify Veeam PN for Microsoft Azure puede descargarse GRATIS en Microsoft Azure Marketplace para despliegues basados en Azure y a través del sitio de Veeam para los despliegues cloud y locales.
            br
            .quote
                p "Mantén la continuidad de negocio y disponibilidad durante un desastre."
            br
            h2 Ofrece recuperación bajo demanda en la nube de última generación.
            p.txt-justify  ¿No tiene un administrador de red? Eso no es problema Veeam PN for Microsoft Azure es fácil de instalar. Elimina toda la reconexión de red manual y los complicados procesos de instalación de VPNs, y ofrece recuperación bajo demanda en la nube y proporciona continuidad de negocio cuando más se necesita. Incluso es muy útil cuando necesita restaurar rápidamente un servidor, VMs o unos cuantos servidores físicos y portátiles. Ni siquiera necesita tener una cuenta de Azure, o estar pagando Azure hasta que sea necesario hacer una recuperación.
            br
            h2 Ofrece networking híbrido seguro y sin problemas.
            p.txt-justify Los usuarios nunca tendrán que preocuparse de emparejar los sitios. Veeam PN for Microsoft Azure completa las tareas críticas y en la mayoría de los casos puede configurarse en menos de cinco minutos. Operando desde una arquitectura de modelo radial (hub and spoke), los dispositivos ubicados remotamente pueden establecer rápidamente conexión mediante el uso únicamente de unos archivos de configuración autocontenidos listos para su uso para establecer la comunicación segura con el appliance principal. 
            br
            h2 Conectividad de red híbrida de sitio a sitio totalmente automatizada y de fácil uso.
            p.txt-justify Veeam PN for Microsoft Azure puede usarse para establecer una conexión de red híbrida entre CUALQUIER sitio — con independencia de la ubicación, incluidas las instalaciones locales (on premises), oficinas/sucursales remotas (ROBOs), oficinas domésticas, empleados en itinerancia, y la nube pública. Incluso los proveedores de servicios pueden usarla para establecer una conexión SDN segura entre un sitio cliente y el centro de datos de proveedor de servicio.
            .col-12
                img.img-blog(src=local_images.images.img2 alt='Veeam Sellcom')
    include ../template/_footer
