
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Netx Cloud Sellcom'
- var metadata = {}
- metadata['title'] = 'Sellcom - Next Cloud'
- metadata['description'] = 'NextCloud es la la solución de colaboración de nube autoalojada más popular, utilizada por decenas de millones de usuarios en miles de organizaciones de todo el mundo.'
- metadata['keywords'] = 'Nube, nextcloud, colaboracion, filesharing, owncloud, seguridad, GDPR, HIPAA'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'blog_nextcloud_banner.jpg'
- local_images.images['imgbase'] = global_path +  images.blog + 'blog_netxcloud_footer.jpg'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Next Cloud, Sellcom Solutions')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 NextCloud
                    p La mejor opción de nube autogestionada

    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h1 NextCloud, la mejor opción de nube autogestionada
            p.txt-justify Los equipos de trabajo modernos utilizan archivos adjuntos de correo electrónico, aplicaciones de chat público, herramientas publicas de intercambio de archivos y llamadas de teléfono para comunicarse y colaborar. Nextcloud devuelve a las empresas el control de la colaboracion de sus empleados y su TI.
            br
            p.txt-justify NextCloud es la la solución de colaboración de nube autoalojada más popular, utilizada por decenas de millones de usuarios en miles de organizaciones de todo el mundo.  Ofrece a las organizaciones modernas las herramientas que necesitan para alojar sus propios reemplazos que mejoran la productividad de las soluciones de cloud computing
            br
            .quote
                p "Agilidad y seguridad en la configuración de los dispositivos."
            br
            h2 Control
            p.txt-justify Proteja, controle y supervise los datos y la comunicación en toda la empresa. Garantizar el cumplimiento de los requisitos comerciales y legales. Mantenga sus datos en servidores de su propiedad en todo momento. Nada se filtra, ni siquiera los metadatos.
            br
            h2 Productividad
            p.txt-justify Permita la productividad a través de cualquier plataforma, ya sea en la oficina o de viaje, para compartir, colaborar y comunicarse a través de las fronteras de la organización. Nextcloud proporciona acceso transparente a los datos de cualquier almacenamiento.
            br
            h2 Comunidad
            p.txt-justify Disfrute de las mejoras constantes de un modelo de desarrollo de comunidad próspero y transparente, totalmente de código abierto, libre de lockins o paywalls. Disfrute de las ventajas del soporte empresarial cuando lo necesite.
            br
            .col-12
                img.img-blog(src=local_images.images.imgbase alt='JAMF Sellcom')
    include ../template/_footer
