
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Qlik Sense'
- var metadata = {}
- metadata['title'] = 'Sellcom - Qlik Sense'
- metadata['description'] = 'Qlik Sense, con su elemento central, el motor asociativo le permite descubrir conocimientos que las herramientas de BI basadas en consultas simplemente no captan.'
- metadata['keywords'] = 'Teradata, Omniture (Adobe Analytics), Excel, CSV, Bancomer, Qlik, Sense'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog + 'qlik_banner_2.jpg'
- local_images.images['imgbase'] = global_path +  images.blog + 'Qlik_footer_2.jpg'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Next Cloud, Sellcom Solutions')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 Qlik Sense
                    p Analítica de datos para cada necesidad de BI

    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            p.txt-justify Qlik Sense, con su elemento central, el motor asociativo le permite descubrir conocimientos que las herramientas de BI basadas en consultas simplemente no captan. Busque y explore libremente entre todos sus datos y cambie de forma instantánea los análisis cuando surjan ideas nuevas. No se verá restringido a una exploración lineal con visualizaciones parciales de datos. Obtendrá una flexibilidad total, con una plataforma de analítica de datos lista para la nube que cubre el abanico completo de casos prácticos de BI; ideal para cualquier analista, equipo o empresa de ámbito mundial.
            br
            h3 Haga lo inimaginable con sus datos
            p.txt-justify Qlik Sense le da superpoderes de datos. Combine fácilmente todas sus fuentes de datos, independientemente de su tamaño, en una única visualización. El motor asociativo de Qlik indexa cada relación posible de sus datos para que pueda obtener conocimientos inmediatos y explorar en la dirección en la que su intuición le lleve. A diferencia de las herramientas basadas en consultas, aquí no hay datos agregados previamente ni consultas predefinidas que le frenen. Esto significa que puede hacer nuevas preguntas y crear analítica sin tener que desarrollar nuevas consultas o esperar por los expertos.
            br
            .quote
                p "Una experiencia analítica increíble que les encantará a todos."
            br
            h2 Análisis interactivos, sin limitaciones
            p.txt-justify Haga una pregunta y explore rápidamente todos sus datos para obtener conocimientos, utilizando la búsqueda global y las selecciones interactivas. Toda la analítica se actualiza de forma instantánea con cada clic, sin importar cuánto profundice, si amplía el análisis o cambia su forma de pensar en nuevas direcciones. No hay límites en la exploración y no se deja ningún dato atrás.
            br
            h2 Simplemente visualizaciones más inteligentes
            p.txt-justify Las visualizaciones más innovadoras sitúan sus datos en el contexto adecuado para responder a cualquier pregunta. Explore la forma de los datos e identifique valores atípicos. Utilice integración de analítica avanzada y cálculos geográficos para ampliar los conocimientos. Es completamente interactiva; cribe, haga zoom y seleccione para encontrar conocimientos de manera visual.
            br
            h2 Cree y explore en cualquier dispositivo
            p.txt-justify Explore, cree y colabore en cualquier dispositivo, directamente en el momento en el que toma una decisión. Qlik Sense se creó desde cero con un diseño móvil responsivo e interacción táctil. Cree apps de analítica una vez y funcionarán en todas partes, en dispositivos de escritorio, tablet o móvil.
            br
            h2 Tome mejores decisiones. De forma conjunta.
            p.text-justify Con Qlik Sense, todo el mundo puede tomar decisiones más inteligentes y mejor informadas, de forma conjunta. No importa el tamaño que tenga su equipo, comparta conocimientos de forma sencilla y trabaje de forma colaborativa de maneras muy potentes:
            ul
              li Manténgase conectado con un centro unificado: encuentre y comparta apps de analítica de forma segura desde un lugar centralizado.
              li Colabore de forma segura: cree y comparta modelos de datos fiables, analítica y visualizaciones con compañeros para impulsar la innovación empresarial de forma conjunta.
              li Comparta historias basadas en datos: cree historias guiadas sobre sus resultados sin abandonar sus análisis. También puede exportar en formatos de archivo populares.
            .col-12
                img.img-blog(src=local_images.images.imgbase alt='Qlik Sense')
    include ../template/_footer
