//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Conoce a Sellcom'
- var metadata = {}
- metadata['title'] = 'Sellcom - Conócenos'
- metadata['description'] = 'En Sellcom entendemos la tecnología como un medio, no como un fin; por ello ofrecemos consultoría, definición e integración de proyectos de TI.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Quién es, Qué es, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Infraestructura, Virtualización.'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_about.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_about.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

//- Imagenes del nuevo sitio
- local.images['news'] = global_path + images.products_netapp + 'verticales_soluciones_news.png'
- local.images['seguridad'] = global_path + images.products_netapp + 'verticales_soluciones_seguridad.png'
- local.images['auditoria'] = global_path + images.products_netapp + 'verticales_soluciones_auditoria.png'
- local.images['operacion'] = global_path + images.products_netapp + 'verticales_soluciones_operacion.png'
- local.images['control'] = global_path + images.products_netapp + 'vertical_soluciones_control.png'
- local.images['dispositivo'] = global_path + images.products_netapp + 'vertical_soluciones_dispositivo.png'
- local.images['banner'] = global_path + images.products_netapp + 'vertical_soluciones_banner.png'
- local.images['medio'] = global_path + images.products_netapp + 'vertical_soluciones_medio.png'
- local.images['fondo'] = global_path + images.products_netapp + 'vertical_soluciones_fondo.png'



doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass-vertical.mundo
            .banner-vr-2
            .container
                .content.algo
                    br
                    .title-sections
                    h1 Conoce a #[span.green Sellcom]
                    p Entendemos la tecnología como un medio, no como un fin.
        
        section.section-verticales
            .container.gris
                .row
                    .col-12
                    h2 #[span.green Somos] tu mejor #[span.green aliado] estratégico en tecnología.
                    p Nuestro grupo está conformado por profesionales que unen su experiencia y su conocimiento en: #[strong tecnología, solución y estrategia para impulsar tu negocio.]

                    .col-10.middle
                        .title-sections.txt-justify
                            h3 #[strong Misión]
                            //-h2 Fomente la cultura de seguridad
                            p Ser el mejor aliado tecnológico en la consultoría, definición e implementación de proyectos de TI, que permitan el crecimiento, control y eficiencia de los negocios.
                            h3 #[strong Visión]
                            p Crear constante innovación a través de nuevas formas de colaboración que satisfagan las necesidades de los clientes; además de ser referencia y la más valorada opción tecnológica.
                            h3 #[strong Valores]
                            p
                            ul
                                li #[strong Integridad:] Es honesto y congruente con sus acciones.
                                li #[strong Innovación:] Soluciones que agregar valor.
                                li #[strong Compromiso:] Busca el cómo sí.
                                li #[strong Confianza:] Crear certeza a través de tus acciones.
                                li #[strong Calidad:] Buscamos la excelencia.
                                li #[strong Trabajo en Equipo:] Unión de esfuerzos encaminados al logro de una meta en común.
        section.section-numbers
            .container
                .row
                    .col-10.middle
                        .col-4
                            span.number-animate#number-collaborators 300
                            p Colaboradores enfocados en ofrecerte la mejor estrategia tecnológica.
                        .col-4
                            span +&nbsp;
                            span.number-animate#number-success 100
                            p Casos de éxito en México.
                        .col-4
                            span.number-animate#number-awards 80
                            p Reconocimiento otorgados.

                    
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
