//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Contáctanos'
- metadata['description'] = 'Ahora costos con las soluciones de Apple; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba'
- var landing = 'contáctanos'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
//- Imagenes del nuevo sitio
- local.images['banneraviso'] = global_path + images.products_netapp + 'vertical_soluciones_banneraviso.png'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass-vertical.mundo
            img.banner(src=local.images.banneraviso, alt="banneraviso")
            //-.boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/NetApp.mp4" type="video/mp4")
            .container
                .content.algo
                    br
                    .title-sections
                    h1 CON#[span.green TÁCTANOS]
        section.section-verticales
             section.section-verticales
                .container.gris
                    .row
                        .col-10
                            h1 CON#[span.green TÁCTANOS]
        a(name='contacto')
        include ../components/_downloads
        +dowloands-form('','Nuestro enfoque es darte un servicio integral, con el mejor equipo de hardware a un excelente precio.','¡Acércate a Sellcom!', 'Juntos rumbo a la Transformación Digital. Contáctanos','¡Ponte en contacto con nosotros! tel. 01 55 5293 8400')
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
