//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - CyberC'
- metadata['description'] = 'Ahora costos con las soluciones de CyberC; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, CyberC, bajo demanda, on demand, soluciones CyberC'
- var landing = 'cyberc'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_cyberc + 'bannerprincipal.jpg'
//- Servicios
- local.images['detect'] = global_path + images.products_cyberc + 'servicio_JUMBLEDB-DETECT.png'
- local.images['protect'] = global_path + images.products_cyberc + 'servicio_JUMBLEDB-protect.png'
- local.images['alert'] = global_path + images.products_cyberc + 'servicio_JUMBLEDB-alert.png'
//- Beneficios
- local.images['regulaciones'] = global_path + images.products_cyberc + 'beneficio_cumplimientoderegulaciones.png'
- local.images['estandares'] = global_path + images.products_cyberc + 'beneficio_cumplimientodeestandares.png'
- local.images['controlar'] = global_path + images.products_cyberc + 'beneficio_consensiblestrolarlosdatos.png'
- local.images['mascara'] = global_path + images.products_cyberc + 'beneficio_enmascaramientodedatos.png'
- local.images['sensible'] = global_path + images.products_cyberc + 'beneficio_identificarlosdatossensibles.png'
- local.images['mapeo'] = global_path + images.products_cyberc + 'beneficio_mapeodedatos.png'
- local.images['ocultar'] = global_path + images.products_cyberc + 'beneficio_ocultarlosdatosoriginales.png'
- local.images['fuga'] = global_path + images.products_cyberc + 'beneficio_previenecualquierfuga.png'

- local.images['solucion'] = global_path + images.products_cyberc + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Cyber_c_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Cyber_c_Caso_de_uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 CyberC – JumbleDB
					p Solucione las mayores problemáticas actuales de fugas de datos, incremente la seguridad y protección de la información y garantice la confianza de sus usuarios.
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es CyberC?
							p Una nueva solución en TI.
						ul
							li
								strong JumbleDB Detect
								img(src=local.images.detect, alt="detect")
								p Identifique dónde residen sus datos confidenciales. 
							li
								strong JumbleDB Protect
								img(src=local.images.protect, alt="protect")
								p Datos reales y significativos, manteniendo la integridad del negocio.
							li
								strong JumbleDB Alert
								img(src=local.images.alert, alt="alert")
								p Recibir notificaciones cuando se agreguen datos confidenciales a una base de datos ya enmascarada.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar CyberC?
							p Beneficios:
						ul
							li
								img(src=local.images.regulaciones, alt="regulaciones")
								p Cumplimiento de regulaciones de Seguridad como: EU GDPR.
							li
								img(src=local.images.estandares, alt="estandares")
								p Cumplimento de estandares de seguridad como: PCI-DSS, GLBA.
							li
								img(src=local.images.fuga, alt="fuga")
								p Previene cualquier fuga de información.
							li
								img(src=local.images.sensible, alt="sensible")
								p Identificar los datos sensibles de la organización.
							li
								img(src=local.images.mapeo, alt="mapeo")
								p Mapeo de datos sensibles de la organización.
							li
								img(src=local.images.controlar, alt="controlar")
								p Controlar los datos sensibles de la organización.
							li
								img(src=local.images.ocultar, alt="ocultar")
								p Ocultar datos originales con datos alternativos realistas no sensibles.
							li
								img(src=local.images.mascara, alt="mascara")
								p Los datos deben seguir siendo utilizables y también deben verse reales y ser consistentes.
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Detección, clasificación y enmascaramiento de datos sensibles. Una solución integral para todas sus necesidades de enmascaramiento y detección de datos confidenciales.
						p Ayuda a garantizar un trabajo eficiente en entornos de prueba y desarrollo, al usar datos significativos en su estructura original con la capacidad de evitar la filtración de datos confidenciales a terceros que no sean usuarios autorizados.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
