
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Sellcom Daas'
- var metadata = {}
- metadata['title'] = 'Sellcom - Daas'
- metadata['description'] = 'Llegó la era de la Daas; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Daas, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.solutions_daas + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.solutions_daas + 'sellcom-devicedass-service.jpg'

- local_images.images['administracionremota'] = global_path + images.solutions_daas + 'administracionremota.jpg'
- local_images.images['dispositivosdecomputo'] = global_path + images.solutions_daas + 'dispositivosdecomputo.jpg'
- local_images.images['herramientasdeconfiguracion'] = global_path + images.solutions_daas + 'herramientasdeconfiguracion.jpg'
- local_images.images['herramientasdegestion'] = global_path + images.solutions_daas + 'herramientasdegestion.jpg'

- local_images.images['icon_costosendispositivos'] = global_path + images.solutions_daas + 'icon_controldecostosendispositivos.png'
- local_images.images['icon_inventarios'] = global_path + images.solutions_daas + 'icon_controldeinventarios.png'
- local_images.images['icon_nivelesdeservicio'] = global_path + images.solutions_daas + 'icon_controldenivelesdeservicio.png'
- local_images.images['icon_administraciondispositivos'] = global_path + images.solutions_daas + 'icon_mejoradministraciondedispositivos.png'

- local_images.images['logo_apple'] = global_path + images.solutions_daas + 'logo_apple.png'
- local_images.images['logo_hpe'] = global_path + images.solutions_daas + 'logo_hewlett.png'
- local_images.images['logo_huawei'] = global_path + images.solutions_daas + 'logo_huawei.png'
- local_images.images['logo_jamf'] = global_path + images.solutions_daas + 'logo_JAMF.png'
- local_images.images['logo_microsoft'] = global_path + images.solutions_daas + 'logo_microsoft.png'


doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-video-dass
      img(src=local_images.images.banner, alt="Dass")
      .boxVideo
        video#secondVideo(autoplay loop muted)
          source(src="../images/video/daas.mp4" type="video/mp4")
      
        .container
            .content
                br
                .title-sections
                   h1 Device as a Service
                p Todos los componentes a rededor de tus dispositivos los ponemos a tu alcance.         
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
                li
                  a(href='#device') #[p Conoce nuestra soluci&oacute;n]
                li
                  a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
                li
                  a(href='#whydaas') #[p ¿Por qu&eacute; implementar Daas?]
                li
                  a(href='#toolsdaas') #[p Herramientas]
                li
                 a(href='#weareexperts') #[p Socios]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6.txt-justify
                h2 ¿Qué es Daas?
                p Conjunto de herramientas, programas y dispositivos para brindarte un servicio de calidad en torno a dispositivos.
                p Realizamos la venta de los dispositivos que satisfagan tu requerimiento (tabletas, desktops, laptops, etc) y adicionalmente te brindamos los servicios de configuración, mantenimiento y renovación.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle.txt-justify
            h2 ¿C&oacute;mo funciona?
            p El flujo de Daas es el que a continuación se menciona.
            ul
              li 
                p #[strong Venta de equipo] 
                  span 
              li
                p #[strong Configuración de equipo / enrolamiento de equipo] 
                  span 
              li
                p #[strong Puesta en marcha de equipo] 
                  span 
              li 
                p #[strong Mantenimiento y atención de incidencias de dispositivos]
                  span 
              li
                p #[strong Renovación o complemento de equipos] 
                  span 
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Daas?
            p La adopción de Daas en tus dispositivos te permitirá.
            ul
              li
                img(src=local_images.images.icon_nivelesdeservicio alt='Soporte global ')
                p Control de niveles de servicio.
              li
                img(src=local_images.images.icon_costosendispositivos alt='Protección contra daños')
                p Control de costos en dispositivos.
              li
                img(src=local_images.images.icon_administraciondispositivos alt='Servicios de reparación')
                p Mejor administración de dispositivos.
              li
                img(src=local_images.images.icon_inventarios alt='Servicios de reparación')
                p Control de inventarios.
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p 
            ul.row
              li.col-3
                .img-tools
                  img(src=local_images.images.administracionremota alt='Software Delivery')
                .description-tools
                  h3 Herramientas de administración remota
                  p MDM, consola de administración
              li.col-3
                .img-tools
                  img(src=local_images.images.dispositivosdecomputo alt='Asset Management')
                .description-tools
                  h3 Dispositivos de cómputo
                  p 
              li.col-3
                .img-tools
                  img(src=local_images.images.herramientasdeconfiguracion alt='Software Metrix')
                .description-tools
                  h3 Herramientas de configuración o enrolamiento
                  p 
              li.col-3
                .img-tools
                  img(src=local_images.images.herramientasdegestion alt='Software Metrix')
                .description-tools
                  h3 Herramienta de gestión o de seguimiento de mantenimientos
                  p 
    section.we-are-experts#weareexperts
      .container
        .row
          .col-10.middle
            h2 Somos expertos en DaaS
            p  colaborando con los líderes como son:
            ul.row
              li.col-4
                a(href="https://www.apple.com/mx/" target="_blank") #[img(src=local_images.images.logo_apple alt='Apple')]
              li.col-4
                a(href="https://www.hpe.com/mx/es/home.html" target="_blank") #[img(src=local_images.images.logo_hpe alt='HPe')]
              li.col-4
                a(href="https://consumer.huawei.com/mx/" target="_blank") #[img(src=local_images.images.logo_huawei alt='Huawei')]
              li.col-4
                a(href="https://www.jamf.com/" target="_blank") #[img(src=local_images.images.logo_jamf alt='Jamf')]
              li.col-4
                a(href="https://www.microsoft.com" target="_blank") #[img(src=local_images.images.logo_microsoft alt='Microsoft')]
    include ../template/_footer    
