//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Desarrollo de software'
- metadata['description'] = 'Ahora costos con las soluciones de Desarrollo de software; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Desarrollo de software, bajo demanda, on demand, soluciones Desarrollo de software'
- var landing = 'desarrollo'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.services_desarrollo + 'bannerprincipal.jpg'
//- Servicios
- local.images['analisis'] = global_path + images.services_desarrollo + 'servicio_Analisis.png'
- local.images['planeacion'] = global_path + images.services_desarrollo + 'servicio_planeacion.png'
- local.images['desarrollo'] = global_path + images.services_desarrollo + 'servicio_desarrollo.png'
- local.images['pruebas'] = global_path + images.services_desarrollo + 'servicio_pruebas.png'
- local.images['transicion'] = global_path + images.services_desarrollo + 'servicio_transicion.png'
- local.images['mantenimiento'] = global_path + images.services_desarrollo + 'servicio_mantenimiento.png'
- local.images['capacitacion'] = global_path + images.services_desarrollo + 'servicio_capacitacion.png'
- local.images['documentacion'] = global_path + images.services_desarrollo + 'servicio_documentacion.png'
//- Beneficios
- local.images['seguridad'] = global_path + images.services_desarrollo + 'sellcom-des-seguridad.png'
- local.images['transformacion'] = global_path + images.services_desarrollo + 'sellcom-des-transformacion.png'
- local.images['modernizacion'] = global_path + images.services_desarrollo + 'sellcom-des-modernizacion.png'
- local.images['movilidad'] = global_path + images.services_desarrollo + 'sellcom-des-movilidad.png'
- local.images['customizable'] = global_path + images.services_desarrollo + 'sellcom-des-customizable.png'
- local.images['nube'] = global_path + images.services_desarrollo + 'sellcom-des-nube.png'
- local.images['integracion'] = global_path + images.services_desarrollo + 'sellcom-des-integracion.png'
- local.images['calidad'] = global_path + images.services_desarrollo + 'sellcom-des-calidad.png'

- local.images['solucion'] = global_path + images.services_desarrollo + 'solucion.jpg'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-video-dass
			img.banner(src=local.images.banner, alt="banner")
			.boxVideo
				video#secondVideo(autoplay loop muted)
					source(src="../images/video/desarrollo.mp4" type="video/mp4")
			.container
				.content
					br
					.title-sections
						h1 Desarrollo de Software Sellcom
					p Sellcom Solutions innovador en el desarrollo de aplicaciones, servicios de escritorio y servicios web
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Desarrollo de software?
							p Somos una empresa con la experiencia en el desarrollo de soluciones para nuestros socios tecnológicos, realizamos soluciones a la medida en diversos lenguajes de programación.
						ul
							li
								strong ANÁLISIS
								img(src=local.images.analisis, alt="analisis")
								p Experiencia en el levantamiento, diseño y modelado del requerimiento.
							li
								strong PLANEACIÓN
								img(src=local.images.planeacion, alt="planeacion")
								p Definimos la metodología indicada para cada solución ágil o tradicional.
							li
								strong DESARROLLO
								img(src=local.images.desarrollo, alt="desarrollo")
								p Amplia experiencia en lenguajes de programación incluyendo móviles.
							li
								strong PRUEBAS
								img(src=local.images.pruebas, alt="pruebas")
								p Ejecución de pruebas de alto grado, integrales, QA, UAT, estrés.
							li
								strong TRANSICIÓN
								img(src=local.images.transicion, alt="transicion")
								p Llevamos a punto productivo de forma ordenada cada desarrollo.
							li
								strong MANTENIMIENTO
								img(src=local.images.mantenimiento, alt="mantenimiento")
								p Seguimiento al cumplimiento de objetivos de los desarrollos.
							li
								strong CAPACITACIÓN
								img(src=local.images.capacitacion, alt="capacitacion")
								p Gestión del cambio con los nuevos usuarios.
							li
								strong DOCUMENTACIÓN
								img(src=local.images.documentacion, alt="documentacion")
								p Cada etapa cuenta con sus entregables.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Desarrollo de software?
							p Beneficios:
						ul
							li
								img(src=local.images.seguridad, alt="seguridad")
								p SEGURIDAD
							li
								img(src=local.images.transformacion, alt="transformacion")
								p TRANSFORMACIÓN DIGITAL
							li
								img(src=local.images.modernizacion, alt="modernizacion")
								p MODERNIZACIÓN DE APLICACIONES
							li
								img(src=local.images.movilidad, alt="movilidad")
								p MOVILIDAD
							li
								img(src=local.images.customizable, alt="customizable")
								p CUSTOMIZABLE
							li
								img(src=local.images.nube, alt="nube")
								p NUBE / ON PREMISE
							li
								img(src=local.images.integracion, alt="integracion")
								p INTEGRACIÓN CON OTRAS APPS
							li
								img(src=local.images.calidad, alt="calidad")
								p CALIDAD
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Nuestra fábrica de software está integrada por colaboradores expertos con desarrollo para diferentes sectores, respetando el ciclo de vida del desarrollo de software para garantizar aplicaciones y servicios que den valor a nuestros clientes.
						p 
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
