//-Configuración y variables globales del proyecto
include ../config/_variables

//-
  Ajustes de la configuración global para esta sección
- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la página
- var page = 'Sellcom Digitalización'
- var metadata = {}
- metadata['title'] = 'Sellcom - Digitalización'
- metadata['description'] = 'Llegó la era de la Digitalización; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Digitalización, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')

- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')


- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')

- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.services_digitalizacion + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.services_digitalizacion + 'sellcom-devicedass-service.jpg'
- local_images.images['asset_management'] = global_path + images.services_digitalizacion + 'sellcom-daas-assetmanagement.jpg'
- local_images.images['delivery'] = global_path + images.services_digitalizacion + 'sellcom-daas-softwaredelivery.jpg'
- local_images.images['metrix'] = global_path + images.services_digitalizacion + 'sellcom-daas-softwaremetrix.jpg'
- local_images.images['icon_estability'] = global_path + images.services_digitalizacion + 'sellcom-icono-estabilidad.png'
- local_images.images['icon_protection'] = global_path + images.services_digitalizacion + 'sellcom-icono-proteccion.png'
- local_images.images['icon_repair'] = global_path + images.services_digitalizacion + 'sellcom-icono-reparacion.png'
- local_images.images['icon_suport'] = global_path + images.services_digitalizacion + 'sellcom-icono-soporteglobal.png'
- local_images.images['logo_aruba'] = global_path + images.services_digitalizacion + 'sellcom-logo-aruba.png'
- local_images.images['logo_getac'] = global_path + images.services_digitalizacion + 'sellcom-logo-getac.png'
- local_images.images['logo_hewlett'] = global_path + images.services_digitalizacion + 'sellcom-logo-hewlett.png'
- local_images.images['logo_hp'] = global_path + images.services_digitalizacion + 'sellcom-logo-hp.png'
- local_images.images['logo_lexmark'] = global_path + images.services_digitalizacion + 'sellcom-logo-lexmark.png'
- local_images.images['logo_reseller'] = global_path + images.services_digitalizacion + 'sellcom-logo-reseller.png'


doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Digitalización')
      .container
        .content
          .title-sections
              h1 Digitalización
              p Transformación digital en su mejor momento.
              
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
               li
                 a(href='#device') #[p Conoce nuestra soluci&oacute;n]
               li
                 a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
               li
                 a(href='#whydaas') #[p ¿Por qu&eacute; implementar Digitalización?]
               li
                 a(href='#toolsdaas') #[p Herramientas]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6
                h2 ¿Qué es Digitalización?
                p Debido al avance de la tecnología, no tener los documentos en formato digital y ligados a procesos automatizados de ciclo de vida, puede suponer una gran pérdida de tiempo y dinero.
                p Convertir este proyecto en prioritario puede suponer un cambio en la gestión de la información de su empresa, reduciendo tiempos de solicitud de información y consulta.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p La digitalización de documentos implica pasar documentación física a formato digital, muchas empresas almacenan gran cantidad de documentación que ocupa demasiado espacio y es difícil de consultar. El proceso puede resultar tedioso, pero una vez realizado puede suponer una ventaja competitiva al hacer que la información sea accesible.
            ul
              li 
                p #[strong Servicio de digitalización de documentos] 
                  span 
              li
                p #[strong De microfilm a digital y viceversa] 
                  span 
              li
                p #[strong Captura de datos] 
                  span 
              li 
                p #[strong Reconocimiento de textos y formas]
                  span utilizando métodos OCR, ICR, OMR, BCR.
              li
                p #[strong Compresión de Imágenes] 
                  span 
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Digitalización?
            p Contamos con experiencia en el ámbito de la digitalización por lo que destacamos los siguientes números de nuestra experiencia.
            ul
              li
                img(src=local_images.images.icon_suport alt='Soporte global ')
                p Mensualmente se tiene una estimación de digitalización de dos millones de documentos mensuales.
              li
                img(src=local_images.images.icon_protection alt='Protección contra daños')
                p Se tiene una estimación de digitalización de mil planos diarios sin importar el material, tamaño o estado de deterioro.
              li
                img(src=local_images.images.icon_repair alt='Servicios de reparación')
                p Mas de 18 casos de éxito dentro de los que destacamos: Sector educativo, Sector Salud, Sector financiero, Registros civiles estatales, etc.
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p Para la digitalización utilizamos las siguientes herramientas las cuales nos apoyan a brindar un servicio de calidad a nuestros clientes.
            ul.row
              li.col-4
                .img-tools
                  img(src=local_images.images.asset_management alt='Asset Management')
                .description-tools
                  h3 Scanners de alta Gama
                  p Contamos con digitalizadores que nos permiten trabajar con: rollos y microfichas, alto volúmen, planos y libros.
              li.col-4
                .img-tools
                  img(src=local_images.images.delivery alt='Software Delivery')
                .description-tools
                  h3 SW Especializado
                  p Nuestro software de digitalización se adapta con las herramienta de HW: permitiendo localización, archivos compartidos, envios, encriptación, almacenamiento y seguridad.
              li.col-4
                .img-tools
                  img(src=local_images.images.metrix alt='Software Metrix')
                .description-tools
                  h3 Colaboradores especializados
                  p Nuestros colaboradores son capacitados en el cuidado de su información física y digital y representan a Sellcom solución como empresa líder en la administración de información. 
    include ../template/_footer    
