//-Configuración y variables globales del proyecto
include ../config/_variables

//-
  Ajustes de la configuración global para esta sección
- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la página
- var page = 'Sellcom Pentest and Ethical Hacking'
- var metadata = {}
- metadata['title'] = 'Sellcom - Pentest and Ethical Hacking'
- metadata['description'] = 'Llegó la era de la Pentest and Ethical Hacking; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Pentest and Ethical Hacking, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')

- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')


- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')

- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.services_pentest + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.services_pentest + 'sellcom-devicedass-service.jpg'
- local_images.images['asset_management'] = global_path + images.services_pentest + 'sellcom-daas-assetmanagement.jpg'
- local_images.images['delivery'] = global_path + images.services_pentest + 'sellcom-daas-softwaredelivery.jpg'
- local_images.images['metrix'] = global_path + images.services_pentest + 'sellcom-daas-softwaremetrix.jpg'
- local_images.images['icon_estability'] = global_path + images.services_pentest + 'sellcom-icono-estabilidad.png'
- local_images.images['icon_protection'] = global_path + images.services_pentest + 'sellcom-icono-proteccion.png'
- local_images.images['icon_repair'] = global_path + images.services_pentest + 'sellcom-icono-reparacion.png'
- local_images.images['icon_suport'] = global_path + images.services_pentest + 'sellcom-icono-soporteglobal.png'
- local_images.images['logo_aruba'] = global_path + images.services_pentest + 'sellcom-logo-aruba.png'
- local_images.images['logo_getac'] = global_path + images.services_pentest + 'sellcom-logo-getac.png'
- local_images.images['logo_hewlett'] = global_path + images.services_pentest + 'sellcom-logo-hewlett.png'
- local_images.images['logo_hp'] = global_path + images.services_pentest + 'sellcom-logo-hp.png'
- local_images.images['logo_lexmark'] = global_path + images.services_pentest + 'sellcom-logo-lexmark.png'
- local_images.images['logo_reseller'] = global_path + images.services_pentest + 'sellcom-logo-reseller.png'


doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Pentest and Ethical Hacking')
      .container
        .content
          .title-sections
              h1 Pentest and Ethical Hacking
              p Detecta áreas de oportunidad para mejorar la seguridad de su empresa.
              
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
               li
                 a(href='#device') #[p Conoce nuestra soluci&oacute;n]
               li
                 a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
               li
                 a(href='#whydaas') #[p ¿Por qu&eacute; implementar Pentest and Ethical Hacking?]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6
                h2 ¿Qué es Pentest and Ethical Hacking?
                p Nuestros expertos de seguridad informática, se especializan en pruebas de penetración y en otras metodologías para asegurar la seguridad de los sistemas informáticos de una organización.
                p Las pruebas de penetración permiten: evaluar vulnerabilidades, analizar y categorizar las debilidades explotadas y proveer recomendaciones con base a las prioridades de la organización y por ultimo eliminar dichas vulnerabilidades.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p Para la realización de Análisis de Vulnerabilidades y Pruebas de Penetración de forma controlada, no intrusiva y evitando poner en riesgo la operatividad de los sistemas que se encuentran en producción, se siguen 4 pasos:
            ul
              li 
                p #[strong Evaluación] 
                  span Este proceso inicia evaluando las diferentes aplicaciones web. La metodología de evaluación de vulnerabilidades web consiste en primer lugar en el desarrollo de un proceso llamado spidering, en el cual se recolecta la información relacionada a la estructura de directorios y URLs de la aplicación web evaluada.
              li
                p #[strong Ejecución Automática] 
                  span A partir de estos datos, son desarrolladas las pruebas con base en diversos tipos de ataques, mediante herramientas automatizadas y siguiendo las metodologías ISO27001, OWASP, ISSAF, PTES y OSSTMM.
              li
                p #[strong Ejecución manual] 
                  span Una vez identificadas las diferentes vulnerabilidades con las herramientas automatizadas, se realiza el proceso de revisión manual para la detección de falsos positivos y falsos negativos, de esta manera se certifica que la vulnerabilidad se encuentra presente. Se intenta identificar todas las vulnerabilidades y concentrarse en áreas donde una vulnerabilidad representaría el mayor impacto y el más alto riesgo para su empresa, tomando como referencia las metodologías ISO27001, OWASP, ISSAF, PTES y OSSTMM. 
              li 
                p #[strong Reporte de Resultados]
                  span La estructura general del informe consistirá en una descripción general del ataque y de cada uno de los ámbitos intervenidos. Se destacarán los aspectos de mayor vulnerabilidad detectados y la exposición a riesgos que éstos representan, así como una serie de recomendaciones para la aplicación de medidas correctivas.
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Pentest and Ethical Hacking?
            p Durante el análisis de las vulnerabilidades, se intentan explotar aquellas que permitan extraer datos, ejecutar comandos remotos, código malicioso, escalamiento de privilegios, o cualquier otra que pueda ser aprovechada por un atacante externo siempre y cuando no se genere alguna modificación del activo o una denegación de servicio. Nuestro análisis no es disruptivo para su organización y causa un impacto mínimo o nulo en la productividad del personal y del negocio.
            ul
              li
                img(src=local_images.images.icon_suport alt='Soporte global ')
                p Disminuir el tiempo y esfuerzo requeridos para afrontar situaciones de riesgo.
              li
                img(src=local_images.images.icon_protection alt='Protección contra daños')
                p Identifica a qué sistemas les hacen falta actualizaciones.
              li
                img(src=local_images.images.icon_repair alt='Servicios de reparación')
                p Evita configuraciones no adecuadas en las aplicaciones instaladas.
              li
                img(src=local_images.images.icon_repair alt='Servicios de reparación')
                p Obtén un panorama acerca de las vulnerabilidades encontradas para tomar medidas.
    include ../template/_footer    
