//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Framework'
- metadata['description'] = 'Analizamos Datos, Redes, Infraestructuras, Sentimientos de Usuario y Servicios para Medir, Interpretar, Optimizar y anticipar el comportamiento de su negocio con una única plataforma de integración y analisis de datos.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp'
- var landing = 'framework'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
//- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

//- Imagenes del nuevo sitio
- local.images['news'] = global_path + images.products_netapp + 'verticales_soluciones_news.png'
- local.images['seguridad'] = global_path + images.products_netapp + 'verticales_soluciones_seguridad.png'
- local.images['auditoria'] = global_path + images.products_netapp + 'verticales_soluciones_auditoria.png'
- local.images['operacion'] = global_path + images.products_netapp + 'verticales_soluciones_operacion.png'
- local.images['control'] = global_path + images.products_netapp + 'vertical_soluciones_control.png'
- local.images['dispositivo'] = global_path + images.products_netapp + 'vertical_soluciones_dispositivo.png'
- local.images['banner'] = global_path + images.products_netapp + 'vertical_soluciones_banner.png'
- local.images['medio'] = global_path + images.products_netapp + 'vertical_soluciones_medio.png'
- local.images['fondo'] = global_path + images.products_netapp + 'vertical_soluciones_fondo.png'



doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass-vertical.mundo
            .banner-vr
                .container
                    .content.algo
                        br
                        .title-sections
                        h1 Data and Anatytics & #[span.green Framework]
                        p Analizamos Datos, Redes, Infraestructuras, Sentimientos de Usuario y Servicios para Medir, Interpretar, Optimizar y anticipar el comportamiento de su negocio con una única plataforma de integración y analisis de datos.
                        p Para competir y triunfar, todas las empresas necesitan inteligencia: Acerca de sus clientes, proveedores, productos, aliados, mercados, etc. 
        section.section-verticales#dass
            .container.gris
                .row
                    .col-12
                    h1 SOLU#[span.green CIONES]
                    .col-12
                        .col-1
                            p 
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.news, alt="news")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong La Democratización de los Datos.]
                                    p.txt-justify • Todos los datos en cualquier combinación, disponibles para todos los usuarios usando catálogos corporativos gobernados y listos para el análisis.
                                    p.txt-justify • Los problemas de negocio necesitan datos analizables de múltiples fuentes, examinados desde distintos puntos de vista.
                                    p.txt-justify • Nuestra estrategia es construir esquemas de datos corporativos completos que van más allá de un data warehouse o un data lake tradicional.
                        .col-1
                            p 
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-6
                                .title-sections.derecha
                                    h3 #[strong Inteligencia Aumentada (IA2).]
                                    //-h2 Alinee sus activiades de seguridad
                                    p.txt-justify • La conjunción de la intuición del usuario y patrones identificados automáticamente por nuestra tecnología asociativa de datos.
                                    p.txt-justify • Aumenta las habilidades de análisis, la capacidad de hacer descubrimientos y la confiabilidad de los mismos.
                                    p.txt-justify • Las aplicaciones analíticas sugieren nuevas formas de ver los datos sobre la marcha gracias a un motor cognitivo con capacidades de aprendizaje.
                                    p.txt-justify • Lenguaje natural y búsquedas rápidas estilo Google; el usuario no tiene que saber cómo crear visualizaciones.
                            .col-4.icon-vertical 
                                img(src=local.images.seguridad, alt="seguridad")
                        .col-1
                            p
                    .col-12
                        .col-1
                            p
                        .col-10.vertical-col
                            .col-4.icon-vertical 
                                img(src=local.images.auditoria, alt="auditoria")
                            .col-6
                                .title-sections.txt-justify
                                    h3 #[strong Analíticos Integrados]
                                    p.txt-justify • La analítica ya no es un fin, sino un apoyo necesario e integral de las operaciones diarias.
                                    p.txt-justify • Mucho más allá de la visualización sencilla, la plataforma analítica debe poder montarse en cualquier ambiente, desde servidores hasta nubes públicas, e integrarse con cualquier tecnología mediante APIs abiertas.
                                    p.txt-justify • De ésta forma, las herramientas analíticas pueden usarse en el punto de decisión como parte natural del proceso.
                        .col-1
                            p 
                    
        section.section-about-dass#dass
            .container
                .row
                    .col-12   
                        .title-sections.txt-justify
                            h3 #[strong BENEFICIOS]  
                        ul
                            li.txt-justify
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Para el 2025 cada persona tomará 4,785 decisiones basadas en datos ordenados diariamente (en 2017 eran 300).
                            li.txt-justify
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Los datos son la materia prima; el análisis los convierte en conocimiento.
                            li.txt-justify
                                //-strong Corre cualquier app a cualquier escala
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p El conocimiento respalda las acciones que transforman al negocio.
                            
        //-.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
