//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Getac'
- metadata['description'] = 'Ahora costos con las soluciones de Getac; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Getac, bajo demanda, on demand, soluciones Getac'
- var landing = 'getac'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_getac + 'bannerprincipal.jpg'
//- Servicios
- local.images['notebooks'] = global_path + images.products_getac + 'servicio_notebook.png'
- local.images['tablets'] = global_path + images.products_getac + 'servicio_Tablets.png'
- local.images['datalabs'] = global_path + images.products_getac + 'servicio_Documentacion.png'
- local.images['casos'] = global_path + images.products_getac + 'servicio_CasosdeEstudio.png'
- local.images['soporte'] = global_path + images.products_getac + 'servicio_Soporte.png'
//- Beneficios
- local.images['ligero'] = global_path + images.products_getac + 'beneficio_Diseño.png'
- local.images['poder'] = global_path + images.products_getac + 'beneficio_Conectividad.png'
- local.images['pantalla'] = global_path + images.products_getac + 'beneficio_PantallaExtremo.png'
- local.images['sobrevivir'] = global_path + images.products_getac + 'beneficio_equiposconstruidos.png'
- local.images['chasis'] = global_path + images.products_getac + 'beneficio_ChasisAlineacion.png'
- local.images['calor'] = global_path + images.products_getac + 'beneficio_DisipaciondeCalor.png'
- local.images['extremas'] = global_path + images.products_getac + 'beneficio_Certificaciones.png'
- local.images['ambientes'] = global_path + images.products_getac + 'beneficio_ambientesextremos.png'

- local.images['solucion'] = global_path + images.products_getac + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Getac_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Getac_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-video-dass
			img.banner(src=local.images.banner, alt="banner")
			.boxVideo
				video#secondVideo(autoplay loop muted)
					source(src="../images/video/getacOK.MP4" type="video/mp4")
			.container
				.content
					br
					.title-sections
						h1 Getac dispositivos de uso rudo
					p Los dispositivos de Getac fueron diseñados para sobrevivir y Sellcom es un partner distribuidor de ellos en México.
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Getac?
							p Equipos con altos estándares de seguridad certificada que garantizan un alto rendimiento en exteriores y en lugares donde otros dispositivos no podrían.
						ul
							li
								strong Notebooks
								img(src=local.images.notebooks, alt="notebooks")
								p Dispositivos robustos de innovación.
							li
								strong Tabletas
								img(src=local.images.tablets, alt="tablets")
								p Dispositivos de alto rendimiento e innovación.
							li
								strong DataLabs
								img(src=local.images.datalabs, alt="datalabs")
								p Te apoyamos a levantar un requerimiento para identificar la aplicación de Getac en tu empresa.
							li
								strong Casos de Estudio
								img(src=local.images.casos, alt="casos")
								p Visibilidad para cualquier dato, cualquier aplicación y en cualquier cloud para todas las partes implicadas en la empresa.
							li
								strong Soporte
								img(src=local.images.soporte, alt="soporte")
								p Soporte en sitio o en línea para tus dispositivos.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Getac?
							p Beneficios:
						ul
							li
								img(src=local.images.ligero, alt="ligero")
								p Diseño delgado y ligero.
							li
								img(src=local.images.poder, alt="poder")
								p Poder sin límites en conectividad.
							li
								img(src=local.images.pantalla, alt="pantalla")
								p Pantalla al extremo.
							li
								img(src=local.images.sobrevivir, alt="sobrevivir")
								p Equipos construidos para sobrevivir.
							li
								img(src=local.images.chasis, alt="chasis")
								p Chasis de aleación de magnesio.
							li
								img(src=local.images.calor, alt="calor")
								p Disipación de calor.
							li
								img(src=local.images.extremas, alt="extremas")
								p Certificaciones extremas.
							li
								img(src=local.images.ambientes, alt="ambientes")
								p Ambientes extremos.
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p No cabe duda alguna que los dispositivos robustos Getac son los más resistentes y poderosos.
						p Getac cuenta con más de 250 ingenieros de tiempo completo dedicados a la búsqueda de soluciones a los problemas de la vida real. Desde la legibilidad de la luz solar, disipación de calor termal, administración de energía y diseño mecánico, hasta tecnologías únicas, como la visión nocturna y la protección de niebla salina.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
