//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - HP Inc.'
- metadata['description'] = 'Ahora costos con las soluciones de HP Inc.; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, HP Inc., bajo demanda, on demand, soluciones HP Inc.'
- var landing = 'hp'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_hp + 'bannerprincipal.jpg'
//- Servicios
- local.images['desktop'] = global_path + images.products_hp + 'servicio_desktop.png'
- local.images['laptops'] = global_path + images.products_hp + 'servicio_laptop.png'
- local.images['servers'] = global_path + images.products_hp + 'servicio_servers.png'
- local.images['racs'] = global_path + images.products_hp + 'servicio_RACS.png'
- local.images['impresion'] = global_path + images.products_hp + 'servicio_impresion.png'
- local.images['insumos'] = global_path + images.products_hp + 'servicio_insumosdeimpresion.png'
- local.images['accesorios'] = global_path + images.products_hp + 'servicio_accesorios.png'
- local.images['monitores'] = global_path + images.products_hp + 'servicio_monitores.png'
//- Beneficios
- local.images['capacidades'] = global_path + images.products_hp + 'beneficio_capacidadesalamedida.png'
- local.images['precios'] = global_path + images.products_hp + 'beneficio_preciocompetitivo.png'
- local.images['implementacion'] = global_path + images.products_hp + 'beneficio_implementacion.png'
- local.images['mantenimiento'] = global_path + images.products_hp + 'beneficio_mantenimiento.png'
- local.images['soporte'] = global_path + images.products_hp + 'beneficio_soportetecnico.png'
- local.images['logistica'] = global_path + images.products_hp + 'beneficio_logisticanacional.png'
- local.images['iaas'] = global_path + images.products_hp + 'beneficio_lASS.png'
- local.images['asociados'] = global_path + images.products_hp + 'beneficio_serviciosdesoftware.png'

- local.images['solucion'] = global_path + images.products_hp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'HP_inc_whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'HP_inc_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/hp30.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Hardware HP Inc.
                    p  Sellcom socio Platinum de HP Inc. en México
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es HP Inc.?
                            p Acceso a la distribución empresarial de todo el catálogo de hardware HP en México.
                        ul
                            li
                                strong DESKTOP
                                img(src=local.images.desktop, alt="desktop")
                                p Equipos de Escritorio.
                            li
                                strong LAPTOPS
                                img(src=local.images.laptops, alt="laptops")
                                p Dispositivos de escritorio móvil.
                            li
                                strong TABLETAS
                                img(src=local.images.servers, alt="servers")
                                p Gabinetes de alojamiento de infraestructura y software.
                            li
                                strong ACCESORIOS
                                img(src=local.images.racs, alt="racs")
                                p Accesorios de seguridad y complementos para tus dispositivos.
                            li
                                strong IMPRESIÓN
                                img(src=local.images.impresion, alt="impresion")
                                p Dispositivos para impresión, escaneo y multifuncionalidad.
                            li
                                strong INSUMOS DE IMPRESIÓN
                                img(src=local.images.insumos, alt="insumos")
                                p Cartuchos de tinta, toner, cabezales, etc.
                            li
                                strong ESCÁNERS
                                img(src=local.images.accesorios, alt="accesorios")
                                p Dispositivos de digitalización de documentos.
                            li
                                strong MONITORES
                                img(src=local.images.monitores, alt="monitores")
                                p Todas las medidas de monitores para tus equipos.
        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar HP Inc.?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.capacidades, alt="capacidades")
                                p CAPACIDADES A LA MEDIDA (DD, RAM, PROCESADOR)
                            li
                                img(src=local.images.precios, alt="precios")
                                p PRECIOS COMPETITIVOS
                            li
                                img(src=local.images.implementacion, alt="implementacion")
                                p IMPLEMENTACIÓN
                            li
                                img(src=local.images.mantenimiento, alt="mantenimiento")
                                p MANTENIMIENTO
                            li
                                img(src=local.images.soporte, alt="soporte")
                                p SOPORTE TÉCNICO
                            li
                                img(src=local.images.logistica, alt="logistica")
                                p LOGÍSTICA NACIONAL
                            li
                                img(src=local.images.iaas, alt="iaas")
                                p IAAS (Infraestructura as a service)
                            li
                                img(src=local.images.asociados, alt="asociados")
                                p SERVICIOS DE SOFTWARE ASOCIADOS AL HW
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        .flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-why-dass
            img(src=local.images.solucion, alt="solucion conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Sellcom Solutions pionero de la distribución de hardware es de los principales socios de HP Inc. México con más de 15 años de relación comercial.
                        p Contamos con acceso a todos los productos de infraestructura y sus complementos para su venta a nivel nacional.
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
