//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - HP Enterprise'
- metadata['description'] = 'Ahora costos con las soluciones de HP Enterprise; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, HP Enterprise, bajo demanda, on demand, soluciones HP Enterprise'
- var landing = 'hpe'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_hpe + 'bannerprincipal.jpg'
//- Servicios
- local.images['desktop'] = global_path + images.products_hpe + 'servicio_desktop.png'
- local.images['laptops'] = global_path + images.products_hpe + 'servicio_laptop.png'
- local.images['servers'] = global_path + images.products_hpe + 'servicio_servers.png'
- local.images['racs'] = global_path + images.products_hpe + 'servicio_RACS.png'
- local.images['impresion'] = global_path + images.products_hpe + 'servicio_impresion.png'
- local.images['insumos'] = global_path + images.products_hpe + 'servicio_insumosdeimpresion.png'
- local.images['accesorios'] = global_path + images.products_hpe + 'servicio_accesorios.png'
- local.images['monitores'] = global_path + images.products_hpe + 'servicio_monitores.png'
//- Beneficios
- local.images['capacidades'] = global_path + images.products_hpe + 'beneficio_capacidadesalamedida.png'
- local.images['precios'] = global_path + images.products_hpe + 'beneficio_preciocompetitivo.png'
- local.images['implementacion'] = global_path + images.products_hpe + 'beneficio_implementacion.png'
- local.images['mantenimiento'] = global_path + images.products_hpe + 'beneficio_mantenimiento.png'
- local.images['soporte'] = global_path + images.products_hpe + 'beneficio_soportetecnico.png'
- local.images['logistica'] = global_path + images.products_hpe + 'beneficio_logisticanacional.png'
- local.images['iaas'] = global_path + images.products_hpe + 'beneficio_lASS.png'
- local.images['asociados'] = global_path + images.products_hpe + 'beneficio_serviciosdesoftware.png'

- local.images['solucion'] = global_path + images.products_hpe + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'HPE_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'HPE_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass
            img.banner(src=local.images.banner, alt="banner")
            .container
                .content
                    br
                    .title-sections
                        h1 Hardware HPE
                    p Sellcom socio Platinum de HPE en México
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es HP Enterprise?
                            p Acceso a la distribución empresarial de todo el catálogo de hardware HPE en México.
                        ul
                            li
                                strong Redes y conectividad
                                img(src=local.images.desktop, alt="desktop")
                                p Toda la conexión necesaria para tu data center.
                            li
                                strong Almacenamiento
                                img(src=local.images.laptops, alt="laptops")
                                p Capacidades de almacenamiento para servidores y data centers.
                            li
                                strong SERVERS
                                img(src=local.images.servers, alt="servers")
                                p Gabinetes de alojamiento de infraestructura y software.
                            li
                                strong RACS
                                img(src=local.images.racs, alt="racs")
                                p Toda la infraestructura y hardware para el armado de tus servidores.
                            li
                                strong Blade
                                img(src=local.images.impresion, alt="impresion")
                                p Servidores de montaje específico y a medida del cliente.
                            li
                                strong IoT
                                img(src=local.images.insumos, alt="insumos")
                                p Dispositivos y tecnología compatible con el internet de las cosas.
                            li
                                strong Nube
                                img(src=local.images.accesorios, alt="accesorios")
                                p Servicios de nube privada, pública e híbrida.
                            li
                                strong Enrutadores
                                img(src=local.images.monitores, alt="monitores")
                                p Sistemas de distribución de red para data centers.
        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar HP Enterprise?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.capacidades, alt="capacidades")
                                p CAPACIDADES A LA MEDIDA (DD, RAM, PROCESADOR)
                            li
                                img(src=local.images.precios, alt="precios")
                                p PRECIOS COMPETITIVOS
                            li
                                img(src=local.images.implementacion, alt="implementacion")
                                p IMPLEMENTACIÓN
                            li
                                img(src=local.images.mantenimiento, alt="mantenimiento")
                                p MANTENIMIENTO
                            li
                                img(src=local.images.soporte, alt="soporte")
                                p SOPORTE TÉCNICO
                            li
                                img(src=local.images.logistica, alt="logistica")
                                p LOGÍSTICA NACIONAL
                            li
                                img(src=local.images.iaas, alt="iaas")
                                p IAAS (Infrastructure as a service)
                            li
                                img(src=local.images.asociados, alt="asociados")
                                p SERVICIOS DE SOFTWARE ASOCIADOS AL HW
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        .flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-why-dass
            img(src=local.images.solucion, alt="solucion conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Sellcom Solutions, pionero en la distribución de hardware, es de los principales socios de HPE en México con más de 15 años de relación comercial y contamos con acceso a todos los productos de infraestructura y sus complementos para venta a nivel nacional.
                        p 
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
