//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Huawei'
- metadata['description'] = 'Ahora costos con las soluciones de Huawei; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Huawei, bajo demanda, on demand, soluciones Huawei'
- var landing = 'huawei'




- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['escale'] = global_path + images.products_huawei + 'servicio_smartdatacenter.png'
- local.images['redes'] = global_path + images.products_huawei + 'servicio_redesempresariales.png'
- local.images['iot'] = global_path + images.products_huawei + 'servicio_IoTempresarial.png'
- local.images['video'] = global_path + images.products_huawei + 'servicio_videovigilancia.png'
- local.images['nubes'] = global_path + images.products_huawei + 'servicio_computoennubes.png'
- local.images['seguridad'] = global_path + images.products_huawei + 'servicio_security.png'
- local.images['colaboracion'] = global_path + images.products_huawei + 'servicio_colaboracionempresarial.png'
- local.images['red'] = global_path + images.products_huawei + 'servicio_redprivada.png'
//- Microsite
- local.images['huawei_wifi'] = global_path + images.products_huawei + 'microsite_sellcom_huawei_1.jpg'
- local.images['huawei_ocean_1'] = global_path + images.products_huawei + 'microsite_sellcom_huawei_2.png'
- local.images['huawei_ocean_2'] = global_path + images.products_huawei + 'microsite_sellcom_huawei_3.png'
- local.images['huawei_ocean_3'] = global_path + images.products_huawei + 'microsite_sellcom_huawei_4.png'
//- Beneficios
- local.images['implementacion'] = global_path + images.products_huawei + 'beneficio_implementacion.png'
- local.images['mantenimiento'] = global_path + images.products_huawei + 'beneficio_mantenimiento.png'
- local.images['precios'] = global_path + images.products_huawei + 'beneficio_precioscompetitivos.png'
- local.images['asociado'] = global_path + images.products_huawei + 'beneficio_serviciosalainfraestructura.png'
- local.images['portafolio'] = global_path + images.products_huawei + 'beneficio_portafoliodesoluciones.png'
- local.images['nube'] = global_path + images.products_huawei + 'beneficio_hibrido.png'
- local.images['capacitacion'] = global_path + images.products_huawei + 'beneficio_capacitacionesyservicios.png'
- local.images['soporte'] = global_path + images.products_huawei + 'beneficio_soporteyoptimizacion.png'

- local.images['solucion'] = global_path + images.products_huawei + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        //- section.section-video-dass
        //- 	img(src=local.images.banner, alt="Dass")
        //- 	.boxVideo
        //- 		video#secondVideo(autoplay loop muted)
        //- 			source(src="../images/video/huawei.mp4" type="video/mp4")
        //- 	.information-video
        //- 		.container
        //- 			h1 Huawei
        //- 			h2 Huawei
        //- 			p Todos los componentes a rededor de tus dispositivos los ponemos a tu alcance.
        section.section-banner-dass
            img.banner(src=local.images.banner, alt="banner")
            .container
                .content
                    br
                    .title-sections
                        h1 Huawei
                    p Líder en tecnologías de información y comunicación de vanguardia en el camino a la transformación digital
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es Huawei?
                            p Plataforma abierta, flexible, sólida y segura que aliente la creación de ecosistemas colaborativos.
                        ul
                            li
                                strong Smart Data Center
                                img(src=local.images.escale, alt="escale")
                                p Escale fácilmente satisfaciendo la demanda de cloud computing y virtualización. 
                            li
                                strong Redes Empresariales
                                img(src=local.images.redes, alt="redes")
                                p Conjunto de productos más completo de toda la industria.
                            li
                                strong loT Empresarial
                                img(src=local.images.iot, alt="iot")
                                p Satisface las tendencias actuales de desarrollo del internet de las cosas.
                            li
                                strong Video vigilancia y Emergencias
                                img(src=local.images.video, alt="video")
                                p Servicio de vídeo HD en todas las condiciones meteorológicas y análisis de vídeo.
                            li
                                strong Cómputo en Nubes Híbridas
                                img(src=local.images.nubes, alt="nubes")
                                p Acceso horizontal/vertical y convergencia de datos.
                            li
                                strong Network Security
                                img(src=local.images.seguridad, alt="seguridad")
                                p Defensa de la seguridad de la red definida por software y optimización inteligente.
                            li
                                strong Colaboración empresarial
                                img(src=local.images.colaboracion, alt="colaboracion")
                                p Funciones avanzadas que hacen que el trabajo en grupo sea más eficaz.
                            li
                                strong Red privada inalámbrica
                                img(src=local.images.red, alt="red")
                                p Optimizado para requisitos especializados donde la fiabilidad y el rendimiento son cruciales.
        section.microsite-container
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 Productos
                            p Conoce los productos Huawei que Sellcom Solutions te ofrece.
                        section.tabs
                            input#tab-1.tab-selector-1(type='radio', name='radio-set', checked='checked')
                            label.tab-label-1(for='tab-1') Wi-Fi
                            input#tab-2.tab-selector-2(type='radio', name='radio-set')
                            label.tab-label-2(for='tab-2') OceanStor Dorado V3
                            input#tab-3.tab-selector-3(type='radio', name='radio-set')
                            label.tab-label-3(for='tab-3') Huawei Cold
                            .clear-shadow
                            .content
                                .dash.content-1
                                    .col-12.title-sections-text
                                        h2.txt-center 
                                            strong No se quede atrás: actualice a Huawei Wi-Fi 6
                                        h2.txt-center Promoción exclusiva para VAP y distribuidores de Huawei
                                        h2.txt-center Oferta válida hasta el 31 de diciembre de 2019
                                    .micro-date-6
                                        h2 Conozca nuestros beneficios
                                        p.txt-justify Wi-Fi 6 (802.11 ax) logra cuadriplicar el ancho de banda en las redes y la concurrencia de usuarios, frente a Wi-Fi 5
                                        p.txt-justify Pero sólo los productos de la serie AirEngine Wi-Fi 6 de Huawei cuentan con los beneficios de la pericia añadida en las tecnologías 5G, para contribuir con las empresas en la construcción de redes de cara al futuro sin agujeros en la cobertura, sin tiempo de espera y sin pérdida de paquetes durante el roaming.
                                        p.txt-justify Disfrute de la mejor experiencia al costo más bajo, el momento para invertir en Wi-Fi 6 es ahora.
                                        h2 Detalles de la promoción
                                        ul
                                            li 1.-Obtenga un #[span.green código por paquete] si sustituye todos sus AP existentes.
                                            br
                                            li 2.-Obtenga un #[span.green 5% de descuento] si cuenta con una firma por prueba de concepto (PoC).
                                            br
                                            li 3.-Obtenga #[span.green 10% de descuento] con la autorización de un estudio de caso.
                                        p.note.txt-justify **El precio no incluye la licencia del controlador de acceso. | Incluye 90 días de licencia en la plataforma de la nube pública CloudCampus sin costo. | Los VAP y distribuidores de Huawei no tienen límite en la cantidad de pedidos por paquete. | Las promociones 2 y 3 no son acumulables. Aplican restricciones en el 10% de descuento. | Para conocer todas las condiciones y obtener más información, póngase en contacto con el gerente de producto de Huawei Enterprise de su país.
                                    .micro-date-6
                                        img.center-img(src=local.images.huawei_wifi, alt="wifi huawei sellcom")
                                .dash.content-2
                                    .col-10.microsite-content
                                        .micro-date-4
                                            img.center-img(src=local.images.huawei_ocean_1, alt="ocena huawei sellcom")
                                        .col-8
                                            h2 Almacenamiento superior con un costo total de propiedad 75% menor
                                            p.txt-justify El análisis de costo total de propiedad (TCO) en cinco años de ESG Lab destaca las ventajas financieras de OceanStor Dorado de Huawei frente a los sistemas de almacenamiento all-flash híbrido y de primera generación de los principales proveedores.
                                    .col-10.microsite-content
                                        h2.txt-center 
                                            strong Rendimiento
                                        h2.txt-center Más rápido que nunca con arquitecturas potenciadas con chips
                                        p Hiperpotenciado con NVMe, chip inteligentes y el algoritmo inteligente FlashLink®, OceanStor Dorado libera todo el potencial de flash. Las arquitecturas reforzadas con chips ofrecen una experiencia de usuario excepcional para cada aplicación.
                                        .microsite-numbers
                                            .micro-date-3
                                                p.txt-center Hasta 
                                                    h1.txt-center.green-columns 20 millones
                                                p.txt-center de IOPS SPC-1 tm
                                            .micro-date-3
                                                p.txt-center Reducción de la latencia a
                                                    h1.txt-center.green-columns 0.1 ms
                                            .micro-date-3
                                                p.txt-center Rendimiento comercial hasta
                                                    h1.txt-center.green-columns 3 veces
                                                p.txt-center superior
                                    .col-10.microsite-content
                                        h2.txt-center 
                                            strong Confiabilidad
                                        h2.txt-center Siempre activo. Sin preocupaciones.
                                        p Aplicaciones siempre activas gracias a los diseños de cinco capas confiables, basados en SmartMatrix, OceanStor Dorado utiliza mecanismos de seguridad en múltiples niveles para proteger sus datos en cualquier sitio, incluso en la nube.
                                        .microsite-numbers
                                            .micro-date-3
                                                h1.txt-center.green-columns 99.9999%
                                                p.txt-center disponibilidad comprobada
                                            .micro-date-3
                                                h1
                                                    h1.txt-center.green-columns 24/7
                                                p.txt-center continuidad en los negocios
                                            .micro-date-3
                                                h1
                                                    h1.txt-center.green-columns 100%
                                                p.txt-center protección de datos
                                    .col-10.microsite-content
                                        h2.txt-center Eficiencia
                                        h2.txt-center
                                            strong Reducción del OPEX gracias a las tareas de O&M con IA
                                        p Gracias a los avanzados algoritmos y chips de IA, el almacenamiento all-flash OceanStor Dorado implementa tareas de operación y mantenimiento (O&M) inteligentes durante todo su ciclo de vida. El innovador modelo de negocios evita la interrupción en los servicios ocasionada por la migración de datos, para garantizar un gasto de operaciones (OPEX) bajo y proporcionar una experiencia de usuario óptima.
                                        .micro-date-4
                                            p.txt-center Antelación de 
                                                h1
                                                    h1.txt-center.green-columns 60 días
                                            p.txt-center en tendencias de rendimiento y capacidad
                                        .micro-date-4
                                            p.txt-center Más
                                                h1
                                                    h1.txt-center.green-columns 74 %
                                            p.txt-center de ahorro energético
                                        .micro-date-4
                                            p.txt-center Antelación de
                                                h1
                                                    h1.txt-center.green-columns 14 días
                                            p.txt-center en la predicción de fallos en el disco
                                        .micro-date-4
                                            p.txt-center Con
                                                h1
                                                    h1.txt-center.green-columns 93 %
                                            p.txt-center de problemas resueltos con soluciones inmediatas
                                    .col-10.tittles.microsite-content
                                        h2.txt-center
                                            strong Nuestra gama de almacenamiento all-flash
                                        .micro-col-12
                                            .mundo-col-6
                                                .hola-col-6
                                                    img.center-img(src=local.images.huawei_ocean_2, alt="ocena huawei sellcom")
                                                .hola-col-6
                                                    h2 
                                                        strong OceanStor Dorado V6
                                                p Ofrece hasta 20 millones de IOPS SPC-1™, con el elevado rendimiento de NVMe, chips inteligentes y el algoritmo inteligente FlashLink®.
                                        .micro-col-12
                                            .mundo-col-12
                                                .hola-col-6
                                                        img.center-img(src=local.images.huawei_ocean_3, alt="ocena huawei sellcom")
                                                .hola-col-6
                                                    h2 
                                                        strong OceanStor Dorado V3
                                                p Ofrece hasta 7 millones de IOPS SPC-1™, con el elevado rendimiento de NVMe, chips inteligentes y el algoritmo inteligente FlashLink®.         
                                .dash.content-3
                                    .col-12.tittles
                                        h1.txt-center 
                                            strong Productos estables y seguros
                                        h2.txt-center Adopción simplificada de la tecnología en la nube
                                    .col-12.tittles
                                        h2.txt-center 
                                            strong Servicios básicos
                                    .col-6
                                        h2.microsite-cloud.txt-justify 
                                            strong Elastic Colud Server
                                        p.microsite-cloud.txt-justify Elastic Cloud Server (ECS) es un servidor en la nube que proporciona recursos de cómputo escalables y bajo demanda para aplicaciones seguras, flexibles y eficientes.
                                       
                                    .col-6
                                        h2.microsite-cloud.txt-justify 
                                            strong RDS for MySQL
                                        p.microsite-cloud.txt-justify MySQL es una de las bases de datos relacionales de código abierto más populares en el mundo. Se usa junto con Linux, Apache y PHP para establecer un modelo LAMP, con lo que genera soluciones web eficientes. RDS for MySQL es confiable,escalable, fácil de gestionar y está listo para usarse inmediatamente; así, proporciona libertad a los usuarios para que se enfoquen en el desarrollo de sus servicios.
                                    .col-12
                                    .col-4
                                        h2.microsite-cloud.txt-justify 
                                            strong Bare Metal Server
                                        p.microsite-cloud.txt-justify Bare Metal Server (BMS) proporciona servidores físicos de uso exclusivo en entornos de un solo usuario. Proporciona excelente rendimiento informático y seguridad de datos para bases de datos clave, sistemas de aplicación clave y cómputo de alto rendimiento. También ofrece la escalabilidad elevada de un servicio en la nube. Los BMS pueden comprarse directamente o en una nube dedicada (DeC) según las necesidades del caso.
                                       
                                    .col-4
                                        h2.microsite-cloud.txt-justify 
                                            strong Red de entrega de contenidos
                                        p.microsite-cloud.txt-justify Content Delivery Network (CDN) entrega contenido desde los orígenes a los nodos de borde, acelerando la entrega de contenido con acceso al nodo más cercano. CDN acelera la respuesta del sitio web, asegura la disponibilidad del contenido y evita los cuellos de botella en el tráfico de la red.
                                    .col-4
                                        h2.microsite-cloud.txt-justify 
                                            strong Elastic Load Balance
                                        p.microsite-cloud.txt-justify El servicio Elastic Load Balance (ELB) distribuye automáticamente el tráfico entrante entre múltiples servidores para equilibrar la carga de trabajo, lo que aumenta las capacidades del servicio y la tolerancia a fallas de las aplicaciones.
                                    .col-12
                                    .col-4
                                        h2.microsite-cloud.txt-justify 
                                            strong Object Storage Service
                                        p.microsite-cloud.txt-justify Object Storage Service (OBS) es un servicio de almacenamiento en la nube que se caracteriza por ser estable, seguro, eficiente y fácil de usar. Gracias a las interfaces de programación de aplicaciones de transferencia de estado representacional (API REST), OBS puede almacenar cualquier cantidad de datos no estructurados.
                                       
                                    .col-4
                                        h2.microsite-cloud.txt-justify 
                                            strong RDS for SQL Server
                                        p.microsite-cloud.txt-justify RDS for SQL Server es un servicio de base de datos autorizado por Microsoft que simplifica la creación y gestión de instancias de base de datos de SQL Server. Es confiable, escalable y fácil de gestionar y está listo para usarse inmediatamente, lo que permite que los usuarios se concentren en el desarrollo de sus servicios.
                                    .col-4
                                        h2.microsite-cloud.txt-justify 
                                            strong Virtual Private Network
                                        p.microsite-cloud.txt-justify Virtual Private Network (VPN) establece un túnel de comunicación seguro y cifrado entre el centro de datos local y la VPC en HUAWEI CLOUD. Con VPN, se puede establecer un entorno flexible y escalable de nube híbrida.
                                    .col-12.tittles
                                        h2 
                                            strong Inteligencia empresarial
                                    .col-6
                                        h2.microsite-cloud.txt-justify  
                                            strong ModelArts
                                        p.microsite-cloud.txt-justify  ModelArts es una plataforma de desarrollo integral para desarrolladores de IA. Con el preprocesamiento de datos, el etiquetado de datos semiautomatizado, la capacitación distribuida, la creación de modelos automatizados y la implementación de modelos en el dispositivo, el borde y la nube, ModelArts ayuda a los desarrolladores de IA a construir modelos rápidamente y administrar el ciclo de vida del desarrollo de IA.

                                        p.microsite-cloud Los modos de facturación de pago por uso están disponibles.
                                       
                                    .col-6
                                        h2.microsite-cloud.txt-justify  
                                            strong Reconocimiento óptico de caracteres
                                        p.microsite-cloud.txt-justify  El reconocimiento óptico de caracteres (OCR) reconoce y convierte los caracteres y dígitos impresos y escritos a mano en texto editable. Con la información de imágenes o copias escaneadas de licencias, facturas y formularios que ya no requieren entrada manual, la eficiencia empresarial mejora enormemente y se reducen los errores humanos.

                                        p.microsite-cloud Varios paquetes de recursos están disponibles. Las tarifas comienzan tan bajas como $ 0.036  USD / llamada API..
                                    .col-12
                                    .col-4
                                        h2.microsite-cloud  
                                            strong Servicio de reconocimiento facial
                                        p.microsite-cloud  El reconocimiento de rostros detecta rápidamente los rostros en las imágenes, analiza los puntos faciales clave, obtiene los atributos faciales e implementa la verificación y recuperación de rostros precisos
                                       
                                    .col-4
                                        h2.microsite-cloud  
                                            strong MapReduce Service
                                        p.microsite-cloud  MapReduce Service (MRS) proporciona clústeres de big data a nivel empresarial en la nube. El usuario puede controlar clústeres de forma completa y ejecutar fácilmente componentes de big data como Hadoop, Spark, HBase, Kafka y Storm.
                                    .col-4
                                        h2.microsite-cloud  
                                            strong Data Lake Insight
                                        p.microsite-cloud  Data Lake Insight (DLI) es un servicio de análisis y procesamiento de big data totalmente alojado que funciona con el ecosistema Apache Spark. Las empresas pueden usar programas estándar SQL o Spark para realizar análisis federados de fuentes de datos heterogéneas y obtener información valiosa de los datos.
                                    .col-12
                                    .col-4
                                        h2.microsite-cloud  
                                            strong Servicio de almacenamiento de datos
                                        p.microsite-cloud  El Servicio de almacenamiento de datos (DWS) es un servicio de almacenamiento de datos convergentes de clase empresarial rápido, fácil de usar y confiable que puede extender consultas y análisis a su lago de datos con la ayuda de DWS Express.
                                       
                                    .col-4
                                        h2.microsite-cloud  
                                            strong Servicio Cloud Stream
                                        p.microsite-cloud  Cloud Stream Service (CS) proporciona capacidades de pila completa para procesar datos de transmisión en tiempo real.
                                    .col-4
                                        h2.microsite-cloud  
                                            strong Servicio de búsqueda en la nube
                                        p.microsite-cloud  Cloud Search Service (CSS) es un servicio de búsqueda distribuido totalmente administrado con tecnología de Elasticsearch.
                                        
                                    
                                   
        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar Huawei?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.implementacion, alt="implementacion")
                                p Implementaciones de HW a la medida.
                            li
                                img(src=local.images.mantenimiento, alt="mantenimiento")
                                p Mantenimientos preventivos de HW y soporte.
                            li
                                img(src=local.images.precios, alt="precios")
                                p Precios Competitivos.
                            li
                                img(src=local.images.asociado, alt="asociado")
                                p Servicios de SW asociado a la infraestructura.
                            li
                                img(src=local.images.portafolio, alt="portafolio")
                                p Portafolio de soluciones para cualquier situación.
                            li
                                img(src=local.images.nube, alt="nube")
                                p Nubes privadas e híbridas.
                            li
                                img(src=local.images.capacitacion, alt="capacitacion")
                                p Capacitaciones y servicios.
                            li
                                img(src=local.images.soporte, alt="soporte")
                                p Soporte y optimización.
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        .flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-why-dass
            img(src=local.images.solucion, alt="solucion conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Con la innovación tecnológica como constante, Huawei ha asumido el compromiso para aprovechar al máximo la potencia del cómputo en la nube, el establecimiento en redes, Big Data e Internet de las Cosas (IoT) .
                        p Sellcom Solutions, como distribuidor autorizado de Huawei, puede ofrecer a sus clientes toda la línea de productos de HW y SW de Huawei y ofrecer valores agregados sobre ellos como: servicios administrados, financiamiento, ingeniería de campo, soporte y mantenimiento, entre otros.
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
