//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Huawei'
- metadata['description'] = 'Ahora costos con las soluciones de Huawei; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Huawei, bajo demanda, on demand, soluciones Huawei'
- var landing = 'huawei'




- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['escale'] = global_path + images.products_huawei + 'servicio_smartdatacenter.png'
- local.images['redes'] = global_path + images.products_huawei + 'servicio_redesempresariales.png'
- local.images['iot'] = global_path + images.products_huawei + 'servicio_IoTempresarial.png'
- local.images['video'] = global_path + images.products_huawei + 'servicio_videovigilancia.png'
- local.images['nubes'] = global_path + images.products_huawei + 'servicio_computoennubes.png'
- local.images['seguridad'] = global_path + images.products_huawei + 'servicio_security.png'
- local.images['colaboracion'] = global_path + images.products_huawei + 'servicio_colaboracionempresarial.png'
- local.images['red'] = global_path + images.products_huawei + 'servicio_redprivada.png'
//- Microsite
- local.images['huawei_wifi'] = global_path + images.products_huawei + 'microsite_sellcom_huawei_1.jpg'
- local.images['huawei_ocean_1'] = global_path + images.products_huawei + 'microsite_sellcom_huawei_2.png'
- local.images['huawei_ocean_2'] = global_path + images.products_huawei + 'microsite_sellcom_huawei_3.png'
- local.images['huawei_ocean_3'] = global_path + images.products_huawei + 'microsite_sellcom_huawei_4.png'
//- Beneficios
- local.images['implementacion'] = global_path + images.products_huawei + 'beneficio_implementacion.png'
- local.images['mantenimiento'] = global_path + images.products_huawei + 'beneficio_mantenimiento.png'
- local.images['precios'] = global_path + images.products_huawei + 'beneficio_precioscompetitivos.png'
- local.images['asociado'] = global_path + images.products_huawei + 'beneficio_serviciosalainfraestructura.png'
- local.images['portafolio'] = global_path + images.products_huawei + 'beneficio_portafoliodesoluciones.png'
- local.images['nube'] = global_path + images.products_huawei + 'beneficio_hibrido.png'
- local.images['capacitacion'] = global_path + images.products_huawei + 'beneficio_capacitacionesyservicios.png'
- local.images['soporte'] = global_path + images.products_huawei + 'beneficio_soporteyoptimizacion.png'

- local.images['solucion'] = global_path + images.products_huawei + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        //- section.section-video-dass
        //- 	img(src=local.images.banner, alt="Dass")
        //- 	.boxVideo
        //- 		video#secondVideo(autoplay loop muted)
        //- 			source(src="../images/video/huawei.mp4" type="video/mp4")
        //- 	.information-video
        //- 		.container
        //- 			h1 Huawei
        //- 			h2 Huawei
        //- 			p Todos los componentes a rededor de tus dispositivos los ponemos a tu alcance.
        section.section-banner-dass
            img.banner(src=local.images.banner, alt="banner")
            .container
                .content
                    br
                    .title-sections
                        h1 Huawei
                    p Líder en tecnologías de información y comunicación de vanguardia en el camino a la transformación digital
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es Huawei?
                            p Plataforma abierta, flexible, sólida y segura que aliente la creación de ecosistemas colaborativos.
                        ul
                            li
                                strong Smart Data Center
                                img(src=local.images.escale, alt="escale")
                                p Escale fácilmente satisfaciendo la demanda de cloud computing y virtualización. 
                            li
                                strong Redes Empresariales
                                img(src=local.images.redes, alt="redes")
                                p Conjunto de productos más completo de toda la industria.
                            li
                                strong loT Empresarial
                                img(src=local.images.iot, alt="iot")
                                p Satisface las tendencias actuales de desarrollo del internet de las cosas.
                            li
                                strong Video vigilancia y Emergencias
                                img(src=local.images.video, alt="video")
                                p Servicio de vídeo HD en todas las condiciones meteorológicas y análisis de vídeo.
                            li
                                strong Cómputo en Nubes Híbridas
                                img(src=local.images.nubes, alt="nubes")
                                p Acceso horizontal/vertical y convergencia de datos.
                            li
                                strong Network Security
                                img(src=local.images.seguridad, alt="seguridad")
                                p Defensa de la seguridad de la red definida por software y optimización inteligente.
                            li
                                strong Colaboración empresarial
                                img(src=local.images.colaboracion, alt="colaboracion")
                                p Funciones avanzadas que hacen que el trabajo en grupo sea más eficaz.
                            li
                                strong Red privada inalámbrica
                                img(src=local.images.red, alt="red")
                                p Optimizado para requisitos especializados donde la fiabilidad y el rendimiento son cruciales.
        section.microsite-container-huawei
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 Productos
                            p Conoce los productos Huawei que Sellcom Solutions te ofrece.
                    .col-10.middle
                        section.tabs
                            input#tab-1.tab-selector-1(type='radio', name='radio-set', checked='checked')
                            label.tab-label-1(for='tab-1') Wi-Fi

                            input#tab-2.tab-selector-2(type='radio', name='radio-set')
                            label.tab-label-2(for='tab-2') OceanStor Dorado V3

                            input#tab-3.tab-selector-3(type='radio', name='radio-set')
                            label.tab-label-3(for='tab-3') Huawei Cloud
                            
                            .clear-shadow
                            .content
                                .dash.content-1
                                    row
                                        .col-12
                                            h2.txt-center
                                                strong No te quedes atrás: actualizate a Huawei Wi-Fi 6
                                            h2.txt-center Promoción exclusiva para VAP y distribuidores Huawei.
                                            //-Oferta válida hasta el 31 de diciembre
                                    row
                                        .col-6
                                            h2 Conoce nuestros beneficios
                                            p.txt-justify Wi-Fi 6 (802.11 ax) logra cuadriplicar el ancho de banda en las redes y la concurrencia de usuarios, frente a Wi-Fi 5.
                                            p.txt-justify Pero sólo los productos de la serie AirEngine Wi-Fi 6 de Huawei cuentan con los beneficios de la pericia añadida en las tecnologías 5G, para contribuir con las empresas en la construcción de redes de cara al futuro sin agujeros en la cobertura, sin tiempo de espera y sin pérdida de paquetes durante el roaming.
                                            p.txt-justify Disfrute de la mejor experiencia al costo más bajo, el momento para invertir en Wi-Fi 6 es ahora.
                                            h3 Detalles de la promoción
                                            ol
                                                li Obtenga un código por paquete si sustituye todos sus AP existentes.
                                                br
                                                li Obtenga un 5% de descuento si cuenta con una firma por prueba de concepto (PoC).
                                                br
                                                li Obtenga 10% de descuento con la autorización de un estudio de caso.
                                            p.note-microsite.txt-justify **El precio no incluye la licencia del controlador de acceso. | Incluye 90 días de licencia en la plataforma de la nube pública CloudCampus sin costo. | Los VAP y distribuidores de Huawei no tienen límite en la cantidad de pedidos por paquete. | Las promociones 2 y 3 no son acumulables. Aplican restricciones en el 10% de descuento. | Para conocer todas las condiciones y obtener más información, póngase en contacto con el gerente de producto de Huawei Enterprise de su país.
                                        .col-6
                                            img.img-huawei(src=local.images.huawei_wifi, alt="Huawei Sellcom")
                                .dash.content-2
                                    row
                                        .col-4
                                            img.img-ocean-2(src=local.images.huawei_ocean_1, alt="ESG Huawei Sellcom")
                                        .col-8
                                            h2 Almacenamiento superior con un costo total de propiedad 75% menor
                                            p.txt-justify El análisis de costo total de propiedad (TCO) en cinco años de ESG Lab destaca las ventajas financieras de OceanStor Dorado de Huawei frente a los sistemas de almacenamiento all-flash híbrido y de primera generación de los principales proveedores.
                                    row
                                        .col-12
                                            h3 Rendimiento
                                            h2 Más rápido que nunca con arquitecturas potenciadas con chips
                                            p.txt-justify Hiperpotenciado con NVMe, chip inteligentes y el algoritmo inteligente FlashLink®, OceanStor Dorado libera todo el potencial de flash. Las arquitecturas reforzadas con chips ofrecen una experiencia de usuario excepcional para cada aplicación.
                                    row
                                        .col-4.huawei-numbers
                                            p Hasta
                                            h1
                                                strong 20 millones
                                            p de IOPS SPC-1
                                        .col-4.huawei-numbers
                                            p Reducción de la latencia a
                                            h1
                                                strong 0.1 ms
                                            p 
                                        .col-4.huawei-numbers
                                            p Rendimiento comercial hasta
                                            h1
                                                strong 3 veces
                                            p superior
                                    row
                                        .col-12
                                            h3 Confiabilidad
                                            h2 Siempre activo. Sin preocupaciones
                                            p.txt-justify Aplicaciones siempre activas gracias a los diseños de cinco capas confiables, basados en SmartMatrix, OceanStor Dorado utiliza mecanismos de seguridad en múltiples niveles para proteger sus datos en cualquier sitio, incluso en la nube.
                                    row
                                        .col-4.huawei-numbers
                                            h1
                                                strong 99.9999%
                                            p disponibilidad comprobada
                                        .col-4.huawei-numbers
                                            h1
                                                strong 24/7
                                            p continuidad en los negocios
                                        .col-4.huawei-numbers
                                            h1
                                                strong 100%
                                            p protección de datos
                                    row
                                        .col-12
                                            h3 Eficiencia
                                            h2 Reducción del OPEX gracias a las tareas de O&M con IA
                                            p.txt-justify Gracias a los avanzados algoritmos y chips de IA, el almacenamiento all-flash OceanStor Dorado implementa tareas de operación y mantenimiento (O&M) inteligentes durante todo su ciclo de vida. El innovador modelo de negocios evita la interrupción en los servicios ocasionada por la migración de datos, para garantizar un gasto de operaciones (OPEX) bajo y proporcionar una experiencia de usuario óptima.
                                    row
                                        .col-3.huawei-numbers
                                            p Antelación de
                                            h1
                                                strong 60 días
                                            p en tendencias de rendimiento y capacidad
                                        .col-3.huawei-numbers
                                            p Hasta
                                            h1
                                                strong 74 %
                                            p de ahorro energético
                                        .col-3.huawei-numbers
                                            p Antelación de
                                            h1
                                                strong 14 días
                                            p en la predicción de fallos en el disco
                                        .col-3.huawei-numbers
                                            p Más de
                                            h1
                                                strong 93 %
                                            p de problemas resueltos con soluciones inmediatas
                                        .col-12
                                            h2 Nuestra gama de almacenamiento all-flash
                                            .col-6
                                                .col-6
                                                    img.img-ocean(src=local.images.huawei_ocean_2, alt="Huawei Ocean")
                                                .col-6
                                                    h2 OceanStor Dorado V6
                                                    p Ofrece hasta 20 millones de IOPS SPC-1™, con el elevado rendimiento de NVMe, chips inteligentes y el algoritmo inteligente FlashLink®.
                                            .col-6
                                                .col-6
                                                    img.img-ocean(src=local.images.huawei_ocean_3, alt="Huawei Ocean")
                                                .col-6
                                                    h2 OceanStor Dorado V3
                                                    p Ofrece hasta 7 millones de IOPS SPC-1™, con el elevado rendimiento de NVMe, chips inteligentes y el algoritmo inteligente FlashLink®

                                .dash.content-3.hcloud
                                    row
                                        .col-12
                                        h3.txt-center Productos estables y seguros
                                        p.txt-center Adopción simplificada de la tecnología en la nube
                                    row
                                        .warpper
                                        input#one.radio(name='group', type='radio', checked='')
                                        input#two.radio(name='group', type='radio')
                                        input#three.radio(name='group', type='radio')
                                        input#cuatro.radio(name='group', type='radio')
                                        input#cinco.radio(name='group', type='radio')
                                        .tablas
                                            label#one-tab.taba(for='one') Servicios 
                                            label#two-tab.taba(for='two') Inteligencia
                                            label#three-tab.taba(for='three') Desarrollador
                                            label#cuatro-tab.taba(for='cuatro') Seguridad
                                            label#cinco-tab.taba(for='cinco') Aplicación
                                        .panels
                                            #one-panel.panel
                                                .col-12
                                                h3 Servicios básicos
                                                .col-10.middle
                                                    h3 Elastic Cloud Server
                                                    p Elastic Cloud Server (ECS) es un servidor en la nube que proporciona recursos de cómputo escalables y bajo demanda para aplicaciones seguras, flexibles y eficientes.
                                                .col-10.middle
                                                    h3 RDS for MySQL
                                                    p MySQL es una de las bases de datos relacionales de código abierto más populares en el mundo. Se usa junto con Linux, Apache y PHP para establecer un modelo LAMP, con soluciones web eficientes. 
                                                .col-10.middle
                                                    h3 Bare Metal Server
                                                    p Bare Metal Server (BMS) proporciona servidores físicos de uso exclusivo en entornos de un solo usuario. Proporciona excelente rendimiento informático y seguridad de datos para bases de datos clave, sistemas de aplicación clave y cómputo de alto rendimiento.
                                                .col-10.middle
                                                    h3 Red de entrega de contenidos
                                                    p Content Delivery Network (CDN) entrega contenido desde los orígenes a los nodos de borde, acelerando la entrega de contenido con acceso al nodo más cercano.
                                                .col-10.middle
                                                    h3 Elastic Load Balance
                                                    p El servicio Elastic Load Balance (ELB) distribuye automáticamente el tráfico entrante entre múltiples servidores para equilibrar la carga de trabajo, lo que aumenta las capacidades del servicio y la tolerancia a fallas de las aplicaciones.
                                                .col-10.middle
                                                    h3 Object Storage Service
                                                    p Object Storage Service (OBS) es un servicio de almacenamiento en la nube que se caracteriza por ser estable, seguro, eficiente y fácil de usar.
                                                .col-10.middle
                                                    h3 RDS for SQL Server
                                                    p RDS for SQL Server es un servicio de base de datos autorizado por Microsoft que simplifica la creación y gestión de instancias de base de datos de SQL Server.
                                                .col-10.middle
                                                    h3 Virtual Private Network
                                                    p Virtual Private Network (VPN) establece un túnel de comunicación seguro y cifrado entre el centro de datos local y la VPC en HUAWEI CLOUD.

                                            #two-panel.panel
                                                .col-12
                                                h3 Inteligencia empresarial
                                                .col-10.middle
                                                    h3 ModelArts
                                                    p ModelArts es una plataforma de desarrollo integral para desarrolladores de IA. Con el preprocesamiento de datos, el etiquetado de datos semiautomatizado, la capacitación distribuida, la creación de modelos automatizados y la implementación de modelos en el dispositivo, el borde y la nube.
                                                .col-10.middle
                                                    h3 Reconocimiento óptico de caracteres
                                                    p El reconocimiento óptico de caracteres (OCR) reconoce y convierte los caracteres y dígitos impresos y escritos a mano en texto editable.
                                                .col-10.middle
                                                    h3 Servicio de reconocimiento facial
                                                    p El reconocimiento de rostros detecta rápidamente los rostros en las imágenes, analiza los puntos faciales clave, obtiene los atributos faciales e implementa la verificación y recuperación de rostros precisos.
                                                .col-10.middle
                                                    h3 MapReduce Service
                                                    p MapReduce Service (MRS) proporciona clústeres de big data a nivel empresarial en la nube. El usuario puede controlar clústeres de forma completa y ejecutar fácilmente componentes de big data como Hadoop, Spark, HBase, Kafka y Storm.
                                                .col-10.middle
                                                    h3 Data Lake Insight
                                                    p Data Lake Insight (DLI) es un servicio de análisis y procesamiento de big data totalmente alojado que funciona con el ecosistema Apache Spark.
                                                .col-10.middle
                                                    h3 Servicio de almacenamiento de datos
                                                    p El Servicio de almacenamiento de datos (DWS) es un servicio de almacenamiento de datos convergentes de clase empresarial rápido, fácil de usar y confiable que puede extender consultas y análisis a su lago de datos con la ayuda de DWS Express.
                                                .col-10.middle
                                                    h3 Servicio Cloud Stream
                                                    p Cloud Stream Service (CS) proporciona capacidades de pila completa para procesar datos de transmisión en tiempo real.
                                                .col-10.middle
                                                    h3 Servicio de búsqueda en la nube
                                                    p Cloud Search Service (CSS) es un servicio de búsqueda distribuido totalmente administrado con tecnología de Elasticsearch.

                                            #three-panel.panel
                                                .col-12
                                                h3 Desarrollador
                                                .col-10.middle
                                                    h3 Cloud Service Engine
                                                    p Cloud Service Engine (CSE) proporciona un marco de trabajo para microservicios de alto rendimiento, un registro integral de servicios, gobernanza, configuración dinámica y una consola de transacciones distribuidas. 
                                                .col-10.middle
                                                    h3 Cloud Container Engine
                                                    p Cloud Container Engine (CCE) es un servicio con rendimiento alto y confiabilidad elevada a través del cual las empresas pueden gestionar aplicaciones en contenedores.
                                                .col-10.middle
                                                    h3 ServiceStage
                                                    p ServiceStage es un servicio de gestión de aplicaciones nativas en la nube que facilita el desarrollo, la construcción, el lanzamiento, el monitoreo y la operación y mantenimiento de aplicaciones.
                                                .col-10.middle
                                                    h3 Application Operations Management
                                                    p Application Operations Management (AOM) proporciona una plataforma integral multidimensional de operación y mantenimiento para aplicaciones empresariales. 
                                                .col-10.middle
                                                    h3 Application Performance Management
                                                    p Application Performance Management (APM) monitorea y gestiona el rendimiento de las aplicaciones en la nube en tiempo real. 
                                                .col-10.middle
                                                    h3 API Gateway
                                                    p API Gateway is a high-performance, high-availability, and high-security hosting service that helps enterprises build, manage, and deploy Application Programming Interfaces (APIs) at any scale. 
                                                .col-10.middle
                                                    h3 Software Repository for Container
                                                    p Software Repository for Container (SWR) permite la gestión fácil, segura y fiable de imágenes de contenedores a lo largo de sus ciclos de vida; así, facilita la implementación de servicios en contenedores.

                                            #cuatro-panel.panel
                                                .col-12
                                                h3 Seguridad
                                                .col-10.middle
                                                    h3 Web Application Firewall
                                                    p Web Application Firewall (WAF) is expertly designed to keep your website safe and secure. It examines website service traffic from multiple dimensions to accurately identify malicious requests and filter attacks. 
                                                .col-10.middle
                                                    h3 Advanced Anti-DDoS
                                                    p Advanced Anti-DDoS (AAD) is a value-added security defense service that defends against large volumetric DDoS attacks on Internet servers, including those deployed outside HUAWEI CLOUD. 
                                                .col-10.middle
                                                    h3 Anti-DDoS
                                                    p Anti-DDoS es un servicio de limpieza de tráfico que protege instancias de recursos tales como Elastic Cloud Server (ECS) y Elastic Load Balance (ELB) contra ataques de denegación de servicio distribuido (DDoS) en las capas de red y de aplicaciones. 
                                                .col-10.middle
                                                    h3 Data Encryption Workshop
                                                    p Data Encryption Workshop (DEW) es un servicio para cifrar los datos en toda la infraestructura. Cubre los siguientes servicios: Key Management Service (KMS), Key Pair Service (KPS) y Dedicated HSM. 
                                                .col-10.middle
                                                    h3 Database Security Service
                                                    p Database security service is an intelligent security service serving for databases. It provides database auditing, SQL injection detection and risk behaviors detection by machine learning and big data analysis technology, to protect the security of databases in cloud.
                                                .col-10.middle
                                                    h3 Host Security Service
                                                    p Host Security Service (HSS) is designed to improve the overall security for hosts. It reduces intrusion risks with asset management, vulnerability management, intrusion detection, and baseline inspection functions.
                                                .col-10.middle
                                                    h3 Vulnerability Scan Service
                                                    p Vulnerability Scan Service (VSS) is a security diagnosis service that uses weakness detection and intelligent correlation analysis technologies to help discover security risks in your websites or servers.

                                            #cinco-panel.panel
                                                .col-12
                                                h3 Aplicación Empresarial
                                                .col-10.middle
                                                    h3 Dedicated Computing Cluster
                                                    p Dedicated Computing Cluster (DCC) provides dedicated, physically isolated computing resource pools on HUAWEI CLOUD to ensure secure service operation. DCCs are applicable to scenarios with high security requirements, such as financial systems, data warehouses, and high-performance computing.
                                                .col-10.middle
                                                    h3 Dedicated Distributed Storage Service
                                                    p Dedicated Distributed Storage Service (DSS) provides you with dedicated, physical storage resources. By flexibly interconnecting with various computing services, such as ECS, BMS, and DCC, DSS offers first-class performance in a wide-range of scenarios, including, HPC, OLAP, or a mix of loads.
                                                .col-10.middle
                                                    h3 Message&SMS
                                                    p Message & SMS is a communications service provided for international users by HUAWEI CLOUD, and the finest worldwide carriers and channels. Enterprises can use the Group SMS Assistant to easily send group SMS notifications, or call APIs to provide two-factor authentication, and SMS notifications.
                                                .col-10.middle
                                                    h3 Workspace
                                                    p Workspace es un servicio de escritorios virtuales. Proporciona escritorios de Windows y aplicaciones como servicios en la nube. Workspace hace posible trabajar a cualquier hora y en cualquier lugar.
                                                .col-10.middle
                                                    h3 Blockchain Service
                                                    p Blockchain Service (BCS) is a highly available and secure blockchain platform allowing enterprises and developers to conveniently create, deploy, and manage applications with the superb performance and cost-effectiveness of HUAWEI CLOUD.
                                                    


        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar Huawei?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.implementacion, alt="implementacion")
                                p Implementaciones de HW a la medida.
                            li
                                img(src=local.images.mantenimiento, alt="mantenimiento")
                                p Mantenimientos preventivos de HW y soporte.
                            li
                                img(src=local.images.precios, alt="precios")
                                p Precios Competitivos.
                            li
                                img(src=local.images.asociado, alt="asociado")
                                p Servicios de SW asociado a la infraestructura.
                            li
                                img(src=local.images.portafolio, alt="portafolio")
                                p Portafolio de soluciones para cualquier situación.
                            li
                                img(src=local.images.nube, alt="nube")
                                p Nubes privadas e híbridas.
                            li
                                img(src=local.images.capacitacion, alt="capacitacion")
                                p Capacitaciones y servicios.
                            li
                                img(src=local.images.soporte, alt="soporte")
                                p Soporte y optimización.
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        .flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-why-dass
            img(src=local.images.solucion, alt="solucion conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Con la innovación tecnológica como constante, Huawei ha asumido el compromiso para aprovechar al máximo la potencia del cómputo en la nube, el establecimiento en redes, Big Data e Internet de las Cosas (IoT) .
                        p Sellcom Solutions, como distribuidor autorizado de Huawei, puede ofrecer a sus clientes toda la línea de productos de HW y SW de Huawei y ofrecer valores agregados sobre ellos como: servicios administrados, financiamiento, ingeniería de campo, soporte y mantenimiento, entre otros.
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
