//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Ivantí'
- metadata['description'] = 'Aqui va la descripción'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Getac, bajo demanda, on demand, soluciones Getac'
- var landing = 'Ivanti'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_getac + 'bannerprincipal.jpg'

//- Imagenes Correctas

//- Servicios
- local.images['notebooks'] = global_path + images.products_getac + 'servicio_notebook.png'
- local.images['tablets'] = global_path + images.products_getac + 'servicio_Tablets.png'
- local.images['datalabs'] = global_path + images.products_getac + 'servicio_Documentacion.png'
- local.images['casos'] = global_path + images.products_getac + 'servicio_puertadeenlace.png'
- local.images['soporte'] = global_path + images.products_getac + 'servicio_Soporte.png'
//- Beneficios
- local.images['transformacion'] = global_path + images.products_getac + 'beneficio_transformacion.png'
- local.images['innovacion'] = global_path + images.products_getac + 'beneficio_innovacion.png'
- local.images['cloud'] = global_path + images.products_getac + 'beneficio_cloud.png'
- local.images['pink'] = global_path + images.products_getac + 'beneficio_pinkverify.png'
- local.images['custom'] = global_path + images.products_getac + 'beneficio_customazible.png'
- local.images['configuracion'] = global_path + images.products_getac + 'beneficio_configuracion.png'
- local.images['herramientas'] = global_path + images.products_getac + 'beneficio_herramientas.png'
- local.images['precio'] = global_path + images.products_getac + 'beneficio_preciocompetitivo.png'
- local.images['controles'] = global_path + images.products_getac + 'beneficio_controles.png'
- local.images['gartner'] = global_path + images.products_getac + 'beneficio_gartner.png'
- local.images['iso'] = global_path + images.products_getac + 'beneficio_iso.png'
- local.images['solucion'] = global_path + images.products_getac + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Getac_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Getac_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/ivanti.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Plataforma de Administración Ivantí
                    p Ivantí está cambiando el panorama de TI, echando abajo los silos de TI con más visibilidad y automatización de procesos.
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es Ivantí?
                            p Soluciones de software y plataforma de administración para la gestión de TI unificada.
                        ul
                            li
                                strong Endpoint Security
                                img(src=local.images.notebooks, alt="notebooks")
                                p Administración de Aplicaciones, SO, Migraciones y Parcheo de servidores y dispositivos de usuario final.
                            li
                                strong Unified Endpoint Management
                                img(src=local.images.tablets, alt="tablets")
                                p Inventario y gestión de todos los dispositivos de usuario final y gestión de su rendimiento.
                            li
                                strong IT Asset Management
                                img(src=local.images.datalabs, alt="datalabs")
                                p Gestión y optimización del ciclo de vida y gestión económica de activos de hardware y software.
                            li
                                strong Identity Management
                                img(src=local.images.casos, alt="casos")
                                p Administración de accesos y unificación de puntos de control de accesos para aplicaciones y servicios.
        //- .flotante
        //- 	a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
        //- 		img(src=local.images.whitepaper, alt="big data" )
        //- 	a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
        //- 		img(src=local.images.casodeuso, alt="big data")
        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar Ivantí?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.transformacion, alt="Transformación digital")
                                p Transformación Digital
                            li
                                img(src=local.images.innovacion, alt="Innovacion")
                                p Innovación
                            li
                                img(src=local.images.cloud, alt="cloud")
                                p Configuración nube y/o On-Premise
                            li
                                img(src=local.images.pink, alt="Pink verify")
                                p Procesos certificados en Pink Verify
                            li
                                img(src=local.images.custom, alt="customizable")
                                p Customizable
                            li
                                img(src=local.images.configuracion, alt="configuracion")
                                p Fácil y rápido de configurar
                            li
                                img(src=local.images.herramientas, alt="herramientas")
                                p Integración con herramientas
                            li
                                img(src=local.images.precio, alt="precio competitivo")
                                p Reducción de costos
                            li
                                img(src=local.images.controles, alt="Controles P.C.I.")
                                p Apoyo controles P.C.I.
                            li
                                img(src=local.images.gartner, alt="gartner")
                                p Gartner
                            li
                                img(src=local.images.iso, alt="iso")
                                p ISO 27001
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        section.section-why-dass
            img(src=local.images.solucion, alt="solución conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Ivantí está cambiando el panorama de TI, echando abajo los silos de TI con más visibilidad y automatización de procesos. En conjunto con Sellcom Solutions ayudamos a nuestros clientes a responder a las demandas de sus usuarios, cumplir con reglamentos y proteger sus organizaciones, administrar sus elementos de configuracion, gestionar su seguridad, todo al mismo tiempo que reducimos los costos.
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
