//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Jamf'
- metadata['description'] = 'Ahora costos con las soluciones de Jamf; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Jamf, bajo demanda, on demand, soluciones Jamf'
- var landing = 'jamf'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_jamf + 'bannerprincipal.jpg'
//- Servicios
- local.images['imac'] = global_path + images.products_jamf + 'servicio_IMAC.png'
- local.images['ipad'] = global_path + images.products_jamf + 'servicio_IPAD.png'
- local.images['mac'] = global_path + images.products_jamf + 'servicio_LAPTOPS.png'
- local.images['ipod'] = global_path + images.products_jamf + 'servicio_IPOD.png'
- local.images['tv'] = global_path + images.products_jamf + 'servicio_TV.png'
- local.images['ios'] = global_path + images.products_jamf + 'servicio_iOS.png'
- local.images['store'] = global_path + images.products_jamf + 'servicio_appstore.png'
- local.images['dep'] = global_path + images.products_jamf + 'servicio_DEP.png'
//- Beneficios
- local.images['gmac'] = global_path + images.products_jamf + 'beneficio_GESTIONDEMAC.png'
- local.images['movilidad'] = global_path + images.products_jamf + 'beneficio_gestiondemovilidadempresarial.png'
- local.images['remota'] = global_path + images.products_jamf + 'beneficio_educacionremota.png'
- local.images['alto'] = global_path + images.products_jamf + 'beneficio_educacionaltonivel.png'
- local.images['salud'] = global_path + images.products_jamf + 'beneficio_CUIDADODESALUD.png'
- local.images['campo'] = global_path + images.products_jamf + 'beneficio_SERVICIOSDECAMPO.png'
- local.images['empleado'] = global_path + images.products_jamf + 'beneficio_ELECCIONDELEMPLEADO.png'
- local.images['tecnologia'] = global_path + images.products_jamf + 'beneficio_actualizaciondetecnologia.png'
- local.images['solucion'] = global_path + images.products_jamf + 'solucion.jpg'
- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'

//- Documentos
- local['documents'] = {}
- local.documents['jamfwhitepaper'] = global_path + documents.base + 'JAMF_Whitepaper.pdf'
- local.documents['jamfcasosuso'] = global_path + documents.base + 'Jamf_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		// section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Administrador de Dispositivos Móviles Jamf
					p Sellcom distribuidor corporativo de Jamf en México
					section.section-video-dass
		section.section-video-dass
			img.banner(src=local.images.banner, alt="banner")
			.boxVideo
				video#secondVideo(autoplay loop muted)
					source(src="../images/video/Jamf_Web_Banner.mp4" type="video/mp4")
			.container
				.content
					br
					.title-sections
						h1 Administrador de Dispositivos Móviles Jamf
					p Sellcom distribuidor corporativo de Jamf en México
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Jamf?
							p MDM Mobile Device Management o administrador de dispositivos que se define como una solución de administración de Mac, iPad, iPhone y Apple TV para pequeñas, medianas o grandes empresas.
						ul
							li
								strong IMAC
								img(src=local.images.imac, alt="imac")
								p Dispositivos de Escritorio
							li
								strong IPAD
								img(src=local.images.ipad, alt="ipad")
								p Tabletas
							li
								strong MAC
								img(src=local.images.mac, alt="mac")
								p Laptops Apple
							li
								strong APPLE WATCH
								img(src=local.images.ipod, alt="ipod")
								p Mantente más activo, saludable y conectado
							li
								strong APPLE TV
								img(src=local.images.tv, alt="tv")
								p Dispositivos de Televisión
							li
								strong IOS
								img(src=local.images.ios, alt="ios")
								p Desarrollo en el sistema operativo de Apple
							li
								strong APP STORE
								img(src=local.images.store, alt="store")
								p Accesibilidad e integración de aplicaciones a la tienda de Apple
							li
								strong DEP
								img(src=local.images.dep, alt="dep")
								p Servicio de autoconfiguración de dispositivos.
		.flotante
			a.whitepage(href=local.documents.jamfwhitepaper dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.jamfcasosuso dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Jamf?
							p Beneficios:
						ul
							li
								img(src=local.images.gmac, alt="gmac")
								p GESTIÓN DE MAC
							li
								img(src=local.images.movilidad, alt="movilidad")
								p GESTIÓN DE MOVILIDAD EMPRESARIAL
							li
								img(src=local.images.remota, alt="remota")
								p EDUCACIÓN REMOTA
							li
								img(src=local.images.alto, alt="alto")
								p EDUCACIÓN DE ALTO NIVEL
							li
								img(src=local.images.salud, alt="salud")
								p CUIDADO DE LA SALUD
							li
								img(src=local.images.campo, alt="campo")
								p SERVICIOS DE CAMPO
							li
								img(src=local.images.empleado, alt="empleado")
								p ELECCIÓN DEL EMPLEADO
							li
								img(src=local.images.tecnologia, alt="tecnologia")
								p ACTUALIZACIÓN DE TECNOLOGÍA
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p Dentro de este MDM podrás dar de alta los dispositivos Apple de tu empresa y podrás administralso de forma remota con Jamf.
						p Ejecutando actividades como actualizaciones de software, instalación de aplicaciones, configuración de reglas de negocio de uso, borrados remotos, geolocalización del equipo, etc.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
