//-Configuración y variables globales del proyecto
include ../config/_variables

//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Device as a Service (DaaS) XD'
- metadata['description'] = 'Ahora costos con las soluciones de DaaS; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, DaaS, bajo demanda, on demand, soluciones DaaS'
- var landing = 'landing_sellcom_dass'
//-
	- Ejemplo de como incluir CSS por pagina
	- var section_style = {}
	- section_style['dev'] = 'home.css'
	- section_style['prod'] = 'home.min.css'
//-
	- Ejemplo como incluir los JS por pagina
	- var section_scripts =  {}
	- section_scripts['dev'] = [global_path  + scripts.base + 'script_1.js', global_path  + scripts.base + 'script_2.js']
	- section_scripts['prod'] = [global_path  + scripts.base + 'main.min.js']
	
- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local_dass = {}
- local_dass['images'] = {}
- local_dass.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local_dass.images['banner'] = global_path + images.sellcom_dass + 'sellcom-dass-bannerprincipal.png'

- local_dass.images['dispositivos'] = global_path + images.sellcom_dass + 'sellcom-dass-dispositivos.png'
- local_dass.images['recursos'] = global_path + images.sellcom_dass + 'sellcom-dass-recursos.png'
- local_dass.images['plan'] = global_path + images.sellcom_dass + 'sellcom-dass-plan.png'
- local_dass.images['mantenimiento'] = global_path + images.sellcom_dass + 'sellcom-dass-mantenimiento.png'

- local_dass.images['soporte'] = global_path + images.sellcom_dass + 'sellcom-dass-soporteglobal.png'
- local_dass.images['proteccion'] = global_path + images.sellcom_dass + 'sellcom-dass-proteccion.png'
- local_dass.images['reparacion'] = global_path + images.sellcom_dass + 'sellcom-dass-reparacion.png'
- local_dass.images['estabilidad'] = global_path + images.sellcom_dass + 'sellcom-dass-estabilidad.png'

- local_dass.images['solucionConoce'] = global_path + images.sellcom_dass + 'sellcom-dass-solucion-conoce.png'


- local_dass.images['function1'] = global_path + images.sellcom_dass + 'sellcom-dass-software-instalado.png'
- local_dass.images['function2'] = global_path + images.sellcom_dass + 'sellcom-dass-soporte-remoto.png'
- local_dass.images['function3'] = global_path + images.sellcom_dass + 'sellcom-dass-respaldo-proteccion.png'
- local_dass.images['function4'] = global_path + images.sellcom_dass + 'sellcom-dass-reportes-admi.png'

- local_dass.images['tabImage1'] = global_path + images.sellcom_dass + 'sellcom-dass-asset-management.png'
- local_dass.images['tabImage2'] = global_path + images.sellcom_dass + 'sellcom-dass-software-delivery.png'
- local_dass.images['tabImage3'] = global_path + images.sellcom_dass + 'sellcom-dass-software-metrix.png'
- local_dass.images['tabImage4'] = global_path + images.sellcom_dass + 'sellcom-dass-patch-management.png'
- local_dass.images['tabImage5'] = global_path + images.sellcom_dass + 'sellcom-dass-software-backup.png'
- local_dass.images['tabImage6'] = global_path + images.sellcom_dass + 'sellcom-dass-service-desk.png'

- local_dass.images['servicioIntegral'] = global_path + images.sellcom_dass + 'sellcom-dass-servicio-integral.png'
- local_dass.images['whitepaper'] = global_path + images.sellcom_dass + 'sellcom-dass-portada.jpg'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		header.section-header-dass
			.container
				.row
					.col-2
						a(href='../index.html')
							img(src= local_dass.images.logo alt='Logotipo Sellcom')
							span Soluciones que transforman
					.col-10
						nav.menu
							span.icon-close#btnCloseM
							span.icon-menu#btnGlobalMenu
							ul#menu
								li
									a(href="#dass") ¿Qué es DaaS?
								li
									a(href="#beneficios") Beneficios
								li
									a(href="#soluciones") Soluciones
								li
									a(href="#funciona") ¿Cómo funciona?
								li
									a(href="#herramientas") Herramientas
							a(href="")
								span.icon-linkedin
								
		section.section-banner-dass
			img.banner(src=local_dass.images.banner, alt="banner")
			.container
				.content
					.title-sections
						h1 ¡MÁS ALLÁ DEL HARDWARE! DEVICE AS A SERVICE (DaaS)
					p Trabaja con el mejor sistema físico y tecnología bajo demanda
					a.btn-default.btn-dowloands(href='#') Descarga nuestro white paper
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es DaaS?
							p Es la nueva tendencia que tu empresa necesita; conócela en 4
						ul
							li
								strong Elige los dispositivos que tu empresa necesita
								img(src=local_dass.images.dispositivos, alt="dispositivos")
								p Computadoras, teléfonos, servidores o algún otro dispositivo

							li
								strong Administra el software y recursos de TI
								img(src=local_dass.images.recursos, alt="recursos")
								p Instala, da permisos o actualiza
							li
								strong Elige un plan flexible y a tu medida
								img(src=local_dass.images.plan, alt="plan")
								p Paga únicamente los dispositivos que utilizas
							li
								strong Recibe asesorías y mantenimiento

								img(src=local_dass.images.mantenimiento, alt="mantenimiento")
								p Tú sólo te ocupas de hacer crecer tu negocio  
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar DaaS?  
							p Con la misma solución recibes:
						ul
							li
								img(src=local_dass.images.soporte, alt="dispositivos")
								p Soporte global sobre tus procesos
							li
								img(src=local_dass.images.proteccion, alt="recursos")
								p Protección contra daños accidentales
							li
								img(src=local_dass.images.reparacion, alt="plan")
								p Servicios de reparación o reemplazo inmediato 
							li
								img(src=local_dass.images.estabilidad, alt="mantenimiento")
								p Estabilidad en todos los servicios de TI de tu organización
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		
		section.section-why-dass
			img(src=local_dass.images.solucionConoce, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p A partir del concepto de DaaS, Sellcom te da acceso a capacidades de procesos en servidores, almacenamiento y equipo de cómputo. 
						p Obtén un ambiente controlado y seguro, respaldado con tecnología actualizada  en un esquema flexible.
								
		section.section-function#funciona
			.container
				.row
					.col-10.middle
						.title-sections
							h3 ¿Cómo funciona?
						p Sellcom entiende que el hardware es indispensable para la productividad; por ello convierte tus servicios de TI en una fuente de innovación y crecimiento con:
						ul
							li
								img(src=local_dass.images.function1, alt="software instalado")
								strong Gestión del software instalado: 
								p sus licencias, acceso remoto, control energético y actualizaciones.
							li
								img(src=local_dass.images.function2, alt="software instalado")
								strong Soporte remoto y virtual 
								p que está activo a cada momento para atender cada solicitud.

							li
								img(src=local_dass.images.function3, alt="software instalado")
								strong Respaldo y protección de datos 
								p contra ataques en cada terminal de la red corporativa.
							li
								img(src=local_dass.images.function4, alt="software instalado")
								strong Reportes de administración 
								p y uso de los equipos.
						.row
							.col-12.center
								a.btn-default.btn-dowloands(href='#') Descarga nuestro white paper

								
		section.section-tab-dass#herramientas
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce a detalle las herramientas que te ofrece DaaS
						ul.slider-tabs
							li.active
								a(href="#tab1") Asset Management
							li
								a(href="#tab2") Software Delivery
							li
								a(href="#tab3") Software Metrix / Power Management
							li
								a(href="#tab4") Patch Management
							li 
								a(href="#tab5") Software de Backup & Recovery
							li
								a(href="#tab6") Service Desk
								
						.tab#tab1.active
							.row
								.col-6
									img(src=local_dass.images.tabImage1, alt="Asset Management")
								.col-6
									ul
										li Gestión de inventarios de hardware software.
										li Control del licenciamiento de todas las estaciones de trabajo.
										li Medir los niveles de uso del software.
										li Control remoto de estaciones de trabajo.
										li Información de desempeño, cantidad, calidad y clasificación.
										li Identifica dispositivos obsoletos, subutilizados o desactualizados.
						.tab#tab2
							.row
								.col-6
									img(src=local_dass.images.tabImage2, alt="Software Delivery")
								.col-6
									ul
										li Realiza la instalación del software sin interferir en la productividad.
										li Programa la distribución e instalación automática del software y archivos en forma centralizada mediante la configuración de paquetes estandarizados.
										li Implementa aplicaciones nuevas y desinstala software no autorizado.
						.tab#tab3
							.row
								.col-6
									img(src=local_dass.images.tabImage3, alt="Software Metrix / Power Management")
								.col-6
									ul
										li Identifica el software licenciado y no licenciado.
										li Obtén información relacionada como contratos, facturas y costos del producto utilizado.
						.tab#tab4
							.row
								.col-6
									img(src=local_dass.images.tabImage4, alt="Patch Management")
								.col-6
									ul
										li Elimina riesgos y vulnerabilidades al mantener actualizadas todas las estaciones de trabajo de manera centralizada y permanente.
										li Prevé ataques con los últimos parches y versiones liberados por los fabricantes.
										li Programa instalaciones actualizaciones y recibe notificación permanente lo que genere riesgo a la seguridad del sistema operativo de sus servidores y estaciones de trabajo.
						.tab#tab5
							.row
								.col-6
									img(src=local_dass.images.tabImage5, alt="Software de Backup & Recovery")
								.col-6
									ul
										li Cifra archivos o borralos de forma remota.
										li Nunca pierdas datos: revoca automáticamente el acceso del usuario a la información cifrada después de un plazo definido en las políticas de backup.
						.tab#tab6
							.row
								.col-6
									img(src=local_dass.images.tabImage6, alt="Service Desk")
								.col-6
									ul
										li Gestión y control sobre las solicitudes al Service Desk.
										li Organización y control en la prestación de los servicios.
										li Monitoreo continuo de casos y de los activos asociados. 
										li Mayores niveles de servicio y soporte. 
										li Acceso a consola web para seguimiento de casos.
										li Implementación de mejores prácticas ITIL. 
						
		include ../components/_downloads
		+dowloands-form(local_dass.images.whitepaper,'Nuestro enfoque es darte un servicio integral, con el mejor equipo de hardware a un excelente precio.','¡Acércate a Sellcom!', 'Descarga nuestro White Paper sobre DaaS','Conoce más sobre esta solución en TI')
		include ../components/_downloads_globe
		footer.section-footer
			.container
				.row
					.col-10.middle
						.row
							.col-10
								ul
									li
										a(href="") Aviso Legal  |
									li
										a(href="") Politicas de Privacidad
							.col-2
								a(href="")
									span.icon-linkedin
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
