
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Sellcom Mesa de servicio'
- var metadata = {}
- metadata['title'] = 'Sellcom - Mesa de servicio'
- metadata['description'] = 'Llegó la era de la Mesa de servicio; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Mesa de servicio, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.solutions_mesa + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.solutions_mesa + 'sellcom-devicedass-service.jpg'

- local_images.images['herramienta1'] = global_path + images.solutions_mesa + 'herramienta1.jpg'
- local_images.images['herramienta2'] = global_path + images.solutions_mesa + 'herramienta2.jpg'
- local_images.images['herramienta3'] = global_path + images.solutions_mesa + 'herramienta3.jpg'

- local_images.images['icon_nivelesdeservicio'] = global_path + images.solutions_mesa + 'icon_controldenivelesdeservicio.png'
- local_images.images['icon_distribuciondeactividades'] = global_path + images.solutions_mesa + 'icon_controlenladistribuciondeactividades.png'
- local_images.images['icon_disponibilidad'] = global_path + images.solutions_mesa + 'icon_disponibilidad.png'
- local_images.images['icon_homologacion'] = global_path + images.solutions_mesa + 'icon_homologaciondeejecuciondeprocesos.png'

- local_images.images['logo_apple'] = global_path + images.solutions_mesa + 'logo_apple.png'
- local_images.images['logo_aranda'] = global_path + images.solutions_mesa + 'logo_aranda.png'
- local_images.images['logo_ivr'] = global_path + images.solutions_mesa + 'logo_ivr.png'
- local_images.images['logo_qlik'] = global_path + images.solutions_mesa + 'logo_qlik.png'
- local_images.images['logo_servicenow'] = global_path + images.solutions_mesa + 'logo_servicenow.png'


doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Mesa de servicio')
      .container
        .content
          .title-sections
            h1 Mesa de Servicios Tecnológica
          p Administramos tu mesa de servicio de forma eficiente y eficaz.
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
                li
                  a(href='#device') #[p Conoce nuestra soluci&oacute;n]
                li
                  a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
                li
                  a(href='#whydaas') #[p ¿Por qu&eacute; implementar Mesa de servicio?]
                li
                  a(href='#toolsdaas') #[p Herramientas]
                li
                 a(href='#weareexperts') #[p Socios]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6.txt-justify
                h2 ¿Qué es Mesa de servicio?
                p Conjunto de colaboradores especializados y certificados con acceso a las herramientas adecuadas para el funcionamiento de tu mesa de servicios.
                p La solución permite el control de las peticiones de tus usuarios finales y el seguimiento de todo el ciclo de vida de la petición hasta su resolución en primer, segundo o tercer nivel, todo registrando mediante herramientas de gestión de tickets, llamadas y reporteo especializado.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p El flujo de la mesa de servicios es el que a continuación se menciona.
            ul
              li 
                p #[strong Levantamiento de tickets] 
                  span por medio de llamada, correo, herramienta y /o autoservicio.
              li
                p #[strong Registro, asignación, categorización, priorización de los tickets] 
                  span 
              li
                p #[strong Seguimiento a resolución] 
                  span 
              li 
                p #[strong Cierre y encuestas de satisfacción]
                  span 
              li
                p #[strong Envió de métricas y reportes] 
                  span 
              li
                p #[strong Cumplimiento de niveles de servicio] 
                  span 
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Mesa de servicio?
            p La delegación de la mesa de servicios te permitirá ahorrar costos de administración e incrementara calidad de tu servicio.
            ul
              li
                img(src=local_images.images.icon_nivelesdeservicio alt='Soporte global ')
                p Control de niveles de servicio.
              li
                img(src=local_images.images.icon_homologacion alt='Protección contra daños')
                p Homologación de ejecución de procesos.
              li
                img(src=local_images.images.icon_distribuciondeactividades alt='Servicios de reparación')
                p Control en la distribución de actividades.
              li
                img(src=local_images.images.icon_disponibilidad alt='Servicios de reparación')
                p Disponibilidad 7/24
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p 
            ul.row
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta1 alt='Asset Management')
                .description-tools
                  h3 IVR de control de llamadas y designación de canales de atención.
                  p 
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta2 alt='Software Delivery')
                .description-tools
                  h3 Portal de gestión de tickets para el cumplimiento del proceso y documentación de las peticiones.
                  p 
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta3 alt='Software Metrix')
                .description-tools
                  h3 Herramienta de analítica de información (BI).
                  p 
    section.we-are-experts#weareexperts
      .container
        .row
          .col-10.middle
            h2 Somos expertos en la gestión de mesas de servicios
            p  colaborando con los líderes como son:
            ul.row
              li.col-4
                a(href="https://www.apple.com/mx/" target="_blank") #[img(src=local_images.images.logo_apple alt='Apple')]
              li.col-4
                a(href="https://arandasoft.com/" target="_blank") #[img(src=local_images.images.logo_aranda alt='Aranda')]
              li.col-4
                a(href="#" target="_blank") #[img(src=local_images.images.logo_ivr alt='IVR')]
              li.col-4
                a(href="https://www.qlik.com/us" target="_blank") #[img(src=local_images.images.logo_qlik alt='Qlik')]
              li.col-4
                a(href="https://www.servicenow.com/" target="_blank") #[img(src=local_images.images.logo_servicenow alt='Servicenow')]
    include ../template/_footer    
