//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Microfocus Devops'
- metadata['description'] = 'Ahora costos con las soluciones de Microfocus Devops; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Microfocus Devops, bajo demanda, on demand, soluciones Microfocus Devops'
- var landing = 'mfdevops'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_mfdevops + 'bannerprincipal.jpg'
//- Servicios
- local.images['calidad'] = global_path + images.products_mfdevops + 'servicio_ALMOCTANE.png'
- local.images['funcionales'] = global_path + images.products_mfdevops + 'servicio_productosdeDEVOPS.png'
- local.images['carga'] = global_path + images.products_mfdevops + 'servicio_stomrunnerfunctional.png'
- local.images['extremo'] = global_path + images.products_mfdevops + 'servicio_apppulsesuite.png'
- local.images['integracion'] = global_path + images.products_mfdevops + 'servicio_stomrunnerload.png'
- local.images['unico'] = global_path + images.products_mfdevops + 'servicio_gestiondecalidadmoderna.png'
//- Beneficios
- local.images['codificacion'] = global_path + images.products_mfdevops + 'beneficio_facilcodificacion.png'
- local.images['pruebas'] = global_path + images.products_mfdevops + 'beneficio_pruebasseguraspsd.png'
- local.images['libre'] = global_path + images.products_mfdevops + 'beneficio_libretransicion.png'
- local.images['homologacion'] = global_path + images.products_mfdevops + 'beneficio_homologacionderegistro.png'

- local.images['solucion'] = global_path + images.products_mfdevops + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Microfocus_Devops_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'MICROFOCUS_Caso_de _uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Microfocus DEVOPS
					p Plataforma de gestión ágil de software
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Microfocus Devops?
							p Rompa las barreras. Olvide los silos y cree mejor software y más rápido.
						ul
							li
								strong Gestión de calidad moderna
								img(src=local.images.calidad, alt="calidad")
								p Use ALM Octane para capturar y desarrollar los requisitos de cualquier proyecto.
							li
								strong Pruebas funcionales inteligentes y continuas
								img(src=local.images.funcionales, alt="funcionales")
								p StormRunner Functional le permite probar aplicaciones web y móviles en cualquier entorno.
							li
								strong Pruebas de carga sencillas, inteligentes y escalables
								img(src=local.images.carga, alt="carga")
								p Diseñe pruebas de carga en cuestión de minutos con StormRunner Load.
							li
								strong Supervisión de extremo a extremo
								img(src=local.images.extremo, alt="extremo")
								p AppPulse Suite es una solución integrada que proporciona a los equipos de Agile y DevOps supervisión sintética.
							li
								strong Integración
								img(src=local.images.integracion, alt="integracion")
								p Cada uno de los productos de DevOps Suite se integra con su ecosistema de entrega de software.
							li
								strong Un único sistema de registro
								img(src=local.images.unico, alt="unico")
								p La información de los productos de DevOps Suite se resume en ALM Octane.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Microfocus Devops?
							p Beneficios:
						ul
							li
								img(src=local.images.codificacion, alt="codificacion")
								p FACIL CODIFICACIÓN
							li
								img(src=local.images.pruebas, alt="pruebas")
								p PRUEBAS SEGURAS
							li
								img(src=local.images.libre, alt="libre")
								p LIBRE TRANSICIÓN
							li
								img(src=local.images.homologacion, alt="homologacion")
								p HOMOLOGACIÓN DE REGISTRO
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p Las herramientas que sus equipos de Agile y DevOps necesitan para controlar, probar y monitorizar el software, con una experiencia de usuario excepcional.
						p 
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
