//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Microfocus ITOM'
- metadata['description'] = 'Ahora costos con las soluciones de Microfocus ITOM; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Microfocus ITOM, bajo demanda, on demand, soluciones Microfocus ITOM'
- var landing = 'mfitom'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_mfitom + 'bannerprincipal.jpg'
//- Servicios
- local.images['nube'] = global_path + images.products_mfitom + 'servicio_nubeDEVOPS.png'
- local.images['bridge'] = global_path + images.products_mfitom + 'servicio_datacenter.png'
- local.images['automation'] = global_path + images.products_mfitom + 'servicio_automatizaciondelagestionpsd.png'
- local.images['servicios'] = global_path + images.products_mfitom + 'servicio_TI-hibrida.png'
- local.images['red'] = global_path + images.products_mfitom + 'servicio_gestiondeoperacionesenred.png'
- local.images['proteccion'] = global_path + images.products_mfitom + 'servicio_protecciondedatos.png'
//- Beneficios
- local.images['automatizacion'] = global_path + images.products_mfitom + 'beneficio_automatizacion.png'
- local.images['segumiento'] = global_path + images.products_mfitom + 'beneficio_seguimiento.png'
- local.images['reporteo'] = global_path + images.products_mfitom + 'beneficio_reporteo.png'
- local.images['inovacion'] = global_path + images.products_mfitom + 'beneficio_inovaciondenegocio.png'
- local.images['descubrimiento'] = global_path + images.products_mfitom + 'beneficio_descubrimiento.png'
- local.images['intuitiva'] = global_path + images.products_mfitom + 'beneficio_configuracionintuitiva.png'
- local.images['evolucion'] = global_path + images.products_mfitom + 'beneficio_evolucion.png'
- local.images['ecosistema'] = global_path + images.products_mfitom + 'beneficio_ecosistemadeservicios.png'

- local.images['solucion'] = global_path + images.products_mfitom + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Microfocus_ITOM_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'MICROFOCUS_Itom_Caso_de_uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Microfocus ITOM
					p Plataforma de gestión de operaciones de TI
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Microfocus ITOM?
							p Ofrecemos la plataforma ITOM que, combinando Container Deployment Foundation, los microservicios y el análisis de Big Data, hace posible el funcionamiento ininterrumpido de la TI moderna.
						ul
							li
								strong Gestión de la nube híbrida
								img(src=local.images.nube, alt="nube")
								p Gestión, orquestación y migración de varias nubes basada en DevOps.
							li
								strong Operations Bridge
								img(src=local.images.bridge, alt="bridge")
								p La primera solución de supervisión autónoma organizada en contenedores.
							li
								strong Data Center Automation
								img(src=local.images.automation, alt="automation")
								p Automatice el aprovisionamiento, la aplicación de revisiones y el cumplimiento de su ecosistema.
							li
								strong Automatización de la gestión de los servicios
								img(src=local.images.servicios, alt="servicios")
								p Una experiencia de usuario final atractiva y una gestión de servicios eficiente.
							li
								strong Gestión de operaciones en red
								img(src=local.images.red, alt="red")
								p Gestione y automatice redes tradicionales, virtuales y definidas por software.
							li
								strong Protección de datos
								img(src=local.images.proteccion, alt="proteccion")
								p Software empresarial de copia de seguridad y recuperación ante desastres.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Microfocus ITOM?
							p Beneficios:
						ul
							li
								img(src=local.images.automatizacion, alt="automatizacion")
								p AUTOMATIZACIÓN
							li
								img(src=local.images.segumiento, alt="segumiento")
								p SEGUIMIENTO
							li
								img(src=local.images.reporteo, alt="reporteo")
								p REPORTEO
							li
								img(src=local.images.inovacion, alt="inovacion")
								p INNOVACIÓN DE NEGOCIO
							li
								img(src=local.images.descubrimiento, alt="descubrimiento")
								p DESCUBRIMIENTO
							li
								img(src=local.images.intuitiva, alt="intuitiva")
								p CONFIGURACIÓN INTUITIVA
							li
								img(src=local.images.evolucion, alt="evolucion")
								p EVOLUCIÓN
							li
								img(src=local.images.ecosistema, alt="ecosistema")
								p ECOSISTEMA DE SERVICIOS
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p Las herramientas de gestión de las operaciones de TI actuales salvan la brecha entre las TI tradicionales, la nueva empresa digital y las nuevas iniciativas comerciales que evolucionan a un ritmo cada vez mayor de una manera directa.
						p Las seis suites ITOM son preceptivas, están integradas y son fáciles de consumir gracias a un esquema simplificado de precios y modelos de licencias.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
