//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Microfocus Seguridad'
- metadata['description'] = 'Ahora costos con las soluciones de Microfocus Seguridad; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Microfocus Seguridad, bajo demanda, on demand, soluciones Microfocus Seguridad'
- var landing = 'mfseguridad'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_mfseguridad + 'bannerprincipal.jpg'
//- Servicios
- local.images['arcsight'] = global_path + images.products_mfseguridad + 'servicio_arcsight.png'
- local.images['tension'] = global_path + images.products_mfseguridad + 'servicio_tension.png'
- local.images['fortify'] = global_path + images.products_mfseguridad + 'servicio_fortify.png'
- local.images['mensajeria'] = global_path + images.products_mfseguridad + 'icon-1 copy.png'
- local.images['identidad'] = global_path + images.products_mfseguridad + 'servicio_gestiondeidentidadyacceso.png'
- local.images['puerta'] = global_path + images.products_mfseguridad + 'servicio_puertadeenlace.png'
- local.images['unificada'] = global_path + images.products_mfseguridad + 'servicio_gestiondeextremosunificada.png'
- local.images['seguridad'] = global_path + images.products_mfseguridad + 'servicio_seguridaddelosdatos.png'
//- Beneficios
- local.images['autenticacion'] = global_path + images.products_mfseguridad + 'beneficio_controlesdeautenticacion.png'
- local.images['gestione'] = global_path + images.products_mfseguridad + 'beneficio_gvestionesdemaneraorganizada.png'
- local.images['reduzca'] = global_path + images.products_mfseguridad + 'beneficio_reduzcaelriesgoorganizativo.png'
- local.images['seguimiento'] = global_path + images.products_mfseguridad + 'beneficio_realiceunseguimientodeloscambios.png'
- local.images['detecte'] = global_path + images.products_mfseguridad + 'beneficio_detectelasamenazas.png'
- local.images['pruebas'] = global_path + images.products_mfseguridad + 'beneficio_realicepruebasdeseguridad.png'
- local.images['reposo'] = global_path + images.products_mfseguridad + 'beneficio_datossegurosenreposo.png'
- local.images['proteja'] = global_path + images.products_mfseguridad + 'beneficio_protejalosdispositivos.png'

- local.images['solucion'] = global_path + images.products_mfseguridad + 'solucion.jpg'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Microfocus Seguridad
					p El líder mundial en gestión inteligente de datos
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Microfocus Seguridad?
							p Una estrategia abierta, inteligente e integral para "proteger lo nuevo"
						ul
							li
								strong ArcSight
								img(src=local.images.arcsight, alt="arcsight")
								p Una plataforma abierta y preparada para el futuro que transforma un caos de datos en información sobre seguridad.
							li
								strong Tensión
								img(src=local.images.tension, alt="tension")
								p Seguridad integral basada en datos para empresas, comercios y procesadores de pagos.
							li
								strong Fortify
								img(src=local.images.fortify, alt="fortify")
								p Identifica pronto las vulnerabilidades de seguridad en el código fuente del desarrollo de software.
							li
								strong Mensajería Segura
								img(src=local.images.mensajeria, alt="mensajeria")
								p Antivirus, antispam, antimalware y protección de red.
							li
								strong Gestión de Identidad y Acceso
								img(src=local.images.identidad, alt="identidad")
								p Un enfoque integrado a la gestión de identidades y accesos, gestión de cuentas privilegiadas y gestión de cambios.
							li
								strong Puerta de enlace segura
								img(src=local.images.puerta, alt="puerta")
								p Proteja su red y el sistema de mensajería de malware, virus y contenido peligroso.
							li
								strong Gestión de extremos unificada
								img(src=local.images.unificada, alt="unificada")
								p Garantiza que todos los dispositivos siguen unos estándares y cumplimientos para proteger la red.
							li
								strong Seguridad de los datos
								img(src=local.images.seguridad, alt="seguridad")
								p Cifrado, tokenización y gestión de claves para garantizar la eliminación de la información.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Microfocus Seguridad?
							p Beneficios:
						ul
							li
								img(src=local.images.autenticacion, alt="autenticacion")
								p Controles de autenticación y autorización sin conflictos
							li
								img(src=local.images.gestione, alt="gestione")
								p Gestione de manera centralizada las identidades para mejorar la seguridad
							li
								img(src=local.images.reduzca, alt="reduzca")
								p Reduzca el riesgo organizativo y supervise las cuentas privilegiadas
							li
								img(src=local.images.seguimiento, alt="seguimiento")
								p Realice un seguimiento de los cambios de la configuración del sistema para protegerlo frente a amenazas
							li
								img(src=local.images.detecte, alt="detecte")
								p Detecte las amenazas conocidas y desconocidas para su empresa
							li
								img(src=local.images.pruebas, alt="pruebas")
								p Realice pruebas de seguridad de aplicaciones
							li
								img(src=local.images.reposo, alt="reposo")
								p Datos seguros en reposo, en movimiento y en uso
							li
								img(src=local.images.proteja, alt="proteja")
								p Proteja los dispositivos y los datos corporativos
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p Para ganar en el mercado, las empresas deben crecer e innovar. Para tener éxito, deben adoptar nuevas tecnologías, innovar con nuevos productos y encontrar nuevos socios para expandir su negocio.
						p Los productos de software Microfocus Security pueden ayudar a asegurar los esfuerzos para adoptar soluciones innovadoras que las empresas necesitan adoptar no sólo para mantenerse competitivas en el mercado, sino también para proteger los datos de sus clientes y la reputación de la empresa.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
