//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Microsoft'
- metadata['description'] = 'Ahora costos con las soluciones de Microsoft; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Microsoft, bajo demanda, on demand, soluciones Microsoft'
- var landing = 'microsoft'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_microsoft + 'bannerprincipal.jpg'
//- Servicios
- local.images['office'] = global_path + images.products_microsoft + 'servicio_office 365.png'
- local.images['calendario'] = global_path + images.products_microsoft + 'servicio_agenda.png'
- local.images['nube'] = global_path + images.products_microsoft + 'servicio_almacenamiento.png'
- local.images['proteccion'] = global_path + images.products_microsoft + 'servicio_Malware.png'
- local.images['desarrollo'] = global_path + images.products_microsoft + 'servicio_id programa.png'
//- Beneficios
- local.images['nubes'] = global_path + images.products_microsoft + 'beneficio_nube.png'
- local.images['seguridad'] = global_path + images.products_microsoft + 'beneficio_seguridad.png'
- local.images['innovacion'] = global_path + images.products_microsoft + 'beneficio_innovación.png'
- local.images['colaboracion'] = global_path + images.products_microsoft + 'beneficio_colaboraci0n.png'

- local.images['solucion'] = global_path + images.products_microsoft + 'solucion.jpg'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Sistema Operativo y Software Microsoft.
					p Sellcom es partner de Microsoft en México, gigante tecnológico y pionero de tecnología
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Microsoft?
							p Tenemos acceso a la distribución de todo el catálogo de software de Microsoft en México.a Hiperdisponibilidad es crítica para las empresas de hoy.
						ul
							li
								strong OFFICE 365
								img(src=local.images.office, alt="office")
								p Productividad en todos tus dispositivos y en cualquier lugar.
							li
								strong EMAIL Y CALENDARIO
								img(src=local.images.calendario, alt="calendario")
								p Organiza tu agenda y mantén contacto de forma profesional.
							li
								strong ALMACENAMIENTO EN LA NUBE
								img(src=local.images.nube, alt="nube")
								p En acceso a tu información en cualquier momento.
							li
								strong PROTECCIÓN
								img(src=local.images.proteccion, alt="proteccion")
								p Tus datos están seguros y protegidos ante malware y otros riesgos.
							li
								strong ID´S DE DESARROLLO
								img(src=local.images.desarrollo, alt="desarrollo")
								p Herramientas para la creación de nuevos programas.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Microsoft?
							p Beneficios:
						ul
							li
								img(src=local.images.nubes, alt="nubes")
								p NUBE
							li
								img(src=local.images.seguridad, alt="seguridad")
								p SEGURIDAD
							li
								img(src=local.images.innovacion, alt="innovacion")
								p INNOVACIÓN
							li
								img(src=local.images.colaboracion, alt="colaboracion")
								p COLABORACIÓN

		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p El licenciamiento de Microsoft te permitirá el acceso a las librerías de ofimátca más usadas en el mundo como son Office 365, sistemas de colaboración, sistemas de desarrollo entre otros.
						p 
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
