
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Sellcom Monitoreo'
- var metadata = {}
- metadata['title'] = 'Sellcom - Monitoreo'
- metadata['description'] = 'Llegó la era de la Monitoreo; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Monitoreo, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.solutions_monitoreo + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.solutions_monitoreo + 'sellcom-devicedass-service.jpg'

- local_images.images['colaboradores'] = global_path + images.solutions_monitoreo + 'colaboradoresespecializados.jpg'
- local_images.images['monitoreo'] = global_path + images.solutions_monitoreo + 'herramientademonitoreo.jpg'
- local_images.images['gestion'] = global_path + images.solutions_monitoreo + 'herramientasdegestion.jpg'
- local_images.images['procesos'] = global_path + images.solutions_monitoreo + 'procesosoperativos.jpg'

- local_images.images['icon_capacidad'] = global_path + images.solutions_monitoreo + 'icon_capacidad.png'
- local_images.images['icon_continuidad'] = global_path + images.solutions_monitoreo + 'icon_continuidad.png'
- local_images.images['icon_controlproductivo'] = global_path + images.solutions_monitoreo + 'icon_controlproductivo.png'
- local_images.images['icon_disponibilidad'] = global_path + images.solutions_monitoreo + 'icon_disponibilidad.png'
- local_images.images['icon_eventos'] = global_path + images.solutions_monitoreo + 'icon_gestiolndeprocesosdeevntos.png'
- local_images.images['icon_ivr'] = global_path + images.solutions_monitoreo + 'icon_IVR.png'
- local_images.images['icon_nivelesdeservicios'] = global_path + images.solutions_monitoreo + 'icon_nivelesdeservicios.png'
- local_images.images['icon_seguridad'] = global_path + images.solutions_monitoreo + 'icon_seguridad.png'
- local_images.images['icon_tunningoperativo'] = global_path + images.solutions_monitoreo + 'icon_tunningoperativo.png'

- local_images.images['logo_apple'] = global_path + images.solutions_monitoreo + 'logo_apple.png'
- local_images.images['logo_aranda'] = global_path + images.solutions_monitoreo + 'logo_aranda.png'
- local_images.images['logo_hp'] = global_path + images.solutions_monitoreo + 'logo_HP.png'
- local_images.images['logo_hpe'] = global_path + images.solutions_monitoreo + 'logo_hpe.png'
- local_images.images['logo_huawei'] = global_path + images.solutions_monitoreo + 'logo_huawei.png'
- local_images.images['logo_ibm'] = global_path + images.solutions_monitoreo + 'logo_ibm.png'
- local_images.images['logo_jamf'] = global_path + images.solutions_monitoreo + 'logo_jamf.png'
- local_images.images['logo_qlik'] = global_path + images.solutions_monitoreo + 'logo_qlik.png'
- local_images.images['logo_servicenow'] = global_path + images.solutions_monitoreo + 'logo_servicenow.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-video-dass
      
      .boxVideo
        video#secondVideo(autoplay loop muted)
          source(src="../images/video/monitoreo.mp4" type="video/mp4")
      .container
          .content
                    br
                    .title-sections
                        h1 Servicios de Monitoreo
                    p  Ponemos a tu alcance nuestros servicios de monitoreo para cualquier área de negocio.
    //- section.section-banner-interna
    //-   img.banner(src=local_images.images.banner alt='Monitoreo')
    //-   .container
    //-     .content
    //-       .row
    //-         .col-10.middle
    //-           h1 Servicios de Monitoreo
    //-           p Ponemos a tu alcance nuestros servicios de monitoreo para cualquier área de negocio.
    section.anchors
      .container
        .row
          .col-10.middle 
            ul#submenu
              li
                a(href='#device') #[p Conoce nuestra soluci&oacute;n]
              li
                a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
              li
                a(href='#whydaas') #[p ¿Por qu&eacute; implementar Monitoreo?]
              li
                a(href='#toolsdaas') #[p Herramientas]
              li
                 a(href='#weareexperts') #[p Socios]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6.txt-justify
                h2 ¿Qué es Monitoreo?
                p Conjunto de recursos humanos certificados y con experiencia, herramientas, programas y dispositivos para brindarte un servicio de calidad en torno a las actividades de monitoreo de red, infraestructura, operación, etc.
                p Implementamos software de alto nivel de gestión para poder garantizar el monitoreo de tus sistemas, infraestructura y/o red en el esquema definido por tu negocio todos los días del año.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p El flujo de Monitoreo es el que a continuación se menciona.
            ul
              li 
                p #[strong Análisis de requerimiento de monitoreo] 
                  span 
              li
                p #[strong Modelado y diseño de servicio de monitoreo] 
                  span 
              li
                p #[strong Definición de herramientas y configuración de monitoreo] 
                  span 
              li 
                p #[strong Puesta en marcha de servicios de monitoreo]
                  span 
              li
                p #[strong On Going de monitoreo] 
                  span 
              li
                p #[strong Mantenimiento, asignación, escalamiento y atención de incidencias de monitoreo] 
                  span 
              li
                p #[strong Adecuación de nuevas necesidades de monitoreo] 
                  span 
              li
                p #[strong Baja de equipo de monitoreo] 
                  span 
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Monitoreo?
            p La adopción de monitoreo en tu negocio.
            ul
              li
                img(src=local_images.images.icon_eventos alt='Soporte global ')
                p Gestión de procesos de eventos
              li
                img(src=local_images.images.icon_nivelesdeservicios alt='Protección contra daños')
                p Niveles de servicios
              li
                img(src=local_images.images.icon_controlproductivo alt='Servicios de reparación')
                p Control productivo
              li
                img(src=local_images.images.icon_disponibilidad alt='Soporte global ')
                p Disponibilidad
              li
                img(src=local_images.images.icon_capacidad alt='Protección contra daños')
                p Capacidad
              li
                img(src=local_images.images.icon_continuidad alt='Servicios de reparación')
                p Continuidad
              li
                img(src=local_images.images.icon_tunningoperativo alt='Protección contra daños')
                p Tunning Operativo
              li
                img(src=local_images.images.icon_seguridad alt='Servicios de reparación')
                p Seguridad
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p 
            ul.row
              li.col-3
                .img-tools
                  img(src=local_images.images.colaboradores alt='Asset Management')
                .description-tools
                  h3 Colaboradores especializados y certificados
                  p 
              li.col-3
                .img-tools
                  img(src=local_images.images.monitoreo alt='Software Delivery')
                .description-tools
                  h3 Herramientas de monitoreo
                  p 
              li.col-3
                .img-tools
                  img(src=local_images.images.gestion alt='Software Metrix')
                .description-tools
                  h3 Procesos operativos de gestión de eventos
                  p 
              li.col-3
                .img-tools
                  img(src=local_images.images.procesos alt='Software Metrix')
                .description-tools
                  h3 Herramienta de gestión o de seguimiento de incidencias
                  p 
    section.we-are-experts#weareexperts
      .container
        .row
          .col-10.middle
            h2 Somos expertos en Monitoreo
            p  colaborando con los líderes como son:
            ul.row
              li.col-4
                a(href="https://www.apple.com/" target="_blank") #[img(src=local_images.images.logo_apple alt='Socio Apple')]
              li.col-4
                a(href="https://arandasoft.com/" target="_blank") #[img(src=local_images.images.logo_aranda alt='Socio Aranda')]
              li.col-4
                a(href="https://www8.hp.com/mx/es/home.html" target="_blank") #[img(src=local_images.images.logo_hp alt='Socio HP')]
              li.col-4
                a(href="https://www.hpe.com/mx/es/home.html" target="_blank") #[img(src=local_images.images.logo_hpe alt='Socio HPe')]
              li.col-4
                a(href="https://consumer.huawei.com/mx/" target="_blank") #[img(src=local_images.images.logo_huawei alt='Socio Huawei')]
              li.col-4
                a(href="https://www.ibm.com/mx-es/" target="_blank") #[img(src=local_images.images.logo_ibm alt='Socio IBM')]
              li.col-4
                a(href="https://www.jamf.com/" target="_blank") #[img(src=local_images.images.logo_jamf alt='Socio Jamf')]
              li.col-4
                a(href="https://www.qlik.com/es-es" target="_blank") #[img(src=local_images.images.logo_qlik alt='Socio Qlik')]
              li.col-4
                a(href="https://www.servicenow.com/" target="_blank") #[img(src=local_images.images.logo_servicenow alt='Socio Servicenow')]
    include ../template/_footer    
