
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Sellcom MPS'
- var metadata = {}
- metadata['title'] = 'Sellcom - MPS'
- metadata['description'] = 'Llegó la era de la MPS; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, MPS, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.solutions_mps + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.solutions_mps + 'sellcom-devicedass-service.jpg'

- local_images.images['impresora'] = global_path + images.solutions_mps + 'impresorasmultifunciolanales.jpg'
- local_images.images['insumo'] = global_path + images.solutions_mps + 'insumosdeimpresoras.jpg'
- local_images.images['software'] = global_path + images.solutions_mps + 'softwaredeinsumos.jpg'

- local_images.images['icon_ahorroeninsumos'] = global_path + images.solutions_mps + 'icon_ahorroeninsumos.png'
- local_images.images['icon_gastosdequipo'] = global_path + images.solutions_mps + 'icon_controldegastosdequipo.png'
- local_images.images['icon_nivelesdeservicio'] = global_path + images.solutions_mps + 'icon_controldenivelesdeservicio.png'
- local_images.images['icon_disponibilidad'] = global_path + images.solutions_mps + 'icon_disponibilidad.png'

- local_images.images['logo_hp'] = global_path + images.solutions_mps + 'logo_hp.png'
- local_images.images['logo_hpe'] = global_path + images.solutions_mps + 'logo_hpe.png'
- local_images.images['logo_huawei'] = global_path + images.solutions_mps + 'logo_huawei.png'
- local_images.images['logo_lexmark'] = global_path + images.solutions_mps + 'logo_lexmark.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-video-dass
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/mps30.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Servicios administrados de Impresión
                    p  Reduce los costos de impresión tercereando con Sellcom tu servicio.     
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
              li
                a(href='#device') #[p Conoce nuestra soluci&oacute;n]
              li
                a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
              li
                a(href='#whydaas') #[p ¿Por qu&eacute; implementar MPS?]
              li
                a(href='#toolsdaas') #[p Herramientas]
              li
                 a(href='#weareexperts') #[p Socios]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6
                h2 ¿Qué es MPS?
                p Te brindamos todo lo relacionado con los servicios de impresión para tu empresa.
                p La solución consiste en realizar la venta o arrendamiento del equipo de cómputo, realizar la configuración pertinente y dar seguimiento a la operación de los dispositivos de impresión, realizando la reposición de insumos y atención de incidentes.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p El flujo de los servicios de impresión es el que a continuación se menciona.
            ul
              li 
                p #[strong Levantamiento de requerimiento de equipo de impresión] 
                  span 
              li
                p #[strong Venta o arrendamiento de equipo] 
                  span 
              li
                p #[strong Configuración de equipo] 
                  span 
              li 
                p #[strong Monitoreo de equipo]
                  span 
              li
                p #[strong Atención de incidencias] 
                  span 
              li 
                p #[strong Atención de recubrimiento de insumos]
                  span 
              li
                p #[strong Atención de nuevos requerimeintos] 
                  span 
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar MPS?
            p La delegación de los servicios de impresión te permitirá ahorrar costos de administración e incrementara calidad de tu servicio.
            ul
              li
                img(src=local_images.images.icon_nivelesdeservicio alt='Soporte global ')
                p Control de niveles de servicio.
              li
                img(src=local_images.images.icon_ahorroeninsumos alt='Protección contra daños')
                p Ahorro en insumos.
              li
                img(src=local_images.images.icon_nivelesdeservicio alt='Servicios de reparación')
                p Control de gasto de equipos e insumos.
              li
                img(src=local_images.images.icon_disponibilidad alt='Servicios de reparación')
                p Disponibilidad 7*24.
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p 
            ul.row
              li.col-4
                .img-tools
                  img(src=local_images.images.impresora alt='Asset Management')
                .description-tools
                  h3 Impresoras, multifuncionales.
                  p 
              li.col-4
                .img-tools
                  img(src=local_images.images.insumo alt='Software Delivery')
                .description-tools
                  h3 insumos de impresoras.
                  p 
              li.col-4
                .img-tools
                  img(src=local_images.images.software alt='Software Metrix')
                .description-tools
                  h3 Software de gestión de insumos y seguimiento de funcionamiento de impresoras.
                  p 
    section.we-are-experts#weareexperts
      .container
        .row
          .col-10.middle
            h2 Somos expertos en la gestión de servicios de impresion
            p  colaborando con los líderes como son:
            ul.row
              li.col-3
                a(href="https://www8.hp.com/mx/es/home.html" target="_blank") #[img(src=local_images.images.logo_hp alt='Socio HP')]
              li.col-3
                a(href="https://www.hpe.com/mx/es/home.html" target="_blank") #[img(src=local_images.images.logo_hpe alt='Socio HPe')]
              li.col-3
                a(href="https://consumer.huawei.com/mx/" target="_blank") #[img(src=local_images.images.logo_huawei alt='Socio Huawei')]
              li.col-3
                a(href="https://www.lexmark.com/es_mx.html" target="_blank") #[img(src=local_images.images.logo_lexmark alt='Socio Lexmark')]
    include ../template/_footer    
