//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Naudit'
- metadata['description'] = 'Software enfocado y especializado al análisis de redes.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Desarrollo de software, bajo demanda, on demand, soluciones Desarrollo de software'
- var landing = 'desarrollo'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_naudit + 'sitio_naudit_bannersuperior.jpg'
- local.images['banner2'] = global_path + images.products_naudit + 'sitio_sellcom_naudit.jpg'
//- Servicios
- local.images['flexitop'] = global_path + images.products_naudit + 'naudit_flexi_portafolio.png'
- local.images['videomon'] = global_path + images.products_naudit + 'naudit_videomon_portafolio.png'
- local.images['rtp'] = global_path + images.products_naudit + 'naudit_tracker_portafolio.png'
- local.images['qol'] = global_path + images.products_naudit + 'naudit_niveles_portafolio.png'
- local.images['detect'] = global_path + images.products_naudit + 'naudit_detect_portafolio.png'

//- Beneficios
- local.images['adaptabilidad'] = global_path + images.products_naudit + 'naudit_adaptabilidad_beneficios.png'
- local.images['analisis'] = global_path + images.products_naudit + 'naudit_analisis_beneficios.png'
- local.images['costo'] = global_path + images.products_naudit + 'naudit_costo_beneficios.png'
- local.images['decision'] = global_path + images.products_naudit + 'naudit_decision_beneficios.png'
- local.images['innovacion'] = global_path + images.products_naudit + 'naudit_innovacion_beneficios.png'
- local.images['monitoreo'] = global_path + images.products_naudit + 'naudit_monitoreo_beneficios.png'
- local.images['niveles'] = global_path + images.products_naudit + 'naudit_niveles_beneficios.png'
- local.images['seguridad'] = global_path + images.products_naudit + 'naudit_seguridad_beneficios.png'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Naudit_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Naudit_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass
            img.banner(src=local.images.banner, alt="banner")
            .container
                .content
                    br
                    .title-sections
                        h1 Naudit
                    p Software enfocado y especializado al análisis de redes.
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es Naudit?
                            p Naudit es una de las start-ups tecnológicas con mayor proyección y potencial del panorama internacional en monitorización avanzada de red y datos. Su orientación innovadora viene dada por un equipo de doctores e ingenieros en telecomunicaciones, informática y matemáticas con una elevada capacidad analítica y técnica. Además, dispone de una visión realista del mundo empresarial que aportan antiguos directivos de compañías multinacionales a lo largo de su carrera profesional. Somos conocimiento, experiencia e innovación, somos naudit.
                        ul
                            li
                                strong FLEXITOP
                                img(src=local.images.flexitop, alt="Flexitop")
                                p Toda la solución necesaria en términos de Sistema Operativo.
                            li
                                strong VIDEOMON
                                img(src=local.images.videomon, alt="Videomon")
                                p Análisis destinada a monitorizar de forma pasiva flujos de vídeo.
                            li
                                strong RTP-TRACKER
                                img(src=local.images.rtp, alt="RTP-Tracker")
                                p Gestión de tráfico VoIP que permite monitorizar, grabar y calcular parámetros estadísticos de las llamadas.
                            li
                                strong QOS-POLL
                                img(src=local.images.qol, alt="Qos-poll")
                                p Análisis de Niveles de servicios de Red.
                            li
                                strong DETECT-PRO
                                img(src=local.images.detect, alt="Detect-pro")
                                p Mide el trafico por medio del uso de la tecnología de tarjetas de red.
        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar Naudit?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.seguridad, alt="seguridad")
                                p SEGURIDAD
                            li
                                img(src=local.images.analisis, alt="analisis")
                                p ANÁLISIS
                            li
                                img(src=local.images.decision, alt="toma de decisiones")
                                p TOMA DE DECISIONES
                            li
                                img(src=local.images.niveles, alt="niveles de servicio")
                                p NIVELES DE SERVICIO
                            li
                                img(src=local.images.innovacion, alt="innovación")
                                p INNOVACIÓN
                            li
                                img(src=local.images.monitoreo, alt="monitoreo")
                                p MONITOREO
                            li
                                img(src=local.images.adaptabilidad, alt="adaptabilidad")
                                p ADAPTABILIDAD
                            li
                                img(src=local.images.costo, alt="bajo costo")
                                p BAJO COSTO
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        .flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-why-dass
            img(src=local.images.banner2, alt="solución conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Naudit es la combinación equilibrada de talento, herramientas y metodología:
                        p Diagnósticos y análisis independientes: Basados en hechos, no en síntomas, independientes de fabricantes, de operadores y de empresas de outsourcing.
                        p Todos los datos y las evidencias: Toda la información está disponible; las conclusiones de los análisis se acompañan de evidencias.
                        p Herramientas escalables y a un coste fijo: Las herramientas forman parte del servicio; pueden desplegarse tantas ocurrencias como sea preciso, sin coste extra.
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
