//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - NetApp'
- metadata['description'] = 'Impulsa los resultados de tu empresa de forma más rápida en entornos de nube y núcleos con la carpeta integral de NetApp.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, plataforma, gestión de datos , Innovación, Empresas, Negocios, migración, base de datos, almacenamiento, Cloud, hibrido, Nube, sistemas,sistema all-flash, NetApp, transformación digital, soluciones NetApp'
- var landing = 'netapp'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        //- section.section-video-dass
        //- 	img(src=local.images.banner, alt="Dass")
        //- 	.boxVideo
        //- 		video#secondVideo(autoplay loop muted)
        //- 			source(src="../images/video/huawei.mp4" type="video/mp4")
        //- 	.information-video
        //- 		.container
        //- 			h1 Huawei
        //- 			h2 Huawei
        //- 			p Todos los componentes a rededor de tus dispositivos los ponemos a tu alcance.
        section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/NetApp.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 NetApp
                    p Impulse las aplicaciones de su empresa y entregue proyectos de forma más rápida en entornos de nube, núcleos y extremo con la carpeta integral de NetApp.
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es NetApp?
                            p Plataforma que ofrece soluciones de gestión de datos que ayudan a aprovechar todo el potencial de sus datos.
                        ul
                            li
                                strong Migración de datos
                                img#imagen(src=local.images.migracion, alt="migracion")
                                p Mudarse a la nube es muy atractivo por muchas razones. Pero mover datos a la nube o viceversa puede ser un desafío 
                            li
                                strong Protección de datos
                                img#imagen(src=local.images.proteccion, alt="proteccion")
                                p Las aplicaciones nativas en la nube y los servicios de almacenamiento son bastante robustos.
                            li
                                strong Bases de datos
                                img#imagen(src=local.images.datos, alt="datos")
                                p Las bases de datos o aplicaciones basadas en Oracle son algunos de los motores de bases de datos.
                            li
                                strong Almacenamiento en bloques
                                img#imagen(src=local.images.almacenamiento, alt="almacenamiento")
                                p El almacenamiento compartido es un gran enfoque para permitir el acceso a datos en la nube 
                            //-li
                                strong Cómputo en Nubes Híbridas
                                img(src=local.images.nubes, alt="nubes")
                                p Acceso horizontal/vertical y convergencia de datos.
                           
        section.microsite-container-vmware
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 Productos
                            p Conoce los productos NetApp que Sellcom Solutions te ofrece.
                    .col-10.middle
                        section.tabs
                            input#tab-1.tab-selector-1(type='radio', name='radio-set', checked='checked')
                            label.tab-label-1(for='tab-1') Backup y recuperación
                            input#tab-2.tab-selector-2(type='radio', name='radio-set')
                            label.tab-label-2(for='tab-2') Sistemas de all-flash
                            input#tab-3.tab-selector-3(type='radio', name='radio-set')
                            label.tab-label-3(for='tab-3') Sistemas Convergentes
                            input#tab-4.tab-selector-4(type='radio', name='radio-set')
                            label.tab-label-4(for='tab-4') Software FlexArray
 
                            
                            .clear-shadow
                            .content
                                .dash.content-1
                                    row
                                        .col-12
                                            h2.txt-center
                                                strong Proteja sus datos en el cloud híbrido. Encuentre los productos, las soluciones y las colaboraciones que necesita.
                                    row  
                                        .col-10.middle
                                            p Implemente un backup integral desde la periferia al cloud con una potente protección de datos integrada. Busque y recupere con facilidad los datos perdidos con una interfaz de gestión nativa en el cloud. Despliegue todo el potencial que tienen sus datos mediante la creación de copias activas en el cloud.

                                    //-row  
                                        .col-10.middle
                                            p Una arquitectura tradicional de tres niveles resulta cara de implementar, su funcionamiento es complejo y su escalabilidad, difícil. No espere a que la infraestructura de TI responda a los requisitos de las aplicaciones. Adopte la HCI sin perder el control, aumentar costes o renunciar a la seguridad.
                                .dash.content-2
                                    row
                                           h2.txt-center 
                                            strong Sistemas de almacenamiento all-flash Potencia en estado sólido.
                                    row
                                        .col-12
                                            h3 AFF A-Series 
                                        .col-10.middle
                                            p Modernice y simplifique su almacenamiento. Las cabinas all-flash AFF A-Series combinan las mejores funcionalidades de gestión de datos, eficiencia y rendimiento del sector con una perfecta conectividad con el cloud.

                                    row
                                        .col-12
                                            h3 Solid Fire.
                                        .col-10.middle
                                            p Las cabinas all-flash SolidFire sacan el máximo provecho de la API de Element para potenciar su cloud privado a escala. 

                                    row
                                        .col-12
                                            h3 EF-Series.
                                        .col-10.middle
                                            p Las cabinas all-flash EF-Series ofrecen tiempos de respuesta rápidos y constantes que permiten acelerar las bases de datos, la computación de alto rendimiento y las cargas de trabajo de análisis.
                                    
                                    row
                                        .col-12
                                            h3 Gestión de claves de cifrado.
                                        .col-10.middle
                                            p Refuerce y simplifique la gestión del cifrado de datos empresariales KeySecure de Gemalto SafeNet proporcionado por Gemalto ofrece un sistema de gestión de claves seguro, automatizado y centralizado. Almacene y gestione claves de cifrado de datos para cientos o miles de dispositivos y terminales de cifrado.

                                .dash.content-3
                                    row
                                        .col-12
                                        h2.txt-center 
                                            strong Potencia en estado sólido.
                                      
                                    row
                                        .col-12
                                            h3 Infraestructura convergente.    
                                        .col-10.middle
                                            p Modernice la gestión de sus datos. Las arquitecturas prevalidadas con FlexPod ofrecen cero tiempo de inactividad planificado desde el primer minuto.
                                    row
                                        .col-12
                                            h3 Infraestructura Hiperconvergente.    
                                        .col-10.middle
                                            p HCI de NetApp® acaba con los silos de aplicaciones. Consolide varias aplicaciones en un único sistema con rendimiento predecible al nivel de su empresa.
                                    row
                                        .col-12
                                            h3 Infraestructura de nueva generación.    
                                        .col-10.middle
                                            p Las soluciones FlexPod SF garantizan acuerdos de nivel de servicio para aplicaciones, cargas de trabajo e inquilinos en toda su infraestructura. Ejecute cargas de trabajo cada vez mayores para cumplir las demandas de su negocio y los constantes cambios que se producen en ellas.

                                .dash.content-4
                                    row
                                        .col-12
                                        h2.txt-center 
                                            strong Software de virtualización del almacenamiento FlexArray
                                            br
                                            strong Unifique con ONTAP. Saque más partido de sus cabinas de almacenamiento actuales.    
                                    row
                                        .col-12
                                            h3 Benefíciese de las funciones de gestión de datos más sólidas. 
                                    row  
                                        .col-10.middle
                                             ul
                                                    li 
                                                        p -Agregue la compatibilidad con cargas de trabajo NAS.
                                                    li 
                                                        p -Consiga la seguridad y la protección de datos integradas de ONTAP®.
                                                    li 
                                                        p -Acelere las fases de desarrollo y pruebas con una copia instantánea de los datos.
                                                    li 
                                                        p -Proporcione una disponibilidad de datos continua para aplicaciones críticas.
                                    row
                                        .col-12
                                            h3 Simplifique las operaciones tecnológicas. 
                                    row  
                                        .col-10.middle
                                             ul
                                                    li 
                                                        p -Realice las tareas de mantenimiento durante el horario normal de trabajo.
                                                    li 
                                                        p -Elimine los silos de almacenamiento.
                                                    li 
                                                        p -Cree un pool de almacenamiento que abarque el cloud híbrido.
                                                    li 
                                                        p -Reduzca los requisitos de capacidad con la reducción de datos online.
                                    row
                                        .col-12
                                            h3 Maximice sus inversiones en las cabinas de almacenamiento actuales.
                                        .col-10.middle
                                            p El software de virtualización FlexArray de NetApp® le permite usar cabinas EMC, HP, Hitachi, IBM y E-Series de NetApp como capacidad de almacenamiento en un entorno ONTAP.
                                   
        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar NetApp?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.computacion, alt="computacion")
                                p Computación de alto rendimiento
                                p Las cargas de trabajo de alto rendimiento muy específicas pueden enfrentar desafíos al pasar a la nube. 
                            li
                                img(src=local.images.archivos, alt="archivos")
                                p Servicios de archivos
                                p Si bien las aplicaciones de Linux se ejecutan bien en la nube, el proceso de migración de Linux de las instalaciones a la nube está lleno de obstáculos. 
                            li
                                img(src=local.images.nube, alt="nube")
                                p Aplicaciones nativas en nube.
                                p Los contenedores desplegados con Kubernetes están ayudando a acelerar el desarrollo y la entrega de nuevas aplicaciones nativas de la nube 
                            //-li
                                img(src=local.images.asociado, alt="asociado")
                                p Servicios de SW asociado a la infraestructura.
                           
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        //-.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-why-dass
            img(src=local.images.solucion, alt="solucion conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Tendrás un amplio abanico de soluciones para tu infraestructura de datos con lo que podrás tomar el control y simplificar la gestión de datos en los clouds y entornos locales para acelerar la transformación digital de tu empresa.
                        p Con enfrentar desafíos al pasar a la nube. La E / S de alta velocidad que es fundamental para estas cargas de trabajo y está disponible en las instalaciones a menudo no se encuentra en los servicios en la nube.
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
