//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - OpenText'
- metadata['description'] = 'Ahora costos con las soluciones de OpenText; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, OpenText, bajo demanda, on demand, soluciones OpenText'
- var landing = 'opentext'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_opentext + 'bannerprincipal.jpg'
//- Servicios
- local.images['customer'] = global_path + images.products_opentext + 'servicio_customerexperience.png'
- local.images['digital'] = global_path + images.products_opentext + 'servicio_digitalprocess.png'
- local.images['business'] = global_path + images.products_opentext + 'servicio_businessNetwork.png'
- local.images['enterprise'] = global_path + images.products_opentext + 'servicio_ECM.png'
- local.images['discovery'] = global_path + images.products_opentext + 'servicio_discovery.png'
- local.images['security'] = global_path + images.products_opentext + 'servicio_security.png'
- local.images['analytics'] = global_path + images.products_opentext + 'servicio_analytics.png'
- local.images['cloud'] = global_path + images.products_opentext + 'servicio_cloudmanagedservices.png'
//- Beneficios
- local.images['uno'] = global_path + images.products_opentext + 'beneficio_1.png'
- local.images['dos'] = global_path + images.products_opentext + 'beneficio_2.png'
- local.images['tres'] = global_path + images.products_opentext + 'beneficio_3.png'
- local.images['cuatro'] = global_path + images.products_opentext + 'beneficio_4.png'
- local.images['cinco'] = global_path + images.products_opentext + 'beneficio_5.png'
- local.images['seis'] = global_path + images.products_opentext + 'beneficio_6.png'
- local.images['siete'] = global_path + images.products_opentext + 'beneficio_7.png'
- local.images['ocho'] = global_path + images.products_opentext + 'beneficio_8.png'
- local.images['nueve'] = global_path + images.products_opentext + 'beneficio_9.png'
- local.images['diez'] = global_path + images.products_opentext + 'beneficio_10.png'
- local.images['once'] = global_path + images.products_opentext + 'beneficio_11.png'
- local.images['doce'] = global_path + images.products_opentext + 'beneficio_12.png'
- local.images['trece'] = global_path + images.products_opentext + 'beneficio_13.png'
- local.images['catorce'] = global_path + images.products_opentext + 'beneficio_14.png'

- local.images['solucion'] = global_path + images.products_opentext + 'solucion.jpg'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 OpenText EIM
					p Obtenga la información crítica para la empresa que necesita para gestionar el flujo de información, en sus instalaciones o en la nube, y construya su futuro digital con las soluciones OpenText Enterprise Information Management
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es OpenText?
							p La empresa inteligente y conectada.
						ul
							li
								strong Customer Experience Management
								img(src=local.images.customer, alt="customer")
								p Cree experiencias de usuario y colaborador excepcionales.
							li
								strong Digital Process Automation
								img(src=local.images.digital, alt="digital")
								p Automatice y oriente de forma inteligente los procesos empresariales y de casos.
							li
								strong Business Network
								img(src=local.images.business, alt="business")
								p Permita un flujo de información seguro y sin fisuras a través de un ecosistema empresarial.
							li
								strong Enterprise Content Management
								img(src=local.images.enterprise, alt="enterprise")
								p Transformando el contenido para la productividad y el control.
							li
								strong Discovery
								img(src=local.images.discovery, alt="discovery")
								p Descubra lo que importa: busque, extraiga, clasifique, revise y analice el contenido en toda la empresa.
							li
								strong Security
								img(src=local.images.security, alt="security")
								p Resuelva las necesidades de seguridad forense e investigación con total visibilidad en todos los puntos finales.
							li
								strong Analytics
								img(src=local.images.analytics, alt="analytics")
								p Proporcione BI y Analytics para la toma de decisiones basadas en dato.
							li
								strong Cloud Managed Services
								img(src=local.images.cloud, alt="cloud")
								p Une la potencia de una plataforma en nube con una gran experiencia de gestión y optimización.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar OpenText?
							p Beneficios:
						ul
							li
								img(src=local.images.uno, alt="uno")
								p Integración y soporte para SAP ERP y SuccessFactors, Oracle E-Business Suite, Salesforce, Office 365 y SharePoint.
							li
								img(src=local.images.dos, alt="dos")
								p Proteja la información histórica crítica dentro de una solución de archivado centralizada y segura.
							li
								img(src=local.images.tres, alt="tres")
								p Aprovechar una interfaz de usuario simple, receptiva e intuitiva, con vistas basadas en funciones.
							li
								img(src=local.images.cuatro, alt="cuatro")
								p Capturar documentos y datos de papel, archivos electrónicos.
							li
								img(src=local.images.cinco, alt="cinco")
								p Simplifique las comunicaciones con los clientes y prospectos a través de una única plataforma.
							li
								img(src=local.images.seis, alt="seis")
								p Centrarse en el negocio principal de la organización.
							li
								img(src=local.images.siete, alt="siete")
								p Obtenga visibilidad de los procesos intensivos en transacciones con métricas.
							li
								img(src=local.images.ocho, alt="ocho")
								p Personalice la experiencia del cliente automáticamente.
							li
								img(src=local.images.nueve, alt="nueve")
								p Impulse el valor en toda la organización automatizando la creación y distribución de información.
							li
								img(src=local.images.diez, alt="diez")
								p Ofrezca análisis de autoservicio para preparar los datos.
							li
								img(src=local.images.once, alt="once")
								p Permita a los usuarios empresariales con un diseñador de cuadros de mando.
							li
								img(src=local.images.doce, alt="doce")
								p Utilice los datos de la organización para automatizar procesos repetitivos.
							li
								img(src=local.images.trece, alt="trece")
								p Utilice una sola barra de búsqueda para ejecutar consultas en docenas de repositorios.
							li
								img(src=local.images.catorce, alt="catorce")
								p Recolecte discretamente de todas las fuentes sin que ello afecte al negocio diario.
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p OpenText impulsa las transformaciones digitales para potenciar la empresa inteligente y conectada. Al permitir a las empresas digitalizar procesos y cadenas de suministro y descubrir el valor de su información con análisis e Inteligencia Artificial.
						p OpenText ofrece una mayor visión de negocio para tomar decisiones basadas en datos para el éxito.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
