
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Sellcom Plataforma de lealtad'
- var metadata = {}
- metadata['title'] = 'Sellcom - Plataforma de lealtad'
- metadata['description'] = 'Llegó la era de la Plataforma de lealtad; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Plataforma de lealtad, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.solutions_lealtad + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.solutions_lealtad + 'sellcom-devicedass-service.jpg'

- local_images.images['herramienta1'] = global_path + images.solutions_lealtad + 'herramienta1.jpg'
- local_images.images['herramienta2'] = global_path + images.solutions_lealtad + 'herramienta2.jpg'
- local_images.images['herramienta3'] = global_path + images.solutions_lealtad + 'herramienta3.jpg'

- local_images.images['icon_razon1'] = global_path + images.solutions_lealtad + 'icon_razon1.png'
- local_images.images['icon_razon2'] = global_path + images.solutions_lealtad + 'icon_razon2.png'
- local_images.images['icon_razon3'] = global_path + images.solutions_lealtad + 'icon_razon3.png'
- local_images.images['icon_razon4'] = global_path + images.solutions_lealtad + 'icon_razon4.png'


doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
        img.banner(src=local_images.images.banner alt='Plataforma de lealtad')
        .container
          .content
            .title-sections
              h1 Plataforma de lealtad
            p El programa de lealtad a la medida de tu negocio.
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
               li
                 a(href='#device') #[p Conoce nuestra soluci&oacute;n]
               li
                 a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
               li
                 a(href='#whydaas') #[p ¿Por qu&eacute; implementar Plataforma de lealtad?]
               li
                 a(href='#toolsdaas') #[p Herramientas]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6.txt-justify
                h2 ¿Qué es Plataforma de lealtad?
                p Hoy la experiencia lo es todo, los usuarios quieren sentirse conectados con los servicios que utilizan, por ello es necesario ir mas allá de las estrategias de marketing y lealtad tradicionales para llegar al usuario de manera significativa.
                p 
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p.txt-justify Sellcom Solutions ofrece un roadmap con metodología y estrategias digitales y de marketing no tradicionales para la implementación de una plataforma de lealtad multicanal, enfocada en ofrecer una experiencia sobresaliente al público en general incrementando el compromiso y la frecuencia efectiva de los usuarios de nuestros clientes e impulse la captura de nuevos usuarios.
            ul
              li 
                p #[strong Aplicación Móvil iOS/Android personalizada] 
                  span 
              li
                p #[strong Desarrollo de Sitio web] 
                  span 
              li
                p #[strong Central de Administración de Contenidos y Reportes ] 
                  span 
              li 
                p #[strong Ofrecer servicios e información en cualquier lugar mediante equipos móviles]
                  span 
              li
                p #[strong Recopilación de datos de usuario, para dar una experiencia personalizada y dar beneficios a los clientes mas comprometidos] 
                  span 
              li
                p #[strong Gamificación/Engagement para incrementar el uso de la aplicación mediante competencias y niveles] 
                  span 
              li
                p #[strong Beneficios: Da productos o servicios extras, ajenos al circuito y a los usuarios, creando un sentido de reciprocidad] 
                  span
              li
                p #[strong Da una experiencia moderna e innovadora, cambia la perspectiva que sus usuarios tienen de la marca] 
                  span
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar la Plataforma de Lealtad?
            p.txt-justify A diferencia de plataformas de lealtad ya construidas, Sellcom Solutions rea liza todos los desarrollos de sus aplicaciones desde cero y personaliza cada detalle para cada situación que sus clientes requieran, incrementando el valor que la plataforma puede dar a sus clientes y a su negocio. Junto con nuestros desarrollos incluimos nuestra experiencia en Análisis de Datos para ofrecer la correlacion de información generada por la plataforma con metricas de negocio, para consultar en forma gráfica, el crecimiento de tu programa de lealtad y mejorar las estrategias de negocio.
            ul
              li
                img(src=local_images.images.icon_razon1 alt='Soporte global ')
                p Desarrollo de apicaciones único y personalizado.
              li
                img(src=local_images.images.icon_razon2 alt='Protección contra daños')
                p Incluye funcionalidades extras ligadas al negocio. 
              li
                img(src=local_images.images.icon_razon3 alt='Servicios de reparación')
                p Aumenta tus ventas y fideliza a tus clientes.
              li
                img(src=local_images.images.icon_razon4 alt='Soporte global ')
                p Aplica data science a la data de habitos de consumo.
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p Sellcom Solutions integra diferentes servicios y capacidades para ofrecer la solucion de Plataforma de Lealtad
            ul.row
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta1 alt='Asset Management')
                .description-tools
                  h3 Servicios de Desarrollo Sellcom
                  p.txt-justify Proveemos de soluciones de software con desarrollo a la medida, aplicaciones web, nativas en iOS y Android, y multiplataforma.
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta2 alt='Software Delivery')
                .description-tools
                  h3 Analítica de Datos
                  p.txt-justify Explote los datos generados en la plataforma para descubrir patrones en comportamientos y detectar tendencias, ayudando en la definición de nuevas métricas que ayuden a mejorar la plataforma.
              li.col-4
                .img-tools
                  img(src=local_images.images.herramienta3 alt='Software Metrix')
                .description-tools
                  h3 Integración con sistemas de datos
                  p.txt-justify Integra tus aplicaciones de negocio con la plataforma de lealtad para generar facturas, levantar incidencias u otros sistemas que den valor a tus clientes.
    include ../template/_footer    
