//-Configuración y variables globales del proyecto
include ../config/_variables

//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Productos y servicios'
- var metadata = {}
- metadata['title'] = 'Sellcom - Productos y Servicios en TI'
- metadata['description'] = 'En Sellcom ofrecemos los mejores productos y soluciones en Tecnologías de la Información, para resolver las necesidades tecnológicas de cada compañía.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, Productos, Servicios, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Herramientas.'
//-
	- Ejemplo de como incluir CSS por pagina
	- var section_style = {}
	- section_style['dev'] = 'home.css'
	- section_style['prod'] = 'home.min.css'
//-
	- Ejemplo como incluir los JS por pagina
	- var section_scripts =  {}
	- section_scripts['dev'] = [global_path  + scripts.base + 'script_1.js', global_path  + scripts.base + 'script_2.js']
	- section_scripts['prod'] = [global_path  + scripts.base + 'main.min.js']
	
- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'products_services.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_services.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path + images.products_services + 'sellcom-products-banner.png'
- local_images.images['imageProd1'] = global_path + images.products_services + 'sellcom-products-prod1.png'
- local_images.images['imageProd2'] = global_path + images.products_services + 'sellcom-products-prod2.png'
- local_images.images['imageProd3'] = global_path + images.products_services + 'sellcom-products-prod3.png'
- local_images.images['imageProd4'] = global_path + images.products_services + 'sellcom-products-prod4.png'
- local_images.images['imageProd5'] = global_path + images.products_services + 'sellcom-products-prod5.png'
- local_images.images['imageProd6'] = global_path + images.products_services + 'sellcom-products-prod6.png'
- local_images.images['imageSer1'] = global_path + images.products_services + 'sellcom-products-ser1.png'
- local_images.images['imageSer2'] = global_path + images.products_services + 'sellcom-products-ser2.png'
- local_images.images['imageSer3'] = global_path + images.products_services + 'sellcom-products-ser3.png'
- local_images.images['imageSer4'] = global_path + images.products_services + 'sellcom-products-ser4.png'
- local_images.images['imageSer5'] = global_path + images.products_services + 'sellcom-products-ser5.png'
- local_images.images['imageSer6'] = global_path + images.products_services + 'sellcom-products-ser6.png'
- local_images.images['imageSantander'] = global_path + images.products_services + 'sellcom-products-santander.png'
- local_images.images['imageNissan'] = global_path + images.products_services + 'sellcom-products-nissan.png'
- local_images.images['hires'] = global_path + images.products_services + 'sellcom-products-contrata.png'


doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		include ../mixins/_banner.pug
		+banner(local_images.images.banner,'Sellcom banner','Productos y Servicios en TI de otro nivel','Todas nuestras soluciones están pensadas para resolver cada una de las necesidades de tu organización.')
		section.section-tabs
			.container
				.row
					.col-10.middle
						.row
							.col-12
								ul.tabs
									li.active
										a(href="") Productos
									li
										a(href="") Servicios
								
								.tab-container
									.tab-content.active
										ul.menuProductsServices
											li
												a(href=urlBase +'apple.html') Apple
											li
												a(href=urlBase +'blackberry.html') Blackberry
											li
												a(href=urlBase +'veeam.html') Veeam
											li
												a(href=urlBase +'servicenow.html') Servicenow
											li
												a(href=urlBase +'aranda.html') Aranda
											li
												a(href=urlBase +'jamf.html') Jamf
											li
												a(href=urlBase +'owncloud.html') Owncloud
											li
												a(href=urlBase +'getac.html') Getac
											li
												a(href=urlBase +'blancco.html') Blancco
											li
												a(href=urlBase +'redhat.html') Redhat
											li
												a(href=urlBase +'huawei.html') Huawei
											li
												a(href=urlBase +'azure.html') Azure
											li
												a(href=urlBase +'microsoft.html') Microsoft
											li
												a(href=urlBase +'mfseguridad.html') Microfocus Seguridad
											li
												a(href=urlBase +'mfitom.html') Microfocus ITOM
											li
												a(href=urlBase +'mfvertica.html') Microfocus Vertica
											li
												a(href=urlBase +'mfdevops.html') Microfocus DevOps
											li
												a(href=urlBase +'aruba.html') Aruba
											li
												a(href=urlBase +'cyberc.html') CyberC
											li
												a(href=urlBase +'opentext.html') OpenText
											li
												a(href=urlBase +'hp.html') HP
											li
												a(href=urlBase +'hpe.html') HP Enterprise
									.tab-content
										ul
											li
												a(href=urlBase +'ethical-hacking.html') Pentest/EthicalHaking
											li
												a(href=urlBase +'digitalizacion.html') Digitalización
											li
												a(href=urlBase +'desarrollo.html') Desarrollo de SW
											li
												a(href=urlBase +'tiempos-materiales.html') Tiempos y Materiales
		section.section-cases
			.container
				.title-sections
					h3 Casos de éxito
				ul.carousel-success
					li
						.boxSlide
							img(src=local_images.images.imageSantander alt='Santander')
							p #[b Banco Santander] implementó un sistema completo de protección contra ataques cibernéticos para la seguridad de sus clientes.
					li
						.boxSlide
							img(src=local_images.images.imageNissan alt='Nissan')
							p #[b Nissan] ahora trabaja con servidores virtualizados que mantienen su información disponible y con respaldos 24/7.
					li
						.boxSlide
							img(src=local_images.images.imageSantander alt='Santander')
							p Banco Santander implementó un sistema completo de protección contra ataques cibernéticos para la seguridad de sus clientes.
					li
						.boxSlide
							img(src=local_images.images.imageNissan alt='Nissan')
							p #[b Nissan] ahora trabaja con servidores virtualizados que mantienen su información disponible y con respaldos 24/7.
		section.section-hires
			.container
				.row
					.col-10.middle
						.row
							.col-6
								p Obtén rentabilidad, control, competitividad y seguridad para tu tipo de empresa
								//-a.btn-default(href="") ¡Contrata aquí!
							.col-6
								img(src=local_images.images.hires alt='Contrata')
		include ../template/_footer
