//-Configuración y variables globales del proyecto
include ../config/_variables

//-
  Ajustes de la configuración global para esta sección
- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la página
- var page = 'Sellcom Device As a Service'
- var metadata = {}
- metadata['title'] = 'Sellcom - Hiperconvergencia'
- metadata['description'] = 'Llegó la era de la Hiperconvergencia; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Hiperconvergencia, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')

- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')


- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')

- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.products_daas + 'sellcom-dass-banner.jpg'
- local_images.images['daas_one'] = global_path +  images.products_daas + 'sellcom-devicedass-service.jpg'
- local_images.images['asset_management'] = global_path + images.products_daas + 'sellcom-daas-assetmanagement.jpg'
- local_images.images['delivery'] = global_path + images.products_daas + 'sellcom-daas-softwaredelivery.jpg'
- local_images.images['metrix'] = global_path + images.products_daas + 'sellcom-daas-softwaremetrix.jpg'
- local_images.images['icon_estability'] = global_path + images.products_daas + 'sellcom-icono-estabilidad.png'
- local_images.images['icon_protection'] = global_path + images.products_daas + 'sellcom-icono-proteccion.png'
- local_images.images['icon_repair'] = global_path + images.products_daas + 'sellcom-icono-reparacion.png'
- local_images.images['icon_suport'] = global_path + images.products_daas + 'sellcom-icono-soporteglobal.png'
- local_images.images['logo_aruba'] = global_path + images.products_daas + 'sellcom-logo-aruba.png'
- local_images.images['logo_getac'] = global_path + images.products_daas + 'sellcom-logo-getac.png'
- local_images.images['logo_hewlett'] = global_path + images.products_daas + 'sellcom-logo-hewlett.png'
- local_images.images['logo_hp'] = global_path + images.products_daas + 'sellcom-logo-hp.png'
- local_images.images['logo_lexmark'] = global_path + images.products_daas + 'sellcom-logo-lexmark.png'
- local_images.images['logo_reseller'] = global_path + images.products_daas + 'sellcom-logo-reseller.png'


doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-interna
      img.banner(src=local_images.images.banner alt='Device As a Service')
      //a(href="")
        p Habla con un experto
      .container
        .content
          .row
            .col-10.middle
              h1 DEVICE AS A SERVICE (DaaS)
              p Trabaja con el mejor sistema f&iacute;sico y tecnolog&iacute;a bajo demanda
              
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
               li
                 a(href='#device') #[p Conoce nuestra soluci&oacute;n]
               li
                 a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
               li
                 a(href='#whydaas') #[p ¿Por qu&eacute; implementar DaaS?]
               li
                 a(href='#toolsdaas') #[p Alcances]
               li
                 a(href='#weareexperts') #[p Socios]
    .breadcrumb
      .container
        .row
          .col-10.middle
            - var nodes = [{name: 'Home', link: '/index.html'},{name: 'Device As a Service'}];
            include ../components/_breadcrumb
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6
                h2 Device As a Service (DaaS)
                p A partir del concepto de DaaS, Sellcom te da acceso a capacidades de procesos en servidores, almacenamiento y equipo de c&oacute;mputo.
                p Obt&eacute;n un ambiente controlado y seguro, respaldado con tecnolog&iacute;a actualizada en un esquema flexible.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p En Sellcom entendemos que el hardware es indispensable para la productividad; por ello convertimos tus servicios de TI en una fuente de innovación y crecimiento con:
            ul
              li 
                p #[strong Gesti&oacute;n del software instalado:] 
                  span sus licencias, acceso remoto, control energético y actualizaciones.
              li
                p #[strong Soporte remoto y virtual] 
                  span que está activo a cada momento para atender cada solicitud.
              li
                p #[strong Respaldo y protección de datos] 
                  span contra ataques en cada terminal de la red corporativa.
              li 
                p #[strong Reportes de administración] y uso de los equipos.
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar DaaS?
            p Es la nueva tendencia que tu empresa necesita. Con la misma solución recibe:
            ul
              li
                img(src=local_images.images.icon_suport alt='Soporte global ')
                p Soporte global sobre tus procesos
              li
                img(src=local_images.images.icon_protection alt='Protección contra daños')
                p Protecci&oacute;n contra daños accidentales
              li
                img(src=local_images.images.icon_repair alt='Servicios de reparación')
                p Servicios de reparaci&oacute;n o reemplazo inmediato
              li
                img(src=local_images.images.icon_estability alt='Estabilidad en servicios TI')
                p Estabilidad en todos los servicios de TI de tu organizaci&oacute;n
            .center
              a.btn-default(href="") Conoce m&aacute;s
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Alcances
            p Conoce a detalle las herramientas que te ofrece DaaS
            ul.row
              li.col-4
                .img-tools
                  img(src=local_images.images.asset_management alt='Asset Management')
                .description-tools
                  h3 Asset Management
                  p Gesti&oacute;n de inventarios de hardware y software.
              li.col-4
                .img-tools
                  img(src=local_images.images.delivery alt='Software Delivery')
                .description-tools
                  h3 Software Delivery
                  p Realiza la instalaci&oacute;n del software sin interferir en la productividad.
              li.col-4
                .img-tools
                  img(src=local_images.images.metrix alt='Software Metrix')
                .description-tools
                  h3 Software Metrix &nbsp;
                    span| / Power Management
                  p Identifica el software licenciado y no licenciado.
    section.we-are-experts#weareexperts
      .container
        .row
          .col-10.middle
            h2 Somos expertos en infraestructura y puestos de trabajo
            p ¡Te invitamos a conocer a nuestros socios!
            ul.row
              li.col-4
                a(href="https://www8.hp.com/mx/es/home.html" target="_blank") #[img(src=local_images.images.logo_hp alt='Socio Hp')]
              li.col-4
                a(href="https://www.hpe.com/mx/es/home.html" target="_blank") #[img(src=local_images.images.logo_hewlett alt='Socio Hewlett')]
              li.col-4
                a(href="https://www.arubanetworks.com/" target="_blank") #[img(src=local_images.images.logo_aruba alt='Socio Aruba')]
              li.col-4
                a(href="https://www.lexmark.com/es_mx.html" target="_blank") #[img(src=local_images.images.logo_lexmark alt='Socio Lexmark')]
              li.col-4
                a(href="https://locate.apple.com/ph/en/" target="_blank") #[img(src=local_images.images.logo_reseller alt='Socio Reseller')]
              li.col-4
                a(href="https://es.getac.com/index.html" target="_blank") #[img(src=local_images.images.logo_getac alt='Socio Getac')]
            p
              a.btn-default(href="") Habla con un experto                         
    
    //section.section-socialnetworks
      .container
        .row
          .col-10.middle
            include ../components/_social_networks
    include ../template/_footer    
