//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Qlik'
- metadata['description'] = 'Ahora costos con las soluciones de Qlik; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Qlik, bajo demanda, on demand, soluciones Qlik'
- var landing = 'apple'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_qlik + 'bannerprincipal.jpg'
//- Servicios
- local.images['performance'] = global_path + images.products_qlik + 'Sellcom_Icon_performance.png'
- local.images['autoservicio'] = global_path + images.products_qlik + 'Sellcom_Icon_autoservicio.png'
- local.images['plataforma'] = global_path + images.products_qlik + 'Sellcom_Icon_plataforma.png'
- local.images['instalacion'] = global_path + images.products_qlik + 'Sellcom_Icon_instalacion.png'
- local.images['tecnologia'] = global_path + images.products_qlik + 'Sellcom_Icon_tecnologia.png'
- local.images['motor'] = global_path + images.products_qlik + 'Sellcom_Icon_motor.png'
- local.images['colaborar'] = global_path + images.products_qlik + 'Sellcom_Icon_colaborar.png'
- local.images['historias'] = global_path + images.products_qlik + 'Sellcom_Icon_historias.png'
//- Beneficios
- local.images['analisis'] = global_path + images.products_qlik + 'Sellcom_Icon_analisis.png'
- local.images['velocidad'] = global_path + images.products_qlik + 'Sellcom_Icon_velocidad.png'
- local.images['inteligencia'] = global_path + images.products_qlik + 'Sellcom_Icon_inteligencia.png'
- local.images['datos'] = global_path + images.products_qlik + 'Sellcom_Icon_datos.png'
- local.images['integracion'] = global_path + images.products_qlik + 'Sellcom_Icon_integracion.png'
- local.images['machine'] = global_path + images.products_qlik + 'Sellcom_Icon_machine.png'
- local.images['venta'] = global_path + images.products_qlik + 'Sellcom_Icon_venta.png'

- local.images['solucion'] = global_path + images.products_qlik + 'solucion.jpg'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Qlik
					p La tercera generación del BI
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Qlik?
							p El principal obstáculo para lograr que una organización entera se beneficie del valor de los datos es que la gente se ha rezagado en la habilidad de leer, trabajar, analizar y argumentar con datos. Con Qlik, le damos el poder a todos los usuarios para que analicen, descubran y transformen los datos en verdadero valor para el negocio.
						ul
							li
								strong Performance y escalabilidad
								img(src=local.images.performance, alt="performance")
								p Aún con grandes volúmenes de datos y problemas complejos. Lista para clusters, redundancia y failover.
							li
								strong Autoservicio gobernado
								img(src=local.images.autoservicio, alt="autoservicio")
								p Todos obtienen las mismas respuestas correctas. Creatividad visual y consistencia en resultados garantizada.
							li
								strong Una plataforma completa fácil de usar
								img(src=local.images.plataforma, alt="plataforma")
								p Conectores de datos, ETL, Gobierno de Datos, lista para uso móvil (en línea o desconectado).
							li
								strong Instalación simple y menos mantenimiento
								img(src=local.images.instalacion, alt="instalacion")
								p Todo se maneja desde un navegador web: ETL, desarrollo, analítica guiada, autoservicio, mashups y reportes.
							li
								strong Tecnología asociativa
								img(src=local.images.tecnologia, alt="tecnologia")
								p Patentada por Qlik. Indispensable para la exploración y descubrimiento libres, a la velocidad del pensamiento.
							li
								strong Motor cognitivo
								img(src=local.images.motor, alt="motor")
								p Sugiere visualizaciones y descubrimientos automáticamente y tiene capacidad de aprendizaje.
							li
								strong Colaborar y compartir
								img(src=local.images.colaborar, alt="colaborar")
								p Centro de trabajo organizado por grupos de trabajo o áreas. Publicación de contenido para uso de otros.
							li
								strong Historias de datos y reportes interactivos
								img(src=local.images.historias, alt="historias")
								p Comunicación de hallazgos mediante historias con ligas directas a los análisis interactivos.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Qlik?
							p Beneficios:
						ul
							li
								img(src=local.images.analisis, alt="analisis")
								p Análisis de datos libre
							li
								img(src=local.images.velocidad, alt="velocidad")
								p Velocidad de desarrollo
							li
								img(src=local.images.inteligencia, alt="inteligencia")
								p Inteligencia de negocios
							li
								img(src=local.images.datos, alt="datos")
								p Todos sus datos
							li
								img(src=local.images.integracion, alt="integracion")
								p Integración
							li
								img(src=local.images.machine, alt="machine")
								p AI2 y machine learning
							li
								img(src=local.images.venta, alt="venta")
								p Venta, suscripción o Saas
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución

		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Como representantes autorizados de Qlik en México, contamos con un equipo de consultores certificados que han ayudado a nuestros clientes a lograr beneficios espectaculares mediante la reducción de costos y el descubrimiento de nuevas estrategias.
						p Sellcom Solutions ha sido reconocido por Qlik como especialista en las industrias de Banca, Retail y Telecomunicaciones.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
