//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Reconocimientos'
- metadata['description'] = 'Ahora costos con las soluciones de Apple; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Aruba, bajo demanda, on demand, soluciones Aruba'
- var landing = 'reconocimiento'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_huawei + 'bannerprincipal.jpg'
//- Servicios
- local.images['migracion'] = global_path + images.products_netapp + 'servicio_migracion.png'
- local.images['proteccion'] = global_path + images.products_netapp + 'servicio_proteccion.png'
- local.images['datos'] = global_path + images.products_netapp + 'servicio_datos.png'
- local.images['almacenamiento'] = global_path + images.products_netapp + 'servicio_almacenamiento.png'

//- Microsite


//- Beneficios
- local.images['archivos'] = global_path + images.products_netapp + 'beneficio_archivos.png'
- local.images['computacion'] = global_path + images.products_netapp + 'beneficio_computacion.png'
- local.images['nube'] = global_path + images.products_netapp + 'beneficio_nube.png'


- local.images['solucion'] = global_path + images.products_netapp + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Huawei_Whitepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Huawei_casos_de_uso.pdf'

//- Imagenes del nuevo sitio
- local.images['news'] = global_path + images.products_netapp + 'verticales_soluciones_news.png'
- local.images['seguridad'] = global_path + images.products_netapp + 'verticales_soluciones_seguridad.png'
- local.images['auditoria'] = global_path + images.products_netapp + 'verticales_soluciones_auditoria.png'
- local.images['operacion'] = global_path + images.products_netapp + 'verticales_soluciones_operacion.png'
- local.images['control'] = global_path + images.products_netapp + 'vertical_soluciones_control.png'
- local.images['dispositivo'] = global_path + images.products_netapp + 'vertical_soluciones_dispositivo.png'
- local.images['banneraviso'] = global_path + images.products_netapp + 'vertical_soluciones_banneraviso.png'
- local.images['medio'] = global_path + images.products_netapp + 'vertical_soluciones_medio.png'
- local.images['fondo'] = global_path + images.products_netapp + 'vertical_soluciones_fondo.png'
- local.images['hp'] = global_path + images.products_netapp + 'verticales_premio_hp.png'
- local.images['ingram'] = global_path + images.products_netapp + 'verticales_premio_ingram.png'
- local.images['monarca'] = global_path + images.products_netapp + 'verticales_premio_monarca.png'
- local.images['intel'] = global_path + images.products_netapp + 'verticales_premio_intel.png'
- local.images['compusoluciones'] = global_path + images.products_netapp + 'verticales_premio_compusoluciones.png'
- local.images['team'] = global_path + images.products_netapp + 'verticales_premio_team.png'
- local.images['redhat'] = global_path + images.products_netapp + 'verticales_premio_redhat.png'
- local.images['techdata'] = global_path + images.products_netapp + 'verticales_premio_techdata.png'


doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        section.section-banner-dass-vertical.mundo
            .banner-vr-2
                .container
                    .content.algo
                        br
                        .title-sections
                        h1 RECONO#[span.green CIMIENTOS]
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS hp]
                        img.altura(src=local.images.hp, alt="hp")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo HP México 
                            p Cross Portfolio Growth Award
                            p Partner in excellence Award APC
                            h1 #[strong 2011]
                            //-img(src=local_images.images.imageLogo1 alt='HP')
                        li
                            h2.demo HP México
                            p Best Performance Award
                            p Partner in Excellence Award GPC
                            h1 #[strong 2012]
                            //-img(src=local_images.images.imageLogo2 alt='Veeam')
                        li
                            h2.demo HP Grafend
                            p Mejor socio de ventas de equipo en dolares
                            //-p Partner in Excellence Award GPC
                            h1 #[strong 2012]
                            //-img(src=local_images.images.imageLogo3 alt='Huawei')
                        li
                            h2.demo HP Grafend
                            p Partner con mayores ventas 
                            p de productos High PPS FY12
                            //-p Partner in Excellence Award GPC
                            h1 #[strong 2013]
                            //-img(src=local_images.images.imageLogo4 alt='Aranda')
                        li
                            h2.demo HP Intel 
                            p Sales Award GPC
                            h1 #[strong 2013]
                            //-img(src=local_images.images.imageLogo5 alt='Apple')
                        li
                            h2.demo HP Intel 
                            p Mayor volumen de ventas EG zona centro
                            h1 #[strong 2013]
                            //-img(src=local_images.images.imageLogo6 alt='MicroFocus')
                        li
                            h2.demo HP Inc. 
                            p Partner First Platinum
                            h1 #[strong 2016]
                            //-img(src=local_images.images.imageLogo11 alt='APC')
                        li
                            h2.demo HP Inc. 
                            p Mayor crecimiento en ventas de 
                            p productos especializados de computo
                            h1 #[strong 2016]
                            //-img(src=local_images.images.imageLogo7 alt='Jamf')
                        li
                            h2.demo HP Inc. 
                            p Partner First Platinum
                            h1 #[strong 2017]
                            //-img(src=local_images.images.imageLogo8 alt='Vmware')
                       
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS ingram]
                        img.altura2(src=local.images.ingram, alt="ingram")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo Soles 9
                            p 1er. Lugar ventas movilidad
                            p HP PSG
                            h1 #[strong 2004]
                            //-img(src=local_images.images.imageLogo1 alt='HP')
                        li#ancho
                            h2.demo Soles 9
                            p 1er. Lugar ventas 
                            p TRIPPLITE
                            h1 #[strong 2004]
                            //-img(src=local_images.images.imageLogo2 alt='Veeam')
                        li#ancho
                            h2.demo Soles 9
                            p 1er. Lugar ventas
                            p VIENSONIC
                            h1 #[strong 2004]
                            //-img(src=local_images.images.imageLogo3 alt='Huawei')
                        li
                            h2.demo Soles 12
                            p Mejor canal proyectos
                            p HP PSG
                            h1 #[strong 2007]
                            //-img(src=local_images.images.imageLogo4 alt='Aranda')
                        li
                            h2.demo Soles 13
                            p Mayores ventas de proyectos de volumen
                            p HP IPG 
                            h1 #[strong 2008]
                            //-img(src=local_images.images.imageLogo5 alt='Apple')
                        li  
                            h2.demo Soles 14
                            p Reconocimiento especial mayores ventas 
                            p CDMX
                            h1 #[strong 2009]
                            //-img(src=local_images.images.imageLogo6 alt='MicroFocus')
                        li
                            h2.demo Soles 16
                            p Mayor venta proyectos de valor 
                            p a nivel nacional
                            h1 #[strong 2011]
                            //-img(src=local_images.images.imageLogo11 alt='APC')
                        li
                            h2.demo Soles 16
                            p Mayor crecimiento hardware
                            h1 #[strong 2011]
                            //-img(src=local_images.images.imageLogo7 alt='Jamf')
                        li
                            h2.demo Soles 18
                            p Mayor venta
                            p HP PSG
                            h1 #[strong 2013]
                            //-img(src=local_images.images.imageLogo8 alt='Vmware')
                        li
                            h2.demo Soles 19
                            p Mayor venta zona metropolitana
                            h1 #[strong 2014]
                            //-img(src=local_images.images.imageLogo9 alt='Cyber c')
                        li#ancho2
                            h2.demo Soles 19
                            p Mayor venta comercial
                            p HP
                            h1 #[strong 2014]
                            //-img(src=local_images.images.imageLogo10 alt='Qlik')
                        li
                            h2.demo Soles 19
                            p Mayor crecimiento de proyectos
                            p HP EG
                            h1 #[strong 2014]
                            //-img(src=local_images.images.imageLogo12, alt='Aruba')
                        li
                            h2.demo Soles 20
                            p Mayor venta
                            p CDMX
                            h1 #[strong 2015]
                            //-img(src=local_images.images.imageLogo13, alt='AWS')
                       
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS Monarca]
                        img.altura2(src=local.images.monarca, alt="monarca")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo Monarca
                            p Clientes con mayores ventas
                            p HP
                            h1 #[strong 2006]
                            //-img(src=local_images.images.imageLogo1 alt='HP')
                        li
                            h2.demo Monarca
                            p Distribuidor con mejor desempeño
                            p HP
                            h1 #[strong 2007]
                            //-img(src=local_images.images.imageLogo2 alt='Veeam')
                        li#ancho
                            h2.demo Monarca
                            p Distribuidor con mayor volumen de ventas 
                            p PSG
                            h1 #[strong 2008]
                            //-img(src=local_images.images.imageLogo3 alt='Huawei')
                        li
                            h2.demo Monarca
                            p Distribuidor con el mejor alineamiento   
                            p en el portafolio de soluciones HP
                            h1 #[strong 2008]
                            //-img(src=local_images.images.imageLogo3 alt='Huawei')
                        li
                            h2.demo Monarca
                            p Distribuidor del año zona centro
                            p PSG
                            h1 #[strong 2010]
                            //-img(src=local_images.images.imageLogo4 alt='Aranda')
                        li
                            h2.demo Monarca
                            p Distribuidor del año porcentaje de 
                            p crecimiento EB
                            h1 #[strong 2010]
                        li#ancho
                            h2.demo Monarca
                            p Mejor canal distribución
                            p HP
                            h1 #[strong 2010]
                        li
                            h2.demo Monarca
                            p Canal con mayor volumen de ventas 
                            p zona centro
                            p PPS
                            h1 #[strong 2013]
                        li
                            h2.demo Monarca
                            p Canal con mayor volumen de ventas por 
                            p zona geográfica centro
                            p EG
                            h1 #[strong 2014]
                            //-img(src=local_images.images.imageLogo5 alt='Apple')
                        li
                            h2.demo Monarca
                            p Canal con mejor desempeño cómputo 
                            p  personal comercial
                            p EG
                            h1 #[strong 2014]
                            //-img(src=local_images.images.imageLogo6 alt='MicroFocus')
                        li
                            h2.demo Monarca
                            p Canal con Mayor   
                            p Volumen de Ventas, Networking
                            h1 #[strong 2014]
                            //-img(src=local_images.images.imageLogo6 alt='MicroFocus')
                        li
                            h2.demo Monarca
                            p Mayor venta de Portafolio HP Inc por Región  
                            p Zona Centro 
                            h1 #[strong 2019]
                            //-img(src=local_images.images.imageLogo6 alt='MicroFocus')
                        li
                            h2.demo Monarca
                            p Mejor Socio de Negocios HPIFS 
                            h1 #[strong 2019]
                            //-img(src=local_images.images.imageLogo6 alt='MicroFocus')
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS Intel]
                        img.altura(src=local.images.intel, alt="intel")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo Intel
                            p Technology Provider Platinum  
                            h1 #[strong 2016]
                            //-img(src=local_images.images.imageLogo1 alt='HP')
                        li#ancho
                            h2.demo Intel
                            p Technology Provider Platinum  
                            h1 #[strong 2017]
                            //-img(src=local_images.images.imageLogo2 alt='Veeam')
                        li#ancho
                            h2.demo Intel
                            p Technology Provider Platinum  
                            h1 #[strong 2017]
                            //-img(src=local_images.images.imageLogo2 alt='Veeam')
                        li
                            h2.demo Intel
                            p Technology Provider Platinum  
                            h1 #[strong 2017]
                            //-img(src=local_images.images.imageLogo2 alt='Veeam')
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS CompuSoluciones]
                        img.altura2(src=local.images.compusoluciones, alt="compusoluciones")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo CompuSoluciones 
                            p Mayor volumen de ventas TEAM
                            p HP
                            h1 #[strong 2013]
                            //-img(src=local_images.images.imageLogo1 alt='HP')
                        li
                            h2.demo CompuSoluciones 
                            p 1er. Lugar de Ventas TEAM
                            p HP
                            h1 #[strong 2014]
                            //-img(src=local_images.images.imageLogo3 alt='Huawei')
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS Team]
                        img.altura2(src=local.images.team, alt="team")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo Team
                            p Mayor volumen de ventas TEAM 
                            p México HP 
                            h1 #[strong 2005]
                            //-img(src=local_images.images.imageLogo1 alt='HP')
                        li
                            h2.demo Team
                            p 1er. Lugar de Ventas TEAM Valle
                            h1 #[strong 2010]
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS Redhat]
                        img.altura2(src=local.images.redhat, alt="redhat")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo ReadHat 
                            p Quota Achievement
                            p FY16
                            //-img(src=local_images.images.imageLogo1 alt='HP')
        section.section-verticales
            .container.gris
                .row
                    .col-10
                        //-h1 RECONO#[span.green CIMIENTOS TechData]
                        img.altura2(src=local.images.techdata, alt="techdata")
        section.section-slider-customer#herramientas
            .container
                .row
                .col-12.middle
                    //-.title-sections
                    //-h2 Socios
                    //-p Son una parte importante de nuestro éxito. Contribuyen con sus servicios a generar alianzas estratégicas que nos permiten ofrecer mejores soluciones.
                    ul.slider-tabs
                        li.active
                            h2.demo TechData 
                            p Clientes con mayores ventas
                            h1 #[strong 2010]
                            //-img(src=local_images.images.imageLogo1 alt='HP') 
        
                    
                       
        //-.flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
