//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Redhat'
- metadata['description'] = 'Ahora costos con las soluciones de Redhat; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Redhat, bajo demanda, on demand, soluciones Redhat'
- var landing = 'redhat'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_redhat + 'bannerprincipal.jpg'
//- Servicios
- local.images['infraestructura'] = global_path + images.products_redhat + 'servicio_servidor.png'
- local.images['integracionh'] = global_path + images.products_redhat + 'servicio_api.png'
- local.images['nube'] = global_path + images.products_redhat + 'servicio_Nube.png'
- local.images['automatizacion'] = global_path + images.products_redhat + 'servicio_automatizacion.png'
- local.images['gestion'] = global_path + images.products_redhat + 'servicio_gestion plataformas.png'
- local.images['desarrollo'] = global_path + images.products_redhat + 'servicio_app desarrolllo.png'
- local.images['contenedores'] = global_path + images.products_redhat + 'servicio_encapsulador.png'
- local.images['soporte'] = global_path + images.products_redhat + 'servicio_support.png'
//- Beneficios
- local.images['seguridad'] = global_path + images.products_redhat + 'beneficio_seguridad.png'
- local.images['colaboracion'] = global_path + images.products_redhat + 'beneficio_colaboración.png'
- local.images['integracion'] = global_path + images.products_redhat + 'beneficio_integracion.png'
- local.images['flexibilidad'] = global_path + images.products_redhat + 'beneficio_flexible.png'
- local.images['innovacion'] = global_path + images.products_redhat + 'beneficio_innovación.png'
- local.images['disponibilidad'] = global_path + images.products_redhat + 'beneficio_disponibilidad.png'
- local.images['adaptabilidad'] = global_path + images.products_redhat + 'beneficio_adaptabilidad.png'
- local.images['diversidad'] = global_path + images.products_redhat + 'beneficio_diversidad.png'

- local.images['solucion'] = global_path + images.products_redhat + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Redhat_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Redhat_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Sistema Operativo RedHat
					p Software empresarial líder a nivel internacional con bases en el código open source, partner de Sellcom en México
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Redhat?
							p El enfoque open source es un proceso colaborativo comprobado para crear tecnología innovadora. Es la libertad para ver el código, aprender de él, hacer preguntas y ofrecer mejoras. Miles de colaboradores de la comunidad open source se reúnen para generar las mejores ideas.
						ul
							li
								strong INFRAESTRUCTURA
								img(src=local.images.infraestructura, alt="infraestructura")
								p Almacenamiento, administración y todas las herramientas necesarias.
							li
								strong INTEGRACIÓN
								img(src=local.images.integracionh, alt="integracionh")
								p APIS de integración y herramientas a la mano para colaboración entre sistemas.
							li
								strong NUBE
								img(src=local.images.nube, alt="nube")
								p Servicios de nube pública, privada e híbrida.
							li
								strong AUTOMATIZACIÓN
								img(src=local.images.automatizacion, alt="automatizacion")
								p Herramientas para ejecución de actividades y recuperación automáticas.
							li
								strong GESTIÓN
								img(src=local.images.gestion, alt="gestion")
								p Plataformas para gestión de nube e infraestructura.
							li
								strong DESARROLLO DE APLICACIONES
								img(src=local.images.desarrollo, alt="desarrollo")
								p Todo lo necesario para poder desarrollar apps en SO redhat.
							li
								strong CONTENEDORES
								img(src=local.images.contenedores, alt="contenedores")
								p Plataformas para gestión de nube e infraestructura.
							li
								strong SOPORTE
								img(src=local.images.soporte, alt="soporte")
								p Atención personalizada para atender sus dudas.
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Redhat?
							p Beneficios:
						ul
							li
								img(src=local.images.seguridad, alt="seguridad")
								p SEGURIDAD
							li
								img(src=local.images.colaboracion, alt="colaboracion")
								p COLABORACIÓN
							li
								img(src=local.images.integracion, alt="integracion")
								p INTEGRACIÓN
							li
								img(src=local.images.flexibilidad, alt="flexibilidad")
								p FLEXIBILIDAD
							li
								img(src=local.images.innovacion, alt="innovacion")
								p INNOVACIÓN
							li
								img(src=local.images.disponibilidad, alt="disponibilidad")
								p DISPONIBILIDAD
							li
								img(src=local.images.adaptabilidad, alt="adaptabilidad")
								p ADAPTABILIDAD
							li
								img(src=local.images.diversidad, alt="diversidad")
								p DIVERSIDAD
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Red Hat es el proveedor líder mundial de soluciones de TI empresariales de código abierto.
						p A través de un modelo de suscripción predecible y asequible, nuestros clientes adquieren tecnologías fiables y de alto rendimiento de nube, Linux, gestión, middleware, mobile, almacenamiento y virtualización. También ofrecemos soporte, capacitación y servicios de consultoría galardonados.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
