//-Configuración y variables globales del proyecto
include ../config/_variables

//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Soluciones Integrales'
- var metadata = {}
- metadata['title'] = 'Sellcom - Soluciones Integrales'
- metadata['description'] = 'En Sellcom brindamos soluciones tecnológicas en tendencia, flexibles y escalables, para aumentar la eficiencia de las empresas, sin importar su tamaño. '
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'
//-
	- Ejemplo de como incluir CSS por pagina
	- var section_style = {}
	- section_style['dev'] = 'home.css'
	- section_style['prod'] = 'home.min.css'
//-
	- Ejemplo como incluir los JS por pagina
	- var section_scripts =  {}
	- section_scripts['dev'] = [global_path  + scripts.base + 'script_1.js', global_path  + scripts.base + 'script_2.js']
	- section_scripts['prod'] = [global_path  + scripts.base + 'main.min.js']

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')

- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_solutions.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')

- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_solutions.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path + images.sellcom_solutions + 'sellcom_solutions_banner.png'

- local_images.images['lealtad'] = global_path + images.sellcom_solutions + 'lealtad.jpg'
- local_images.images['mesa'] = global_path + images.sellcom_solutions + 'mesa.jpg'
- local_images.images['monitoreo'] = global_path + images.sellcom_solutions + 'monitoreo.jpg'
- local_images.images['proveedores'] = global_path + images.sellcom_solutions + 'proveedores.jpg'
- local_images.images['daas'] = global_path + images.sellcom_solutions + 'daas.jpg'
- local_images.images['mps'] = global_path + images.sellcom_solutions + 'mps.jpg'
- local_images.images['waas'] = global_path + images.sellcom_solutions + 'waas.jpg'

- local_images.images['imageLogo1'] = global_path + images.sellcom_solutions + 'sellcom_solutions_hewlett.png'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		include ../mixins/_banner.pug
		+banner(local_images.images.banner,'Sellcom banner','Disfruta de Soluciones Integrales','En Sellcom trabajamos con tendencias flexibles y escalables; sin importar el tamaño de tu empresa.')
		.breadcrumb-gray
			section.section-solutions
				.container
					.row
						.col-10.middle
							h2 Soluciones Integrales
							ul.row
								li.col-4.block
									.image
										a(href="portal-proveedores.html")
											img(src=local_images.images.proveedores, alt="proveedores")
									.description
										h3
											a(href="portal-proveedores.html") Portal de proveedores
										p Automatize los procesos de pago desde un solo portal.
										a.btn-more(href="portal-proveedores.html") Conoce más
								li.col-4.block
									.image
										a(href="plataforma-lealtad.html")
											img(src=local_images.images.lealtad, alt="lealtad")
									.description
										h3
											a(href="plataforma-lealtad.html") Plataforma de lealtad
										p El programa de lealtad a la medida de tu negocio.
										a.btn-more(href="plataforma-lealtad.html") Conoce más
								li.col-4.block
									.image
										a(href="mesa-servicio.html")
											img(src=local_images.images.mesa, alt="mesa")
									.description
										h3
											a(href="mesa-servicio.html") Mesa de servicio
										p Administramos tu mesa de servicio de forma eficiente y eficaz.
										a.btn-more(href="mesa-servicio.html") Conoce más
								li.col-4.block
									.image
										a(href="daas.html")
											img(src=local_images.images.daas, alt="daas")
									.description
										h3
											a(href="daas.html") Device as a Service (DaaS)
										p Todos los componentes a rededor de tus dispositivos los ponemos a tu alcance.
										a.btn-more(href="daas.html") Conoce más
								li.col-4.block
									.image
										a(href="mps.html")
											img(src=local_images.images.mps, alt="mps")
									.description
										h3
											a(href="mps.html") Servicios administrados de Impresión (MPS)
										p Reduce los costos de impresión tercereando con Sellcom tu servicio.
										a.btn-more(href="mps.html") Conoce más
								li.col-4.block
									.image
										a(href="monitoreo.html")
											img(src=local_images.images.monitoreo, alt="monitoreo")
									.description
										h3
											a(href="monitoreo.html") Monitoreo
										p Ponemos a tu alcance nuestros servicios de monitoreo para cualquier área de negocio.
										a.btn-more(href="monitoreo.html") Conoce más
								li.col-4.block
									.image
										a(href="wifi-saas.html")
											img(src=local_images.images.waas, alt="waas")
									.description
										h3
											a(href="wifi-saas.html") Wifi as a Service (WaaS)
										p Todos los elementos necesarios para la conectividad de tu empresa los ponemos a tu disposición.
										a.btn-more(href="wifi-saas.html") Conoce más
		section.section-slider-partners
			.container
				.row
					.col-10.middle
						h2 Descubre a nuestros socios de negocio
						ul.carousel-partners
							li.row
								.col-5
									img(src=local_images.images.imageLogo1, alt="logo")
								.col-7
									h3 Infraestructura y puestos de trabajo
									p Aumenta las capacidades de tu organización con eficiencia.
									a.btn-more(href="") Conoce más partners
							li.row
								.col-5
									img(src=local_images.images.imageLogo1, alt="logo")
								.col-7
									h3 Infraestructura y puestos de trabajo
									p Aumenta las capacidades de tu organización con eficiencia.
									a.btn-more(href="") Conoce más partners
			br
			br
			br
		include ../template/_footer
