
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'BBVA Bancomer Servicenow SECOP'
- var metadata = {}
- metadata['title'] = 'Sellcom - BBVA Bancomer Servicenow'
- metadata['description'] = 'SecOps de Servicenow es un módulo que actualmente se encuentra en introducción para nuestro cliente BBVA Bancomer'
- metadata['keywords'] = 'Incidentes de Seguridad, SIR, Security Incident Response'

- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

//- Imagenes
- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.blog_bbva + 'bannerprincipal.jpg'
- local_images.images['imgbase'] = global_path +  images.blog_bbva + 'servicenow.jpg'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Portal de proveedores')
      .container
        .content
          .row
            .col-10.middle
                .title-sections
                    h1 BBVA BANCOMER
                    p 

    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h1 BBVA BANCOMER SERVICENOW SECOP
            p 26 de abril de 2019
            br
            p.txt-justify SecOps de Servicenow es un módulo que actualmente se encuentra en introducción para nuestro cliente BBVA Bancomer y se define como un motor de orquestación, automatización y respuesta de seguridad.
            br
            .quote
              p "Respuesta a incidencias de seguridad en menor tiempo, fácil y bajo control."
            p.txt-justify Conectando las herramientas de seguridad existentes del cliente con Security Operations de Servicenow, para priorizar y responder a incidentes de seguridad de acuerdo con su posible impacto en su negocio.
            br
            .col-12
                img.img-blog(src=local_images.images.imgbase alt='BBVA Bancomer servicenow')
    include ../template/_footer
