//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Servicenow'
- metadata['description'] = 'Ahora costos con las soluciones de Servicenow; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Servicenow, bajo demanda, on demand, soluciones Servicenow'
- var landing = 'servicenow'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_servicenow + 'bannerprincipal.jpg'
//- Servicios
- local.images['ITSM'] = global_path + images.products_servicenow + 'servicio_ITSM.png'
- local.images['IMGST'] = global_path + images.products_servicenow + 'imgst.png'
- local.images['ITBM'] = global_path + images.products_servicenow + 'servicio_ITBM.png'
- local.images['ITOM'] = global_path + images.products_servicenow + 'servicio_ITOM.png'
- local.images['CS'] = global_path + images.products_servicenow + 'servicio_CS.png'
- local.images['RH'] = global_path + images.products_servicenow + 'servicio_RH.png'
- local.images['SEC'] = global_path + images.products_servicenow + 'servicio_SEC-OPS.png'
- local.images['GRC'] = global_path + images.products_servicenow + 'servicio_GRC.png'
- local.images['autprocesos'] = global_path + images.products_servicenow + 'servicio_automatizaciondeprocesos.png'
//- Beneficios
- local.images['disponibilidad'] = global_path + images.products_servicenow + 'beneficio_disponibilidad.png'
- local.images['acceso'] = global_path + images.products_servicenow + 'beneficio_accesomovil.png'
- local.images['nube'] = global_path + images.products_servicenow + 'beneficio_nubeyescalabilidad.png'
- local.images['automatizacion'] = global_path + images.products_servicenow + 'beneficio_automatizaciondeprocesos.png'
- local.images['customizable'] = global_path + images.products_servicenow + 'beneficio_customizable.png'
- local.images['facil'] = global_path + images.products_servicenow + 'beneficio_facilyrapidodeconfigurar.png'
- local.images['integracion'] = global_path + images.products_servicenow + 'beneficio_integracionconherramientas.png'
- local.images['certificaciones'] = global_path + images.products_servicenow + 'beneficio_certificacionesdeseguridad.png'
- local.images['procesos'] = global_path + images.products_servicenow + 'beneficio_procesosITILcertificados.png'
- local.images['chat'] = global_path + images.products_servicenow + 'beneficio_redsocialychat.png'
- local.images['reportes'] = global_path + images.products_servicenow + 'beneficio_reportesespecializadosconIA.png'
- local.images['actualizaciones'] = global_path + images.products_servicenow + 'beneficio_actualizacionesenlinea.png'

- local.images['solucion'] = global_path + images.products_servicenow + 'solucion.jpg'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'servicenow_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'servicenow_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		//-section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Portal de Gestión Servicenow
					p Sellcom socio tecnológico de Servicenow en México
		section.section-video-dass
			img.banner(src=local.images.banner, alt="banner")
			.boxVideo
				video#secondVideo(autoplay loop muted)
					source(src="../images/video/snow.mp4" type="video/mp4")
			.container
				.content
					br
					.title-sections
						img(src=local.images.IMGST, alt="1st" class="img-first")
						h1 Portal de Gestión Servicenow
						p Sellcom socio tecnológico de Servicenow en México
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Servicenow?
							p Portal de gestión para la automatización de procesos que facilitarán el seguimiento de las actividades de tu negocio.
						ul
							li
								strong ITSM
								img(src=local.images.ITSM, alt="ITSM")
								p Seguimiento de procesos bajo las mejores prácticas de ITIL.
							li
								strong ITBM
								img(src=local.images.ITBM, alt="ITBM")
								p Seguimiento a proyectos y sus elementos involucrados.
							li
								strong ITOM
								img(src=local.images.ITOM, alt="ITOM")
								p Gestión de elementos de configuración.
							li
								strong CS
								img(src=local.images.CS, alt="CS")
								p Seguimiento, control y geolocalización de tus agentes de campo.
							li
								strong RH
								img(src=local.images.RH, alt="RH")
								p Control del alta, modificación, consulta y baja de tus recursos humanos.
							li
								strong SEC/OPS
								img(src=local.images.SEC, alt="SEC")
								p Control y auditorias de seguridad en tu infraestructura y recursos.
							li
								strong GRC
								img(src=local.images.GRC, alt="GRC")
								p Control de riesgo en tus recursos.
							li
								strong AUTOMATIZACIÓN DE PROCESOS
								img(src=local.images.autprocesos, alt="autprocesos")
								p Desarrollo nuevos procesos de negocio o flujos de trabajo.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Servicenow?
							p Beneficios:
						ul
							li
								img(src=local.images.disponibilidad, alt="disponibilidad")
								p DISPONIBILIDAD 99.8%
							li
								img(src=local.images.acceso, alt="acceso")
								p ACCESO MÓVIL
							li
								img(src=local.images.nube, alt="nube")
								p 100% NUBE Y ESCALABILIDAD
							li
								img(src=local.images.automatizacion, alt="automatizacion")
								p AUTOMATIZACIÓN DE PROCESOS
							li
								img(src=local.images.customizable, alt="customizable")
								p CUSTOMIZABLE
							li
								img(src=local.images.facil, alt="facil")
								p FACIL Y RAPIDO DE CONFIGURAR
							li
								img(src=local.images.integracion, alt="integracion")
								p INTEGRACIÓN CON HERRAMIENTAS
							li
								img(src=local.images.certificaciones, alt="certificaciones")
								p CERTIFICACIONES DE SEGURIDAD INTERNACIONAL
							li
								img(src=local.images.procesos, alt="procesos")
								p PROCESOS ITIL CERTIFICADOS
							li
								img(src=local.images.chat, alt="chat")
								p RED SOCIAL Y CHAT
							li
								img(src=local.images.reportes, alt="reportes")
								p REPORTES ESPECIALIZADOS CON IA
							li
								img(src=local.images.actualizaciones, alt="actualizaciones")
								p ACTUALIZACIONES EN LÍNEA INCLUIDAS
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
			a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
				img(src=local.images.casodeuso, alt="big data")
		section.section-why-dass
			img(src=local.images.solucion, alt="solución conoce")
			.container
				.row
					.col-6.bgcircle
						p Servicenow es una herramienta que cuenta con los módulos de ITSM, ITBM, ITOM, CS, RH, SECOPS y GRC.
						p En Sellcom contamos con la experiencia para la implementación, configuración y mantenimiento de cualquiera de los módulos del portal.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
