//-Configuración y variables globales del proyecto
include ../config/_variables

//-
  Ajustes de la configuración global para esta sección
- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la página
- var page = 'Sellcom Device As a Service'
- var metadata = {}
- metadata['title'] = 'Sellcom - Servicios Soluciones'
- metadata['description'] = 'Llegó la era de la Hiperconvergencia; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Hiperconvergencia, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')

- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')


- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')

- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.services_solutions + 'sellcom-soluciones-banner.jpg'
- local_images.images['desarrollo_software'] = global_path +  images.services_solutions + 'sellcom-desarrollosoftware.jpg'
- local_images.images['networking'] = global_path + images.services_solutions + 'sellcom-networking.jpg'
- local_images.images['business'] = global_path + images.services_solutions  + 'sellcom-conocemostunegocio.jpg'
- local_images.images['administration'] = global_path + images.services_solutions  + 'sellcom-administracion.png'
- local_images.images['almacenamiento'] = global_path + images.services_solutions  + 'sellcom-almacenamiento.png'
- local_images.images['content'] = global_path + images.services_solutions  + 'sellcom-contenido.png'
- local_images.images['software'] = global_path + images.services_solutions  + 'sellcom-desarollosofware.png'
- local_images.images['external'] = global_path + images.services_solutions  + 'sellcom-externalizacion.png'
- local_images.images['monitoreo'] = global_path + images.services_solutions  + 'sellcom-monitoreo.png'
- local_images.images['optimizacion'] = global_path + images.services_solutions  + 'sellcom-optimizacion.png'
- local_images.images['redes'] = global_path + images.services_solutions  + 'sellcom-redes.png'
- local_images.images['seguridad'] = global_path + images.services_solutions  + 'sellcom-seguridad.png'
- local_images.images['soporte'] = global_path + images.services_solutions  + 'sellcom-soporte.png'



doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-interna
      img.banner(src=local_images.images.banner alt='Nuestros Servicios son Soluciones')
      //.btnPhone
        .container
          a(href="") 
            span Habla con un experto
      .container
        .content
          .row
            .col-10.middle
              h1 NUESTROS SERVICIOS
                span SON SOLUCIONES
              
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
               li
                 a(href='#desarrollo') #[p Desarrollo de Software]
               li
                 a(href='#portafolio') #[p Portafolio de Servicios]
               li
                 a(href='#red') #[p Red]
               //li
                 a(href='#monitoreo') #[p Monitoreo Inteligente]
               
    .breadcrumb
      .container
        .row
          .col-10.middle
            - var nodes = [{name: 'Home', link: '/index.html'},{name: 'Device As a Service'}];
            include ../components/_breadcrumb
    section.develope#desarrollo
      .container
        .row
          .col-10.middle
            .row
              .col-6
                img(src=local_images.images.desarrollo_software alt='Desarrollo de Software')
              .col-6
                h2 Desarrollo de software
                p Nuestra experiencia en los m&eacute;todos Agile promueven una gesti&oacute;n de proyectos que fomenta la constante inspecci&oacute;n del c&oacute;digo y la adaptaci&oacute;n de &eacute;ste.
                p Tenemos un sistema que permite y facilita el trabajo en equipo, la autoorganizaci&oacute;n y favorece el rendimiento del tiempo de desarrollo.
    
    section.services-portfolio#portafolio
      .container
        .row
          .col-10.middle
            h2 Portafolio de Servicios
            .row
              ul
                li
                  img(src=local_images.images.software alt='Desarrollo de Software Sellcom')
                  p Desarrollo de software
                li
                  img(src=local_images.images.optimizacion alt='Desarrollo de Software Sellcom')
                  p Business intelligence y optimizaci&oacute;n de procesos
                li
                  img(src=local_images.images.external alt='Desarrollo de Software Sellcom')
                  p Externalizaci&oacute;n de recursos de IT
                li
                  img(src=local_images.images.redes alt='Desarrollo de Software Sellcom')
                  p Networking/Redes
                li
                  img(src=local_images.images.almacenamiento alt='Desarrollo de Software Sellcom')
                  p Procesamiento y almacenamiento
                li
                  img(src=local_images.images.content alt='Desarrollo de Software Sellcom')
                  p Manejo de contenido
                li
                  img(src=local_images.images.monitoreo alt='Desarrollo de Software Sellcom')
                  p Monitoreo inteligente
                li
                  img(src=local_images.images.administration alt='Desarrollo de Software Sellcom')
                  p Servicios administrados
                li
                  img(src=local_images.images.seguridad alt='Desarrollo de Software Sellcom')
                  p Seguridad inform&aacute;tica
                li
                  img(src=local_images.images.soporte alt='Desarrollo de Software Sellcom')
                  p Implementaci&oacute;n y soporte multivendedor
                    
                  
    section.networking-red#red
      .container
        .row
          .col-10.middle
            h2 Soluciones Networking / Redes
            .row
              .col-6
                img(src=local_images.images.networking alt='Soluciones Networking')
              .col-6
                .box
                  p Diseño red 
                  p Implementación y puesta a punto
                  p Administración y operación de switches
                  p Monitoreo IMC
                .box
                  p Mantenimiento y soporte en sitio 24/7 
                  p Cableado estructurado
                  p Análisis de cobertura de canales Wi-Fi
                  p Mantenimiento y cableado
                
                 
    section.monitoring
      .image-monitoring
        img(src= local_images.images.business alt='Sellcom Conocemos Tus Negocios')
        .container
          h2 Conocemos lo que tu negocio necesita
          p
            a.btn-default(href="") Habla con un experto
      //.section-socialnetworks
        .container
          .row
            .col-10.middle
              include ../components/_social_networks
                
                               
    
    
    include ../template/_footer    
