//-Configuración y variables globales del proyecto
include ../config/_variables
//-
    Ajustes de la configuración global para esta sección
- global_path = '../'
//-
    Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
    Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Sistema Operativo Suse'
- metadata['description'] = 'Software enfocado a el código abierto líder en México, se encarga de que la infraestructura se adapte a la velocidad de tu negocio.'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Desarrollo de software, bajo demanda, on demand, soluciones Desarrollo de software'
- var landing = 'desarrollo'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_suse + 'sellcom_suse_banner.jpeg'
- local.images['banner2'] = global_path + images.products_suse + 'sellcom_suse.jpg'
//- Servicios
- local.images['linux'] = global_path + images.products_suse + 'Suse_portafolio_linux.png'
- local.images['negocio'] = global_path + images.products_suse + 'Suse_portafolio_negocio.png'
- local.images['nube'] = global_path + images.products_suse + 'Suse_portafolio_nube.png'
- local.images['almacenamiento'] = global_path + images.products_suse + 'Suse_portafolio_almacenamiento.png'
- local.images['sap'] = global_path + images.products_suse + 'Suse_portafolio_sap.png'
- local.images['desarrollo'] = global_path + images.products_suse + 'Suse_portafolio_apps.png'
- local.images['contenedores'] = global_path + images.products_suse + 'Suse_portafolio_contenedor.png'
- local.images['soporte'] = global_path + images.products_suse + 'Suse_portafolio_soporte.png'

//- Beneficios
- local.images['colaboracion'] = global_path + images.products_suse + 'Suse_beneficios_colaboracion.png'
- local.images['diversidad'] = global_path + images.products_suse + 'Suse_beneficios_diversidad.png'
- local.images['flexibilidad'] = global_path + images.products_suse + 'Suse_beneficios_flexibilidad.png'
- local.images['innovacion'] = global_path + images.products_suse + 'Suse_beneficios_innovacion.png'
- local.images['integracion'] = global_path + images.products_suse + 'Suse_beneficios_integracion.png'
- local.images['seguridad'] = global_path + images.products_suse + 'Suse_beneficios_seguridad.png'
- local.images['disponibilidad'] = global_path + images.products_suse + 'Suse_portafolio_disponibilidad.png'
- local.images['adaptabilidad'] = global_path + images.products_suse + 'Suse_beneficios_adaptabilidad.png'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'Suse_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'Suse_Caso_Uso.pdf'

doctype html
html(lang=site.lang)
    include ../template/_head
    body
        include ../template/_header
        //- section.section-banner-dass
        //- 	img.banner(src=local.images.banner, alt="banner")
        //- 	.container
        //- 		.content
        //- 			br
        //- 			.title-sections
        //- 				h1 Sistema Operativo Suse
        //- 			p Software enfocado a el código abierto líder en México, se encarga de que la infraestructura se adapte a la velocidad de tu negocio
        section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/SUSE_lift_30ss.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Sistema Operativo Suse
                    p Software enfocado a el código abierto líder en México, se encarga de que la infraestructura se adapte a la velocidad de tu negocio
        section.section-about-dass#dass
            .container
                .row
                    .col-12
                        .title-sections-text
                            h3 ¿Qué es Suse?
                            p Es código abierto que significa mucho más que código fuente compartido, es una filosofía con enfoque hacia lo que hacemos y  en la forma en que desarrollamos software, trabajamos con partners  y clientes involucrándonos con comunidades pero sobre todo manteniendo la mente abierta a nuevas ideas.
                        ul
                            li
                                strong ENTERPRISE LINUX
                                img(src=local.images.linux, alt="Enterprise Linux")
                                p Toda la solución necesaria en términos de Sistema Operativo.
                            li
                                strong SISTEMAS DE NEGOCIO
                                img(src=local.images.negocio, alt="Sistemas de negocio")
                                p Elementos de configuración de alta disponibilidad, parcheo, cluster.
                            li
                                strong NUBE
                                img(src=local.images.nube, alt="Nube")
                                p Servicios de nube pública, privada e hibrida.
                            li
                                strong ALMACENAMIENTO
                                img(src=local.images.almacenamiento, alt="Almacenamiento")
                                p Sistemas de administración de almacenamiento definido por software.
                            li
                                strong SAP
                                img(src=local.images.sap, alt="SAP")
                                p Toda la paquetería y módulos de SAP
                            li
                                strong DESARROLLO DE APLICACIONES
                                img(src=local.images.desarrollo, alt="Desarrollo de aplicaciones")
                                p Todo lo necesario para poder desarrollar apps en S.O. Suse
                            li
                                strong CONTENEDORES
                                img(src=local.images.contenedores, alt="Contenedores")
                                p Encapsulación de aplicaciones.
                            li
                                strong SOPORTE
                                img(src=local.images.soporte, alt="Soporte")
                                p Atención personalizada para atender sus dudas.
        section.section-implementDass#beneficios
            .container
                .row
                    .col-10.middle
                        .title-sections-text
                            h3 ¿Por qué implementar el Sistema Operativo Suse?
                            p Beneficios:
                        ul
                            li
                                img(src=local.images.seguridad, alt="seguridad")
                                p SEGURIDAD
                            li
                                img(src=local.images.colaboracion, alt="colaboración")
                                p COLABORACIÓN
                            li
                                img(src=local.images.integracion, alt="integración")
                                p INTEGRACIÓN
                            li
                                img(src=local.images.flexibilidad, alt="flexibilidad")
                                p FLEXIBILIDAD
                            li
                                img(src=local.images.innovacion, alt="innovación")
                                p INNOVACIÓN
                            li
                                img(src=local.images.disponibilidad, alt="nube")
                                p DISPONIBILIDAD
                            li
                                img(src=local.images.adaptabilidad, alt="adaptabilidad")
                                p ADAPTABILIDAD
                            li
                                img(src=local.images.diversidad, alt="diversidad")
                                p DIVERSIDAD
        section.section-subtitle#soluciones
            .container
                .row
                    .col-10.middle
                        .title-sections
                            h3 Conoce nuestra solución
        .flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
        section.section-why-dass
            img(src=local.images.banner2, alt="solución conoce")
            .container
                .row
                    .col-6.bgcircle
                        p Suse es un proveedor líder mundial de soluciones de TI empresariales de código abierto. Es una de las más conocidas distribuciones Linux existentes a nivel mundial, se basó en sus orígenes en Slackware y maneja un esquema de suscripciones a todos sus productos los cuales se basan en la administración de infraestructura, almacenamiento, desarrollo, nube, etc.
        include ../template/_footer
        if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
        script(type="text/javascript" src=section_scripts[current_profile][i])
