//-Configuración y variables globales del proyecto
include ../config/_variables

//-
  Ajustes de la configuración global para esta sección
- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la página
- var page = 'Sellcom Thanks'
- var metadata = {}
- metadata['title'] = 'Sellcom - Hiperconvergencia'
- metadata['description'] = 'Llegó la era de la Hiperconvergencia; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Hiperconvergencia, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['prod'] = []

- var local_thanks = {}
- local_thanks['images'] = {}
- local_thanks.images['logo'] = global_path +  images.global + 'sellcom_logo.svg'
- local_thanks.images['thanks'] = global_path + images.thanks + 'sellcom-tankspage-imagen.png'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    header.header-thankyou
      .container
        .row
          .col-10
            h1
              img(src= local_thanks.images.logo alt="Logo Sellcom")
              span Soluciones que transforman
          .col-2
            a(href="")
              span.icon-linkedin
    section.thankyou-text
      h2 Muchas gracias por enviarnos tu informaci&oacute;n.
      p A la brevedad, uno de nuestros expertos en HIPERCONVERGENCIA se comunicar&aacute; contigo.
      a.btn-default(href='http://www.sellcom-solutions.com.mx/servicio---s.html') Ver m&aacute;s soluciones

    .thanks-image
      img(src=local_thanks.images.thanks alt='Sellcom Gracias')
    
    footer.section-footer
      .container
        .row 
          .col-10.middle
            .row
              .col-10
                ul
                  li
                    a(href="") Aviso Legal  |
                  li
                    a(href="") Pol&iacute;ticas de Privacidad
              .col-2
                a(href="")
                  span.icon-linkedin
        		      
	
