//-Configuración y variables globales del proyecto
include ../config/_variables

//-
  Ajustes de la configuración global para esta sección
- global_path = '../'
//-
  Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
  Nombre de la página
- var page = 'Tiempos y Materiales'
- var metadata = {}
- metadata['title'] = 'Sellcom - Tiempos y Materiales'
- metadata['description'] = 'Llegó la era de la Tiempos y Materiales; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Tiempos y Materiales, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'
//-
  - Ejemplo de como incluir CSS por pagina
  - var section_style = {}
  - section_style['dev'] = 'home.css'
  - section_style['prod'] = 'home.min.css'
//-
  - Ejemplo como incluir los JS por pagina
- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')

- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')


- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')

- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.services_tiempos + 'bannerprincipal.jpg'
- local_images.images['daas_one'] = global_path +  images.services_tiempos + 'sellcom-devicedass-service.jpg'
- local_images.images['asset_management'] = global_path + images.services_tiempos + 'sellcom-daas-assetmanagement.jpg'
- local_images.images['delivery'] = global_path + images.services_tiempos + 'sellcom-daas-softwaredelivery.jpg'
- local_images.images['metrix'] = global_path + images.services_tiempos + 'sellcom-daas-softwaremetrix.jpg'
- local_images.images['icon_estability'] = global_path + images.services_tiempos + 'sellcom-icono-estabilidad.png'
- local_images.images['icon_protection'] = global_path + images.services_tiempos + 'sellcom-icono-proteccion.png'
- local_images.images['icon_repair'] = global_path + images.services_tiempos + 'sellcom-icono-reparacion.png'
- local_images.images['icon_suport'] = global_path + images.services_tiempos + 'sellcom-icono-soporteglobal.png'
- local_images.images['logo_aruba'] = global_path + images.services_tiempos + 'sellcom-logo-aruba.png'
- local_images.images['logo_getac'] = global_path + images.services_tiempos + 'sellcom-logo-getac.png'
- local_images.images['logo_hewlett'] = global_path + images.services_tiempos + 'sellcom-logo-hewlett.png'
- local_images.images['logo_hp'] = global_path + images.services_tiempos + 'sellcom-logo-hp.png'
- local_images.images['logo_lexmark'] = global_path + images.services_tiempos + 'sellcom-logo-lexmark.png'
- local_images.images['logo_reseller'] = global_path + images.services_tiempos + 'sellcom-logo-reseller.png'

- var local = {}
- local['images'] = {}
- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
- local.images['casodeuso'] = global_path + images.global + 'casodeuso.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'TyM_Whithepaper.pdf'
- local.documents['caseofuse'] = global_path + documents.base + 'TyM_Caso_de_Uso.pdf'

doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    //- section.section-banner-interna
    //-   img.banner(src=local_images.images.banner alt='Device As a Service')
    //-   .container
    //-     .content
    //-       .row
    //-         .col-10.middle
    //-           h1 Tiempos y Materiales
    //-           p Encuentra a la persona indicada para tu proyecto.
    section.section-video-dass
            img.banner(src=local.images.banner, alt="banner")
            .boxVideo
                video#secondVideo(autoplay loop muted)
                    source(src="../images/video/TyM_Lift_30ss.mp4" type="video/mp4")
            .container
                .content
                    br
                    .title-sections
                        h1 Tiempos y Materiales
                    p Encuentra a la persona indicada para tu proyecto             
    section.anchors
      .container
        .row
          .col-10.middle 
             ul#submenu
               li
                 a(href='#device') #[p Conoce nuestra soluci&oacute;n]
               li
                 a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
               li
                 a(href='#whydaas') #[p ¿Por qu&eacute; implementar Tiempos y Materiales?]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6
                h2 ¿Qué son los Servicios de tiempos y materiales?
                p SELLCOM SOLUTIONS ofrece los servicios de sus recursos humanos y materiales tecnológicos para atender las necesidades de nuestros clientes, definiendo las características del servicio mediante un análisis de requerimientos con el cliente.
                p Aportando beneficios, tanto a nuestros empleados con nuevos entornos laborales con trabajos diferentes, mayor experiencia y retribución justa, como para nuestros clientes con perfiles específicos para cada proyecto y contratación de personal sólo para casos necesarios.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p Sellcom Solutions tiene en su cartera de empleados diferentes perfiles de especialistas listos para entrar a trabajar en los proyectos de nuestros clientes. Si el perfil que se está buscando no se encuentra dentro de nuestra cartera, nuestros especialistas en Gestión de talento son capaces de encontrarlo y sumarlo a nuestra cartera de recursos humanos.
            ul
              li 
                p #[strong Perfiles de Desarrollo de Software] 
                  span 
              li
                p #[strong Perfiles de Soporte a infraestructura] 
                  span 
              li
                p #[strong Perfiles de Análisis de Datos] 
                  span 
              li 
                p #[strong Perfiles de Calidad de Software]
                  span 
              li
                p #[strong Perfiles de Implementación y Soporte] 
                  span 
              li
                p #[strong Perfiles Administrativos] 
                  span 
              li
                p #[strong Consultores de nuevas tecnologias] 
                  span 
            p Como valor agregado, todos los recursos humanos son preparados académicamente para el servicio que son asignados, dentro de los cursos de capacitación destacamos:
            ul
              li 
                p #[strong Fundamentos de ITIL V3 2011, Operación del Servicio ITIL] 
                  span 
              li
                p #[strong Transición del Servicio ITIL, Mejora Continua del Servicio ITIL] 
                  span 
              li
                p #[strong COBIT] 
                  span 
              li 
                p #[strong PMP]
                  span 
              li
                p #[strong SCRUM] 
                  span 
              li
                p #[strong ISO 20000] 
                  span 
              li
                p #[strong CMMI] 
                  span 
              li
                p #[strong Lenguajes de programación java, .Net, PHP] 
                  span 
              li
                p #[strong Desarrollo para equipos móviles] 
                  span 
              li
                p #[strong Redes y seguridad (cisco)] 
                  span 
              li
                p #[strong Entre otros] 
                  span
    .flotante
            a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
                img(src=local.images.whitepaper, alt="big data" )
            a.caseofuse(href=local.documents.caseofuse dowloand target='_blank' title='Descargar casos de uso')
                img(src=local.images.casodeuso, alt="big data")
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Tiempos y Materiales?
            p Nuestro equipo de RH y Especialistas en Gestión de talento siempre está buscando talento nuevo para que se una a Sellcom Solutions, creciendo nuestras capacidades como empresa para solventar hasta los problemas mas especificos de nuestros clientes.
            ul
              li
                img(src=local_images.images.icon_suport alt='Soporte global ')
                p Mas de 130 especialistas en campo.
              li
                img(src=local_images.images.icon_protection alt='Protección contra daños')
                p Mas de 30 perfiles de TI diferentes con distintos niveles de especializacion.
              li
                img(src=local_images.images.icon_repair alt='Servicios de reparación')
                p Equipo de Especialistas en Gestión de talento siempre en busqueda de mejor talento.
              li
                img(src=local_images.images.icon_repair alt='Servicios de reparación')
                p Garantizamos el cumplimiento de contratos, cumplimiento de fechas de entrega.
    include ../template/_footer    
