//-Configuración y variables globales del proyecto
include ../config/_variables
//-
	Ajustes de la configuración global para esta sección
- global_path = '../'
//-
	Perfil para el tipo de archivo JS y CSS a incluir (normal o minificado)
- current_profile = CONST_DEV_PROFILE
//-
	Nombre de la página
- var page = 'Sellcom Solutions'
- var metadata = {}
- metadata['title'] = 'Sellcom - Veeam'
- metadata['description'] = 'Ahora costos con las soluciones de Veeam; eliges los equipos que tu empresa necesita y sólo paga lo que en verdad utilizas. ¡Trabaja con TI bajo demanda!'
- metadata['keywords'] = 'Sellcom, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud, Device as a Service, Veeam, bajo demanda, on demand, soluciones Veeam'
- var landing = 'veeam'


- var section_scripts =  {}
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.validate.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.file.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'sellcom_dass.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'downloads.js')
- section_scripts['dev'].push(global_path  + scripts.controllers + 'form.js')

- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.validate.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'sellcom_dass.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'downloads.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'form.min.js')

- var local = {}
- local['images'] = {}
- local.images['logo'] = global_path + images.global + 'sellcom_logo.svg'
- local.images['banner'] = global_path + images.products_veeam + 'bannerprincipal.png'
//- Servicios
- local.images['uno'] = global_path + images.products_veeam + 'servicio_1.png'
- local.images['dos'] = global_path + images.products_veeam + 'servicio_2.png'
- local.images['tres'] = global_path + images.products_veeam + 'servicio_3.png'
- local.images['cuatro'] = global_path + images.products_veeam + 'servicio_4.png'
- local.images['cinco'] = global_path + images.products_veeam + 'servicio_5.png'
//- Beneficios
- local.images['continuidad'] = global_path + images.products_veeam + 'beneficio_continuidaddenegocio.png'
- local.images['agilidad'] = global_path + images.products_veeam + 'beneficio_agilidaddelatransformacion.png'
- local.images['analytics'] = global_path + images.products_veeam + 'beneficio_analyticsyvisibilidad.png'
- local.images['datos'] = global_path + images.products_veeam + 'beneficio_datalossavoidance.png'

- local.images['solucion'] = global_path + images.products_veeam + 'solucion.png'

- local.images['whitepaper'] = global_path + images.global + 'whitepaper.png'
//- Documentos
- local['documents'] = {}
- local.documents['white'] = global_path + documents.base + 'VeeamWhithepaper.pdf'

doctype html
html(lang=site.lang)
	include ../template/_head
	body
		include ../template/_header
		section.section-banner-dass
			img.banner(src=local.images.banner, alt="banner")
			.container
				.content
					br
					.title-sections
						h1 Veeam Hyper-Availability Platform 33
					p El líder mundial en gestión inteligente de datos
		section.section-about-dass#dass
			.container
				.row
					.col-12
						.title-sections-text
							h3 ¿Qué es Veeam?
							p La Hiperdisponibilidad es crítica para las empresas de hoy.
						ul
							li
								strong Backup y Recuperación / Replicación y Failover
								img(src=local.images.uno, alt="uno")
								p Hiperdisponibilidad para cualquier aplicación, cualquier dato y en cualquier cloud. 
							li
								strong Universal APIs
								img(src=local.images.dos, alt="dos")
								p integraciones e interfaces con un gran ecosistema de partners.
							li
								strong DataLabs
								img(src=local.images.tres, alt="tres")
								p Agilizar el ritmo de prestación de servicios digitales sin interrumpir su experiencia de vida digital.
							li
								strong Visibilidad y monitorización
								img(src=local.images.cuatro, alt="cuatro")
								p Visibilidad para cualquier dato, cualquier aplicación y en cualquier cloud para todas las partes implicadas en la empresa.
							li
								strong Orquestación y automatización
								img(src=local.images.cinco, alt="cinco")
								p Anticipa las necesidades y satisface de forma segura la demanda en el mundo multicloud, reduciendo el riesgo e impulsando la innovación.
		section.section-implementDass#beneficios
			.container
				.row
					.col-10.middle
						.title-sections-text
							h3 ¿Por qué implementar Veeam?
							p Beneficios:
						ul
							li
								img(src=local.images.continuidad, alt="continuidad")
								p Continuidad del negocio  sin interrupciones  para recuperar al instante cualquier aplicación y dato desde cualquier infraestructura cloud.
							li
								img(src=local.images.agilidad, alt="agilidad")
								p Agilidad de la transformación digital con una gestión y migración de datos multinube. Elija la nube a su criterio.
							li
								img(src=local.images.analytics, alt="analytics")
								p Analytics y visibilidad con información práctica para la administración de datos, rendimiento operativo y cumplimiento.
							li
								img(src=local.images.datos, alt="datos")
								p Data Loss Avoidance con recuperación y Disaster Recovery simplificado incorporado.
		section.section-subtitle#soluciones
			.container
				.row
					.col-10.middle
						.title-sections
							h3 Conoce nuestra solución
		.flotante
			a.whitepage(href=local.documents.white dowloand target='_blank' title='Descargar white paper')
				img(src=local.images.whitepaper, alt="big data" )
		section.section-why-dass
			img(src=local.images.solucion, alt="solucion conoce")
			.container
				.row
					.col-6.bgcircle
						p Hoy hay nuevas expectativas frente a los datos, que se desplazan hacia un nuevo nivel de inteligencia, capaz de anticipar automáticamente las necesidades, satisfacer la demanda y moverse de forma segura entre las diversas infraestructuras multicloud.
						p El resultado es la perspectiva que necesita para acelerar el ritmo de innovación y prestar nuevos servicios y experiencias digitales.
		include ../template/_footer
		if section_scripts
- var total_scripts = section_scripts[current_profile].length
- for (var i = 0; i < total_scripts; i++)
		script(type="text/javascript" src=section_scripts[current_profile][i])
