
include ../config/_variables
- global_path = '../'
- current_profile = CONST_DEV_PROFILE
- var page = 'Sellcom Wifi Saas'
- var metadata = {}
- metadata['title'] = 'Sellcom - Wifi Saas'
- metadata['description'] = 'Llegó la era de la Wifi Saas; una solución que simplifica las operaciones en TI con una sola plataforma. ¡La tecnología que tu empresa necesita!'
- metadata['keywords'] = 'Sellcom, Wifi Saas, Tecnología, Tecnologías de la Información, Tic, Soluciones, TI, Hardware, Software, Innovación, Empresas, Negocios, Industria, Soporte, Consultoría, Infraestructura, Virtualización, Nube, Cloud'

- var section_scripts =  {} 
- section_scripts['dev'] = []
- section_scripts['dev'].push(global_path  + scripts.base + 'Sellcom.js')
- section_scripts['dev'].push(global_path  + scripts.libs + 'jquery.js')
- section_scripts['dev'].push(global_path  + scripts.global + 'global.js')
- section_scripts['dev'].push(global_path  + scripts.base + 'main.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'slick.js')
- section_scripts['dev'].push(global_path  + scripts.controllers+ 'products_daas.js')
- section_scripts['dev'].push(global_path  + scripts.plugins + 'addthis_widget.js')
- section_scripts['prod'] = []
- section_scripts['prod'].push(global_path  + scripts.base + 'Sellcom.min.js')
- section_scripts['prod'].push(global_path  + scripts.libs + 'jquery.min.js')
- section_scripts['prod'].push(global_path  + scripts.global + 'global.min.js')
- section_scripts['prod'].push(global_path  + scripts.base + 'main.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'slick.min.js')
- section_scripts['prod'].push(global_path  + scripts.controllers + 'products_daas.min.js')
- section_scripts['prod'].push(global_path  + scripts.plugins + 'addthis_widget.min.js')

- var local_images = {}
- local_images['images'] = {}
- local_images.images['banner'] = global_path +  images.solutions_wifi + 'bannerprincipal.jpg'

- local_images.images['daas_one'] = global_path +  images.solutions_wifi + 'sellcom-devicedass-service.jpg'
//- Herramientas
- local_images.images['acces'] = global_path + images.solutions_wifi + 'Accespoint.jpg'
- local_images.images['tendido'] = global_path + images.solutions_wifi + 'tendidodered.jpg'
- local_images.images['configuracion'] = global_path + images.solutions_wifi + 'herramientasdeconfiguracion.jpg'
- local_images.images['gestion'] = global_path + images.solutions_wifi + 'herramientasdegestion.jpg'
//- Implementar
- local_images.images['icon_costos'] = global_path + images.solutions_wifi + 'icon_controldecostosendispositivos.png'
- local_images.images['icon_niveles'] = global_path + images.solutions_wifi + 'icon_controldenivelesdeservicio.png'
- local_images.images['icon_disponibilidad'] = global_path + images.solutions_wifi + 'icon_disponibilidaddeserviciosdered.png'
- local_images.images['icon_garantia'] = global_path + images.solutions_wifi + 'icon_garantiaenunareddealtonivel.png'
- local_images.images['icon_mantenimiento'] = global_path + images.solutions_wifi + 'icon_mantenimientoconstanteatured.png'
- local_images.images['icon_mejor'] = global_path + images.solutions_wifi + 'icon_mejoradministraciondedispositivos.png'
- local_images.images['icon_monitoreo'] = global_path + images.solutions_wifi + 'icon_monitoreo7-24.png'
- local_images.images['icon_personal'] = global_path + images.solutions_wifi + 'icon_personalexperimentado.png'
//- Socios
- local_images.images['logo_huawei'] = global_path + images.solutions_wifi + 'logo_huawei.png'
- local_images.images['logo_aruba'] = global_path + images.solutions_wifi + 'logo_aruba.png'
- local_images.images['logo_hp'] = global_path + images.solutions_wifi + 'logo_hp.png'
- local_images.images['logo_hpe'] = global_path + images.solutions_wifi + 'logo_hpe.png'



doctype html
html(lang=site.lang)
  include ../template/_head
  body
    include ../template/_header
    section.section-banner-dass
      img.banner(src=local_images.images.banner alt='Wifi Saas')
      .container
        .content
          .title-sections
              h1 Wifi as a Service
              p Todos los elementos necesarios para la conectividad de tu empresa los ponemos a tu disposición.
              
    section.anchors
      .container
        .row
          .col-10.middle 
            ul#submenu
              li
                a(href='#device') #[p Conoce nuestra soluci&oacute;n]
              li
                a(href='#howitworks') #[p ¿C&oacute;mo funciona?]
              li
                a(href='#whydaas') #[p ¿Por qu&eacute; implementar Wifi Saas?]
              li
                a(href='#toolsdaas') #[p Herramientas]
              li
                a(href='#weareexperts') #[p Socios]
    section.device-text-one#device
      .container
        .row
          .col-10.middle
            .row
              .col-6.txt-justify
                h2 ¿Qué es Waas?
                p Conjunto de herramientas, programas y dispositivos para brindarte un servicio de calidad en torno a la conexión wifi.
                p Realizamos un análisis completo de lo que necesita tu empresa para contar con un servicio de conectividad mediante Wifi, incorporando el hardware, software y firmware necesario para garantizar tu servicio.
              .col-6
                img(src=local_images.images.daas_one alt='Devices As a Service')
    section.how-it-works#howitworks
      .container
        .row
          .col-10.middle
            h2 ¿C&oacute;mo funciona?
            p El flujo de WaaS es el que a continuación se menciona.
            ul
              li 
                p #[strong Análisis de requerimiento de red] 
                  span 
              li
                p #[strong Modelado y diseño de servicio de red] 
                  span 
              li
                p #[strong Venta o arrendamiento de equipo de red] 
                  span 
              li 
                p #[strong Configuración de equipo de red]
                  span 
              li
                p #[strong Puesta en marcha de equipo] 
                  span 
              li
                p #[strong Monitoreo de red] 
                  span 
              li
                p #[strong Mantenimiento y atención de incidencias de red] 
                  span 
              li 
                p #[strong Adecuación de nuevas necesidades de red]
                  span 
              li
                p #[strong Baja de equipo de red] 
                  span 
    section.why-daas#whydaas
      .container
        .row
          .col-10.middle
            h2 ¿Por qu&eacute; implementar Wifi Saas?
            p La adopción de Waas en tus dispositivos te permitirá.
            ul
              li
                img(src=local_images.images.icon_niveles alt='niveles')
                p Control de niveles de servicio
              li
                img(src=local_images.images.icon_costos alt='costos')
                p Control de costos en dispositivos de red
              li
                img(src=local_images.images.icon_mejor alt='mejor')
                p Mejor administración de dispositivos de red
              li
                img(src=local_images.images.icon_mantenimiento alt='mantenimiento')
                p Mantenimiento constante a tu red
              li
                img(src=local_images.images.icon_monitoreo alt='monitoreo')
                p Monitoreo 7/24 de Red
              li
                img(src=local_images.images.icon_garantia alt='garantia')
                p Garantía en una red de alto nivel
              li
                img(src=local_images.images.icon_disponibilidad alt='disponibilidad')
                p Disponibilidad de servicios de red
              li
                img(src=local_images.images.icon_personal alt='personal')
                p Personal experimentado en red
    section.tools-daas#toolsdaas
      .container
        .row
          .col-10.middle
            h2 Herramientas
            p Para la digitalización utilizamos las siguientes herramientas las cuales nos apoyan a brindar un servicio de calidad a nuestros clientes.
            ul.row
              li.col-3
                .img-tools
                  img(src=local_images.images.acces alt='acces')
                .description-tools
                  h3 Acces Pint, Switches, Controladoras
                  p 
              li.col-3
                .img-tools
                  img(src=local_images.images.tendido alt='tendido')
                .description-tools
                  h3 Tendido de red, LAN, WAN
                  p 
              li.col-3
                .img-tools
                  img(src=local_images.images.configuracion alt='configuracion')
                .description-tools
                  h3 Herramientas de configuración
                  p 
              li.col-3
                .img-tools
                  img(src=local_images.images.gestion alt='gestion')
                .description-tools
                  h3 Herramienta de gestión o de seguimiento de mantenimientos
                  p 
    section.we-are-experts#weareexperts
      .container
        .row
          .col-10.middle
            h2 Somos expertos en WaaS
            p  colaborando con los líderes como son:
            ul.row
              li.col-3
                a(href="https://www8.hp.com/mx/es/home.html" target="_blank") #[img(src=local_images.images.logo_hp alt='Socio HP')]
              li.col-3
                a(href="https://www.hpe.com/mx/es/home.html" target="_blank") #[img(src=local_images.images.logo_hpe alt='Socio HPe')]
              li.col-3
                a(href="https://consumer.huawei.com/mx/" target="_blank") #[img(src=local_images.images.logo_huawei alt='Socio Huawei')]
              li.col-3
                a(href="https://www.arubanetworks.com/" target="_blank") #[img(src=local_images.images.logo_aruba alt='Socio Aruba')]
    include ../template/_footer    
